---
layout: default
nav_active: events
title: PAN at CLEF 2010
description: PAN at CLEF 2010
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2010</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ 'shared-tasks.html#wikipedia-vandalism-detection' | relative_url }}">Wikipedia Vandalism Detection</a></li>
                <li><a href="{{ 'shared-tasks.html#external-plagiarism-detection' | relative_url }}">External Plagiarism Detection</a></li>
                <li><a href="{{ 'shared-tasks.html#intrinsic-plagiarism-detection' | relative_url }}">Intrinsic Plagiarism Detection</a></li>
            </ul>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 14, 2010: Training data release</li>
                <li> May 16, 2010: Test data release</li>
                <li> June 23, 2010: Result submission deadline</li>
                <li> July 15, 2010: Paper submission:
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2010.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2010WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2010">submission</a>]
                </li>
                <li> August 15, 2010: Camera-ready paper</li>
                <li> September 20-23, 2010: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>


            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the
                <a href="http://clef2010.clef-initiative.eu/index.php?page=Pages/conference_session.html">CLEF conference program</a>.
            </p>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <tbody>
                <tr>
                    <td><b>Sep 20</b></td>
                    <td><b>Labs overviews</b></td>
                </tr>
                <tr class="mid">
                    <td>
                        <nobr>17:00-18:30</nobr>
                        <br/>20 min. talk
                    </td>
                    <td>PAN'10 - Uncovering Plagiarism, Authorship, and Social Software Misuse<br/><i>Paolo Rosso</i>
                    </td>
                </tr>
                <tr>
                    <td><b>Sep 22</b></td>
                    <td><b>Plagiarism Detection</b>, Chair: Martin Potthast</td>
                </tr>
                <tr>
                    <td>9:30-9:45</td>
                    <td>Overview of the 2nd International Competition on Plagiarism Detection<br/><i>Martin Potthast,
                        Alberto Barr&oacute;n-Cede&ntilde;o, Andreas Eiselt, Benno Stein, and Paolo Rosso</i></td>
                </tr>
                <tr>
                    <td>9:45-10:10</td>
                    <td>Improving the Reliability of the Plagiarism Detection System - Lab Report for PAN at CLEF
                        2010<br/><i>Jan Kasprzak and Michal Brandejs</i></td>
                </tr>
                <tr>
                    <td>10:10-10:35</td>
                    <td>External and Intrinsic Plagiarism Detection Using a Cross-Lingual Retrieval and Segmentation
                        System - Lab Report for PAN at CLEF 2010<br/><i>Markus Muhr, Roman Kern, Mario Zechner, and
                            Michael Granitzer</i></td>
                </tr>
                <tr>
                    <td>10:35-10:50</td>
                    <td>FastDocode: Finding Approximated Segments of N-Grams for Document Copy Detection - Lab Report
                        for PAN at CLEF 2010<br/><i>Gabriel Oberreuter, Gaston L'Huillier, Sebasti&aacute;n A. R&iacute;os,
                            and Juan D. Vel&aacute;squez</i></td>
                </tr>
                <tr class="mid">
                    <td>10:50-11:05</td>
                    <td>UFRGS@PAN2010: Detecting External Plagiarism - Lab Report for PAN at CLEF 2010<br/><i>Rafael
                        Corezola Pereira, Viviane P. Moreira, and Renata Galante</i></td>
                </tr>
                <tr class="mid">
                    <td>11:00-11:30</td>
                    <td>Coffee Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Wikipedia Vandalism Detection</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>11:30-11:45</td>
                    <td>Overview of the 1st International Competition on Wikipedia Vandalism Detection<br/><i>Martin
                        Potthast, Benno Stein, and Teresa Holfeld</i></td>
                </tr>
                <tr>
                    <td>11:45-12:10</td>
                    <td>Wikipedia Vandalism Detection Through Machine Learning: Feature Review and New Proposals - Lab
                        Report for PAN at CLEF 2010<br/><i>Santiago Mois&eacute;s Mola Velasco</i></td>
                </tr>
                <tr>
                    <td>12:10-12:35</td>
                    <td>Detecting Wikipedia Vandalism using WikiTrust - Lab Report for PAN at CLEF 2010<br/><i>B. Thomas
                        Adler, Luca de Alfaro, and Ian Pye</i></td>
                </tr>
                <tr>
                    <td>12:35-12:50</td>
                    <td>Novel Balanced Feature Representation for Wikipedia Vandalism Detection Task - Lab Report for
                        PAN at CLEF 2010<br/><i>Istv&aacute;n Heged&#369;s, R&oacute;bert Orm&aacute;ndi, Rich&aacute;rd
                            Farkas, and M&aacute;rk Jelasity</i></td>
                </tr>
                <tr class="mid">
                    <td>11:50-12:05</td>
                    <td>Wiki Vandalysis - Wikipedia Vandalism Analysis - Lab Report for PAN at CLEF 2010<br/><i>Manoj
                        Harpalani, Thanadit Phumprao, Megha Bassi, Michael Hart, and Rob Johnson</i></td>
                </tr>
                <tr>
                    <td>13:00-14:30</td>
                    <td>Lunch</td>
                </tr>
                <tr class="mid">
                    <td>14:30-18:00</td>
                    <td>Sessions of other Labs</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Poster Session</b></td>
                </tr>
                <tr>
                    <td>18:00-*</td>
                    <td>Exploring Fingerprinting as External Plagiarism Detection Method - Lab Report for PAN at CLEF
                        2010<br/><i>Yurii Palkovskii, Alexei Belov, and Irina Muzika</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Textual-Based Similarity Approach for Efficient and Scalable External Plagiarism Analysis -
                        Lab Report for PAN at CLEF 2010<br/><i>Daniel Micol, &Oacute;scar Ferr&aacute;ndez, Fernando
                            Llopis, and Rafael Mu&ntilde;oz</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Plagiarism Detection Using Information Retrieval and Similarity Measures Based on Image
                        Processing Techniques - Lab Report for PAN at CLEF 2010<br/><i>Marta R. Costa-juss&agrave;,
                            Rafael E. Banchs, Jens Grivolla, and Joan Codina</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>University of Sheffield - Lab Report for PAN at CLEF 2010<br/><i>Rao Muhammad Adeel Nawab, Mark
                        Stevenson, and Paul Clough</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>External Plagiarism Detection: N-Gram Approach Using Named Entity Recognizer - Lab Report for
                        PAN at CLEF 2010<br/><i>Parth Gupta, Sameer Rao, and Prasenjit Majumder</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Automatic External Plagiarism Detection Using Passage Similarities - Lab Report for PAN at CLEF
                        2010<br/><i>Clara Vania and Mirna Adriani</i></td>
                </tr>
                <tr class="mid">
                    <td></td>
                    <td>A Plagiarism Detector for Intrinsic Plagiarism - Lab Report for PAN at CLEF 2010<br/><i>Pablo Su&aacute;rez,
                        Jos&eacute; Carlos Gonz&aacute;lez-Crist&oacute;bal, and Julio Villena-Rom&aacute;n</i></td>
                </tr>
                <tr>
                    <td><b>Sep 23</b></td>
                    <td><b>Reports from the Labs</b></td>
                </tr>
                <tr>
                    <td>9.00-9:30<br/>10 min. talk</td>
                    <td>PAN'10: Results, Lessons Learned, and Outlook<br/><i>Martin Potthast</i></td>
                </tr>
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/barron-cedeno.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/koppel.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2010 %}
            </div>
        </div>
    </div>
</main>