---
layout: default
nav_active: shared-tasks
title: PAN @ CLEF 2010 - Wikipedia Vandalism Detection
description: PAN @ CLEF 2010 - Wikipedia Vandalism Detection
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Wikipedia Vandalism Detection 2010</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container"">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Wikipedia Vandalism Detection 2010</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#introduction">Introduction</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#input">Input</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#output">Output</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a set of edits on Wikipedia articles, separate the ill-intentioned edits from the well-intentioned edits.</li>
                <li>Input: [<a href="{{ 'data.html#pan10-wikipedia-vandalism' | relative_url }}">data (de, es)</a>]
                    [<a href="https://webis.de/data.html#pan-wvc-10" target="_blank">data (en)</a>]</li>
            </ul>


            <h2 id="introduction">Introduction</h2>
            <p>Vandalism has always been one of Wikipedia's biggest problems, yet there are only few automatic
            countermeasures. Instead, volunteers spend their time in reverting vandalism edits---time, which
            is not spend on improving other parts of the Wikipedia. The goal of this evaluation campaign is
            to research and develop new, reliable ways to detect vandalism edits, which can be used to aid
            the Wikipedians.</p>

            <p>Vandalism is <a href="http://en.wikipedia.org/wiki/Wikipedia:Vandalism">defined</a> as "any
            addition, removal, or change of content made in a <em>deliberate</em> attempt to compromise the
            integrity of Wikipedia". Put another way, a vandalism edit is an edit made with bad intentions.</p>

            <p>Solutions to vandalism detection will resemble those of, e.g., spam detection. Hence, the
            application of machine learning to this problem is straightforward which makes the engineering
            of features for an edit model that discriminates vandalism edits from regular edits one of the
            primary topics. You can use all features imaginable for your edit model, with one exception: <em>you
                may not look into an edit's future</em>. I.e., to classify an edit, you may not analyze
            succeeding edits on the same article to see what became of it. Such a feature would be unusable
            in practice.</p>


            <h2 id="input">Input</h2>
            <p>To develop your approach, we provide you with a training corpus which comprises a set of edits on
                Wikipedia articles. All of these edits have been manually annotated whether they constitue
                vandalism or not.</p>


            <h2 id="output">Output</h2>
            <p>For all edits found in the evaluation corpora, your vandalism detector shall output a file
            <code>classification.txt</code> as follows:</p>
            <pre class="prettyprint lang-py" style="overflow-x:auto">
26864258 27932250 V 0.92
28689695 87188208 R 0.50
85047080 85047157 V 0.67
80637222 91249168 R 0.43
...</pre>
            <ul>
                <li>The first column is the edit's old revision ID.</li>
                <li>The second column is the edit's new revision ID.</li>
                <li>The third column denotes whether the edit is vandalism (V) or regular (R), as determined by your classifier.</li>
                <li>The fourth column denotes your classifier's confidence. Providing these confidence values is optional. </li>
            </ul>


            <h2 id="evaluation">Evaluation</h2>
            <p>Performance is measured using the receiver operating characteristics (ROC)
            [<a href="http://en.wikipedia.org/wiki/Receiver_operating_characteristic" target="_blank">Wikipedia</a>
            | <a href="https://web.archive.org/web/20100810030615/http://home.comcast.net/~tom.fawcett/public_html/papers/ROC101.pdf" target="_blank">
                paper</a>]. More specifically, we measure the area under the ROC curve (AUC), while the algorithm which maximizes the AUC performs best.</p>


            <h2 id="results">Results</h2>
            <table class="uk-table uk-table-divider uk-table-small uk-table-hover" style="font-size:small;">
                <thead>
                <tr class="top">
                    <th colspan="7" style="text-align:center">Wikipedia Vandalism Detection Performance</th>
                </tr>
                <tr class="mid">
                    <th>ROC-AUC</th>
                    <th>Participant</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0.92236</td>
                    <td>S.M. Mola Velasco<br/>Private, Spain</td>
                </tr>
                <tr>
                    <td>0.90351</td>
                    <td>B.T. Adler*, L. de Alfaro° and I. Pye^<br/>*Fujitsu Labs of America, Inc., USA<br/>°Google,
                        Inc., and University of California Santa Cruz, USA<br/>^CloudFlare, Inc., USA
                    </td>
                </tr>
                <tr>
                    <td>0.89856</td>
                    <td>S. Javanmardi <span style="font-style:italic">et al.</span><br/>University of California
                        Irvine, USA
                    </td>
                </tr>
                <tr>
                    <td>0.89377</td>
                    <td>D. Chichkov<br/>SC Software Inc., USA</td>
                </tr>
                <tr>
                    <td>0.87990</td>
                    <td>L. Seaward<br/>University of Ottawa, Canada</td>
                </tr>
                <tr>
                    <td>0.87669</td>
                    <td>I. Heged&#x169;s*, R. Orm&aacute;ndi*, R. Farkas*, and M. Jelasity*<sup>,</sup>°<br/>*University
                        of Szeged, Hungary<br/>°Hungarian Academy of Sciences, Hungary
                    </td>
                </tr>
                <tr>
                    <td>0.85875</td>
                    <td>M. Harpalani, T. Phumprao, M. Bassi, M. Hart, and R. Johnson<br/>Stony Brook University,
                        USA
                    </td>
                </tr>
                <tr>
                    <td>0.84340</td>
                    <td>J. White and R. Maessen<br/>University of California Irvine, USA</td>
                </tr>
                <tr>
                    <td>0.65404</td>
                    <td>A. Iftene<br/>University of Iasi, Romania</td>
                </tr>
                </tbody>
            </table>
            <p>A more detailed analysis of the detection performances can be found in the overview paper
            accompanying this task.</p>


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li><a href="http://en.wikipedia.org/wiki/Wikipedia:Vandalism" target="_blank">Definition of vandalism</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Wikipedia:Cleaning_up_vandalism" target="_blank">Vandalism fighter's portal</a></li>
                <li><a href="http://en.wikipedia.org/wiki/Wikipedia:Most_vandalized_pages" target="_blank">Most vandalized pages</a></li>
                <li><a href="http://en.wikipedia.org/w/api.php" target="_blank">Wikipedia API</a></li>
                <li>Si-Chi Chin, W. Nick Street, Padmini Srinivasan, and David Eichmann. Detecting Wikipedia
                    vandalism with active learning and statistical language models. Fourth Workshop on
                    Information Credibility on the Web (WICOW 2010), Raleigh, NC, April 2010.
                </li>
                <li>R. Stuart Geiger and David Ribes. The Work of Sustaining Order in Wikipedia: The Banning of
                    a Vandal. In CSCW'10: Proceedings of the ACM Conference on Computer Supported Cooperative
                    Work, pages 107-126, Savannah, Georgia, USA, 2010. ACM.
                </li>
                <li>Kelly Y. Itakura and Charles L. A. Clarke. Using Dynamic Markov Compression to Detect
                    Vandalism in the Wikipedia. In SIGIR'09: Proceedings of the 32nd International ACM SIGIR
                    Conference on Research and Development in Information Retrieval, pages 822-823, New York,
                    NY, USA, 2009. ACM.
                </li>
                <li>Martin Potthast. Crowdsourcing a Wikipedia Vandalism Corpus. In 33rd Annual International
                    ACM SIGIR Conference (to appear), Geneva, July 2010. ACM.
                </li>
                <li>Martin Potthast, Benno Stein, and Robert Gerling. Automatic Vandalism Detection in
                    Wikipedia. In ECIR'08: Proceedings of the 30th European Conference on IR Research, Glasgow,
                    volume 4956 LNCS of Lecture Notes in Computer Science, pages 663-668, Berlin Heidelberg New
                    York, 2008. Springer.
                </li>
                <li>Reid Priedhorsky, Jilin Chen, Shyong (Tony) K. Lam, Katherine Panciera, Loren Terveen, and
                    John Riedl. Creating, Destroying, and Restoring Value in Wikipedia. In Group'07: Proceedings
                    of the International Conference on Supporting Group Work, Sanibel Island, Florida, USA,
                    2007.
                </li>
                <li>Koen Smets, Bart Goethals, and Brigitte Verdonk. Automatic Vandalism Detection in Wikipedia:
                    Towards a Machine Learning Approach. In WikiAI'08: Proceedings of the Workshop on Wikipedia
                    and Artificial Intelligence: An Evolving Synergy, pages 43-48. AAAI Press, 2008.
                </li>
                <li>Andrew G. West, Sampath Kannan, and Insup Lee. Detecting Wikipedia Vandalism via
                    Spatio-Temporal Analysis of Revision Metadata. Technical Report MS-CIS-10-05, University of
                    Pennsylvania, 2010.
                </li>
            </ul>


            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/temporary.html url="https://weimar.webis.de" name="Teresa Holfeld" picture="../pan10-figures/teresa.jpg" affiliation="Bauhaus Universität Weimar"%}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2010 %}
            </div>

        </div>  <!-- section -->
    </div>  <!-- section -->
</main>
