---
layout: default
nav_active: events
title: PAN @ FIRE 2013
description: PAN @ FIRE 2013
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at FIRE 2013</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/shared-tasks.html#clinss' | relative_url }}">Cross-Language !ndian News Story Search</a></li>
            </ul>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/gupta.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/clough.html %}
                {% include people-cards/stevenson.html %}
                {% include people-cards/banchs.html %}
            </div>


            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/fire-organizations-section.html year=2013 %}
            </div>
        </div>
    </div>
</main>
