<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://about.me/shlomoargamon" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/argamon.jpg' | relative_url }}" alt="Shlomo Argamon"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Shlomo Argamon</div>
                <div class="uk-text-muted uk-margin-small-top">Illinois Institute of Technology</div>
            </div>
        </a>
    </div>
</div>
