<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.unibo.it/sitoweb/a.barron" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/barron-cedeno.jpg' | relative_url }}" alt="Alberto Barr&oacute;n-Cede&ntilde;o"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Alberto Barr&oacute;n-Cede&ntilde;o</div>
                <div class="uk-text-muted uk-margin-small-top">Universit&agrave; di Bologna</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-universita-bologna.png' | relative_url }}"
                 alt="Universit&agrave; di Bologna">
            </div>
        </a>
    </div>
</div>
