<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.lsi.upc.edu/~albarron/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/barron-cedeno.jpg' | relative_url }}" alt="Alberto Barr&oacute;n-Cede&ntilde;o"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Alberto Barr&oacute;n-Cede&ntilde;o</div>
                <div class="uk-text-muted uk-margin-small-top">Universitat Polit&egrave;cnica de Catalunya</div>
            </div>
        </a>
    </div>
</div>
