<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.linkedin.com/in/xavier-bonet-casals-61403018a/?originalSubdomain=es" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/bonet.png' | relative_url }}" alt="Xavier Bonet"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Xavier Bonet</div>
                <div class="uk-text-muted uk-margin-small-top"><!--Universitat de Barcelona--></div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-universitat-barcelona.png' | relative_url }}"
                 alt="Universitat de Barcelona">
            </div>
        </a>
    </div>
</div>
