<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="#" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/borregoobrador.png' | relative_url }}" alt="Ian Borrego-Obrador"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Ian Borrego-Obrador</div>
                <div class="uk-text-muted uk-margin-small-top"><!--Symanto Research--></div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-symanto-ai.png' | relative_url }}"
                 alt="Symanto Research">
            </div>
        </a>
    </div>
</div>
