<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/dementieva.jpg' | relative_url }}" alt="Nadezhda Chirkova"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Nadezhda Chirkova</div>
                <div class="uk-text-muted uk-margin-small-top">Naver Labs Europe</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 35%;" src="{{ '/img/organizations/logo-naver.jpg' | relative_url }}"
                 alt="Naver Labs Europe">
            </div>
        </a>
    </div>
</div>
