<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://nlp.uned.es/~irina/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/chugur.jpg' | relative_url }}" alt="Irina Chugur"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Irina Chugur</div>
                <div class="uk-text-muted uk-margin-small-top">Universidad Nacional de Educaci&oacute;n a Distancia</div>
            </div>
        </a>
    </div>
</div>
