<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.prhlt.upv.es/wp/es/author/mchulvi" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/chulvi.jpg' | relative_url }}" alt="Berta Chulvi"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Berta Chulvi</div>
                <div class="uk-text-muted uk-margin-small-top"><!--Symanto Research--></div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-symanto-ai.png' | relative_url }}"
                 alt="Symanto Research">
            </div>
        </a>
    </div>
</div>
