<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://sites.google.com/site/fcrestani/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/crestani.jpg' | relative_url }}" alt="Fabio Crestani"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Fabio Crestani</div>
                <div class="uk-text-muted uk-margin-small-top">University of Lugano</div>
            </div>
        </a>
    </div>
</div>
