<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://dardem.github.io" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/dementieva.jpg' | relative_url }}" alt="Daryna Dementieva"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Daryna Dementieva</div>
                <div class="uk-text-muted uk-margin-small-top">Technical University of Munich</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/logo-tum.png' | relative_url }}"
                 alt="Technical University of Munich">
            </div>
        </a>
    </div>
</div>
