<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/elnagar.jpg' | relative_url }}" alt="Ashraf Elnagar"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Ashraf Elnagar</div>
                <div class="uk-text-muted uk-margin-small-top">University of Sharjah</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/logo-sharjah.jpg' | relative_url }}"
                 alt="University of Sharjah">
            </div>
        </a>
    </div>
</div>
