<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.unimib.it/elisabetta-fersini" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/fersini.jpg' | relative_url }}" alt="Elisabetta Fersini"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Elisabetta Fersini</div>
                <div class="uk-text-muted uk-margin-small-top"><!--University of Milano-Bicocca--></div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-bicocca-milano.png' | relative_url }}"
                 alt="University of Milano-Bicocca logo" width="20px">
            </div>
        </a>
    </div>
</div>
