<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.prhlt.upv.es/wp/es/author/bghanem" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/ghanem.png' | relative_url }}" alt="Bilal Ghanem"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Bilal Ghanem</div>
                <div class="uk-text-muted uk-margin-small-top">Symanto Research</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-symanto.png' | relative_url }}"
                 alt="Symanto logo">
            </div>
        </a>
    </div>
</div>
