<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://research.aston.ac.uk/en/persons/annina-heini" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/heini.jpg' | relative_url }}" alt="Annina Heini"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Annina Heini</div>
                <div class="uk-text-muted uk-margin-small-top">Aston University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-aston-university.png' | relative_url }}"
                 alt="Aston University">
            </div>
        </a>
    </div>
</div>
