<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.giacomo.inches.ch/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/inches.jpg' | relative_url }}" alt="Giacomo Inches"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Giacomo Inches</div>
                <div class="uk-text-muted uk-margin-small-top">University of Lugano</div>
            </div>
        </a>
    </div>
</div>
