<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.mathcs.duq.edu/~juola/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/juola.jpg' | relative_url }}" alt="Patrick Juola"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Patrick Juola</div>
                <div class="uk-text-muted uk-margin-small-top">Duquesne University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-duquesne-university.png' | relative_url }}"
                 alt="Duquesne University logo">
            </div>
        </a>
    </div>
</div>
