<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://kaiyangwan.github.io/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/kaiyang.jpeg' | relative_url }}" alt="Yuxia Wang"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Kaiyang Wan</div>
                <div class="uk-text-muted uk-margin-small-top">INSAIT</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-insait.png' | relative_url }}"
                 alt="INSAIT logo">
            </div>
        </a>
    </div>
</div>
