<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.mike-kestemont.org/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/kestemont.jpg' | relative_url }}" alt="Mike Kestemont"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Mike Kestemont</div>
                <div class="uk-text-muted uk-margin-small-top">University of Antwerp</div>
            </div>
        </a>
    </div>
</div>
