<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.gesis.org/en/institute/about-us/staff/person/Johannes.Kiesel" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/kiesel.jpg' | relative_url }}" alt="Johannes Kiesel"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Johannes Kiesel</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">GESIS - Leibniz Institute for the Social Sciences</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-gesis.svg' | relative_url }}"
                     alt="GESIS logo">
            </div>
        </a>
    </div>
</div>
