<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://u.cs.biu.ac.il/~koppel/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/koppel.jpg' | relative_url }}" alt="Moshe Koppel"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Moshe Koppel</div>
                <div class="uk-text-muted uk-margin-small-top">Bar-Ilan University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-bar-ilan-university.png' | relative_url }}"
                 alt="Bar-Ilan University logo">
            </div>
        </a>
    </div>
</div>
