<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/liebeskind.JPG' | relative_url }}" alt="Chaya Liebeskind"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Chaya Liebeskind</div>
                <div class="uk-text-muted uk-margin-small-top">Jerusalem College of Technology</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 30%;" src="{{ '/img/organizations/jerusalem_logo.jpeg' | relative_url }}"
                 alt="Jerusalem College of Technology">
            </div>
        </a>
    </div>
</div>
