<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://ccc.inaoep.mx/directorio/investigadores/allopez.php" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/lopez.jpg' | relative_url }}" alt="Aurelio Lopez"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Aurelio Lopez</div>
                <div class="uk-text-muted uk-margin-small-top">INAOE, Mexico</div>
            </div>
        </a>
    </div>
</div>
