<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.uantwerpen.be/en/projects/mind-bending-grammars/team/enrique-manjavacas/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/manjavacas.jpg' | relative_url }}" alt="Enrique Manjavacas"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Enrique Manjavacas</div>
                <div class="uk-text-muted uk-margin-small-top">University of Antwerp</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-uni-antwerp.png' | relative_url }}"
                 alt="Universiteit Antwerpen logo">
            </div>
        </a>
    </div>
</div>
