<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://angel.co/maria-rosario-1" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/mestre.jpg' | relative_url }}" alt="Maria Mestre"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Maria Mestre</div>
                <div class="uk-text-muted uk-margin-small-top">Factmata Ltd.</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-factmata.png' | relative_url }}"
                 alt="Factmata logo">
            </div>
        </a>
    </div>
</div>
