<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://ccc.inaoep.mx/~mmontesg/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/montes.jpg' | relative_url }}" alt="Manuel Montes-y-Gómez"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Manuel Montes-y-Gómez</div>
                <div class="uk-text-muted uk-margin-small-top">INAOE - Puebla</div>
            </div>
        </a>
    </div>
</div>
