<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/moskovskiy.jpg' | relative_url }}" alt="Daniil Moskovskiy"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Daniil Moskovskiy</div>
                <div class="uk-text-muted uk-margin-small-top">Skoltech</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/logo-skoltech.png' | relative_url }}"
                 alt="Skoltech">
            </div>
        </a>
    </div>
</div>
