<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/muti.jpg' | relative_url }}" alt="Arianna Muti"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Arianna Muti</div>
                <div class="uk-text-muted uk-margin-small-top">Bocconi University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 35%;" src="{{ '/img/organizations/jpg' | relative_url }}"
                 alt="Bocconi University">
            </div>
        </a>
    </div>
</div>
