<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.kicorangel.com/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/rangel.jpg' | relative_url }}" alt="Francisco Rangel"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Francisco Rangel</div>
                <div class="uk-text-muted uk-margin-small-top">Autoritas Consulting</div>
            </div>
        </a>
    </div>
</div>
