<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/rizwan.jpg' | relative_url }}" alt="Naquee Rizwan"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Naquee Rizwan</div>
                <div class="uk-text-muted uk-margin-small-top">IIT Kharagpur</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/logo-iit-kharagpur.jpg' | relative_url }}"
                 alt="IIT Kharagpur">
            </div>
        </a>
    </div>
</div>
