<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://users.dsic.upv.es/~prosso/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/rosso.jpg' | relative_url }}" alt="Paolo Rosso"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Paolo Rosso</div>
                <div class="uk-text-muted uk-margin-small-top"><!--Universitat Politècnica de València--></div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}"
                 alt="Universitat Politècnica de València">
            </div>
        </a>
    </div>
</div>
