<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://gipplab.org/team/dr-terry-lima-ruas" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/ruas.jpg' | relative_url }}" alt="Terry Lima Ruas"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Terry Lima Ruas</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Georg-August-Universität Göttingen</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-uni-goettingen.png' | relative_url }}"
                 alt="Georg-August-Universität Göttingen">
            </div>
        </a>
    </div>
</div>