<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="mailto:masp1988@hotmail.com" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/sanchez-perez.jpg' | relative_url }}" alt="Miguel Angel S&aacute;nchez P&eacute;rez"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Miguel Angel S&aacute;nchez P&eacute;rez</div>
                <div class="uk-text-muted uk-margin-small-top">National Polytechnic Institute, Mexico</div>
            </div>
        </a>
    </div>
</div>
