<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/smirnova.jpg' | relative_url }}" alt="Alisa Smirnova"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Alisa Smirnova</div>
                <div class="uk-text-muted uk-margin-small-top">Toloka.ai</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/toloka-logo.png' | relative_url }}"
                 alt="Toloka.ai">
            </div>
        </a>
    </div>
</div>
