<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://dbis-informatik.uibk.ac.at/1-1-Home.html" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/specht.jpg' | relative_url }}" alt="Günther Specht"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Günther Specht</div>
                <div class="uk-text-muted uk-margin-small-top">University of Innsbruck</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-uni-innsbruck.jpg' | relative_url }}"
                 alt="University of Innsbruck logo">
            </div>
        </a>
    </div>
</div>
