<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://staffwww.dcs.shef.ac.uk/people/M.Stevenson/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/stevenson.jpg' | relative_url }}" alt="Mark Stevenson"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Mark Stevenson</div>
                <div class="uk-text-muted uk-margin-small-top">University of Sheffield</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-university-of-sheffield.png' | relative_url }}"
                 alt="University of Sheffield">
            </div>
        </a>
    </div>
</div>