<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/sotaro.jpg' | relative_url }}" alt="Sotaro Takeshita"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Sotaro Takeshita</div>
                <div class="uk-text-muted uk-margin-small-top">University of Mannheim</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 25%;" src="{{ '/img/organizations/logo-uni-mannheim.jpg' | relative_url }}"
                 alt="University of Mannheim">
            </div>
        </a>
    </div>
</div>
