<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://dbis-informatik.uibk.ac.at/1-1-Home.html" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/tschuggnall.png' | relative_url }}" alt="Michael Tschuggnall"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Michael Tschuggnall</div>
                <div class="uk-text-muted uk-margin-small-top">University of Innsbruck</div>
            </div>
        </a>
    </div>
</div>
