<style>
    .uk-height-1-1 {
        padding-bottom: 40px; /* Adds space to prevent overlap with the logo */
    }
</style>

<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.linkedin.com/in/aktsvigun" class="uk-link-reset">
            <div class="thumbnail-left">
                <img src="{{ '/img/people/tsvigun.jpg' | relative_url }}" alt="Akim Tsvigun">
            </div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Akim Tsvigun</div>
                <div class="uk-text-muted uk-margin-small-top">Nebius AI</div>
            </div>
            <img class="uk-position-bottom-right thumbnail-card-logo" 
                 src="{{ '/img/organizations/logo-nebius.png' | relative_url }}" 
                 alt="MBZUAI logo">
        </a>
    </div>
</div>
