<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/ustalov.jpeg' | relative_url }}" alt="Dmitry Ustalov"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Dmitry Ustalov</div>
                <div class="uk-text-muted uk-margin-small-top">JetBrains</div>
<!--                 <img class="uk-position-bottom-right thumbnail-card-logo" style="max-width: 75%;" src="{{ '/img/organizations/logo-tum.png' | relative_url }}" -->
<!--                  alt="Technical University of Munich"> -->
            </div>
        </a>
    </div>
</div>
