<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://www.clips.ua.ac.be/people/ben-verhoeven" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/verhoeven.jpg' | relative_url }}" alt="Ben Verhoeven"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Ben Verhoeven</div>
                <div class="uk-text-muted uk-margin-small-top">University of Antwerp</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-uni-antwerp.png' | relative_url }}"
                 alt="Universiteit Antwerpen logo">
            </div>
        </a>
    </div>
</div>
