<div>
    <div class="uk-card uk-card-default uk-card-body">
        <div>
            <div class="thumbnail-left"><img src="{{ '/img/people/vincent.jpg' | relative_url }}" alt="Emmanuel Vincent"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Emmanuel Vincent</div>
                <div class="uk-text-muted uk-margin-small-top">Factmata Ltd.</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-factmata.png' | relative_url }}"
                 alt="Factmata logo">
            </div>
        </div>
    </div>
</div>
