<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://insait.ai/dr-yuxia-wang/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="https://assets.webis.de/img/event-people/wang-yuxia.jpg" alt="Yuxia Wang"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Yuxia Wang</div>
                <div class="uk-text-muted uk-margin-small-top">INSAIT</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-insait.png' | relative_url }}"
                 alt="INSAIT logo">
            </div>
        </a>
    </div>
</div>
