<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://weimar.webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/wiegmann.jpg' | relative_url }}" alt="Matti Wiegmann"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Matti Wiegmann</div>
                <div class="uk-text-muted uk-margin-small-top">Bauhaus Universität Weimar and German Aerospace Center</div>
            </div>
        </a>
    </div>
</div>
