<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://alab-nii.sakura.ne.jp/test/en/members-3/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/wookim.jpg' | relative_url }}" alt="Kon Woo Kim"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Kon Woo<br>Kim</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">National Institute of Informatics</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-nii.png' | relative_url }}"
                 alt="National Institute of Informatics">
            </div>
        </a>
    </div>
</div>