<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://mbzuai.ac.ae/study/faculty/yuxia-wang/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/y_wang.jpeg' | relative_url }}" alt="Yuxia Wang"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Yuxia Wang</div>
                <div class="uk-text-muted uk-margin-small-top">MBZUAI</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/mbzuai.jpg' | relative_url }}"
                 alt="MBZUAI logo">
            </div>
        </a>
    </div>
</div>
