<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://webis.de" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/dementieva.jpg' | relative_url }}" alt="Seid Muhie Yimam"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Seid Muhie Yimam</div>
                <div class="uk-text-muted uk-margin-small-top">University of Hamburg</div>
                <img class="uk-position-bottom-right thumbnail-card-logo" src="{{ '/img/organizations/logo-hcds.jpg' | relative_url }}"
                 alt="University of Hamburg">
            </div>
        </a>
    </div>
</div>
