<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://dbis-informatik.uibk.ac.at/index.php/zangerle" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/zangerle.jpg' | relative_url }}" alt="Eva Zangerle"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Eva Zangerle</div>
                <div class="uk-text-muted uk-margin-small-top">University of Innsbruck</div>
            </div>
        </a>
    </div>
</div>
