<div class="task-chair-organizations">
    {% if include.year == 2009 %}
    <div>
        <a href="http://ixa2.si.ehu.es/sepln2009/" target="_blank">
            <img src="{{ '/img/organizations/logo-sepln09.png' | relative_url }}" alt="SEPLN logo">
        </a>
    </div>
    <div>
        <a href="http://www.ehu.eus/" target="_blank">
            <img src="{{ '/img/organizations/logo-universidad-del-pais-vasco.jpg' | relative_url }}" alt="UPV logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2010 %}
    <div>
        <a href="http://clef2010.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef10.png' | relative_url }}" alt="CLEF Padus 2010 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2011 %}
    <div>
        <a href="http://clef2011.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef11.png' | relative_url }}" alt="CLEF Amsterdam 2011 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2012 %}
    <div>
        <a href="http://clef2012.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef12.png' | relative_url }}" alt="CLEF Valencia 2012 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2013 %}
    <div>
        <a href="http://clef2013.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef13.png' | relative_url }}" alt="CLEF Valencia 2013 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2014 %}
    <div>
        <a href="http://clef2014.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef14.png' | relative_url }}" alt="CLEF Sheffield 2014 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2015 %}
    <div>
        <a href="http://clef2015.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef15.png' | relative_url }}" alt="CLEF Toulouse 2015 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2016 %}
    <div>
        <a href="http://clef2016.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef16.png' | relative_url }}" alt="CLEF Evora 2016 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2017 %}
    <div>
        <a href="http://clef2017.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef17.png' | relative_url }}" alt="CLEF Dublin 2017 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2018 %}
    <div>
        <a href="http://clef2018.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef18.png' | relative_url }}" alt="CLEF Avignon 2018 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2019 %}
    <div>
        <a href="http://clef2019.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef19.png' | relative_url }}" alt="CLEF Lugano 2019 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2020 %}
    <div>
        <a href="http://clef2020.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef20.png' | relative_url }}" alt="CLEF Thessaloniki 2020 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2021 %}
    <div>
        <a href="http://clef2021.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef21.png' | relative_url }}" alt="CLEF Bucharest 2021 logo">
        </a>
    </div>
    {% endif %}

    {% if include.year == 2022 %}
    <div>
        <a href="http://clef2022.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef22.png' | relative_url }}" alt="CLEF Bologna 2022 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2023 %}
    <div>
        <a href="http://clef2023.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef23.png' | relative_url }}" alt="CLEF Thessaloniki 2023 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2024 %}
    <div>
        <a href="https://clef2024.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef24.png' | relative_url }}" alt="CLEF Grenoble 2024 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year >= 2010 %}
    <div>
        <a href="http://www.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef2.png' | relative_url }}" alt="CLEF logo">
        </a>
    </div>
    {% endif %}
</div>
