<div class="task-chair-organizations">
    {% if include.year == 2011 %}
    <div>
        <a href="http://fire.irsi.res.in/" target="_blank">
            <img src="{{ '/img/organizations/logo-irsi.png' | relative_url }}" alt="IRSI Logo">
        </a>
    </div>
    <div>
        <img src="{{ '/img/organizations/logo-vlc-campus.png' | relative_url }}" alt="VLC/Campus logo">
    </div>
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="Web Information Quality Evaluation initiative Logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2012 %}
    <div>
        <a href="http://fire.irsi.res.in/" target="_blank">
            <img src="{{ '/img/organizations/logo-irsi.png' | relative_url }}" alt="IRSI Logo">
        </a>
    </div>
    <div>
        <img src="{{ '/img/organizations/logo-vlc-campus.png' | relative_url }}" alt="VLC/Campus logo">
    </div>
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="Web Information Quality Evaluation initiative Logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2013 %}
    <div>
        <a href="http://fire.irsi.res.in/" target="_blank">
            <img src="{{ '/img/organizations/logo-irsi.png' | relative_url }}" alt="IRSI Logo">
        </a>
    </div>
    <div>
        <a href="http://www.upv.es" target="_blank">
            <img src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}" alt="Universitat Valencia Logo">
        </a>
    </div>
    <div>
        <img src="{{ '/img/organizations/logo-vlc-campus.png' | relative_url }}" alt="VLC/Campus logo">
    </div>
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="Web Information Quality Evaluation initiative Logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2014 %}
    <div>
        <a href="http://fire.irsi.res.in/" target="_blank">
            <img src="{{ '/img/organizations/logo-irsi.png' | relative_url }}" alt="IRSI Logo">
        </a>
    </div>
    <div>
        <a href="http://www.upv.es" target="_blank">
            <img src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}" alt="Universitat Valencia Logo">
        </a>
    </div>
    <div>
        <img src="{{ '/img/organizations/logo-vlc-campus.png' | relative_url }}" alt="VLC/Campus logo">
    </div>
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="Web Information Quality Evaluation initiative Logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2015 %}
    <div>
        <a href="http://fire.irsi.res.in/" target="_blank">
            <img src="{{ '/img/organizations/logo-irsi.png' | relative_url }}" alt="IRSI Logo">
        </a>
    </div>
    <div>
        <a href="http://www.upv.es" target="_blank">
            <img src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}" alt="Universitat Valencia Logo">
        </a>
    </div>
    <div>
        <img src="{{ '/img/organizations/logo-vlc-campus.png' | relative_url }}" alt="VLC/Campus logo">
    </div>
    <div>
        <a href="http://cordis.europa.eu/projects/rcn/99075_en.html" target="_blank">
            <img src="{{ '/img/organizations/logo-wiqei.png' | relative_url }}" alt="Web Information Quality Evaluation initiative Logo">
        </a>
    </div>
    <div>
        <a href="http://www.univ-constantine2.dz" target="_blank">
            <img src="{{ '/img/organizations/logo-constantine2-university.png' | relative_url }}" alt="Constantine University Logo">
        </a>
    </div>
    {% endif %}
</div>
