<div class="task-chair-organizations">
    <div>
        <a href="http://www.weimar.webis.de" target="_blank">
            <img src="{{ '/img/organizations/logo-bauhaus-universitaet-weimar.png' | relative_url }}"
                 alt="Bauhaus-Universtät Weimar logo">
        </a>
    </div>
    <div>
        <a href="http://leipzig.webis.de" target="_blank">
            <img src="{{ '/img/organizations/logo-universitaet-leipzig.png' | relative_url }}"
                 alt="Universität Leipzig logo">
        </a>
    </div>
    <div>
        <a href="http://www.upv.es/" target="_blank">
            <img src="{{ '/img/organizations/logo-universitat-politecnica-de-valencia.png' | relative_url }}"
                 alt="Universitat Politecnica de Valencia logo">
        </a>
    </div>
    <div>
        <a href="http://www.aegean.gr/" target="_blank">
            <img src="{{ '/img/organizations/logo-university-of-the-aegean.png' | relative_url }}"
                 alt="University of the Aegean logo">
        </a>
    </div>
    <div>
        <a href="http://www.autoritas.es/" target="_blank">
            <img src="{{ '/img/organizations/logo-autoritas.png' | relative_url }}" alt="Autoritas logo">
        </a>
    </div>
    <div>
        <a href="http://clef2018.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef18.png' | relative_url }}" alt="CLEF Avignon 2018 logo">
        </a>
    </div>
    <div>
        <a href="http://www.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef.png' | relative_url }}" alt="CLEF logo">
        </a>
    </div>
</div>