---
layout: default
nav_active: contact
title: PAN Contact
description: Contact PAN
---

<main>
    <header class="uk-section uk-section-muted">
        <div class="uk-container">
            <h1>Contact</h1>
            <p class="uk-text-lead">PAN has become a network of experts on digital text forensics. Many actively
                contribute,
                hundreds are following up on the latest developments. You are welcome to join the network. Take part in
                PAN's
                shared tasks, develop new technology, compile new evaluation datasets, share your achievements with the
                community, offer community service, or just listen in.</p>
        </div>
    </header>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <div class="uk-grid uk-grid-large uk-grid-divider uk-child-width-1-2@m" data-uk-grid>
                <div>
                    <h2>What you can do at PAN</h2>
                    <p>PAN is a community-driven effort. If you want to help push forward the
                        digital text forensics, all other PAN community members will gladly help you make it
                        happen. There's a number of ways big and small in which you can contribute.</p>
                </div>
                <div>
                    <h2>Participate in a Task</h2>
                    <p>Got an idea how to solve one of PAN's main tasks? Brilliant! All you have to do is to
                        register for the task you wish to tackle. You will be given access to a virtual machine
                        on TIRA, and may then evaluate your new approach. For some of the tasks, we organize
                        annual events where you can present your results.</p>
                </div>
                <div>
                    <h2>Submit Data</h2>
                    <p>Got a new dataset for one of PAN's task? We welcome the submission of new datasets to all
                        tasks. As long as the dataset is formatted the same way as the other datasets for the
                        same task, all software submitted by previous participants on that task can be run
                        against it.</p>
                </div>
                <div>
                    <h2>Organize an Event</h2>
                    <p>Have an idea for an event around the digital text forensics? It can be a new task you
                        wish to develop, a workshop, a special issue in a journal. Get in touch with us to
                        discuss how it can be integrated into PAN.</p>
                </div>
                <div>
                    <h2>Get in Touch</h2>
                    <p>Reach us by email at <a href="mailto:pan@webis.de">pan@webis.de</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h2>Follow</h2>
            <h3>Mailing List</h3>
            <iframe id="forum_embed" scrolling="no" frameborder="0" width="100%" height="700"
                    src="https://groups.google.com/forum/embed/?place=forum/pan-workshop-series&showsearch=true&showpopout=true&showtabs=false&output=embed&parenturl={{site.url|url_encode}}{{page.url|url_encode}}"></iframe>

            <p><a class="uk-button uk-button-small uk-button-primary" href="http://groups.google.com/group/pan-workshop-series"
                  target="_blank">View at Google Groups</a></p>
        </div>
    </div>

    <div class="uk-section uk-section-muted">
        <div class="uk-container">

            <h2>Committee</h2>

            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
    </div>
</main>
