---
layout: default
nav_active: organization
title: PAN Organization
description: Contacts and participation information
---

<main>

    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1>Organization</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span> <a href="#contact">Contact and Communication</a></li>
                <li><span data-uk-icon="chevron-down"></span> <a href="#participation-guide">Participation HowTo</a></li>
                <li><span data-uk-icon="chevron-down"></span> <a href="#resources">Resources</a></li>
                <li><span data-uk-icon="chevron-down"></span> <a href="#subission-terms">Submission Terms</a></li>
                <li><span data-uk-icon="chevron-down"></span> <a href="#organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2><a id="contact"></a>Contact and Communication</h2>
            <ul>
                <li>Mailing list organizers: <a href="mailto:pan@webis.de">pan@webis.de</a></li>
                <li>Mailing list participants: <a href="mailto:pan-workshop-series@googlegroups.com">pan-workshop-series@googlegroups.com</a> [<a href="http://groups.google.com/group/pan-workshop-series">subscribe</a>]</li>
                <li>Twitter: <a href="https://twitter.com/webis_de">@webis_de</a></li>
            </ul>

            <h2><a id="participation-guide"></a>Participation HowTo</h2>
            <p>Shared task participation:</p>
            <ol>
                <li>Registration and data download: [<a href="https://docs.google.com/forms/d/e/1FAIpQLSfR_xoBuGU3q7o3EYPoItN28UPuZENjs3wlWYEX_EdRGUyRfA/viewform">registration</a>] [<a href="{{ '/data.html' | relative_url }}">data</a>]</li>
                <li>Research and development at your site.</li>
                <li>Evaluation on TIRA: [<a href="https://webis.de/publications.html#filter:TIRA%20Integrated%20Research%20Architecture">guide</a>] (see <a href="https://webis.de/downloads/publications/papers/stein_2019p.pdf#page=15">Section 3.4</a>)</li>
                <li>Publication of results: [<a href="pan-paper-template.zip">template</a>] [<a href="https://github.com/pan-webis-de">code</a>]</li>
            </ol>
            <p>Other participation options (contact us):</p>
            <ul>
                <li>Submit new data.</li>
                <li>Submit new performance measure.</li>
                <li>Organize a shared task.</li>
                <li>Organize an event.</li>
            </ul>

            <h2><a id="resources"></a>Resources</h2>
            <ul>
                <li><a href="https://www.tira.io/">TIRA</a>: for software submission</li>
                <li><a href="https://github.com/pan-webis-de">Github</a>: for code sharing</li>
                <li><a href="https://github.com/pan-webis-de/pan-webis-de.github.io/blob/master/FAQ.md">FAQ</a>: for frequently asked questions
            </ul>
            
            <h2><a id="subission-terms"></a>Submission Terms</h2>
            <ul>
                <li>Authors retain copyright of their software and data.</li>
                <li>Authors provide usage rights to PAN and TIRA for the purpose of publication and evaluation.</li>
                <li>Authors may revoke usage rights at any time.</li>
                <li>Use of TIRA is at the author's risk.</li>
                <li>The choice of license rests with the authors.</li>
                <li>When using a third party resource, cite its authors.</li>
            </ul>

        </div>
        
        <div class="uk-container uk-margin-medium">
            <h2 id="organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
        </div>
    </div>
</main>
