---
layout: default
nav_active: events
title: PAN @ CLEF 2021
description: PAN @ CLEF 2021
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2021</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-sponsors">Sponsors</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/shared-tasks.html#authorship-verification' | relative_url }}">Authorship Verification</a></li>
                <li><a href="{{ '/shared-tasks.html#profiling-hate-speech-spreaders-on-twitter' | relative_url }}">Profiling Hate Speech Spreaders on Twitter</a></li>
                <li><a href="{{ '/shared-tasks.html#style-change-detection' | relative_url }}">Style Change Detection</a></li>
            </ul>

            <h2 id="index-important-dates">Important Dates</h2>
            <ul>
                <li><b>April 07, 2021 (extended)</b>: Early bird software submission phase (optional)</li>
                <li><b>April to Mid-May</b>: Software submission phase</li>
                <li><b>May 20, 2021</b>: Software submission deadline</li>
                <li><b>May 28, 2021</b>: Participant paper submission
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2021.clef-initiative.eu/index.php?page=Pages/instructions_for_authors.html">guidelines</a> (use the PAN <a href="../../pan-paper-template.zip">template</a>)]
                    [<a href="https://easychair.org/conferences/?conf=clef2021">submission</a>]
                </li>
                <li><b>June 11, 2021</b>: Peer review notification</li>
                <li><b>June 30, 2021</b>: Camera-ready participant papers submission</li>
                <li><b>TBD</b>: Early bird conference registration</li>
                <li>September 21-24, 2021: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>

            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <!--<div>The keynotes will be announced at a later date.</div>-->


                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef21/pan21-figures/arkaitz-zubiaga.jpg' | relative_url }}"
                                 alt="Arkaitz Zubiaga">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Generalisation in Social Media Research: from Fact Verification 
to Hate Speech Detection</div>
                            <div class="keynote-speaker"><a href="http://www.zubiaga.org/" target="_blank">Arkaitz Zubiaga</a></div>
                            <div class="keynote-affiliation">Queen Mary University of London</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>While models built and tested on a specific dataset and for a specific 
                            task often achieve very good performance, they then fail to generalise 
                            when they are applied to new, unseen data. In this talk I will discuss 
                            the importance and challenges of achieving generalisable performance 
                            in social media research with a particular focus on fact verification 
                            and hate speech detection. I will present some of our recent work in 
                            this direction, as well as discuss open challenges to further the 
                            capacity of generalisation especially in hate speech detection.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Arkaitz Zubiaga is a lecturer at Queen Mary University of London, 
                                    where he leads the Social Data Science lab. His research interests 
                                    revolve around computational social science and natural language 
                                    processing, with a focus on linking online data with events in the 
                                    real world, among others for tackling problematic issues on the Web 
                                    and social media that can have a damaging effect on individuals or 
                                    society at large, such as hate speech, misinformation, inequality, 
                                    biases and other forms of online harm.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>

 
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef21/pan21-figures/maarten-sap.jpg' | relative_url }}"
                                 alt="Maarten Sap">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Detecting and Rewriting Socially Biased Language</div>
                            <div class="keynote-speaker"><a href="https://homes.cs.washington.edu/~msap/" target="_blank">Maarten Sap</a></div>
                            <div class="keynote-affiliation">University of Washington</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                      <p>Language has the power to reinforce stereotypes and project social 
                        biases onto others, either through overt hate or subtle biases. 
                        Accounting for this toxicity and social bias in language is crucial 
                        for natural language processing (NLP) systems to be safely and 
                        ethically deployed in the world.
                        In this talk, I will first analyze a failure case of automatic hate 
                        speech detection, in which we find that models tend to flag speech by 
                        African Americans as toxic more often than by others. We trace the 
                        origins of the biases back to the annotated datasets, and show that we 
                        can reduce these biases, by making a tweet's dialect more explicit 
                        during the annotation process.
                        Then, as an alternative to binary hate speech detection, I will 
                        present Social Bias Frames, a new structured formalism for distilling 
                        biased implications of language. Using a new corpus of 150k structured 
                        annotations, we show that models can learn to reason about high-level 
                        offensiveness of statements, but struggle to explain why a statement 
                        might be harmful.
                        Finally, I will introduce PowerTransformer, a new unsupervised model 
                        for controllable debiasing of text through the lens of connotation 
                        frames of power and agency. With this model, we show that subtle 
                        gender biases in how characters are portrayed in stories and movies 
                        can be mitigated through automatic rewriting. I will conclude with 
                        future directions for better reasoning about toxicity and social 
                          biases in language.</p>
                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>Maarten Sap is a postdoc/young investigator at the Allen Institute for 
                                AI (AI2) on project MOSAIC, and will join CMU's LTI department as an 
                                assistant professor in Fall 2022. His research focuses on making NLP 
                                systems socially intelligent, and understanding social inequality and 
                                bias in language. He has presented his work in top-tier NLP and AI 
                                conferences, receiving a best short paper nomination at ACL 2019 and a 
                                best paper award at the WeCNLP 2020 summit. Additionally, he and his 
                                team won the inaugural 2017 Amazon Alexa Prize, a social chatbot 
                                competition.
                                He received his PhD from the University of Washington's Paul G. Allen 
                                School of Computer Science & Engineering where he was advised by Yejin 
                                Choi and Noah Smith. In the past, he has interned at the Allen 
                                Institute for AI working on social commonsense reasoning, and at 
                                Microsoft Research working on deep learning models for understanding 
                                human cognition.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>


                    </div>
                </article>

            </div>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/img/people/rangel.jpg' | relative_url }}"
                                 alt="Francisco Rangel">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Build Emotional Connection with your Customers at Scale</div>
                            <div class="keynote-speaker"><a href="https://www.kicorangel.com/" target="_blank">Francisco Rangel</a></div>
                            <div class="keynote-affiliation">Symanto Research</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                      <p>Building emotional connection is key for human beings, but sometimes in the business world we forget about it, we forget that behind 
                          every potential deal there is a person, and we just speak about leads, customers or churn... At Symanto, we combine Artificial Intelligence 
                          with Psychology to help our customers build emotional connections at scale to improve the way they resonate and communicate.
                          
                          In this Industry talk, I will briefly introduce Symanto, how we apply, among others, author profiling techniques, 
                          how our core technology allows us to stand out from our competition, 
                          why emotions and psychology matter, how we offer this to the world, as well as some of the latest research lines that we are working on.
                        </p>
                        <footer>
                            <div class="keynote-bio" id="keynote-bio-3">
                                <p>Francisco is Head of Product at Symanto Research and Member of the Advisory Board of Spain AI, the largest network on 
                                    Artificial Intelligence in Spanish language. Former CTO at Autoritas and Postdoctoral researcher at the Pattern Recognition 
                                    and Human Language Technology at the Universitat Politècnica de València, he specialises his career applying technology, 
                                    information retrieval and artificial intelligence to the digital transformation of organisations. Francisco obtained his PhD 
                                    on Author Profiling being advised by Paolo Rosso, winning the MAVIR Award 2007 for the best research master thesis on information 
                                    retrieval and natural language processing and SEPLN Award 2017 for the best doctoral thesis in artificial intelligence, 
                                    Dell 2009 Award Finalist in Technological Excellence (Grupo Fivasa / SIC+), and Mobip 2010 Award to the Most Innovative Idea 
                                    (Corex SIC+).

                                    Since 2013, he co-organises international evaluation tasks in different areas of information retrieval and artificial 
                                    intelligence (SemEval, CLEF, FIRE, SEPLN). Francisco is also co-author of books such as the oppositions syllabus of the 
                                    Superior Technical Body of Information Technology of the Generalitat Valenciana administration of the College of Computer 
                                    Engineers of the Valencian Community (COIICV), professor in various Masters of Artificial Intelligence, Information Retrieval 
                                    and Big Data, author of more than 50 scientific publications and director of more than 15 final master's projects and a doctoral 
                                    thesis. He has had repercussion in media such as the TVE Informe Semanal (Weekly Report) program.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-3; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-3; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>


                    </div>
                    
                <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/img/people/scells.jpg' | relative_url }}"
                                 alt="Harry Scells">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Completing the Multi-Authorship Jigsaw Puzzle</div>
                            <div class="keynote-speaker"><a href="https://www.kicorangel.com/" target="_blank">Harry Scells</a></div>
                            <div class="keynote-affiliation">University of Queensland, Australia</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                      <p>Multi-authorship tasks have been run at PAN now for over half a decade. In this time, several multi-authorship tasks have been identified, a number of datasets have been created, and numerous methods have been developed to address the tasks. The community here has achieved considerable success, given these challenging tasks. To use an analogy, the multi-authorship jigsaw puzzle is now starting to take place, with many of the most important foundational pieces in place. In this talk, I will speculate on the next possible pieces of the multi-authorship jigsaw to connect the larger pieces of the puzzle, focusing on the construction of datasets and evaluation of methods.</p>
                        <footer>
                            <div class="keynote-bio" id="keynote-bio-3">
                                <p>Harry Scells is a postdoc at the University of Queensland, Australia, collaborating with the Webis group at the Bauhaus-Universität Weimar on the PHOENIX project, funded by the German Federal Ministry of Education and Research (BMBF). The PHOENIX project seeks to investigate novel techniques for multi-authorship analysis in scientific authorship and scientific writing. Harry's research interests lie in Information Retrieval and NLP, and has published his works in a number of high quality conferences such as SIGIR, WWW, CIKM, and ECIR.</p>                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-3; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-3; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>


                    </div>
                    
                </article>
            </div>

            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the <a href="http://clef2021.clef-initiative.eu/index.php?page=Pages/programme.html">CLEF 2021 conference program</a>.</p>
            <p style="color:red">Please note that all session times below are given in Bucharest time, i.e. GMT+3</p>
            
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 22</b></td>
                </tr>

                <tr>
                    <td><b>10:00-11:30</b></td>
                    <td><b>CLEF Session: Lab overviews (BioASQ, ARQMath-2, SimpleText, PAN)</b></td>
                </tr>                    
                <tr>
                    <td><b>11:30-13:00</b></td>
                    <td><b>Keynote & Lab Session</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>11:30-12:30</td>
                    <td>Keynote: Generalisation in Social Media Research: from Fact Verification to Hate Speech Detection<br><i>Arkaitz Zubiaga</i></td>
                </tr>
                <tr>
                    <td>12:30-13:00</td>
                    <td>Overview of the Profiling Hate Speech Spreaders on Twitter Task at PAN 2021</td>
                </tr>
                <tr><td></td><td></td></tr>
                <tr>
                    <td><b>15:30-17:00</b></td>
                    <td><b>Lab Session: Profiling Hate Speech Spreaders on Twitter</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>15:30-15:40</td>
                    <td>Best system award of Profiling Hate Speech Spreaders on Twitter</td>
                </tr> 
                <tr>
                    <td>15:40-17:00</td>
                    <td>Participant presentations</td>
                </tr>
                <tr><td></td><td>Detection of hate speech spreaders using convolutional neural networks<br><i>Marco Siino, Elisa Di Nuovo, Ilenia Tinnirello, Marco La 
                    Cascia</i></td></tr>
                <tr><td></td><td>Deep Modeling of Latent Representations for Twitter Profiles on Hate Speech Spreaders Identification<br><i>Roberto Labadie, Daniel 
                    Castro-Castro, Reynier Ortega Bueno</i></td></tr>
                <tr><td></td><td>HaMor at the Profiling Hate Speech Spreaders on Twitter<br><i>Mirko Lai, Marco Antonio Stranisci, Cristina Bosco, Rossana Damiano, Viviana Patti</i></td></tr>
                <tr><td></td><td>Multi-level stacked ensemble with sparse and dense features for hate speech detection on Twitter<br><i>Darko Tosev, Sonja Gievska</i></td></tr>                   
                <tr><td></td><td></td></tr>                    
                <tr>
                    <td><b>17:30-19:00</b></td>
                    <td><b>Keynotes</b>, Chair: Martin Potthast</td>
                </tr>
                <tr>
                    <td>17:30-18:00</td>
                    <td>Industry Talk: Author profiling at Symanto<br><i>Francisco M. Rangel Pardo</i></td>                    
                </tr>                    
                <tr>
                    <td>18:00-19:00</td>
                    <td>Keynote: Detecting and Rewriting Socially Biased Language<br><i>Maarten Sap</i></td>                    
                </tr>
                <tr>
                    <td colspan="2"><b>September 23</b></td>
                </tr>
                <tr>
                    <td><b>15:30-17:00</b></td>
                    <td><b>Keynote & Lab Session: Style Change Detection</b>, Chair: Eva Zangerle</td>
                </tr>                   
                <tr>
                    <td>15:30-16:00</td>
                    <td>Keynote: Title TBC (Multi-author analysis)<br><i>Harry Scells</i></td>
                </tr>
                <tr>
                    <td>16:00-16:30</td>
                    <td>Overview of the Style Change Detection Task at PAN 2021</td>
                </tr>                    
                <tr>
                    <td>16:30-17:00</td>
                    <td>Participant presentations</td>
                </tr>
                <tr>
                    <td></td><td>Style Change Detection Based On Writing Style Similarity<br><i>Zhijie Zhang, Zhongyuan Han, Leilei Kong, Xiaogang Miao, Zeyang Peng, Jieming Zeng, Haojie Cao, Jinxi Zhang, Ziwei Xiao and Xuemei Peng</i></td>
                </tr>
                <tr>
                    <td></td><td>Multi-label Style Change Detection by Solving a Binary Classification Problem<br><i>Eivind Strøm</i></td>
                </tr>
                <tr>
                    <td></td><td>Writing Style Change Detection on Multi-Author Documents<br><i>Rhia Singh, Janith Weerasinghe and Rachel Greenstadt</i></td>
                </tr>
                <tr>
                    <td></td><td>Style Change Detection on Real-World Data using an LSTM-powered Attribution Algorithm<br><i>Robert Deibel and Denise Loefflad</i></td>
                </tr>
<!--
                <tr>
                    <td></td><td>Style change detection using Siamese neural networks<br><i>Sukanya Nath</i></td>
                </tr>                    
-->
                <tr><td></td><td></td></tr>                   
                <tr>
                    <td><b>17:30-19:00</b></td>
                    <td><b>Lab Session: Style Change cont'd & Authorship Verification</b>, Chair: Ilia Markov</td>
                </tr>
                <tr>
                    <td>17:30-17:40</td><td>Style change detection using Siamese neural networks<br><i>Sukanya Nath</i></td>
                </tr>
                <tr>
                    <td>17:40-18:00</td>
                    <td>Overview of the Authorship Verification Task at PAN 2021</td>
                </tr>
                <tr>
                    <td>18:00-19:00</td>
                    <td>Participant presentations</td>
                </tr>
                <tr><td></td><td>O2D2: Out-Of-Distribution Detector to Capture Undecidable Trials in Authorship Verification<br><i>Benedikt Bönninghoff, Robert Nickel and Dorothea Kolossa</i></td></tr>
                <tr><td></td><td>Graph-based Siamese Network for Authorship Verification<br><i>Daniel Embarcadero-Ruiz, Helena Gómez-Adorno, Ivan Reyes-Hernández, Alexis García and Alberto Embarcadero-Ruiz</i></td></tr>
                <tr><td></td><td>Feature Vector Difference based Authorship Verification for Open World Settings<br><i>Janith Weerasinghe, Rhia Singh and Rachel Greenstadt</i></td></tr>
                <tr><td></td><td>Authorship Verification with neural networks via stylometric feature concatenation<br><i>Antonio Menta and Ana Garcia-Serrano</i></td></tr>                    
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2021 %}
            </div>
        </div>
    </div>
</main>
