---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2024 - Generative AI Authorship Verification
description: PAN at CLEF 2024 - Generative AI Authorship Verification
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Generative AI Authorship Verification 2024</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Voight-Kampff Generative AI Authorship Verification 2024</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given two texts, one authored by a human, one by a machine: pick out the human.</li>
                <li>Input: Pairs of texts, one of which was written by a human. [<a href="https://zenodo.org/records/10718757">download</a>]</li>
                <li>Evaluation: tba.</li>
                <li>Submission: Deployment on TIRA [<a href="https://www.tira.io/task-overview/generative-ai-authorship-verification-panclef-2024/">submit</a>]</li>
                <li>Baseline: tba.</li>
            </ul>


            <h2 id="task">Task</h2>
            <p>With Large Language Models (LLMs) improving at breakneck speed and seeing more widespread adoption every day, it is getting increasingly hard to discern whether a given text was authored by a human being or a machine. Many classification approaches have been devised to help humans distinguish between human- and machine-authored text, though often without questioning the fundamental and inherent feasibility of the task itself.</p>

            <p>With years of experience in a related but much broader field—authorship verification—, we set out to answer whether this task can be solved. We start with the simplest arrangement of a suitable task setup: <strong>Given two texts, one authored by a human, one by a machine: pick out the human.</strong></p>

            <p>The <em>Generative AI Authorship Verification Task</em> @ PAN is organized in collaboration with the <em>Voight-Kampff Task</em> @ <a href="https://eloquent-lab.github.io/">ELOQUENT Lab</a> in a builder-breaker style. PAN participants will build systems to tell human and machine apart, while ELOQUENT participants will investigate novel text generation and obfuscation methods for avoiding detection.</p>

            <h2 id="data">Data</h2>

            <p>Test data for this task will be compiled from the submissions of ELOQUENT participants and will comprise multiple text genres, such as news articles, Wikipedia intro texts, or fanfiction. Additionally, PAN participants will be provided with a bootstrap dataset of real and fake news articles spanning multiple 2021 U.S. news headlines. The bootstrap dataset can be used for training purposes, though we strongly recommend using other sources as well.</p>

            <p><strong>Download instructions:</strong> The dataset is available <a href="https://zenodo.org/records/10718757">via Zenodo</a>. Please register first at <a href="https://www.tira.io/task-overview/generative-ai-authorship-verification-panclef-2024/">Tira</a> and then request access on Zenodo using the same email address. The dataset contains copyrighted material and may be used only for research purposes. No redistribution allowed.</p>

            <p>The <strong>bootstrap dataset</strong> is provided as a set of newline-delimited JSON files. Each file contains a list of articles, written either by (any number of) human authors or a single machine. That is, the file <code>human.jsonl</code> contains only human texts, whereas a file <code>gemini-pro.jsonl</code> contains articles about the same topics, but written entirely by Google's Gemini Pro. The file format is as follows:</p>

            <pre class="prettyprint linenums uk-padding-remove-bottom"><code class="lang-json">{"id": "news-2021-01-01-2021-12-31-kabulairportattack/art-081", "text": "..."}
{"id": "news-2021-01-01-2021-12-31-capitolriot/art-050", "text": "..."}
...</code></pre>

            <p>The article IDs and line orderings are the same across all files, so the same line always corresponds to the same topic, but from different “authors”.</p>

            <p>The <strong>test dataset</strong> will be provided in a different format. Instead of individual files, only a single JSONL file will be given, each line containing a pair of texts:</p>

            <pre class="prettyprint linenums uk-padding-remove-bottom"><code class="lang-json">{"id": "iixcWBmKWQqLAwVXxXGBGg", "text1": "...", "text2": "..."}
{"id": "y12zUebGVHSN9yiL8oRZ8Q", "text1": "...", "text2": "..."}
...</code></pre>

            <p>The IDs will be scrambled and the participant's task is to generate an appropriate output file with predictions for which of the two texts is the human one (see <a href="#submission">Submission</a> below).</p>

            <h2 id="evaluation">Evaluation</h2>
            Details will be announced at a later date.

            <h2 id="submission">Submission</h2>
            <p>Participants will submit their systems as Docker images through the <a href="https://www.tira.io/task-overview/generative-ai-authorship-verification-panclef-2024/">Tira</a> platform. It is not expected that submitted systems are actually <em>trained</em> on Tira, but they must be standalone and runnable on the platform without requiring contact to the outside world (evaluation runs will be sandboxed).</p>

            <p>The submitted software must be executable inside the container via a command line call. The script must take two arguments: <code>INPUT-FILE</code> (absolute path to the input JSONL file) and <code>OUTPUT-DIRECTORY</code> (absolute path to the output directory):</p>
            <pre class="prettyprint"><code class="lang-json">$ mySoftware INPUT-FILE OUTPUT-DIRECTORY</code></pre>

            <p>Within <code>OUTPUT-DIRECTORY</code>, a single (!) file with the file extension <code>*.jsonl</code> must be created with the following format:</p>

            <pre class="prettyprint linenums uk-padding-remove-bottom"><code class="lang-json">{"id": "iixcWBmKWQqLAwVXxXGBGg", "is_human": 1.0}
{"id": "y12zUebGVHSN9yiL8oRZ8Q", "is_human": 0.3}
...</code></pre>

            <p>For each test case in the input file, an output line must be written with the ID of the input text pair and a confidence score between <code>0.0</code> and <code>1.0</code>. A score <code>&lt; 0.5</code> means that <code>text1</code> is believed to be human-authored. A score <code>&gt; 0.5</code> means that <code>text2</code> is believed to be human-authored. A score of <em>exactly</em> <code>0.5</code> means the case is undecidable. Participants are encouraged to answer with <code>0.5</code> rather than making a <em>wrong</em> prediction.</p>

            <p><strong>All test cases must be processed in isolation without information leakage between them!</strong> Even though systems may be given an input file with multiple JSON lines at once for reasons of efficiency, these inputs must be processed and answered just the same as if only a single line were given. Answers for any one test case must not depend on other cases in the input dataset!</p>

            <h2 id="related-work">Related Work</h2>
            <ul>
				<li>
                    Janek Bevendorff et al. <a href="https://downloads.webis.de/publications/papers/bevendorff_2024b.pdf">Overview of PAN 2024: Multi-Author Writing Style Analysis, Multilingual Text Detoxification, Oppositional Thinking Analysis, and Generative AI Authorship Verification</a>. In Advances in Information Retrieval. 46th European Conference on IR Research (ECIR 2024), Lecture Notes in Computer Science, March 2024. Springer.
                </li>
                <li>
                    Uchendu, Adaku, Thai Le, Kai Shu, and Dongwon Lee. 2020. <a href="https://aclanthology.org/2020.emnlp-main.673/">Authorship Attribution for Neural Text Generation</a>. In Proceedings of the 2020 Conference on Empirical Methods in Natural Language Processing (EMNLP). Association for Computational Linguistics.
                </li>
                <li>
                    Hans, Abhimanyu, Avi Schwarzschild, Valeriia Cherepanova, Hamid Kazemi, Aniruddha Saha, Micah Goldblum, Jonas Geiping, and Tom Goldstein. 2024. <a href="http://arxiv.org/abs/2401.12070">Spotting LLMs with Binoculars: Zero-Shot Detection of Machine-Generated Text</a>. arXiv [Cs.CL].
                </li>
                <li>
                    Mitchell, Eric, Yoonho Lee, Alexander Khazatsky, Christopher D. Manning, and Chelsea Finn. 2023. <a href="http://arxiv.org/abs/2301.11305">DetectGPT: Zero-Shot Machine-Generated Text Detection Using Probability Curvature</a>. arXiv [Cs.CL].
                </li>
                <li>
                    Jakesch, Maurice, Jeffrey T. Hancock, and Mor Naaman. 2023. <a href="https://www.pnas.org/doi/10.1073/pnas.2208839120">Human Heuristics for AI-Generated Language Are Flawed</a>. Proceedings of the National Academy of Sciences of the United States of America 120.
                </li>
                <li>
                    Uchendu, Adaku, Zeyu Ma, Thai Le, Rui Zhang, and Dongwon Lee. 2021. <a href="https://pike.psu.edu/publications/emnlp21.pdf">TURINGBENCH: A Benchmark Environment for Turing Test in the Age of Neural Text Generation</a>. arXiv [Cs.CL].
                </li>
                <li>
                    Schuster, Tal, Roei Schuster, Darsh J. Shah, and Regina Barzilay. 2020. <a href="https://direct.mit.edu/coli/article/46/2/499/93369/The-Limitations-of-Stylometry-for-Detecting">The Limitations of Stylometry for Detecting Machine-Generated Fake News</a>. Computational Linguistics 46 (2): 499–510.
                </li>
                <li>
                    Sadasivan, Vinu Sankar, Aounon Kumar, Sriram Balasubramanian, Wenxiao Wang, and Soheil Feizi. 2023. <a href="http://arxiv.org/abs/2303.11156">Can AI-Generated Text Be Reliably Detected?</a> arXiv [Cs.CL].
                </li>
                <li>
                    Ippolito, Daphne, Daniel Duckworth, Chris Callison-Burch, and Douglas Eck. 2020. <a href="https://aclanthology.org/2020.acl-main.164/">Automatic Detection of Generated Text Is Easiest When Humans Are Fooled</a>. In Proceedings of the 58th Annual Meeting of the Association for Computational Linguistics, 1808–22. Online: Association for Computational Linguistics.
                </li>
            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/bevendorff.html %}
                {% include people-cards/wiegmann.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2024 ows=true %}
            </div>
        </div>
    </div>
</main>
