---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2024 - Multilingual Text Detoxification
description: PAN at CLEF 2024 - Multilingual Text Detoxification
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Multilingual Text Detoxification 2024</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Multilingual Text Detoxification 2024</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a toxic piece of text, re-write it in a non-toxic way.</li>
                <li>Input: tba.
                </li>
                <li>Output: tba.
                </li>
                <li>Evaluation: tba. <!--[<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef24/text-detoxification" target="_blank">code</a>]-->
                </li>
                <li>Submission: <a href="#" target="_blank">tira.io</a> as a software submission.
<!--                <li>Submission: <a href="https://www.tira.io/task/pan24-text-detoxification" target="_blank">tira.io</a> preferably as a software submission-->
                </li>
            </ul>

            <h2 id="task">Task</h2>
            Details will be announced at a later date.


            <h2 id="data">Data</h2>
            Details will be announced at a later date.


            <h2 id="evaluation">Evaluation</h2>
            Details will be announced at a later date.


            <h2 id="submission">Submission</h2>
            <p>
<!--                All submissions are handled through <a href="https://www.tira.io/task/pan24-text-detoxification" target="_blank">tira.io</a>.-->
                All submissions are handled through <a href="#" target="_blank">tira.io</a>.
                We encourage all participants to use software submissions (via docker) for the sake of reproducibility.
                In a software submission you upload a docker image, which is then built and executed on the test data on tira's servers.
                Please follow tira's extensive documentation (and forums) for instructions.
            </p>

            <h2 id="related-work">Related Work</h2>
            Details will be announced at a later date.
<!--            <ul>-->
<!--                <li>[1] Author-->
<!--                    <a href="#" target="_blank">Title</a>-->
<!--                    In: Proceedings-->
<!--                </li>-->
<!--            </ul>-->

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
<!--                {% include people-cards/wolska.html %}-->
<!--                Daryna Dementieva - Technical University of Munich, Germany-->
<!--                Alisa Smirnova - Toloka, Switzerland-->
<!--                Dmitry Ustalov - Toloka, Serbia-->
<!--                Alexander Panchenko - Skolkovo Institute of Science and Technology, Russia-->
<!--                Animesh Mukherjee - Indian Institute of Technology Kharagpur, India-->
<!--                Ashaf Elnagar - University of Sharjah, United Arab Emirates-->
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2024 %}
            </div>
        </div>
    </div>
</main>
