---
layout: default
nav_active: tasks
title: PAN @ CLEF 2017
description: PAN @ CLEF 2017
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2017</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-sponsors">Sponsors</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '../../shared-tasks.html#author-profiling' | relative_url }}">Author Profiling</a></li>
                <li><a href="{{ '../../shared-tasks.html#author-masking' | relative_url }}">Author Masking</a></li>
                <li><a href="{{ '../../shared-tasks.html#authorship-clustering' | relative_url }}">Author Clustering</a></li>
                <li><a href="{{ '../../shared-tasks.html#obfuscation-evaluation' | relative_url }}">Obfuscation Evaluation</a></li>
                <li><a href="{{ '../../shared-tasks.html#style-change-detection' | relative_url }}">Style Change Detection</a></li>
            </ul>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 15, 2017: Early bird software submission</li>
                <li> April 15, 2017: TIRA evaluation phase opens</li>
                <li> May 15, 2017: TIRA evaluation phase deadline</li>
                <li> May 25, 2017 <strong>(extended)</strong>: Paper submission:
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2017.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2017WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2017">submission</a>]
                </li>
                <li> June 16, 2017: Peer review notification</li>
                <li> July 3, 2017: Camera-ready participant papers submission</li>
                <li> July 15, 2017: Early bird conference registration</li>
                <li> September 11-14, 2017: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on
                Earth</a>.</p>

            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                 <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef18/pan18-figures/david-losada.png' | relative_url }}" alt="David Losada">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Profiling the sensorial, emotional and ironic life of a city</div>
                            <div class="keynote-speaker"><a href="http://www.di.unito.it/~schifane/" target="_blank">Rossano Schifanella</a></div>
                            <div class="keynote-affiliation">University of Turin</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Researchers have used large quantities of online data to study dynamics in novel ways. Consider
                            the specific case of online networked individuals sharing geo-located, multimodal, pieces of
                            information in social media platforms, e.g., users of Twitter, Instagram, Facebook. Can their
                            social dynamics be used to unveil the hidden dimensions that regulate the social life of our
                            cities? To answer this question, our research has focused on understanding how people
                            psychologically experience cities and, as a result, we have created new mapping tools that
                            capture the aesthetic, olfactory and sonic layers of our cities, modeling happiness and use of
                            figurative language, e.g., irony. The work presented in this talk mixes data mining, urban
                            informatics, and computational social science to study how these dimensions relate to
                            demographic, e.g., age or gender, and socio-economic factors, e.g., education, crime, race, or
                            wealth, that characterize the profile of the modern urban fabric.</p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Rossano Schifanella is an Assistant Professor in Computer Science at
                                    the University of Turin, Italy, where he is a member of the Applied Research on Computational
                                    Complex Systems group. He is a visiting scientist at Nokia Bell Labs, Cambridge, UK, and a
                                    former visiting scientist at Yahoo Labs and at the Center for Complex Networks and Systems
                                    Research at Indiana University where he was applying computational methods to model social
                                    behavior in online platforms. His research embraces the creative energy of a range of
                                    disciplines across technology, computational social science, data visualization, and urban
                                    informatics. He is passionate about building new mapping tools that capture the sensorial layers
                                    of a city, and designing computational frameworks to model aesthetics, creativity, and
                                    figurative language in social media.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>

                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef17/pan17-figures/tatjana.jpg' | relative_url }}" alt="Tatiana Litvinova">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">RusProfiling: Analyzing Russian written texts to detect deception and
                                identify the author’s personality and gender</div>
                            <div class="keynote-speaker"><a href="http://en.rusprofilinglab.ru/" target="_blank">Tatiana Litvinova</a></div>
                            <div class="keynote-affiliation">RusProfiling Lab</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Authorship profiling and text-based deception detection have been the focus of attention in
                            recent years, partly because of a rapid growth of Internet communication and necessity to detect
                            fraud in online reviews and dating profiles, reveal suicidal tendencies in authors of texts on
                            social media, as well as to assess who likes/dislikes these or those products and services
                            (male, female, extroverts…) using linguistic analysis of their reviews, etc. Industrial
                            companies are in need of techniques for quick and valid assessment of candidates’ intelligence
                            and personality, and analyzing texts could provide such opportunities. Author profiling and
                            deception detection domain is rapidly developing but not for Slavic languages. They have long
                            been beyond the scope of relevant studies, which is largely due to the fact that there were no
                            corresponding text corpora available and no efficient methods of natural language processing in
                            place. In this keynote we present the results of the research aimed at deception detection and
                            personality and gender recognition in Russian written texts. In this research RusPersonality was
                            used, which is by far the largest corpus of written texts in Slavic languages with rich metadata
                            (information on the authors of the texts – gender, age, occupation, scores on different
                            personality traits, results of neuropsychological assessment, etc. and information on the texts
                            – genre, topic, deceptive/truthful, etc.). The second source of material for research conducted
                            in RusProfiling Lab is social media. In most of the experiments topic-independent features were
                            used. Special attention in the talk will be paid to the estimation of a likelihood of
                            self-destructive (including suicidal as the most severe form) behavior using linguistic analyses
                            of writing. The keynote concludes by encouraging a discussion on the necessity to seek for
                            topic-independent and language-independent features in authorship profiling and for explanation
                            of the estimated correlations between linguistics parameters of written texts and
                            characteristics of their authors.</p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>Tatiana Litvinova is head of Corpus Sociolinguistics and Authorship
                                    Profiling Lab (RusProfiling Lab). This is a joint laboratory of Voronezh State University
                                    (Voronezh, Russia), Voronezh State Pedagogical University (Voronezh, Russia) and The Kurchatov
                                    Institute (Moscow, Russia). The studies conducted in RusProfiling Lab and dedicated to
                                    authorship profiling and deception detection have been funded by leading Russian scientific
                                    funds. Lab is also in collaboration with industrial companies to get real-world data and to
                                    develop authorship profiling techniques that would come in handy in HR. Tatiana has a PhD in
                                    Russian Linguistics from Voronezh State University (Voronezh, Russia). She is one of the
                                    organizers of RusProfiling Shared Task on Gender Prediction in Cross-Genre perspective which
                                    will be held in conjunction with FIRE in December 2017.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>

            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the <a
                    href="http://clef2017.clef-initiative.eu/index.php?page=Pages/programme.html">CLEF conference program</a>.</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                <!--<tr>-->
                <!--<th colspan="2"><span style="display:none">.</span></th>-->
                <!--</tr>-->
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 11</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>14:15-15:45</nobr>
                    </td>
                    <td><b>Labs Overviews</b></td>
                </tr>
                <tr>
                    <td>15 min. talk</td>
                    <td>Overview of PAN'17: Author Identification, Author Profiling, and Author Obfuscation<br/><i>Martin
                        Potthast, Francisco Rangel, Michael Tschuggnall, Efstathios Stamatatos, Paolo Rosso, and Benno
                        Stein</i></td>
                </tr>
                <tr>
                    <td>19:00-22:00</td>
                    <td>Welcome Reception</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 12</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynotes</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>14:00-15:00</td>
                    <td>Profiling the sensorial, emotional and ironic life of a city<br/><i>Rossano Schifanella</i></td>
                </tr>
                <tr>
                    <td>15:00-16:00</td>
                    <td>RusProfiling: Analyzing Russian written texts to detect deception and identify the author's
                        personality and gender<br/><i>Tatiana Litvinova</i></td>
                </tr>
                <tr>
                    <td>16:00-16:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Profiling</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>16:30-16:50</td>
                    <td>Overview of the 5th Author Profiling Task at PAN 2017: Gender and Language Variety
                        Identification in Twitter<br/><i>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein</i>
                    </td>
                </tr>
                <tr>
                    <td>16:50-17:10</td>
                    <td>N-GrAM: New Groningen Author-profiling Model<br/><i>Angelo Basile, Gareth Dwyer, Maria
                        Medvedeva, Josine Rawee, Hessel Haagsma, and Malvina Nissim</i></td>
                </tr>
                <tr>
                    <td>17:10-17:30</td>
                    <td>Author Profiling with Word+Character Neural Attention Network<br/><i>Yasuhide Miura, Tomoki
                        Taniguchi, Motoki Taniguchi, and Tomoko Ohkuma</i></td>
                </tr>
                <tr>
                    <td>17:30-17:50</td>
                    <td>PAN 2017: Author Profiling - Gender and Language Variety Prediction<br/><i>Matej Martinc, Iza
                        Škrjanec, Katja Zupan, and Senja Pollak</i></td>
                </tr>
                <tr>
                    <td>17:50-18:10</td>
                    <td>Convolutional Neural Networks for Author Profiling<br/><i>Sebastián Sierra, Manuel
                        Montes-y-Gómez, Thamar Solorio, and Fabio A. González</i></td>
                </tr>
                <tr>
                    <td>18:10-18:30</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 13</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Identification</b>, Chair: Michael Tschuggnall</td>
                </tr>
                <tr>
                    <td>13:45-14:05</td>
                    <td>Author Clustering using Hierarchical Clustering Analysis<br/><i>Helena Gómez-Adorno, Yuridiana
                        Aleman, Darnes Vilariño, Miguel A. Sanchez-Perez, David Pinto, Grigori Sidorov</i></td>
                </tr>
                <tr>
                    <td>14:05-14:25</td>
                    <td>Overview of the Author Identification Task at PAN-2017: Style Breach Detection and <b>Author
                        Clustering</b><br/><i>Michael Tschuggnall, Efstathios Stamatatos, Ben Verhoeven, Walter
                        Daelemans, Günther Specht, Benno Stein, Martin Potthast</i></td>
                </tr>
                <tr>
                    <td>14:25-14:45</td>
                    <td>Discovering Author Groups Using a beta-compact Graph-based Clustering<br/><i>Yasmany García,
                        Daniel Castro, Vania Lavielle, and Rafael Muñoz</i></td>
                </tr>
                <tr>
                    <td>14:45-15:05</td>
                    <td>UniNE at CLEF 2017: Author Clustering<br/><i>Mirco Kocher and Jacques Savoy</i></td>
                </tr>
                <tr>
                    <td>15:05-16:15</td>
                    <td>Poster Session & Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Style Breach Detection & Author Obfuscation</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>16:15-16:25</td>
                    <td>Overview of the Author Identification Task at PAN-2017: <b>Style Breach Detection</b> and Author
                        Clustering<br/><i>Michael Tschuggnall, Efstathios Stamatatos, Ben Verhoeven, Walter Daelemans,
                            Günther Specht, Benno Stein, Martin Potthast</i>
                    <td>
                </tr>
                <tr>
                    <td>16:25-16:45</td>
                    <td>OPI-JSA at CLEF 2017: Author Clustering and Style Breach Detection<br/><i>Daniel Karaś, Martyna
                        Śpiewak, and Piotr Sobecki</i></td>
                </tr>
                <tr>
                    <td>16:45-17:05</td>
                    <td>Overview of the Author Obfuscation Task at PAN 2017: Safety Evaluation Revisited<br/><i>Matthias
                        Hagen, Martin Potthast, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>17:05-17:25</td>
                    <td>Author Masking using Sequence-to-Sequence Models<br/><i>Oleg Bakhteev, Andrey Khazov</i></td>
                </tr>
                <tr>
                    <td>17:25</td>
                    <td>Discussion & Closing
                </tr>
                <tr>
                    <td>19:00-22:00</td>
                    <td>Conference Dinner</td>
                </tr>
                </tbody>
            </table>

            <h2 id="index-sponsors">Sponsors</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.symanto.net/" target="_blank" class="uk-link-reset">
                            <div class="thumbnail-fill">
                                <img src="../pan17-figures/logo-symanto.png" alt="Symanto">
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2017 %}
            </div>
        </div>
    </div>
</main>