---
layout: default
nav_active: tasks
title: PAN @ CLEF 2017 - Workshop Program
description: PAN @ CLEF 2017 - Workshop Program
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef16/pan16-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2017
                <a class="uk-button uk-padding-remove-right" href="{{ 'clef18/pan18-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef17/pan17-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef17/pan17-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li class="uk-active"><a href="{{ '/clef17/pan17-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left"
                                            data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef17/pan17-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef17/pan17-web/author-profiling.html' | relative_url }}">Author
                                Profiling</a></li>
                            <li><a href="{{ '/clef17/pan17-web/author-obfuscation.html' | relative_url }}">Author
                                Obfuscation</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef17/pan17-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef17/pan17-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2017 %}

            <h1 class="uk-margin-small">Workshop Program</h1>
            <div class="page-header-meta">PAN @ CLEF 2017</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 11 to 14,
                2017.</p>
        </div>
    </header>

    <!-- Sechdule -->
    <div class="uk-section">
        <div class="uk-container">
            <h2>Schedule
                <span class="uk-text-lead">
                <a href="http://clef2017.clef-initiative.eu/index.php?page=Pages/programme.html">View full conference program</a>
            </span>
            </h2>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                <!--<tr>-->
                <!--<th colspan="2"><span style="display:none">.</span></th>-->
                <!--</tr>-->
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 11</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>14:15-15:45</nobr>
                    </td>
                    <td><b>Labs Overviews</b></td>
                </tr>
                <tr>
                    <td>15 min. talk</td>
                    <td>Overview of PAN'17: Author Identification, Author Profiling, and Author Obfuscation<br/><i>Martin
                        Potthast, Francisco Rangel, Michael Tschuggnall, Efstathios Stamatatos, Paolo Rosso, and Benno
                        Stein</i></td>
                </tr>
                <tr>
                    <td>19:00-22:00</td>
                    <td>Welcome Reception</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 12</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynotes</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>14:00-15:00</td>
                    <td>Profiling the sensorial, emotional and ironic life of a city<br/><i>Rossano Schifanella</i></td>
                </tr>
                <tr>
                    <td>15:00-16:00</td>
                    <td>RusProfiling: Analyzing Russian written texts to detect deception and identify the author's
                        personality and gender<br/><i>Tatiana Litvinova</i></td>
                </tr>
                <tr>
                    <td>16:00-16:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Profiling</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>16:30-16:50</td>
                    <td>Overview of the 5th Author Profiling Task at PAN 2017: Gender and Language Variety
                        Identification in Twitter<br/><i>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein</i>
                    </td>
                </tr>
                <tr>
                    <td>16:50-17:10</td>
                    <td>N-GrAM: New Groningen Author-profiling Model<br/><i>Angelo Basile, Gareth Dwyer, Maria
                        Medvedeva, Josine Rawee, Hessel Haagsma, and Malvina Nissim</i></td>
                </tr>
                <tr>
                    <td>17:10-17:30</td>
                    <td>Author Profiling with Word+Character Neural Attention Network<br/><i>Yasuhide Miura, Tomoki
                        Taniguchi, Motoki Taniguchi, and Tomoko Ohkuma</i></td>
                </tr>
                <tr>
                    <td>17:30-17:50</td>
                    <td>PAN 2017: Author Profiling - Gender and Language Variety Prediction<br/><i>Matej Martinc, Iza
                        Škrjanec, Katja Zupan, and Senja Pollak</i></td>
                </tr>
                <tr>
                    <td>17:50-18:10</td>
                    <td>Convolutional Neural Networks for Author Profiling<br/><i>Sebastián Sierra, Manuel
                        Montes-y-Gómez, Thamar Solorio, and Fabio A. González</i></td>
                </tr>
                <tr>
                    <td>18:10-18:30</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 13</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Identification</b>, Chair: Michael Tschuggnall</td>
                </tr>
                <tr>
                    <td>13:45-14:05</td>
                    <td>Author Clustering using Hierarchical Clustering Analysis<br/><i>Helena Gómez-Adorno, Yuridiana
                        Aleman, Darnes Vilariño, Miguel A. Sanchez-Perez, David Pinto, Grigori Sidorov</i></td>
                </tr>
                <tr>
                    <td>14:05-14:25</td>
                    <td>Overview of the Author Identification Task at PAN-2017: Style Breach Detection and <b>Author
                        Clustering</b><br/><i>Michael Tschuggnall, Efstathios Stamatatos, Ben Verhoeven, Walter
                        Daelemans, Günther Specht, Benno Stein, Martin Potthast</i></td>
                </tr>
                <tr>
                    <td>14:25-14:45</td>
                    <td>Discovering Author Groups Using a beta-compact Graph-based Clustering<br/><i>Yasmany García,
                        Daniel Castro, Vania Lavielle, and Rafael Muñoz</i></td>
                </tr>
                <tr>
                    <td>14:45-15:05</td>
                    <td>UniNE at CLEF 2017: Author Clustering<br/><i>Mirco Kocher and Jacques Savoy</i></td>
                </tr>
                <tr>
                    <td>15:05-16:15</td>
                    <td>Poster Session & Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Style Breach Detection & Author Obfuscation</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>16:15-16:25</td>
                    <td>Overview of the Author Identification Task at PAN-2017: <b>Style Breach Detection</b> and Author
                        Clustering<br/><i>Michael Tschuggnall, Efstathios Stamatatos, Ben Verhoeven, Walter Daelemans,
                            Günther Specht, Benno Stein, Martin Potthast</i>
                    <td>
                </tr>
                <tr>
                    <td>16:25-16:45</td>
                    <td>OPI-JSA at CLEF 2017: Author Clustering and Style Breach Detection<br/><i>Daniel Karaś, Martyna
                        Śpiewak, and Piotr Sobecki</i></td>
                </tr>
                <tr>
                    <td>16:45-17:05</td>
                    <td>Overview of the Author Obfuscation Task at PAN 2017: Safety Evaluation Revisited<br/><i>Matthias
                        Hagen, Martin Potthast, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>17:05-17:25</td>
                    <td>Author Masking using Sequence-to-Sequence Models<br/><i>Oleg Bakhteev, Andrey Khazov</i></td>
                </tr>
                <tr>
                    <td>17:25</td>
                    <td>Discussion & Closing
                </tr>
                <tr>
                    <td>19:00-22:00</td>
                    <td>Conference Dinner</td>
                </tr>
                </tbody>
            </table>
            <!--<p><a class="btn btn-default" href="http://clef2017.clef-initiative.eu/index.php?page=Pages/programme.html">View-->
            <!--conference program »</a></p>-->
        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2017 %}
        </div>
    </footer>
</main>
