---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2023 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
description: PAN at CLEF 2023 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Profiling Cryptocurrency Influencers with Few-shot Learning 2023</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <div>
            <h1 class="uk-margin-remove-top">Profiling Cryptocurrency Influencers with Few-shot Learning 2023</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>-->
                <!--   <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://pan.webis.de/clef22/pan22-web/index.html#index-important-dates">Important dates</a></li>
               <!--  <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://docs.google.com/forms/d/e/1FAIpQLSeSe4WicydfYCtKdYcDsFaPDmgtYuLwvXa63rmx248nxJhOyg/viewform">Register</a></li>-->
            </ul>
            </div>
            <div style="position:absolute;right:50px; top: 300px;">
                <b>Sponsored by</b><br/>
                <a href="https://www.symanto.com/" target="_blank">
                    <img src="../pan23-figures/logo-symanto-psychology-ai.png" style="width: 200px" alt="Symanto Research">
                </a>
            </div>
        </div>
        

        <div class="uk-container uk-margin-medium">
            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a Twitter timeline, determine the users attributes, interest, and intent.</li>
                <li>Input: tba.</li>
                <li>Evaluation: tba.</li>
                <li>Submission: TIRA.</li>
                <li>Baselines: tba.</li>
            </ul>
            
            <h2 id="task">Task</h2>
            Data annotation for Natural Language Processing (NLP) is a challenging task. Aspects such as the economic and temporal cost, 
            the psychological and linguistic expertise needed by the annotator, and the congenital subjectivity involved in the annotation task, 
            makes it difficult to obtain large amounts of high quality data [1, 2].<br>            
            Cryptocurrencies have massively increased their popularity in recent years [3]. 
            Aspects such as not being reliant on any central authority, the possibilities offered by the different projects, and the new gold rush, 
            spread mainly by influencers, make this a very trendy topic in social media. However, in a real environment where, for instance, 
            traders may want to leverage social media signals to forecast the market, data collection is a challenge and real-time profiling needs 
            to be done in a few milliseconds, which implies to process as little data as possible.


            <h2 id="related-work">Related Work</h2>
            <ul>
                  <li>
                    [1]  Victoria Bobicev, Marina Sokolova. <a href="" target="_blank"> Inter-annotator agreement in sentiment analysis: Machine learning perspective.</a>
                       In: INCOMA Ltd, 2017
                  </li>        
                
                 <li>                    
                    [2] Enrica Troiano, Sebastian Pad{\'o}, Roman Klinger. 
                    <a href="" target="_blank"> Emotion ratings: How intensity, annotation confidence and agreements are entangled.</a>
                    In: arXiv preprint arXiv:2103.01667. 2021
                </li>
                
                <li>                    
                    [3] Ramit Sawhney, Shivam Agarwal, Vivek Mittal, Paolo Rosso, Vikram Nanda, Sudheer Chava. 
                    <a href="" target="_blank">Cryptocurrency Bubble Detection: A New Stock Market Dataset, Financial Task \& Hyperbolic Models</a>
                    In: NAACL, 2022
                </li>
                
                <li>                    
                    [1] Francisco Rangel, Gretel Liz De La Peña Sarracén, Berta Chulvi, Elisabetta Fersini, Paolo Rosso. 
                    <a href="" target="_blank"> Profiling Hate Speech Spreaders on Twitter Task at PAN 2021.</a>
                    In: Faggioli, G., Ferro, N., Joly, A., Maistro, M., Piroi, F. (eds.) 
                    CLEF 2021 Labs and Workshops, Notebook Papers, CEUR-WS.org, vol. 2936, pp. 1772-1789
                </li>
                
                <li>
                    [2] Francisco Rangel, Anastasia Giachanou, Bilal Ghanem, Paolo Rosso. 
                    <a href="http://ceur-ws.org/Vol-2696/paper_267.pdf" target="_blank"> Overview of the 8th Author Profiling Task at PAN 2020: Profiling Fake News Spreaders on Twitter.
                    </a> In: L. Cappellato, C. Eickhoff, N. Ferro, and A. Névéol (eds.) 
                    CLEF 2020 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.CEUR-WS.org, vol. 2696
                </li>
                <li>[3] Francisco Rangel and Paolo Rosso.
                    <a href="http://ceur-ws.org/Vol-2380/paper_263.pdf" target="_blank">
                    Overview of the 7th Author Profiling Task at PAN 2019: Bots and Gender Profiling in Twitter.</a>
                    In: L. Cappellato, N. Ferro, D. E. Losada and H. Müller (eds.) 
                    CLEF 2019 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.CEUR-WS.org, vol. 2380
                </li>
                <li>[4] Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-2125/invited_paper_15.pdf" target="_blank">Overview of the 6th author profiling task at pan 2018: multimodal gender identification in
                        Twitter.</a>
                    In: CLEF 2018 Labs and Workshops, Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 2125.
                </li>
                <li>[5] Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-1866/invited_paper_11.pdf" target="_blank">Overview of
                        the 5th
                        Author Profiling Task at PAN 2017: Gender and Language Variety Identification in
                        Twitter.</a>
                    In: Cappellato L., Ferro N., Goeuriot L, Mandl T. (Eds.) CLEF 2017 Labs and Workshops,
                    Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 1866.
                </li>
                <li>[6] Francisco Rangel, Paolo Rosso, Ben Verhoeven, Walter Daelemans, Martin Pottast, Benno
                    Stein.
                    <a href="http://ceur-ws.org/Vol-1609/16090750.pdf" target="_blank">Overview of the 4th
                        Author
                        Profiling Task at PAN 2016: Cross-Genre Evaluations.</a> In: Balog K., Capellato L.,
                    Ferro N.,
                    Macdonald C. (Eds.) CLEF 2016 Labs and Workshops, Notebook Papers. CEUR Workshop
                    Proceedings.
                    CEUR-WS.org, vol. 1609, pp. 750-784
                </li>
                <li>[7] Francisco Rangel, Fabio Celli, Paolo Rosso, Martin Pottast, Benno Stein, Walter
                    Daelemans.
                    <a href="http://personales.upv.es/prosso/resources/RangelEtAl_PAN15.pdf"
                       target="_blank">Overview of the 3rd Author Profiling Task at PAN 2015.</a>In: Linda
                    Cappelato and Nicola Ferro and Gareth Jones and Eric San Juan (Eds.): CLEF 2015 Labs and
                    Workshops, Notebook Papers, 8-11 September, Toulouse, France. CEUR Workshop Proceedings.
                    ISSN
                    1613-0073, http://ceur-ws.org/Vol-1391/,2015.
                </li>
                <li>[8] Francisco Rangel, Paolo Rosso, Irina Chugur, Martin Potthast, Martin Trenkmann, Benno
                    Stein, Ben
                    Verhoeven, Walter Daelemans.
                    <a href="http://ceur-ws.org/Vol-1180/CLEF2014wn-Pan-RangelEt2014.pdf" target="_blank">Overview
                        of the 2nd Author Profiling Task at PAN 2014.</a> In: Cappellato L., Ferro N.,
                    Halvey M.,
                    Kraaij W. (Eds.) CLEF 2014 Labs and Workshops, Notebook Papers. CEUR-WS.org, vol. 1180,
                    pp.
                    898-827.
                </li>
                <li>[9] Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstatios Stamatatos, Giacomo Inches.
                    <a href="http://ceur-ws.org/Vol-1179/CLEF2013wn-PAN-RangelEt2013.pdf" target="_blank">Overview
                        of the Author Profiling Task at PAN 2013.</a> In: Forner P., Navigli R., Tufis D.
                    (Eds.)Notebook
                    Papers of CLEF 2013 LABs and Workshops. CEUR-WS.org, vol. 1179
                </li>
                <li>[10] Francisco Rangel and Paolo Rosso
                    <a href="https://ojs.letras.up.pt/ojs/index.php/LLLD/article/download/6119/5761" target="_blank">
                        On the Implications of the General Data Protection Regulation on the Organisation of Evaluation Tasks.
                    </a>
                    In: Language and Law / Linguagem e Direito, Vol. 5(2), pp. 80-102
                </li>
                <li>[11] Francisco Rangel, Marc Franco-Salvador, Paolo Rosso
                    <a href="https://arxiv.org/abs/1705.10754" target="_blank">A Low Dimensionality Representation for Language Variety Identification. </a>
                    In: Postproc. 17th Int. Conf. on Comput. Linguistics and Intelligent Text Processing, 
                    CICLing-2016, Springer-Verlag, Revised Selected Papers, Part II, LNCS(9624), pp. 156-169 (arXiv:1705.10754)
                </li>
                               
            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rangel.html %}
                {% include people-cards/chinearios.html %}
                {% include people-cards/francosalvador.html %}
                {% include people-cards/rosso.html %}
            </div>                                                                                                   
                                                                                             
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2023 %}
            </div>
<!--            <div class="uk-container uk-padding-large uk-padding-remove-bottom" style="text-align:center;">-->
<!--                <a href="https://digforasp.uca.es/" target="_blank">-->
<!--                    <img src="../pan21-figures/DIGforASP.jpg" style="width: 200px" alt="Digital Forensics Evidence Analysis via Intelligent Systems and Practices">-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</main> 
