---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2023 - Authorship Verification
description: PAN at CLEF 2023 - Authorship Verification
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Cross-Discourse Type Authorship Verification 2023</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Cross-Discourse Type Authorship Verification 2023</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given two texts from written and oral Discourse Types (DT), determine if they are written by the same author.</li>
                <li>Input: tba.</li>
                <li>Evaluation: tba.</li>
                <li>Submission: TIRA</li>
                <li>Baseline: tba.</li>
            </ul>

            <h2 id="task">Task</h2>
            Details of this task will be announced soon.


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>
                    Mike Kestemont, Efstathios Stamatatos, Enrique Manjavacas, Janek Bevendorff, Martin Potthast, and Benno Stein, <a href="https://pan.webis.de/downloads/publications/papers/kestemont_2021.pdf">Overview of the Cross-Domain Authorship Verification Task at PAN 2021</a>. Working notes of CLEF 2021 - Conference and Labs of the Evaluation Forum.
                </li>
                <li>
                    Mike Kestemont, Enrique Manjavacas, Ilia Markov, Janek Bevendorff, Matti Wiegmann, Efstathios Stamatatos, Martin Potthast & Benno Stein, <a href="http://ceur-ws.org/Vol-2125/invited_paper_2.pdf">Overview of the Cross-Domain Authorship Verification Task at PAN 2020</a>. Working notes of CLEF 2020 - Conference and Labs of the Evaluation Forum.
                </li>
		<li>
		    Efstathios Stamatatos. <a href="https://www.rcs.cic.ipn.mx/2016_123/Authorship%20Verification_%20A%20Review%20of%20Recent%20Advances.pdf">Authorship Verification: A Review of Recent Advances</a>. Research in Computer Science, 123, pp. 9-25, 2016.
		</li>
                <li>
                    Patrick Juola. <a href="http://portal.acm.org/citation.cfm?id=1373451">Authorship
                    Attribution</a>. In Foundations and Trends in Information Retrieval, Volume 1, Issue 3, 2008.
                </li>
                <li>
                    Moshe Koppel, Jonathan Schler, and Shlomo Argamon. <a
                        href="http://onlinelibrary.wiley.com/doi/10.1002/asi.20961/full">Computational Methods
                    Authorship Attribution</a>. Journal of the American Society for Information Science and
                    Technology, Volume 60, Issue 1, pages 9-26, 2009.
                </li>
                <li>
                    Efstathios Stamatatos. <a href="http://onlinelibrary.wiley.com/doi/10.1002/asi.21001/full">A
                    Survey of Modern Authorship Attribution Methods</a>.
                    Journal of the American Society for Information Science and Technology, Volume 60, Issue 3,
                    pages 538-556, 2009.
                </li>
                <li>
                    A. Peñas and A. Rodrigo. A Simple Measure to Assess Nonresponse. In Proc. of the 49th Annual Meeting of the Association for. Computational Linguistics, Vol. 1, pages 1415-1424, 2011.
                </li>
                <li>
                    Bevendorff et al. Generalizing Unmasking for Short Texts, Proceedings of NAACL, pages 654-659, 2019.
                </li>
		<li>
		    Kredens, K., Heini, A. and Pezik, P. 100 Idiolects - a corpus for research on individual variation across discourse types. Aston University: FoLD Repository, 2021.
		</li>
            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/stamatatos.html %}
                {% include people-cards/kredens.html %}
                {% include people-cards/pezik.html %}
                {% include people-cards/heini.html %} 
                {% include people-cards/kestemont.html %}
                {% include people-cards/bevendorff.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2023 %}
            </div>
        </div>
    </div>
</main>
