---
layout: default
nav_active: tasks
title: PAN @ CLEF 2020 - Profiling Fake News Spreaders on Twitter
description: PAN @ CLEF 2020 - Profiling Fake News Spreaders on Twitter
---


<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Profiling Fake News Spreaders on Twitter</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>-->
                <!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a Twitter feed, determine whether its author is keen to be a spreader of fake news.</li>
                <li>Input: [data]</li>
                <li>Output: [verifier]</li>
                <li>Evaluation: [code]</li>
                <li>Submission: [<a href="https://www.tira.io/task/author-profiling/">submit</a>]</li>
                <li>Baseline: [code]</li>
            </ul>
            
            <h2 id="task">Task</h2>
            <p> Fake news has become one of the main threats of our society. Although fake news is not a new phenomenon, 
                the exponential growth of social media has offered an easy platform for their fast propagation. 
                A great amount of fake news, and rumors are propagated in online social networks with the aim, usually, 
                to deceive users and formulate specific opinions. Users play a critical role in the creation and propagation 
                of fake news online by consuming and sharing articles with inaccurate information either intentionally or 
                unintentionally. To this end, in this task, we aim at identifying possible fake news spreaders on social media as 
                a first step towards preventing fake news from being propagated among online users.</p>
            
            <p> After having addressed several aspects of author profiling in social 
                media from 2013 to 2019 (bot detection, age and gender, also together
                with personality, gender and language variety, and gender from a 
                multimodality perspective), this year we aim at investigating whether
                the author of a Twitter feed is potentially a fake news spreader or
                real news spreader.</p>
            
            <p>As in previous years, we propose the task from a <b>multilingual</b> perspective:</p>

            <ul>
                <li>English</li>
                <li>Spanish</li>
            </ul>
             
            <b>NOTE:</b> Although we recommend to participate in both languages (English and Spanish), 
            it is possible to address the problem just for one language.
            
<h2 id="data">Data</h2>

<h3 class="uk-margin-small-top">Input</h3>
            The uncompressed dataset consists in a folder per language (en, es). Each folder contains:
            <ul>
                <li>A XML file per author (Twitter user) with 100 tweets. The name of the XML file
                    correspond to the unique author id.
                </li>
                <li>A truth.txt file with the list of authors and the ground truth.</li>
            </ul>
            The format of the XML files is:<br/>
            <pre class="prettyprint lang-xml" style="overflow-x: auto;">
    &lt;author lang="en"&gt;
        &lt;documents&gt;
            &lt;document&gt;Tweet 1 textual contents&lt;/document&gt;
            &lt;document&gt;Tweet 2 textual contents&lt;/document&gt;
            ...
        &lt;/documents&gt;
    &lt;/author&gt;
      </pre>

            The format of the truth.txt file is as follows. The first column corresponds to the author id. 
            The second column contains the truth for the fakeSpreader/realSpreader task.<br>
            <pre class="prettyprint lang-xml" style="overflow-x: auto;">
    b2d5748083d6fdffec6c2d68d4d4442d:::fakeSpreader
    2bed15d46872169dc7deaf8d2b43a56:::fakeSpreader
    8234ac5cca1aed3f9029277b2cb851b:::realSpreader
    5ccd228e21485568016b4ee82deb0d28:::fakeSpreader
    60d068f9cafb656431e62a6542de2dc0:::realSpreader
    ...
    </pre>

            <h3 class="uk-margin-small-top">Output</h3>
            <p>Your software must take as input the absolute path to an unpacked dataset, and has to output
                for each document of the dataset a corresponding XML file that looks like this:</p>
            <pre class="prettyprint lang-xml" style="overflow-x: auto;">
    &lt;author id="author-id"
        lang="en|es"
        type="realSpreader|fakeSpreader"
    /&gt;
                              </pre>
            <p>The naming of the output files is up to you. However, we recommend to use the author-id as
                filename and "xml" as extension.</p>
            <p><b>IMPORTANT!</b> Languages should not be mixed. A folder should be created for each language
                and place inside only the files with the prediction for this language. </p>
       
            <h2 id="evaluation">Evaluation</h2>
            The performance of your system will be ranked by accuracy. 
            For each language, we will calculate individual accuracies of identifying fake vs. real news spreaders. 
            Finally, we will average the accuracy values per language to obtain the final ranking.
    
             <h2 id="related-work">Related Work</h2>
            <ul>
                
                <li>Chiyu Cai, Linking Li, Daniel Zeng.
                    <a href="https://ieeexplore.ieee.org/abstract/document/8004887/" target="_blank">
                        Behaviour Enhanced Deep Bot Detection in Social Media.
                    </a>
                    Intelligence and Security Informatics (ISI). 2017 IEEE International Conference, pp.
                    128-130 (2017)
                </li>
                
                  <li>John P. Dickerson, Vadim Kagan, V.S. Subrahmanian.
                    <a href="https://dl.acm.org/citation.cfm?id=3191957" target="_blank">
                        Using Sentiment to Detect Bots on Twitter: Are Humans more Opionated than Bots?
                    </a>
                    Proceedings of the 2014 IEEE/ACM International Conference on Advances in Social Networks
                    Analysis and Mining, pp. 620-627. IEEE Press. (2014)
                </li>
                
                <li>Gouzhu Dong and Huan Liu.
                    <a href="https://www.taylorfrancis.com/books/9781351721271" target="_blank">
                        Feature Engineering for Machine Learning and Data Analytics.
                    </a>
                    CRC Press (2018). Chapter 12. Feature Engineering for Social Bot Detection.
                    Onur Varol, Clayton A. Davis, Filippo Menczer, Alessandro Flammini.

                </li>
                
             <li>Emilio Ferrara, Onur Varol, Filippo Menczer, Alessandro Flammini.
                    <a href="http://www.aaai.org/ocs/index.php/ICWSM/ICWSM16/paper/download/13034/12789"
                       target="_blank">
                        Detection of Promoted Social Media Campaigns.
                    </a>
                    The 10th International AAAI Conference on Web and Social Media - ICWSM, pp. 563-566
                    (2016)
                </li>
                
                <li>Bilal Ghanem, Paolo Rosso, Francisco Rangel.
                    <a href="https://arxiv.org/abs/1908.09951" target="_blank">
                    An Emotional Analysis of False Information in Social Media and News Articles.
                    </a> arXiv preprint arXiv:1908.09951 (2019). ACM Transactions on Internet Technology (TOIT). In Press.
                </li>
                
                <li>Anastasia Giachanou, Paolo Rosso, Fabio Crestani.
                    <a href="https://dl.acm.org/doi/10.1145/3331184.3331285" target="_blank">
                    Leveraging Emotional Signals for Credibility Detection.
                    </a> Proceedings of the 42nd International ACM Conference on Research and 
                    Development in Information Retrieval (SIGIR). pp 877–880. (2019)
                </li>
                
                 <li>Andre Guess, Jonathan Nagler, and Joshua Tucker.
                    <a href="http://advances.sciencemag.org/content/5/1/eaau4586.abstract" target="_blank">
                        Less than you think: Prevalence and predictors of fake news dissemination on
                        Facebook.</a>
                    Science Advances vol. 5 (2019)
                </li>
                
                
                <li>Andrew Hall, Loren Terveen, Aaron Halfaker.
                    <a href="https://dl.acm.org/citation.cfm?id=3274333" target="_blank">
                        Bot Detection in Wikidata Using Behavioral and Other Informal Cues.
                    </a>
                    Proceedings of the ACM on Human-Computer Interaction. 2018 Nov 1;2(CSCW):64.
                </li>
                
                <li>
                    Kashyap Popat, Subhabrata Mukherjee, Andrew Yates, Gerhard Weikum.
                    <a href="https://www.aclweb.org/anthology/D18-1003/" target="_blank">
                        DeClarE: Debunking Fake News and False Claims using Evidence-Aware Deep Learning.
                    </a>
                    Proceedings of the 2018 Conference on Empirical Methods in Natural Language Processing (EMNLP). pp 22-32. (2018)
                </li>
                

                
                <li>Francisco Rangel and Paolo Rosso.
                    <a href="http://ceur-ws.org/Vol-2380/paper_263.pdf" target="_blank">
                        Overview of the 7th Author Profiling Task at PAN 2019: Bots and Gender Profiling in Twitter.
                    </a>
                    In: L. Cappellato, N. Ferro, D. E. Losada and H. Müller (eds.) 
                    CLEF 2019 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.CEUR-WS.org, vol. 2380
                </li>
                
                <li>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-2125/invited_paper_15.pdf" target="_blank">Overview of
                        the 6th author profiling task at pan 2018: multimodal gender identification in
                        Twitter.</a>
                    In: CLEF 2018 Labs and Workshops, Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 2125.
                </li>
                
                <li>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-1866/invited_paper_11.pdf" target="_blank">Overview of
                        the 5th
                        Author Profiling Task at PAN 2017: Gender and Language Variety Identification in
                        Twitter.</a>
                    In: Cappellato L., Ferro N., Goeuriot L, Mandl T. (Eds.) CLEF 2017 Labs and Workshops,
                    Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 1866.
                </li>
                
                <li>Francisco Rangel, Paolo Rosso, Ben Verhoeven, Walter Daelemans, Martin Pottast, Benno
                    Stein.
                    <a href="http://ceur-ws.org/Vol-1609/16090750.pdf" target="_blank">Overview of the 4th
                        Author
                        Profiling Task at PAN 2016: Cross-Genre Evaluations.</a> In: Balog K., Capellato L.,
                    Ferro N.,
                    Macdonald C. (Eds.) CLEF 2016 Labs and Workshops, Notebook Papers. CEUR Workshop
                    Proceedings.
                    CEUR-WS.org, vol. 1609, pp. 750-784
                </li>
                
                <li>Francisco Rangel, Fabio Celli, Paolo Rosso, Martin Pottast, Benno Stein, Walter
                    Daelemans.
                    <a href="https://github.com/autoritas/RD-Lab/blob/master/doc/papers/2015%20-%20PAN/pan15-ap-overview.pdf"
                       target="_blank">Overview of the 3rd Author Profiling Task at PAN 2015.</a>In: Linda
                    Cappelato and Nicola Ferro and Gareth Jones and Eric San Juan (Eds.): CLEF 2015 Labs and
                    Workshops, Notebook Papers, 8-11 September, Toulouse, France. CEUR Workshop Proceedings.
                    ISSN
                    1613-0073, http://ceur-ws.org/Vol-1391/,2015.
                </li>
                
                <li>Francisco Rangel, Paolo Rosso, Irina Chugur, Martin Potthast, Martin Trenkmann, Benno
                    Stein, Ben
                    Verhoeven, Walter Daelemans.
                    <a href="http://ceur-ws.org/Vol-1180/CLEF2014wn-Pan-RangelEt2014.pdf" target="_blank">Overview
                        of the 2nd Author Profiling Task at PAN 2014.</a> In: Cappellato L., Ferro N.,
                    Halvey M.,
                    Kraaij W. (Eds.) CLEF 2014 Labs and Workshops, Notebook Papers. CEUR-WS.org, vol. 1180,
                    pp.
                    898-827.
                </li>
                
                <li>Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstatios Stamatatos, Giacomo Inches.
                    <a href="http://ceur-ws.org/Vol-1179/CLEF2013wn-PAN-RangelEt2013.pdf" target="_blank">Overview
                        of the Author Profiling Task at PAN 2013.</a> In: Forner P., Navigli R., Tufis D.
                    (Eds.)Notebook
                    Papers of CLEF 2013 LABs and Workshops. CEUR-WS.org, vol. 1179
                </li>
                
                <li>Francisco Rangel and Paolo Rosso
                    <a href="https://ojs.letras.up.pt/ojs/index.php/LLLD/article/download/6119/5761" target="_blank">
                        On the Implications of the General Data Protection Regulation on the Organisation of Evaluation Tasks.
                    </a>
                    In: Language and Law / Linguagem e Direito, Vol. 5(2), pp. 80-102
                </li>
                
                                <li>
                    Kai Shu, Suhang Wang, and Huan Liu.
                    <a href="http://www.public.asu.edu/~skai2/papers/fake_news_user.pdf" target="_blank">
                        Understanding user profiles on social media for fake news detection.
                    </a>
                    Proceedings of the IEEE Conference on Multimedia Information Processing and Retrieval (MIPR), pp. 430--435
                    (2018)
                </li>
                
                 <li>
                    Kai Shu, Amy Sliva, Suhang Wang, Jiliang Tang, and Huan Liu.
                    <a href="https://dl.acm.org/doi/10.1145/3137597.3137600" target="_blank">
                        Fake News Detection on Social Media: A Data Mining Perspective.
                    </a>
                    ACM SIGKDD Explorations Newsletter. (2017)
                </li>
                
                <li>
                    Mariona Taulé, M. Antonia Martí, Francisco Rangel, Paolo Rosso, Cistina Bosco, and
                    Viviana Patti.
                    <a href="https://iris.unito.it/bitstream/2318/1652739/1/Overview5.pdf" target="_blank">
                        Overview of the task on stance and gender detection in tweets on Catalan
                        independence at IberEval 2017.
                    </a>
                    In: 2nd Workshop on Evaluation of Human Language Technologies for Iberian Languages,
                    IberEval 2017.
                    CEUR Workshop Proceedings. CEUR-WS.org, vol. 1881.
                </li>
                
            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rangel.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/ghanem.html %}
                {% include people-cards/giachanou.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2020 %}
            </div>
        </div>
    </div>
</main>
