---
layout: default
nav_active: tasks
title: PAN @ CLEF 2020 - Celebrity Profiling
description: PAN @ CLEF 2020 - Celebrity Profiling
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Celebrity Profiling 2020</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given the Twitter feeds of the followers, determine the occupation, age, and gender of a celebrity.</li>
                <li>Input: [data]</li>
                <li>Output: [example] [schema] [verifier]</li>
                <li>Evaluation: [code]</li>
                <li>Submission: [<a href="https://www.tira.io/task/celebrity-profiling/">submit</a>]</li>
                <li>Baseline: [code]</li>
            </ul>

            Details will be announced later.
           <h2 id="related-work">Related Work</h2>
            <ul>
                <li>Matti Wiegmann, Benno Stein, Martin Potthast. <a href="https://webis.de/downloads/publications/papers/stein_2019n.pdf">
                        Celebrity Profiling</a>. Proceedings of the 57th Annual Meeting of the Association for Computational Linguistics (ACL 2019), July 2019. ACL.</li>
                <li>Matti Wiegmann, Benno Stein, Martin Potthast. <a href="https://pan.webis.de/downloads/publications/papers/wiegmann_2019.pdf">
                        Overview of the Celebrity Profiling Task at PAN 2019</a>. CLEF 2019 Labs and Workshops, Notebook Papers, September 2019. CEUR-WS.org. </li>
            </ul>
            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/wiegmann.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/potthast.html %}
            </div>
            {% include organizations/clef-organizations-section.html year=2020 %}
        </div>
    </div>
</main>

<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
