---
layout: default
nav_active: tasks
title: PAN @ CLEF 2020
description: PAN @ CLEF 2020
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2020</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-sponsors">Sponsors</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/shared-tasks.html#celebrity-profiling' | relative_url }}">Celebrity Profiling: Influencer Edition</a></li>
                <li><a href="{{ '/shared-tasks.html#authorship-verification' | relative_url }}">Cross-Domain Authorship Verification</a></li>
                <li><a href="{{ '/shared-tasks.html#profiling-fake-news-spreaders-on-twitter' | relative_url }}">Profiling Fake News Spreaders on Twitter</a></li>
                <li><a href="{{ '/shared-tasks.html#style-change-detection' | relative_url }}">Style Change Detection</a></li>
            </ul>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li>March 18, 2020: Early bird software submission</li>
                <li>April 15, 2020: TIRA evaluation phase opens</li>
                <li>May 10, 2020: TIRA evaluation phase deadline</li>
                <li>May 24, 2020: Participant paper submission
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2020.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2020WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2020">submission</a>]
                </li>
                <li>June 14, 2020: Peer review notification</li>
                <li>June 28, 2020: Camera-ready participant papers submission</li>
                <li>TBD: Early bird conference registration</li>
                <li>September 22-25, 2020: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>

            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef20/pan20-figures/Anastasia-622WEB.jpg' | relative_url }}"
                                 alt="Anastasia Giachanou">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Misinformation Detection in Online Social Networks</div>
                            <div class="keynote-speaker"><a href="#" target="_blank">Anastasia Giachanou</a></div>
                            <div class="keynote-affiliation">PRHLT Research Center, Universitat Politècnica de València (UPV), Spain</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Misinformation is one of the most critical challenges of recent years.
                            Despite all the attempts, the automatic detection of misinformation
                            still remains an open problem. Although misinformation and fake news
                            exist for a long period of time, the ubiquitousness of social media
                            has facilitated their propagation with severe consequences for the
                            society. This talk will focus on the topic of misinformation
                            detection. First, I will introduce the concept and characteristics of
                            the different types of misinformation and disinformation such as fake
                            news, satire, rumours that go viral in online social networks. Then, I
                            will present some of the most recent detection approaches with a
                            particular focus on approaches that exploit psycho-linguistic
                            information (i.e., emotion, sentiment, informal language). Also, I
                            will present approaches that exploit information extracted from user
                            profiles and user interactions. Finally, I will discuss challenges and
                            open issues in the field of misinformation detection.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Anastasia Giachanou is a Research Fellow at the Pattern Recognition
                                    and Human Language Technologies (PRHLT) Research Center at the
                                    Universitat Politècnica de València (UPV) and a member of the Natural
                                    Language Engineering Lab headed by Prof. Paolo Rosso. She received her
                                    PhD from the Faculty of Informatics at the University of Lugano, in
                                    Switzerland working on the topic of “Tracking Opinion Evolution on
                                    Social Media”. Her research interests include fake news detection,
                                    credibility in news, bot detection, sentiment and emotion analysis,
                                    temporal opinion mining and information retrieval. She serves on the
                                    editorial board of Information Processing & Management Journal and as
                                    a PC member for well-established conferences such as SIGIR, ECIR,
                                    CIKM, and ECAI. She is a recipient of an Swiss National Foundation
                                    (SNF) early post-doc grant on the project "Early Detection of Fake
                                    News on Social Media".</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>

                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef20/pan20-figures/juliogonzalo_400x400.jpg' | relative_url }}"
                                 alt="Julio Gonzalo">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Bias in Information</div>
                            <div class="keynote-speaker"><a href="#" target="_blank">Julio Gonzalo</a></div>
                            <div class="keynote-affiliation">Natural Language Processing and Information Retrieval Group, UNED, Spain</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>tba.</p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>tba.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>

            <h2 id="index-program">Program</h2>
            The workshop program will be announced closer to the conference.

<!--            <h2 id="index-sponsors">Sponsors</h2>-->
<!--            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">-->
<!--                <div>-->
<!--                    <div class="uk-card uk-card-default uk-card-body">-->
<!--                        <a href="https://www.symanto.net/" target="_blank" class="uk-link-reset">-->
<!--                            <div class="thumbnail-fill">-->
<!--                                <img src="../pan19-figures/Symanto-PsychologyAI.png" alt="Symanto">-->
<!--                            </div>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2020 %}
            </div>
        </div>
    </div>
</main>
