---
layout: default
nav_active: tasks
title: PAN @ CLEF 2020
description: PAN @ CLEF 2020
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2020</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-sponsors">Sponsors</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/clef20/pan20-web/celebrity-profiling.html' | relative_url }}">Celebrity Profiling: Influencer Edition</a></li>
                <li><a href="{{ '/clef20/pan20-web/author-identification.html' | relative_url }}">Cross-Domain Authorship Verification</a></li>
                <li><a href="{{ '/clef20/pan20-web/author-profiling.html' | relative_url }}">Profiling Fake News Spreaders on Twitter</a></li>
                <li><a href="{{ '/clef20/pan20-web/style-change-detection.html' | relative_url }}">Style Change Detection</a></li>
            </ul>

            <h2 id="index-important-dates uk-margin-large-top">Important Dates</h2>
            <ul>
                <li>March 18, 2020: Early bird software submission</li>
                <li>April 15, 2020: TIRA evaluation phase opens</li>
                <li>May 13, 2020: TIRA evaluation phase deadline</li>
                <li>May 29, 2020: Participant paper submission
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2020.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2020WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2020">submission</a>]
                </li>
                <li>TBD: Peer review notification</li>
                <li>TBD: Camery-ready participant papers submission</li>
                <li>TBD: Early bird conference registration</li>
                <li>September 22-25, 2020: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>

            <h2 id="index-keynotes">Keynotes</h2>
            The keynotes will be announced later.

            <h2 id="index-program">Program</h2>
            The workshop program will be announced closer to the conference.

            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2019 %}
            </div>
        </div>
    </div>
</main>