<div>
    {% if include.url %}
    <a class="uk-button uk-button-primary uk-align-right@s" href="{{ include.url }}" target="_blank">Register now!</a>
    {% else %}
        {% if include.year == 2019 %}
    <a class="uk-button uk-button-primary uk-align-right@s"
       href="https://docs.google.com/forms/d/e/1FAIpQLSfR_xoBuGU3q7o3EYPoItN28UPuZENjs3wlWYEX_EdRGUyRfA/viewform"
       target="_blank">
        Register now!
    </a>
        {% else %}
    <a class="uk-button uk-button-primary uk-align-right@s"
       href="{{ '/clef19/pan19-web/index.html' | relative_url }}">
        PAN 2019 now live!
    </a>
        {% endif %}
    {% endif %}
</div>
