{% if include.year == 2019 %}
<span class="registrations{% if include.class %} {{ include.class }}{% endif %}">
    <span id="registration-counter">0</span> already signed up
</span>
{% raw %}<script>
    // update the registration statistics.
    let counterElement = $("#registration-counter");

    $.ajax({
        url: "{% endraw %}{{ include.url }}{% raw %}",
        cache: false,
        dataType: "json"
    }).done((json) => {
        {% endraw %}{% if include.apiVersion == "v4" %}{% raw %}
        counterElement.prop('registrationCount', 0).animate({
            registrationCount: json.values[0][0]
        }, {
            duration: 1200,
            step: (value) => {
                counterElement.text(Math.ceil(value));
            }
        });

        {% endraw %}{% elsif include.apiVersion == "v3" %}{% raw %}

        $(json["feed"]["entry"]).each(function () {
            if (this["title"]["$t"] === "A1") {
                counterElement.prop('registrationCount', 0).animate({
                    registrationCount: this["content"]["$t"]
                }, {
                    duration: 1200,
                    step: (value) => {
                        counterElement.text(Math.ceil(value));
                    }
                });
            }
        });

        {% endraw %}{% endif %}{% raw %}
    });
</script>{% endraw %}
{% else %}
    PAN Workshop Overview {{ include.year }} @ CLEF
{% endif %}
