---
layout: default
nav_active: tasks
title: PAN at CLEF 2014 - Author Profiling
description: PAN at CLEF 2014 - Author Profiling
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Author Profiling 2014</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#introduction">Introduction</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#input">Input</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#output">Output</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#sponsor">Sponsor</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>
        <div class="uk-container uk-margin-medium">
            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a document, what're its author's traits?</li>
                <li>Input: [<a href="{{ '../../data.html#pan14-author-profiling' | relative_url }}">data</a>]</li>
                <li>Twitter Downloader: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef14/author-profiling" target="_blank">code</a>]</li>
                <li>Output Validator: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef14/" target="_blank">code</a>]</li>
                <li>Submission: [<a href="https://www.tira.io/task/author-profiling/">submit</a>]</li>
            </ul>

            <h2 id="introduction">Introduction</h2>
            <p>Authorship analysis deals with the classification of texts into classes based on the stylistic choices of
            their authors. Beyond the author identification and author verification tasks where the style of
            individual authors is examined, author profiling distinguishes between classes of authors studying their
            sociolect aspect, that is, how language is shared by people. This helps in identifying profiling aspects
            such as gender, age, native language, or personality type. Author profiling is a problem of growing
            importance in applications in forensics, security, and marketing. E.g., from a forensic linguistics
            perspective one would like being able to know the linguistic profile of the author of a harassing text
            message (language used by a certain type of people) and identify certain characteristics (language as
            evidence). Similarly, from a marketing viewpoint, companies may be interested in knowing, on the basis
            of the analysis of blogs and online product reviews, the demographics of people that like or dislike
            their products. The focus is on author profiling in social media since we are mainly interested in
            everyday language and how it reflects basic social and personality processes.</p>

            <h2 id="task">Task</h2>
            <p><b>Note.</b> Besides, at <a href="http://nlp.uned.es/replab2014/" target="_blank">RepLab 2014</a> author
            profiling will be approached from the online reputation monitoring perspective. Given a large number of
            Twitter profiles with 600 associated tweets each, participants will be asked to classify the author of a
            set of tweets as journalist, politician, activist, professional, client, company, authority or citizen,
            since the fact of belonging to a certain category could determine the importance of the user's opinions.
            The dataset will contain English and Spanish tweets related to the banking and automotive domains.</p>

            <h2 id="award">Award</h2>
            <p>We are happy to announce that the best performing team at the 2rd International Competition on Author
                Profiling will be awarded 300,- Euro sponsored by <a href="http://www.atribus.com/?lang=en"
                                                                     target="_blank">Atribus (Corex)</a>.</p>
            <ul><li>
            A. Pastor López-Monroy, Manuel Montes-y-Gómez, Hugo Jair Escalante, and Luis Villaseñor-Pineda from INAOE, Mexico
            </li></ul>
            <p>Congratulations!</p>

            <h2 id="input">Input</h2>
            <p>To develop your software for age and gender identification, we provide you with a training data set that
                consists of blog posts, Twitter tweets and social media texts written in both English and Spanish as
                well as hotel reviews written in English. With regard to age, we will consider the following classes:
                18-24, 25-34, 35-49, 50-64, 65-xx.</p>
            <p><b>Remark.</b> Due to Twitter's privacy policy we cannot provide tweets directly, but only URLs referring
                to them. You will have to download them yourself. For your convenience, we provide a download software
                for this. We expect participants to extract gender and age information only from the textual part of a
                tweet and to discard any other meta information that may be provided by Twitter's API. When we evaluate
                your software at our site, we do not expect it downloads tweets. We will do this beforehand.</p>
            <p>Once you finished tuning your approach to achieve satisfying performance on the training corpus, you
                should run your software on the test corpus.
                During the competition, the test corpus will not be released publicly. Instead, we ask you to submit your
                software for evaluation at our site as described below.
                After the competition, the test corpus is available including ground truth data. This way, you have all
                the necessities to evaluate your approach on your own, yet being comparable to those who took part in
                the competition.</p>

            <h2 id="output">Output</h2>
            <p>Your software must take as input the absolute path to an unpacked dataset, and has to output for each
                document of the dataset a corresponding XML file that looks like this:</p>
            <pre class="prettyprint lang-xml">
&lt;author id="{author-id}"
  type="blog|twitter|socialmedia|reviews"
  lang="en|es"
  age_group="18-24|25-34|35-49|50-64|65-xx"
  gender="male|female"
/&gt;
</pre>
            <p>The naming of the output files is up to you, we recommend to use the author-id as filename and "xml" as
            extension. The output files have to be written either directly to the working directory (to "..) or to a
            subfolder. The author-id has to be extracted from each document's filename which follows the pattern
            &lt;authorid&gt;_&lt;lang&gt;_&lt;age&gt;_&lt;gender&gt;.xml. Note that in the test corpus the age and
            gender information are replaced by "xxx".</p>

            <h2 id="evaluation">Evaluation</h2>
            <p>The performance of your author profiling solution will be ranked by accuracy.</p>

            <h2 id="results">Results</h2>
            <p>The following table lists the performances achieved by the participating teams:</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th colspan="2">Author profiling performance</th>
                </tr>
                <tr>
                    <th>Avg. Accuracy</th>
                    <th>Team</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0.2895</td>
                    <td>A. Pastor López-Monroy, Manuel Montes-y-Gómez, Hugo Jair Escalante, and Luis
                        Villaseñor-Pineda<br/>Instituto Nacional de Astrofísica, Óptica y Electrónica, Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.2802</td>
                    <td>Liau Yung Siang and Vrizlynn L. L. Thing<br/>Institute for Infocomm Research, Singapore</td>
                </tr>
                <tr>
                    <td>0.2760</td>
                    <td>Suraj Maharjan, Prasha Shrestha, and Thamar Solorio<br/>University of Alabama at Birmingham, USA
                    </td>
                </tr>
                <tr>
                    <td>0.2349</td>
                    <td>Edson R. D. Weren, Viviane P. Moreira, and José P. M. de Oliveira<br/>UFRGS, Brazil</td>
                </tr>
                <tr>
                    <td>0.2314</td>
                    <td>Julio Villena-Román and José Carlos González-Cristóbal<br/>DAEDALUS - Data, Decisions and
                        Language, S.A., Spain
                    </td>
                </tr>
                <tr>
                    <td>0.1998</td>
                    <td>James Marquardt°, Golnoosh Farnadi*, Gayathri Vasudevan°, Marie-Francine Moens*, Sergio
                        Davalos°, Ankur Teredesai°, Martine De Cock°<br/>°University of Washington Tacoma, USA,
                        *Katholieke Universiteit Leuven, Belgium
                    </td>
                </tr>
                <tr>
                    <td>0.1677</td>
                    <td>Christopher Ian Baker<br/>Private, UK</td>
                </tr>
                <tr>
                    <td>0.1404</td>
                    <td>Baseline</td>
                </tr>
                <tr>
                    <td>0.1067</td>
                    <td>Seifeddine Mechti, Maher Jaoua, and Lamia Hadrich Belguith<br/>University of Sfax, Tunisia</td>
                </tr>
                <tr>
                    <td>0.0946</td>
                    <td>Esteban Castillo Juarez°, Ofelia Delfina Cervantes Villagomez*, Darnes Vilariño Ayala*, David
                        Pinto Avendaño*, and Saul Leon Silverio*<br/>°Universidad de las Américas Puebla and *Benemérita
                        Universidad Autónoma de Puebla, Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.0834</td>
                    <td>Gilad Gressel, Hrudya P, Surendran K, Thara S, Aravind A, Prabaharan Poornachandran<br/>Amrita
                        University, India
                    </td>
                </tr>
                </tbody>
            </table>
            <p>A more detailed analysis of the detection performances can be found in the overview paper accompanying
                this task.</p>


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>
                    Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstathios Stamatatos, and Giacomo Inches.
                    <a href="https://www.uni-weimar.de/medien/webis/events/pan-13/pan13-papers-final/pan13-author-profiling/rangel13-overview.pdf">
                        Overview of the Author Profiling Task at PAN 2013</a>. Proceedings of PAN at CLEF 2013.
                </li>
                <li>
                    <a href="http://u.cs.biu.ac.il/~koppel/BlogCorpus.htm">The Blog Authorship Corpus</a>
                </li>
                <li>
                    S. Argamon, M. Koppel, J. Pennebaker and J. Schler (2009),
                    <a href="http://u.cs.biu.ac.il/~koppel/papers/AuthorshipProfiling-cacm-final.pdf">
                        Automatically profiling the author of an anonymous text</a>, Communications of the ACM 52 (2): 119–123.
                </li>
                <li>
                    J. Schler, Moshe Koppel, S. Argamon and J. Pennebaker (2006),
                    <a href="http://u.cs.biu.ac.il/~koppel/papers/springsymp-blogs-07.10.05-final.pdf">
                        Effects of Age and Gender on Blogging</a>,
                    in Proc. of AAAI Spring Symposium on Computational Approaches for Analyzing Weblogs, March 2006.
                </li>
                <li>
                    M.Koppel, S. Argamon and A. Shimoni (2003),
                    <a href="http://u.cs.biu.ac.il/~koppel/papers/male-female-llc-final.pdf">
                        Automatically categorizing written texts by author gender</a>,
                    Literary and Linguistic Computing 17(4), November 2002, pp. 401-412.
                </li>
                <li>
                    J. Pennebaker (2011). The secret life of pronouns: What our words say about us.
                    New York: Bloomsbury Publishing, 2011.
                </li>
            </ul>


            <h2 id="sponsor">Sponsor</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="http://www.corex.es/" target="_blank">
                            <img src="../pan14-figures/logo-corex.png" alt="Corex">
                        </a>
                    </div>
                </div>
            </div>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rosso.html %}
                {% include people-cards/rangel.html %}
                {% include people-cards/inches.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/daelemans.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/crestani.html %}
            </div>
            <h3>RepLab@PAN Task Committee</h3>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/gonzalo.html %}
                {% include people-cards/chugur.html %}
                {% include people-cards/carrillo-de-albornzo.html %}
                {% include people-cards/spina.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2014 %}
            </div>
        </div>
    </div>
</main>
