---
layout: default
nav_active: tasks
title: PAN at CLEF 2014
description: PAN at CLEF 2014
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2014</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ 'shared-tasks.html#author-profiling' | relative_url }}">Author Profiling</a></li>
                <li><a href="{{ 'shared-tasks.html#authorship-verification' | relative_url }}">Authorship Verification</a></li>
                <li><a href="{{ 'shared-tasks.html#source-retrieval' | relative_url }}">Source Retrieval</a></li>
                <li><a href="{{ 'shared-tasks.html#text-alignment' | relative_url }}">Text Alignment</a></li>
            </ul>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 1, 2014: Early bird software submission</li>
                <li> May 1, 2014: Final software submission</li>
                <li> May 24, 2014: TIRA evaluation phase deadline</li>
                <li> June 14, 2014: Paper submission:
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2014.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2014WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2014">submission</a>]
                </li>
                <li> July 26, 2014: Early bird conference registration</li>
                <li> September 14-18, 2014: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>

            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef14/pan14-figures/paul.jpg' | relative_url }}"
                                 alt="Paul Clough">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Proving Ownership: The Case of "Wag in a Bag"
                            </div>
                            <div class="keynote-speaker"><a
                                    href="http://ir.shef.ac.uk/cloughie/" target="_blank">Paul Clough</a></div>
                            <div class="keynote-affiliation">The University of Sheffield</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Recently I was asked to assist in a text attribution problem: the illegitimate reuse of text
                            (and images) from the web pages of a small business. When the offender was approached about
                            committing possible plagiarism their response was ?prove it?. This talk will describe how I
                            approached the problem of proving ownership and the challenges it entailed. I will describe
                            the experiences gained from working on the EPSRC-funded Measuring Text Reuse (METER) project
                            with the UK Press Association, along with the current text attribution literature, that
                            informed my textual analysis. I will also demonstrate how freely available resources can be
                            used to tackle this kind of problem. In the end was I successful: did the offender admit
                            their guilt? You?ll have to attend the talk to find out!
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Paul Clough is a Reader in Information Retrieval at the University of Sheffield. Paul
                                    joined the university in 1999 working as a Research Assistant in the Department of
                                    Computer Science in collaboration with the Journalism Department and the British
                                    Press Association on a project entitled ?Measuring Text Reuse?. Following various
                                    interests in NLP and Information Retrieval, Paul worked as a researcher on a range
                                    of projects until 2005 when he became a Lecturer in the Information School. Paul is
                                    now head of the Information Retrieval research group and coordinator for a new
                                    Masters programme in Data Science. He has continued teaching and researching various
                                    aspects of data management and information storage and retrieval. Paul has published
                                    over 100 peer-reviewed articles, including a co-authored Springer book on
                                    multilingual information retrieval.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef14/pan14-figures/fabio.jpg' | relative_url }}" alt="Fabio Celli">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Unsupervised Personality Recognition from Text: Possible Applications
                            </div>
                            <div class="keynote-speaker"><a href="http://personality.altervista.org/fabio.htm"
                                                            target="_blank">Fabio Celli</a></div>
                            <div class="keynote-affiliation">University of Trento</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Personality recognition from text consists in the automatic classification of authors'
                            personality traits from pieces of text they wrote. Classifier's predictions can be compared
                            against gold standard labels, obtained by means of personality assessments like the Big5
                            personality test. Until recently, the extraction of personality types was limited to blogs
                            and offline texts, while in recent years there is a strong interest in the scientific
                            community about the extraction of personality from various sources, such as online social
                            networks, speech and video. Current approaches to Personality Recognition are based on
                            supervised learning, but this has several limitations, for example the cost of data
                            annotation, the lack of domain adaptability and multilinguality. We present an unsupervised
                            method for personality recognition from text and some of its applications in Social network
                            analysis as well as in other NLP tasks.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>Fabio Celli, 1981, is a computational linguist and data miner. He got a degree in
                                    communication studies at the University of Urbino, in linguistics at the University
                                    of Bologna, and a PhD in cognitive science at the Center for Mind and Brain Sciences
                                    (CIMeC), University of Trento. He is one of the organizers of the Workshop on
                                    Computational Personality Recognition. His PhD thesis, Adaptive Personality
                                    Recognition from Text, has been published by Lambert Academic Publishing. He also
                                    loves contemporary art and electronic music.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>

            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the
                <a href="http://clef2014.clef-initiative.eu/index.php?page=Pages/conference_session.html">CLEF conference program</a>.
            </p>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <tbody>
                <tr>
                    <td colspan="2"><b>September 15</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>10:30-12:30</nobr>
                    </td>
                    <td><b>Conference papers: Session 1</b></td>
                </tr>
                <tr>
                    <td>15 min. talk</td>
                    <td>Supporting More-Like-This Information Needs: Finding Similar Web Content in Different
                        Scenarios<br/><i>Matthias Hagen and Christiane Glimm</i></td>
                </tr>
                <tr>
                    <td>12:30-13:30</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>
                        <nobr>13:30-15:00</nobr>
                    </td>
                    <td><b>Conference papers: Session 2</b></td>
                </tr>
                <tr>
                    <td>15 min. talk</td>
                    <td>Discovering Similar Passages Within Large Text Documents<br/><i>Demetrios Glinos</i></td>
                </tr>
                <tr>
                    <td>15:00-15:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td>
                        <nobr>15:30-18:00</nobr>
                    </td>
                    <td><b>Lab Overviews</b></td>
                </tr>
                <tr>
                    <td>15 min. talk</td>
                    <td>Improving the Reproducibility of PAN's Shared Tasks: Plagiarism Detection, Author
                        Identification, and Author Profiling<br/><i>Martin Potthast, Tim Gollub, Francisco Rangel, Paolo
                            Rosso, Efstathios Stamatatos, and Benno Stein</i></td>
                </tr>
                <tr>
                    <td>18:00-19:30</td>
                    <td><b>Joint Poster Session + Welcome Reception</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Winning Approach to Text Alignment for Text Reuse Detection at PAN 2014<br/><i>Miguel A.
                        Sanchez-Perez, Grigori Sidorov, Alexander Gelbukh</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Heterogeneous Queries for Synoptic and Phrasal Search<br/><i>Šimon Suchomel and Michal
                        Brandejs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using Intra-Profile Information for Author Profiling<br/><i>A. Pastor López-Monroy, Manuel
                        Montes-y-Gómez, Hugo Jair Escalante, and Luis Villaseñor-Pineda</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Simple Approach to Author Profiling in MapReduce<br/><i>Suraj Maharjan, Prasha Shrestha, and
                        Thamar Solorio</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Slightly-modified GI-based Author-verifier with Lots of Features (ASGALF)<br/><i>Mahmoud
                        Khonji and Youssef Iraqi</i></td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 16</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynote & Plagiarism Detection</b>, Chair: Benno Stein</td>
                </tr>
                <tr>
                    <td>10:30-11:30</td>
                    <td>Proving Ownership: The Case of "Wag in a Bag"<br/><i>Paul Clough</i></td>
                </tr>
                <tr>
                    <td>11:30-11:50</td>
                    <td>Overview of the 6th International Competition on Plagiarism Detection<br/><i>Martin Potthast,
                        Matthias Hagen, Anna Beyer, Matthias Busse, Martin Tippmann, Paolo Rosso, and Benno Stein</i>
                    </td>
                </tr>
                <tr>
                    <td>11:50-12:10</td>
                    <td>A Winning Approach to Text Alignment for Text Reuse Detection at PAN 2014<br/><i>Miguel A.
                        Sanchez-Perez, Grigori Sidorov, Alexander Gelbukh</i></td>
                </tr>
                <tr>
                    <td>12:10-12:30</td>
                    <td>Heterogeneous Queries for Synoptic and Phrasal Search<br><i>Šimon Suchomel and Michal
                        Brandejs</i></td>
                </tr>
                <tr>
                    <td>12:30-13:30</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynote & Author Profiling</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>13:30-14:30</td>
                    <td>Unsupervised Personality Recognition from Text: Possible Applications<br/><i>Fabio Celli</i>
                    </td>
                </tr>
                <tr>
                    <td>14:30-14:50</td>
                    <td>Overview of the 2nd Author Profiling Task at PAN 2014<br/><i>Francisco Rangel, Paolo Rosso,
                        Irina Chugur, Martin Potthast, Martin Trenkmann, Benno Stein, Ben Verhoeven, Walter
                        Daelemans</i></td>
                </tr>
                <tr>
                    <td>14:50-15:10</td>
                    <td>Using Intra-Profile Information for Author Profiling<br/><i>A. Pastor López-Monroy, Manuel
                        Montes-y-Gómez, Hugo Jair Escalante, and Luis Villaseñor-Pineda</i></td>
                </tr>
                <tr>
                    <td>15:10-15:30</td>
                    <td>A Simple Approach to Author Profiling in MapReduce<br/><i>Suraj Maharjan, Prasha Shrestha, and
                        Thamar Solorio</i></td>
                </tr>
                <tr>
                    <td>15:30</td>
                    <td>Award of appreciation for the overall best performing author profiling approach, sponsored by
                        Corex Atribus, Spain.
                    </td>
                </tr>
                <tr>
                    <td>15:30-16:00</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Identification</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>16:00-16:20</td>
                    <td>Overview of the Author Identification Task at PAN 2014<br/><i>Efstathios Stamatatos, Walter
                        Daelemans, Ben Verhoeven, Martin Potthast, Benno Stein, Patrick Juola, Miguel A. Sanchez-Perez,
                        and Alberto Barrón-Cedeño</i></td>
                </tr>
                <tr>
                    <td>16:20-16:40</td>
                    <td>A Slightly-modified GI-based Author-verifier with Lots of Features (ASGALF)<br/><i>Mahmoud
                        Khonji and Youssef Iraqi</i></td>
                </tr>
                <tr>
                    <td>16:40-17:00</td>
                    <td>Author Verification: Exploring a Large set of Parameters using a Genetic Algorithm<br/><i>Erwan
                        Moreau, Arun Jayapal, and Carl Vogel</i></td>
                </tr>
                <tr>
                    <td>17:00-18:00</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td>18:00-19:30</td>
                    <td><b>Poster Session</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Expanded N-Grams for Semantic Text Alignment<br/><i>Samira Abnar, Mostafa Dehghani, Hamed
                        Zamani, and Azadeh Shakery</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Evaluating Robustness for 'IPCRESS': Surrey's Text Alignment for Plagiarism Detection<br/><i>Lee
                        Gillam and Scott Notley</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Hashing and Merging Heuristics for Text Reuse Detection<br/><i>Faisal Alvi, Mark Stevenson, and
                        Paul Clough</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Hybrid Architecture for Plagiarism Detection<br/><i>Demetrios Glinos</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Developing High-Resolution Universal Multi-Type N-Gram Plagiarism Detector<br/><i>Yurii
                        Palkovskii and Alexei Belov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Plagiarism Alignment Detection by Merging Context Seeds<br/><i>Philipp Gross and Pashutan
                        Modaresi</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Winning Approach to Text Alignment for Text Reuse Detection at PAN 2014<br/><i>Miguel A.
                        Sanchez-Perez, Grigori Sidorov, Alexander Gelbukh</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Machine Translation Evaluation Metric for Text Alignment<br/><i>Prasha Shrestha, Suraj Maharjan,
                        and Thamar Solorio</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Heterogeneous Queries for Synoptic and Phrasal Search<br/><i>Šimon Suchomel and Michal
                        Brandejs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>VEBAV - A Simple, Scalable and Fast Authorship Verification Scheme<br/><i>Oren Halvani and
                        Martin Steinebach</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Slightly-modified GI-based Author-verifier with Lots of Features (ASGALF)<br/><i>Mahmoud
                        Khonji and Youssef Iraqi</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Single Author Style Representation for the Author Verification Task<br/><i>Cristhian Mayor,
                        Josue Gutierrez, Angel Toledo, Rodrigo Martinez, Paola Ledesma, Gibran Fuentes, and Ivan
                        Meza</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Verification: Exploring a Large set of Parameters using a Genetic Algorithm<br/><i>Erwan
                        Moreau, Arun Jayapal, and Carl Vogel</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Language Independent Author Verifier Using Fuzzy C-Means Clustering<br/><i>Pashutan Modaresi
                        and Philipp Gross</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Trinity of Trials: Surrey's 2014 Attempts at Author Verification<br/><i>Anna Vartapetiance and
                        Lee Gillam</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using Intra-Profile Information for Author Profiling<br/><i>A. Pastor López-Monroy, Manuel
                        Montes-y-Gómez, Hugo Jair Escalante, and Luis Villaseñor-Pineda</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Age and Gender Identification in Social Media<br/><i>James Marquardt, Golnoosh Farnadi, Gayathri
                        Vasudevan, Marie-Francine Moens, Sergio Davalos, Ankur Teredesai, Martine De Cock</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Simple Approach to Author Profiling in MapReduce<br/><i>Suraj Maharjan, Prasha Shrestha, and
                        Thamar Solorio</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>DAEDALUS at PAN 2014: Guessing Tweet Author's Gender and Age<br/><i>Julio Villena-Román and José
                        Carlos González-Cristóbal</i></td>
                </tr>
                <tr>
                    <td>19:30</td>
                    <td>Social Dinner: Cutlers Hall</td>
                </tr>
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2014 %}
            </div>
        </div>
    </div>
</main>