// Publications

// START TEMPORARY BIB CSS

.csc-menu {
    padding-left: 0;
    margin-top: -40px;
    margin-bottom: 45px;

    td {
        padding-right: $global-medium-gutter;
    }

    li {
        list-style: none;
    }
}

#bib > div {
    margin-bottom: 15px;
}

// END TEMPORARY BIB CSS


.publications-list {
    .bib-entry {
        margin-bottom: 2.5ex;
        line-height: 1.6;
    }

    .booktitle, .series, .journal {
        font-style: italic;
    }

    .year {
        margin-top: .7rem;
        margin-bottom: 1rem;
    }

    .year-entry {
        margin-bottom: 3rem;

        &:first-child .year {
            margin-top: 0;
        }
    }

    a.request {
        @extend .uk-link-reset;
    }

    .bibtex {
        @extend .uk-textarea;
        @extend .uk-text-small;
        @extend .uk-padding-small;
        font-family: Consolas, Hack, MonacoB, monospace;
        resize: none;
        border: none;
    }
}

#search-control input {
    max-width: 35rem;
}
