// Publications

// START TEMPORARY BIB CSS

.csc-menu {
    padding-left: 0;
    margin-top: -40px;
    margin-bottom: 45px;

    td {
        padding-right: 10px;
    }

    li {
        list-style: none;
    }
}

#bib > div {
    margin-bottom: 15px;
}

// END TEMPORARY BIB CSS
