@use 'variables';

@import url("https://assets.webis.de/css/style.css");

.page-index {
    background: variables.$global-secondary-background-lighter url("../img/pan-logo-index-page.png") no-repeat top right;

    .footer-section, .footer-section a {
        color: variables.$inverse-global-color !important;
        background: none;
    }
}

.index-cover {
    margin-top: 6vh;
    margin-bottom: 8vh;
    hyphens: none;
}
