.vertical-divider-left {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: $global-border-width solid $global-muted-color;
}

.page-header-meta {
    color: $global-muted-color;
    font-size: $global-medium-font-size;
}

.task-chair-organizations {
    text-align: center;

    & > * {
        height: 50px;
        display: inline-block;
        padding: $padding-large-padding;
    }

    img, svg {
        height: 100%;
    }

    .logo-font {
        display: inline-block;
        padding-left: $padding-small-padding;
        font-size: 2.5em;
        vertical-align: middle;
        color: lighten($global-color, 20);
    }
}

.semeval-logo {
    font-size: 70px;
    text-align: center;
    padding: 10px;
}