---
layout: default
nav_active: shared-tasks
title: PAN @ CLEF 2022 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
description: PAN @ CLEF 2022 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
---


<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <div>
            <h1 class="uk-margin-remove-top">Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://pan.webis.de/clef22/pan22-web/index.html#index-important-dates">Important dates</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://docs.google.com/forms/d/e/1FAIpQLSeSe4WicydfYCtKdYcDsFaPDmgtYuLwvXa63rmx248nxJhOyg/viewform">Register</a></li>-->
            </ul>
            </div>
            <div style="position:absolute;right:50px; top: 200px;">
                <b>Sponsored by</b><br/>
                <a href="https://www.symanto.net/" target="_blank">
                    <img src="../pan22-figures/logo-symanto-psychology-ai.png" style="width: 200px" alt="Symanto Research">
                </a>
            </div>
        </div>
        

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a Twitter feed, determine whether its author spreads Irony and Stereotypes.</li>
                <li>Input: tba.
<!--                   <ul>-->
<!--                       <li>Timelines of users sharing hate speech towards, for instance, immigrants and women.</li>-->
<!--                       <li>English and Spanish, 200 training cases/authors each (with 200 tweets per author) [<a href="https://zenodo.org/record/4603578" target="blank">data</a>]</li> -->
<!--                    </ul>-->
                               <!--; 300 training cases each-->
<!--                    Timelines of users sharing fake news as per PolitiFact and Snopes; English and Spanish; 300 training cases each [<a href="https://doi.org/10.5281/zenodo.3692319" target="blank">data</a>]-->
                </li>
                <li>Evaluation: tba.
                </li>
                <li>Submission: Deployment on TIRA
<!--                    [<a href="https://www.tira.io/task/pan21-profiling-hate-speech-spreaders-on-twitter">submit</a>]-->
                </li>
                <li>Baselines: tba.
<!--                    Character n-Grams+Logistic, Word n-Grams+SVM, USE+LSTM, XLMR+LSTM, MBERT+LSTM, TFIDF+LSTM, LDSE-->
                </li>
            </ul>
            
            <h2 id="task">Task</h2>
            Further details of the task will be announced soon.
        
             <h2 id="related-work">Related Work</h2>
            <ul>
                <li>[1] Valerio Basile, Cristina Bosco, Elisabetta Fersini, Dora Nozza, Viviana Patti, Francisco Rangel, Paolo Rosso, Manuela Sanguinetti (2019). 
                    <a href="http://personales.upv.es/prosso/resources/BasileEtAl_SemEval19.pdf" target="_blank">
                        SemEval-2019 task 5: Multilingual detection of hate speech against immigrants and women in Twitter.
                    </a>
                    Proc. SemEval 2019</li>

                <li>[1] Sánchez-Junquera J., Chulvi B., Rosso P., Ponzetto S.
How Do You Speak about Immigrants? Taxonomy and StereoImmigrants Dataset for Identifying Stereotypes about Immigrants.
                    In: Applied Science, 11(8), 3610, 2021 https://doi.org/10.3390/app11083610</li>

<li>[2] Sánchez-Junquera J., Rosso P., Montes-y-Gómez M., Chulvi B.
Masking and BERT-based Models for Stereotype Identification.
    In: Procesamiento del Lenguaje Natural (SEPLN), num. 67, pp. 83-94, 2021</li>

<li>[3] Zhang S., Zhang X., Chan J., Rosso P.
Irony Detection via Sentiment-based Transfer Learning.
    In: Information Processing & Management, vol. 56, issue 5, pp. 1633-1644, 2019</li>

<li>[4] Sulis E., Hernández I., Rosso P., Patti V., Ruffo G.
Figurative Messages and Affect in Twitter: Differences Between #irony, #sarcasm and #not.
    In: Knowledge-Based Systems, vol. 108, pp. 132–143, 2016</li>

<li>[5] Hernández I., Patti V., Rosso P.
Irony Detection in Twitter: The Role of Affective Content.
    In: ACM Transactions on Internet Technology, 16(3):1-24, 2016</li>

<li>[6] Ghosh A., Li G., Veale T., Rosso P., Shutova E., Barnden J., Reyes A.
Semeval-2015 task 11: Sentiment Analysis of Figurative Language in Twitter.
In: Proc. 9th Int. Workshop on Semantic Evaluation (SemEval 2015), Co-located with NAACL, Denver, Colorado, 4-5 June.
    Association for Computational Linguistics, pp. 470–478, 2015</li>

<li>[7] Reyes A., Rosso P.
On the Difficulty of Automatically Detecting Irony: Beyond a Simple Case of Negation.
    In: Knowledge and Information Systems, 40(3):595-614, 2014</li>

<li>[8] Reyes A., Rosso P., Veale T.
A Multidimensional Approach for Detecting Irony in Twitter.
    In: Language Resources and Evaluation, 47(1):239-268, 2013</li>

<li>[9] Reyes A., Rosso P., Buscaldi D.
 From Humor Recognition to Irony Detection: The Figurative Language of Social Media.
    In: Data & Knowledge Engineering, vol. 74, pp.1-12, 2021</li>

            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/reynier.html %}
                {% include people-cards/rangel.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/fersini.html %}
                {% include people-cards/chulvi.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2022 %}
            </div>
<!--            <div class="uk-container uk-padding-large uk-padding-remove-bottom" style="text-align:center;">-->
<!--                <a href="https://digforasp.uca.es/" target="_blank">-->
<!--                    <img src="../pan21-figures/DIGforASP.jpg" style="width: 200px" alt="Digital Forensics Evidence Analysis via Intelligent Systems and Practices">-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</main>
