---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2022 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
description: PAN at CLEF 2022 - Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO)
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO) 2022</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <div>
            <h1 class="uk-margin-remove-top">Profiling Irony and Stereotype Spreaders on Twitter (IROSTEREO) 2022</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://pan.webis.de/clef22/pan22-web/index.html#index-important-dates">Important dates</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="https://docs.google.com/forms/d/e/1FAIpQLSeSe4WicydfYCtKdYcDsFaPDmgtYuLwvXa63rmx248nxJhOyg/viewform">Register</a></li>-->
            </ul>
            </div>
            <div style="position:absolute;right:50px; top: 200px;">
                <b>Sponsored by</b><br/>
                <a href="https://www.symanto.net/" target="_blank">
                    <img src="../pan22-figures/logo-symanto-psychology-ai.png" style="width: 200px" alt="Symanto Research">
                </a>
            </div>
        </div>
        

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a Twitter feed in English, determine whether its author spreads Irony and Stereotypes.</li>
                <li>Input: Timelines of authors sharing Irony and Stereotypes towards, for instance, women or the LGTB community.</li>
<!--                   <ul>-->
<!--                       <li>Timelines of users sharing hate speech towards, for instance, immigrants and women.</li>-->
<!--                       <li> English authors Twitter feeds. </li> -->
<!--                    </ul>-->
                <li>Evaluation: Accuracy.</li>
                <li>Submission: Deployment on TIRA</li>
                <li>Baselines: Character/word n-grams+ SVM/Logistic Regression, LDSE, ...</li>
            </ul>
            
            <h2 id="task">Task</h2>
            With irony, language is employed in a figurative and subtle way to mean the opposite to what is literally stated. In case of sarcasm, a more aggressive type of irony, the intent is to mock or scorn a victim without excluding the possibility to hurt. 
            Stereotypes are often used, especially in discussions about controversial issues such as immigration or sexism and misogyny. At PAN’22, we will focus on profiling ironic authors in Twitter. Special emphasis will be given to those authors
            that employ irony to spread stereotypes, for instance, towards women or the LGTB community. The goal will be to classify authors as ironic or not depending on 
            their number of tweets with ironic content. Among those authors  we will consider a subset that employs irony to convey stereotypes in order to investigate if state-of-the-art
            models are able to distinguish also these cases. Therefore, given authors of Twitter together with their tweets, the  goal will be to profile those authors that can be considered as ironic, and among them those that employ irony to convey stereotypical messages. 
        
            <h2 id="evaluation">Evaluation</h2>
            The performance of your system will be ranked by accuracy.
            
            
            
            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>[1] Valerio Basile, Cristina Bosco, Elisabetta Fersini, Dora Nozza, Viviana Patti, Francisco Rangel, Paolo Rosso, Manuela Sanguinetti (2019). 
                    <a href="http://personales.upv.es/prosso/resources/BasileEtAl_SemEval19.pdf" target="_blank">
                        SemEval-2019 task 5: Multilingual detection of hate speech against immigrants and women in Twitter.
                    </a>
                    Proc. SemEval 2019</li>

                <li>[2] Sánchez-Junquera J., Chulvi B., Rosso P., Ponzetto S.
How Do You Speak about Immigrants? Taxonomy and StereoImmigrants Dataset for Identifying Stereotypes about Immigrants.
                    In: Applied Science, 11(8), 3610, 2021 https://doi.org/10.3390/app11083610</li>

<li>[3] Sánchez-Junquera J., Rosso P., Montes-y-Gómez M., Chulvi B.
Masking and BERT-based Models for Stereotype Identification.
    In: Procesamiento del Lenguaje Natural (SEPLN), num. 67, pp. 83-94, 2021</li>

<li>[4] Zhang S., Zhang X., Chan J., Rosso P.
Irony Detection via Sentiment-based Transfer Learning.
    In: Information Processing & Management, vol. 56, issue 5, pp. 1633-1644, 2019</li>

<li>[5] Sulis E., Hernández I., Rosso P., Patti V., Ruffo G.
Figurative Messages and Affect in Twitter: Differences Between #irony, #sarcasm and #not.
    In: Knowledge-Based Systems, vol. 108, pp. 132–143, 2016</li>

<li>[6] Hernández I., Patti V., Rosso P.
Irony Detection in Twitter: The Role of Affective Content.
    In: ACM Transactions on Internet Technology, 16(3):1-24, 2016</li>

<li>[7] Ghosh A., Li G., Veale T., Rosso P., Shutova E., Barnden J., Reyes A.
Semeval-2015 task 11: Sentiment Analysis of Figurative Language in Twitter.
In: Proc. 9th Int. Workshop on Semantic Evaluation (SemEval 2015), Co-located with NAACL, Denver, Colorado, 4-5 June.
    Association for Computational Linguistics, pp. 470–478, 2015</li>

<li>[8] Reyes A., Rosso P.
On the Difficulty of Automatically Detecting Irony: Beyond a Simple Case of Negation.
    In: Knowledge and Information Systems, 40(3):595-614, 2014</li>

<li>[9] Reyes A., Rosso P., Veale T.
A Multidimensional Approach for Detecting Irony in Twitter.
    In: Language Resources and Evaluation, 47(1):239-268, 2013</li>

<li>[10] Reyes A., Rosso P., Buscaldi D.
 From Humor Recognition to Irony Detection: The Figurative Language of Social Media.
    In: Data & Knowledge Engineering, vol. 74, pp.1-12, 2012</li>

                
                
                <li>
                    [11] Francisco Rangel, Gretel Liz De La Peña Sarracén, Berta Chulvi, Elisabetta Fersini, Paolo Rosso. 
                    <a href="" target="_blank">
                        Profiling Hate Speech Spreaders on Twitter Task at PAN 2021.
                    </a>
                    In: Faggioli, G., Ferro, N., Joly, A., Maistro, M., Piroi, F. (eds.) 
                    CLEF 2021 Labs and Workshops, Notebook Papers, CEUR-WS.org, vol. 2936, pp. 1772-1789
                </li>
                
                <li>
                    [12] Francisco Rangel, Anastasia Giachanou, Bilal Ghanem, Paolo Rosso. 
                    <a href="http://ceur-ws.org/Vol-2696/paper_267.pdf" target="_blank">
                        Overview of the 8th Author Profiling Task at PAN 2020: Profiling Fake News Spreaders on Twitter.
                    </a>
                    In: L. Cappellato, C. Eickhoff, N. Ferro, and A. Névéol (eds.) 
                    CLEF 2020 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.CEUR-WS.org, vol. 2696
                </li>
                <li>[13] Francisco Rangel and Paolo Rosso.
                    <a href="http://ceur-ws.org/Vol-2380/paper_263.pdf" target="_blank">
                        Overview of the 7th Author Profiling Task at PAN 2019: Bots and Gender Profiling in Twitter.
                    </a>
                    In: L. Cappellato, N. Ferro, D. E. Losada and H. Müller (eds.) 
                    CLEF 2019 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.CEUR-WS.org, vol. 2380
                </li>
                <li>[14] Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-2125/invited_paper_15.pdf" target="_blank">Overview of
                        the 6th author profiling task at pan 2018: multimodal gender identification in
                        Twitter.</a>
                    In: CLEF 2018 Labs and Workshops, Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 2125.
                </li>
                <li>[15] Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-1866/invited_paper_11.pdf" target="_blank">Overview of
                        the 5th
                        Author Profiling Task at PAN 2017: Gender and Language Variety Identification in
                        Twitter.</a>
                    In: Cappellato L., Ferro N., Goeuriot L, Mandl T. (Eds.) CLEF 2017 Labs and Workshops,
                    Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 1866.
                </li>
                <li>[16] Francisco Rangel, Paolo Rosso, Ben Verhoeven, Walter Daelemans, Martin Pottast, Benno
                    Stein.
                    <a href="http://ceur-ws.org/Vol-1609/16090750.pdf" target="_blank">Overview of the 4th
                        Author
                        Profiling Task at PAN 2016: Cross-Genre Evaluations.</a> In: Balog K., Capellato L.,
                    Ferro N.,
                    Macdonald C. (Eds.) CLEF 2016 Labs and Workshops, Notebook Papers. CEUR Workshop
                    Proceedings.
                    CEUR-WS.org, vol. 1609, pp. 750-784
                </li>
                <li>[17] Francisco Rangel, Fabio Celli, Paolo Rosso, Martin Pottast, Benno Stein, Walter
                    Daelemans.
                    <a href=http://personales.upv.es/prosso/resources/RangelEtAl_PAN15.pdf"
                       target="_blank">Overview of the 3rd Author Profiling Task at PAN 2015.</a>In: Linda
                    Cappelato and Nicola Ferro and Gareth Jones and Eric San Juan (Eds.): CLEF 2015 Labs and
                    Workshops, Notebook Papers, 8-11 September, Toulouse, France. CEUR Workshop Proceedings.
                    ISSN
                    1613-0073, http://ceur-ws.org/Vol-1391/,2015.
                </li>
                <li>[18] Francisco Rangel, Paolo Rosso, Irina Chugur, Martin Potthast, Martin Trenkmann, Benno
                    Stein, Ben
                    Verhoeven, Walter Daelemans.
                    <a href="http://ceur-ws.org/Vol-1180/CLEF2014wn-Pan-RangelEt2014.pdf" target="_blank">Overview
                        of the 2nd Author Profiling Task at PAN 2014.</a> In: Cappellato L., Ferro N.,
                    Halvey M.,
                    Kraaij W. (Eds.) CLEF 2014 Labs and Workshops, Notebook Papers. CEUR-WS.org, vol. 1180,
                    pp.
                    898-827.
                </li>
                <li>[19] Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstatios Stamatatos, Giacomo Inches.
                    <a href="http://ceur-ws.org/Vol-1179/CLEF2013wn-PAN-RangelEt2013.pdf" target="_blank">Overview
                        of the Author Profiling Task at PAN 2013.</a> In: Forner P., Navigli R., Tufis D.
                    (Eds.)Notebook
                    Papers of CLEF 2013 LABs and Workshops. CEUR-WS.org, vol. 1179
                </li>
                <li>[20] Francisco Rangel and Paolo Rosso
                    <a href="https://ojs.letras.up.pt/ojs/index.php/LLLD/article/download/6119/5761" target="_blank">
                        On the Implications of the General Data Protection Regulation on the Organisation of Evaluation Tasks.
                    </a>
                    In: Language and Law / Linguagem e Direito, Vol. 5(2), pp. 80-102
                </li>
                <li>[21] Francisco Rangel, Marc Franco-Salvador, Paolo Rosso
                    <a href="https://arxiv.org/abs/1705.10754" target="_blank">A Low Dimensionality Representation for Language Variety Identification. </a>
                    In: Postproc. 17th Int. Conf. on Comput. Linguistics and Intelligent Text Processing, 
                    CICLing-2016, Springer-Verlag, Revised Selected Papers, Part II, LNCS(9624), pp. 156-169 (arXiv:1705.10754)
                </li>
                
                
            </ul>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/reynier.html %}
                {% include people-cards/rangel.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/fersini.html %}
                {% include people-cards/chulvi.html %}
            </div>                                                                                                   
                                                                                             
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2022 %}
            </div>
<!--            <div class="uk-container uk-padding-large uk-padding-remove-bottom" style="text-align:center;">-->
<!--                <a href="https://digforasp.uca.es/" target="_blank">-->
<!--                    <img src="../pan21-figures/DIGforASP.jpg" style="width: 200px" alt="Digital Forensics Evidence Analysis via Intelligent Systems and Practices">-->
<!--                </a>-->
<!--            </div>-->
        </div>
    </div>
</main> 
