---
layout: default
nav_active: shared-tasks
title: PAN @ CLEF 2022 - Style Change Detection and Multi-Author Writing Style Analysis
description: PAN @ CLEF 2022 - Multi-Author Writing Style Analysis
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Style Change Detection 2022</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>-->
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a document, determine the number of authors and at which positions the author changes.</li>
                <li>Input:  tba.
<!--                    Input: StackExchange questions and answers, combined into documents [<a href="https://zenodo.org/record/4589145#.YFDOwnVKhhF">data</a>] -->
                    <!--[<a href="{{'../../data.html#pan21-style-change-detection' | relative_url }}">data</a>]-->
                </li>
                <li>Output: tba.
<!--                    Whether a document has multiple authors, how many and where authorship changes [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef21/style-change-detection" target="_blank">verifier</a>]-->
                </li>
                <li>Evaluation: tba
<!--                    F1 [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef21/style-change-detection" target="_blank">code</a>]-->
                </li>
                <li>Submission: Deployment on TIRA
<!--                    [<a href="#submission">submit</a>]-->
                </li>
            </ul>

            <h2 id="task">Task</h2>
            Details of this task will be announced soon.


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>
                    <a href="{{ 'publications.html#?q=2021%20Zangerle' | relative_url }}">Style Change Detection, PAN@CLEF'21</a>
                </li>
                <li>
                    <a href="{{ 'publications.html#?q=2020%20Zangerle' | relative_url }}">Style Change Detection, PAN@CLEF'20</a>
                </li>
                <li>
                    <a href="{{ 'publications.html#?q=2019%20Zangerle' | relative_url }}">Style Change Detection, PAN@CLEF'19</a>
                </li>
                <li>
                    <a href="{{ 'publications.html#?q=2018%20Tschuggnall' | relative_url }}">Style Change Detection, PAN@CLEF'18</a>
                </li>
                <li>
                    <a href="{{ 'publications.html#?q=2017%20Tschuggnall' | relative_url }}">Style Breach Detection, PAN@CLEF'17</a>
                </li>
                <li>
                    <a href="{{ 'publications.html#?q=2016%20Tschuggnall' | relative_url }}">PAN@CLEF'16</a> (<i>Clustering by
                    Authorship Within and Across Documents</i> and <i>Author Diarization</i> section)
                </li>
                <li>J. Cardoso and R. Sousa. Measuring the performance of ordinal classification. International Journal of Pattern Recognition and Artificial Intelligence 25.08, pp. 1173-1195, 2011
                </li>
                <li>Benno Stein, Nedim Lipka and Peter Prettenhofer. <a href="https://webis.de/publications.html#?q=stein_2011a">Intrinsic
                    Plagiarism Analysis</a>. In Language Resources and Evaluation, Volume 45, Issue 1, pages 63-82, 2011.
                </li>
                <li>
                    Efstathios Stamatatos. <a href="http://onlinelibrary.wiley.com/doi/10.1002/asi.21001/full">A
                    Survey of Modern Authorship Attribution Methods</a>. Journal of the American Society for Information Science and Technology, Volume 60, Issue 3, pages 538-556, March 2009.
                </li>
            </ul>
            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/zangerle.html %}
                {% include people-cards/mayerl.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2022 %}
            </div>
        </div>
    </div>
</main>
