---
layout: default
nav_active: events
title: PAN at CLEF 2012
description: PAN at CLEF 2012
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">PAN at CLEF 2012</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container"">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2012</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ 'shared-tasks.html#authorship-attribution' | relative_url }}">Authorship Attribution</a></li>
                <li><a href="{{ 'shared-tasks.html#sexual-predator-identification' | relative_url }}">Sexual Predator Identification</a></li>
                <li><a href="{{ 'shared-tasks.html#wikipedia-quality-flaw-prediction' | relative_url }}">Wikipedia Quality Flaw Prediction</a></li>
                <li><a href="{{ 'shared-tasks.html#source-retrieval' | relative_url }}">Source Retrieval</a></li>
                <li><a href="{{ 'shared-tasks.html#text-alignment' | relative_url }}">Text Alignment</a></li>
            </ul>


            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 16, 2012: Training data release</li>
                <li> May 18, 2012: Test data release</li>
                <li> June 22, 2012: Result submission deadline</li>
                <li> August 17, 2012: Paper submission:
                    [<a href="../../pan-notebook-paper-template/pan-notebook-paper-template.zip">template</a>]
                    [<a href="http://clef2012.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2012WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2012">submission</a>]
                </li>
                <li> September 17-20, 2012: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>


            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef12/pan12-figures/navigli.jpg' | relative_url }}" alt="Roberto Navigli">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Babelplagiarism: What can BabelNet do for Cross-language Plagiarism Detection?
                            </div>
                            <div class="keynote-speaker"><a
                                    href="http://www.dsi.uniroma1.it/~navigli/" target="_blank">Roberto Navigli</a>
                            </div>
                            <div class="keynote-affiliation">Università La Sapienza, Roma</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>In the first part of the talk, I will present BabelNet, a very large, wide-coverage
                            multilingual semantic network. The resource is automatically constructed by means of a
                            methodology that integrates lexicographic and encyclopedic knowledge from WordNet and
                            Wikipedia. In addition Machine Translation is also applied to enrich the knowledge resource
                            with lexical information for all languages. We present experiments on new and existing
                            gold-standard datasets to show the high quality and coverage of the resource. In a second
                            set of experiments, we show that, when provided with a vast amount of high-quality semantic
                            relations, knowledge-rich word sense disambiguation algorithms compete with state-of-the-art
                            supervised WSD systems in a coarse-grained all-words setting and outperform them on
                            gold-standard domain-specific datasets. The second part of the talk is devoted to analyzing
                            cases in which BabelNet can be of help in cross-language plagiarism detection. Can a large
                            multilingual semantic network provide hints for detecting plagiarized text? We will see
                            examples of how and when multilingual concepts and disambiguated text can support this task.
                        </p>
                    </div>
                </article>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef12/pan12-figures/steinberger.jpg' | relative_url }}"
                                 alt="Ralf Steinberger">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Ralf Steinberger
                                Cross-lingual Similarity Calculation for Plagiarism Detection and More - Tools and
                                Resources
                            </div>
                            <div class="keynote-speaker"><a
                                    href="https://ec.europa.eu/jrc/en/person/ralf-steinberger"
                                    target="_blank">Ralf Steinberger</a></div>
                            <div class="keynote-affiliation">European Commission, Joint Research Centre (JRC), Ispra
                            </div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>A system that recognises cross-lingual plagiarism needs to establish – among other things –
                            whether two pieces of text written in different languages are equivalent to each other.
                            Potthast et al. (2010) give a thorough overview of this challenging task. While the Joint
                            Research Centre (JRC) is not specifically concerned with plagiarism, it has been working for
                            many years on developing other cross-lingual functionalities that may well be useful for the
                            plagiarism detection task, i.e. (a) cross-lingual document similarity calculation, (b)
                            subject domain profiling of documents in many different languages according to the same
                            multilingual subject domain categorisation scheme, and (c) the recognition of name spelling
                            variants for the same entity, both within the same language and across different languages
                            and scripts. The speaker will explain the algorithms behind these software tools and he will
                            present a number of freely available language resources that can be used to develop software
                            with cross-lingual functionality.
                        </p>
                    </div>
                </article>
            </div>


            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the
                <a href="http://clef2012.clef-initiative.eu/index.php?page=Pages/conference_session.html">CLEF conference program</a>.
            </p>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <tbody>
                <tr class="mid">
                    <td colspan="2"><b>September 17</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>14:00-16:00</nobr>
                    </td>
                    <td><b>Lab overviews</b> <i>(Room Loyola)</i></td>
                </tr>
                <tr class="mid">
                    <td>15 min. talk</td>
                    <td>PAN'12 - Uncovering Plagiarism, Authorship, and Social Software Misuse<br/><i>Martin
                        Potthast</i></td>
                </tr>
                <tr class="mid">
                    <td>16:00-16:30</td>
                    <td>Coffee Break</td>
                </tr>
                <tr class="mid">
                    <td>16:30-17:00</td>
                    <td><b>Poster Boaster Session</b></td>
                </tr>
                <tr>
                    <td>17:00-18:30</td>
                    <td><b>Poster Session</b> <i>(Room Galleria A)</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Encoplot - Tuned for High Recall (also proposing a new plagiarism detection score) - Notebook
                        for PAN at CLEF 2012<br/><i>Cristian Grozea, Marius Popescu</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Set-Based Approach to Plagiarism Detection - Notebook for PAN at CLEF 2012<br/><i>Robin K&uuml;ppers,
                        Stefan Conrad</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Applying Specific Clusterization and Fingerprint Density Distribution with Genetic Algorithm
                        Overall Tuning in External Plagiarism Detection - Notebook for PAN at CLEF 2012<br/><i>Yurii
                            Palkovskii, Alexei Belov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Detailed Comparison Module In CoReMo 1.9 Plagiarism Detector - Notebook for PAN at CLEF
                        2012<br/><i>Diego A. Rodr&iacute;guez Torrej&oacute;n, Jos&eacute; Manuel Mart&iacute;n
                            Ramos</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Optimized Fuzzy Text Alignment for Plagiarism Detection - Notebook for PAN at CLEF 2012<br/><i>Fernando
                        S&aacute;nchez-Vega, Manuel Montes-y-G&oacute;mez, Luis Villase&ntilde;or-Pineda</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bootstrapped Authorship Attribution in Compression Space - Notebook for PAN at CLEF 2012<br/><i>Ramon
                        de Graaff, Cor J. Veenman</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Paragraph Clustering for Intrinsic Plagiarism Detection using a Stylistic Vector-Space Model
                        with Extrinsic Features - Notebook for PAN at CLEF 2012<br/><i>Julian Brooke, Graeme Hirst</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Sub-Profiling by Linguistic Dimensions to Solve the Authorship Attribution Task - Notebook for
                        PAN at CLEF 2012<br/><i>Upendra Sapkota, Thamar Solorio</i></td>
                </tr>
                <tr class="mid">
                    <td></td>
                    <td>Information Retrieval and Classification based Approaches for the Sexual Predator Identification
                        - Notebook for PAN at CLEF 2012<br/><i>Darnes Vilari&ntilde;o, Esteban Castillo, David Pinto, Iv&aacute;n
                            Olmos, Saul Le&oacute;n</i></td>
                </tr>
                <tr class="mid">
                    <td colspan="2"><b>September 19</b> <i>(Room Trilussa)</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Quality Flaw Prediction in Wikipedia</b>, Chair: Matthias Hagen</td>
                </tr>
                <tr>
                    <td>10:30-10:45</td>
                    <td>Overview of the 1st International Competition on Quality Flaw Prediction inWikipedia<br/><i>Maik
                        Anderka, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>10:45-11:15</td>
                    <td>On the Use of PU Learning for Quality Flaw Prediction in Wikipedia - Notebook for PAN at CLEF
                        2012<br/><i>Edgardo Ferretti, Donato Hern&aacute;ndez Fusilier, Rafael Guzm&aacute;n Cabrera,
                            Manuel Montes-y-G&oacute;mez, Marcelo Errecalde, Paolo Rosso</i></td>
                </tr>
                <tr class="mid">
                    <td>11:15-11:30</td>
                    <td>FlawFinder: A Modular System for Predicting Quality Flaws in Wikipedia - Notebook for PAN at
                        CLEF 2012<br/><i>Oliver Ferschke, Iryna Gurevych, Marc Rittberger</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Plagiarism Detection</b>, Chair: Matthias Hagen</td>
                </tr>
                <tr>
                    <td>11:30-12:00</td>
                    <td>Overview of the 4th International Competition on Plagiarism Detection<br/><i>Martin Potthast,
                        Tim Gollub, Matthias Hagen, Jan Gra&szlig;egger, Johannes Kiesel, Maximilian Michel, Arnd Oberl&auml;nder,
                        Martin Tippmann, Alberto Barr&oacute;n-Cede&ntilde;o, Parth Gupta, Paolo Rosso, Benno Stein</i>
                    </td>
                </tr>
                <tr>
                    <td>12:00-12:15</td>
                    <td>Approaches for Candidate Document Retrieval and Detailed Comparison of Plagiarism Detection -
                        Notebook for PAN at CLEF 2012<br/><i>Kong Leilei, Qi Haoliang, Wang Shuai, Du Cuixia, Wang
                            Suhong, Han Yong</i></td>
                </tr>
                <tr class="mid">
                    <td>12:15-12:30</td>
                    <td>Educated guesses and equality judgements: using search engines and pairwise match for external
                        plagiarism detection - Notebook for PAN at CLEF 2012<br/><i>Lee Gillam, Neil Newbold, Neil
                            Cooke</i></td>
                </tr>
                <tr class="mid">
                    <td>12:30-14:00</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Plagiarism Detection</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr class="mid">
                    <td>14:00-14:15</td>
                    <td>Three way search engine queries with multi-feature document comparison for plagiarism detection
                        - Notebook for PAN at CLEF 2012<br/><i>Simon Suchomel, Jan Kasprzak, and Michal Brandejs</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Cross-Language Plagiarism Detection (Keynotes and Panel Discussion)</b>, Chair: Paolo Rosso
                    </td>
                </tr>
                <tr>
                    <td>14:15-15:00</td>
                    <td>Cross-lingual Similarity Calculation for Plagiarism Detection and More - Tools and
                        Resources<br/><i>Ralf Steinberger</i></td>
                </tr>
                <tr>
                    <td>15:00-15:45</td>
                    <td>Babelplagiarism: What can BabelNet do for Cross-language Plagiarism Detection?<br/><i>Roberto
                        Navigli</i></td>
                </tr>
                <tr class="mid">
                    <td>15:45-16:00</td>
                    <td>Panel discussion</td>
                </tr>
                <tr class="mid">
                    <td colspan="2"><b>September 20</b> <i>(Room Leopardi)</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Traditional Authorship Attribution</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>9:30- 10:00</td>
                    <td>An Overview of the Traditional Authorship Attribution Subtask + Mixture of Experts Authorship
                        Attribution<br/><i>Patrick Juola and Michael Ryan, John Noecker Jr</i></td>
                </tr>
                <tr>
                    <td>10:00-10:15</td>
                    <td>Authorship attribution: using rich linguistic features when training data is scarcen - Notebook
                        for PAN at CLEF 2012<br/><i>Ludovic Tanguy, Franck Sajous, Basilio Calderone, Nabil Hathout</i>
                    </td>
                </tr>
                <tr>
                    <td>10:15-10:30</td>
                    <td>Feature Bagging for Author Attribution - Notebook for PAN at CLEF 2012<br/><i>Fran&ccedil;ois-Marie
                        Giraud, Thierry Arti&egrave;res</i></td>
                </tr>
                <tr class="mid">
                    <td>10:30-11:00</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Traditional Authorship Attribution & Sexual Predator Identification</b>, Chair: Patrick Juola
                    </td>
                </tr>
                <tr>
                    <td>11:00-11:15</td>
                    <td>Graph-based and Lexical-Syntactic Approaches for the Authorship Attribution Task - Notebook for
                        PAN at CLEF 2011<br/><i>Esteban Castillo, Darnes Vilari&ntilde;o, David Pinto, Iv&aacute;n
                            Olmos, Jes&uacute;s A. Gonz&aacute;lez, Maya Carrillos</i></td>
                </tr>
                <tr>
                    <td>11:15-11:45</td>
                    <td>Overview of the International Sexual Predator Identification Competition at PAN-2012<br/><i>Giacomo
                        Inches, Fabio Crestani</i></td>
                </tr>
                <tr>
                    <td>11:45-12:00</td>
                    <td>Vote/Veto Classification, Ensemble Clustering and Sequence Classification for Author
                        Identification - Notebook for PAN at CLEF 2012<br/><i>Roman Kern, Stefan Klampfl and Mario
                            Zechner</i></td>
                </tr>
                <tr>
                    <td>12:00-12:15</td>
                    <td>Quite Simple Approaches for Authorship Attribution, Intrinsic Plagiarism Detection and Sexual
                        Predator Identification - Notebook for PAN at CLEF 2012<br/><i>Anna Vartapetiance, Lee
                            Gillam</i></td>
                </tr>
                <tr>
                    <td>12:15-12:30</td>
                    <td>Kernel Methods and String Kernels for Authorship Analysis - Notebook for PAN at CLEF
                        2012<br/><i>Marius Popescu, Cristian Grozea</i></td>
                </tr>
                <tr>
                    <td>12:30-12:45</td>
                    <td>Conversation Level Constraints on Pedophile Detection in Chat Rooms - Notebook for PAN at CLEF
                        2012<br/><i> Claudia Peersman, Frederik Vaassen, Vincent Van Asch, Walter Daelemans</i></td>
                </tr>
                <tr class="mid">
                    <td>12:45-13:00</td>
                    <td>Identifying Predators Using ChatCoder 2.0 - Notebook for PAN at CLEF 2012<br/><i>April
                        Kontostathis, Will West, Andy Garron, Kelly Reynolds, Lynne Edwards</i></td>
                </tr>
                <tr class="mid">
                    <td>13:00-14:00</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Sexual Predator Identification</b>, Chair: Giacomo Inches</td>
                </tr>
                <tr>
                    <td>14:00-14:15</td>
                    <td>A Two-step Approach for Effective Detection of Misbehaving Users in Chats - Notebook for PAN at
                        CLEF 2012<br/><i>Esa&uacute; Villatoro-Tello, Antonio Ju&aacute;rez-Gonz&aacute;lez, Hugo Jair
                            Escalante, Manuel Montes-y-G&oacute;mez, and Luis Villase&ntilde;or-Pineda</i></td>
                </tr>
                <tr>
                    <td>14:15-14:30</td>
                    <td>A Learning-Based Approach for the Identification of Sexual Predators in Chat Logs - Notebook for
                        PAN at CLEF 2012<br/><i>Javier Parapar, David E. Losada, Alvaro Barreiro</i></td>
                </tr>
                <tr>
                    <td>14:30-14:45</td>
                    <td>Features for modelling characteristics of conversations - Notebook for PAN at CLEF 2012<br/><i>Gunnar
                        Eriksson, Jussi Karlgren</i></td>
                </tr>
                <tr>
                    <td>14:45-15:00</td>
                    <td>Identifying Sexual Predators by SVM Classification with Lexical and Behavioral Features -
                        Notebook for PAN at CLEF 2012<br/><i>Colin Morris, Graeme Hirst</i></td>
                </tr>
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/gollub.html %}
                {% include people-cards/hagen.html %}
                {% include people-cards/anderka.html %}
                {% include people-cards/barron-cedeno.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/gupta.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/juola.html %}
                {% include people-cards/argamon.html %}
                {% include people-cards/koppel.html %}
                {% include people-cards/crestani.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2012 %}
            </div>
        </div>
    </div>
</main>
