---
layout: default
nav_active: shared-tasks
title: PAN @ CLEF 2012 - Source Retrieval
description: PAN @ CLEF 2012 - Source Retrieval
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Source Retrieval 2012</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#input">Input</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#output">Output</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a suspicious document and a web search API, your task is to retrieve all plagiarized sources while minimizing retrieval costs.</li>
                <li>Input: [<a href="{{ 'data.html#pan12-source-retrieval' | relative_url }}">data</a>]</li>
                <li>Baseline: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef12/source-retrieval" target="_blank">code</a>]</li>
            </ul>


            <h2 id="input">Input</h2>
            <p>To develop your software, we provide you with a training corpus that consists of suspicious
            documents. Each suspicious document is about a specific topic and may consist of plagiarized
            passages obtained from web pages on that topic found in the ClueWeb09 corpus.</p>

            <h3>API</h3>
            <p>If you are not in possession of the <a href="http://www.lemurproject.org/clueweb09.php/" target="_blank">ClueWeb09 corpus</a>, we also provide
            access to two search engines which index the ClueWeb, namely the
            <a href="http://www.lemurproject.org/indri/" target="_blank">Lemur Indri search engine</a>
            and the <a href="http://chatnoir.webis.de" target="_blank">ChatNoir search engine</a>. To
            programmatically access these two search engines, we provide a unified search API.</p>
            <p><strong>Note:</strong> To better separate the source retrieval task from the text alignment task,
            the API provides a text alignment oracle feature. For each document you request to download from
            the ClueWeb, the text alignment oracle discloses if this document is a source for plagiarism for
            the suspicious document in question. In addition, the plagiarized text is returned. This, way
            participation in the source retrieval task does not require the development of a text alignment
            solution. However, you are free to use your own text alignment, if you want to.</p>

            <h2 id="output">Output</h2>
            <p>For each suspicious document <code>suspicious-documentXYZ.txt</code> found in the evaluation
            corpora, your plagiarism detector shall output an interaction log <code>suspicious-documentXYZ.log</code>
            which logs meta information about your retrieval process:</p>
            <pre class="prettyprint lang-py" style="overflow-x:auto;white-space:nowrap">
Timestamp&nbsp;&nbsp;&nbsp;[Query|Download_URL]<br/>
1258326592&nbsp;&nbsp;barack obama family tree<br/>
1258326597&nbsp;&nbsp;http://webis15.medien.uni-weimar.de/chatnoir/clueweb?id=110212744<br/>
1258326598&nbsp;&nbsp;http://webis15.medien.uni-weimar.de/chatnoir/clueweb?id=10221241<br/>
1258326599&nbsp;&nbsp;http://webis15.medien.uni-weimar.de/chatnoir/clueweb?id=100003305377<br/>
1258326605&nbsp;&nbsp;barack obama genealogy<br/>
1258326610&nbsp;&nbsp;http://webis15.medien.uni-weimar.de/chatnoir/clueweb?id=82208332<br/>
...
</pre>
            <p>For example, the above file would specify that at 1258326592 (Unix timestamp) the query
            <code>barack obama family tree</code> was sent and that in the following three of the retrieved documents
            were selected for download before the next query was sent.</p>

            <h2 id="evaluation">Evaluation</h2>
            <p>Performance will be measured based on the following five scores as averages over each suspicious document:</p>
            <ol>
                <li>Number of queries submitted.</li>
                <li>Number of web pages downloaded.</li>
                <li>Precision and recall of web pages downloaded regarding actual sources of a suspicious document.</li>
                <li>Number of queries until the first actual source is found.</li>
                <li>Number of downloads until the first actual source is downloaded.</li>
            </ol>
            <p>Measures 1-3 capture the overall behavior of a system and measures 4-5 assess the time to first
            result. The quality of identifying reused passages between documents is not taken into account
            here, but note that retrieving duplicates of a source document is considered a true positive,
            whereas retrieving more than one duplicate of a source document does not improve performance.</p>

            <h3>Baseline</h3>
            <p>For your convenience, we provide a baseline program written in Python.
            The program loops through the suspicious documents in a given directory and outputs a search
            interaction log. The log is valid with respect to the output format described below. You may use
            the source code for getting started with your own approach.</p>

            <h2 id="results">Results</h2>
            <table class="uk-table uk-table-divider uk-table-small uk-table-hover" >
                <thead>
                <tr class="top">
                    <th colspan="5" style="text-align:center">Source Retrieval Performance</th>
                </tr>
                <tr class="top2">
                    <th colspan="2" style="text-align:center">Workload to 1st Detection</th>
                    <th colspan="2" style="text-align:center">Downloaded Sources</th>
                    <th>Team</th>
                </tr>
                <tr class="mid">
                    <th>Queries</th>
                    <th>Downloads</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td> 4.47</td>
                    <td> 25.88</td>
                    <td>0.0182</td>
                    <td><b>0.5567</b></td>
                    <td>L. Gillam, N. Newbold, and N. Cooke<br/>University of Surrey, UK</td>
                </tr>
                <tr>
                    <td> 8.78</td>
                    <td> 12.50</td>
                    <td>0.0709</td>
                    <td>0.4342</td>
                    <td>A. Jayapal<br/>University of Sheffield, UK</td>
                </tr>
                <tr>
                    <td>80.59</td>
                    <td> 27.47</td>
                    <td>0.0178</td>
                    <td>0.3742</td>
                    <td>L. Kong°, H. Qi°, S. Wang°, C. Du*, S. Wang*, and Y. Han°<br/>°Heilongjiang Institute of
                        Technology and *Harbin Engineering University, China
                    </td>
                </tr>
                <tr>
                    <td>27.28</td>
                    <td>318.94</td>
                    <td>0.0025</td>
                    <td>0.2123</td>
                    <td>Y. Palkovskii and A. Belov<br/>Zhytomyr State University, Ukraine</td>
                </tr>
                <tr>
                    <td><b> 1.53</b></td>
                    <td><b> 6.28</b></td>
                    <td><b>0.0812</b></td>
                    <td>0.3512</td>
                    <td>&Scaron;. Suchomel, J. Kasprzak, and M. Brandejs<br/>Masaryk University, Czech Republic
                    </td>
                </tr>
                </tbody>
            </table>
            <p>A more detailed analysis of the retrieval performances can be found in the overview paper
                accompanying this task.</p>


            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/gollub.html %}
                {% include people-cards/hagen.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/gupta.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2012 %}
            </div>

        </div>  <!-- section -->
    </div>  <!-- section -->
</main>