---
layout: default
nav_active: tasks
title: PAN @ CLEF 2018 - Author Obfuscation
description: PAN @ CLEF 2018 - Author Obfuscation
---

<main>
    <header class="uk-section uk-section-muted">

        <nav class="uk-container">
            <div class="uk-align-right uk-text-muted">
                <a class="uk-button" href="{{ 'clef17/pan17-web/author-obfuscation.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2018
                <a class="uk-button uk-padding-remove-right" href="{{ 'clef18/pan18-web/index.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef18/pan18-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef18/pan18-web/submission.html' | relative_url }}">Submission</a></li>
                <li class="uk-active">
                    <a href="#">Tasks <span class="uk-margin-small-left"
                                            data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef18/pan18-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef18/pan18-web/author-profiling.html' | relative_url }}">Author
                                Profiling</a></li>
                            <li class="uk-active"><a
                                    href="{{ '/clef18/pan18-web/author-obfuscation.html' | relative_url }}">Author
                                Obfuscation</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef18/pan18-web/program.html' | relative_url }}">Program</a></li>
                <li><a href="{{ '/clef18/pan18-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-pan-quicklink.html %}
            <h1 class="uk-margin-small">Author Obfuscation</h1>
            <div class="page-header-meta">CLEF @ PAN 2018</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">This task is divided into <a href="#author-masking">author masking</a> and
                <a href="#obfuscation-evaluation">obfuscation evaluation</a>. You can choose to solve one or both of
                them.</p>
        </div>
    </header>

    <section>
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-column-1-2@l uk-text-justify">
                    <h2 id="author-masking">Author Masking</h2>
                    <h3>Task</h3>
                    <p>Given a document, paraphrase it so that its writing style does not match that of its original
                        author, anymore.</p>

                    <h3>Training Corpus</h3>
                    <p>To develop your software, we provide you with a training corpus that consists of documents
                        that are to be obfuscated, and other documents from the same author.</p>
                    <p><a href="https://www.uni-weimar.de/medien/webis/corpora/corpus-pan-labs-09-today/pan-16/pan16-data/pan16-author-masking-training-dataset-2016-02-17.zip"
                           class="uk-button uk-button-primary" target="_blank">Download corpus</a></p>

                    <h3>Output</h3>
                    <p>For each document to be obfuscated, your software shall output a detailed list how each piece
                        of original text has been paraphrased. The output shall be formatted using JSON as
                        follows:</p>
                    <pre>[
  {
    "original": "The quick brown fox jumps over the lazy dog.",
    "original-start-charpos": 10,
    "original-end-charpos": 55,
    "obfuscation": "Lazy lay the dog when an auburn fox quickly jumped over him.",
    "obfuscation-id": 1
  },
  {
    "original": "Squdgy fez, blank jimp crwth vox!",
    "original-start-charpos": 56,
    "original-end-charpos": 70,
    "obfuscation": "A short brimless felt hat barely blocks out the sound of a Celtic violin!",
    "obfuscation-id": 2
  },
  ...
]</pre>
                    <p>The <code>original</code> must be reproduced exactly as it appears in the original document.
                        It can be longer than a sentence, however, it should be less than about 50 words total.</p>
                    <p>The <code>original-start-charpos</code> shall mark the character position in the original
                        document where the <code>original</code> string starts, and the
                        <code>original-end-charpos</code> the character position where the <code>original</code>
                        ends. Keep in mind that some documents may contain UTF-8 characters when calculating the
                        character position of the originals.</p>
                    <p>The <code>obfuscation-id</code> must be an <code>int</code> ranging from 1 to n, where n is
                        the number of obfuscations.</p>
                    <p>The concatenation of all <code>obfuscation</code> entries shall form a coherent text that
                        obfuscates the original text. The concatenation will be done in oder of ascending <code>obfuscation-id</code>.
                    </p>
                    <p>JSON disallows certain special characters in strings (including line breaks). Please make
                        sure to escape these characters in order to output valid JSON. Refer to the
                        <a href="http://json.org/">JSON spec</a> for further details, or use a JSON library.
                    </p>

                    <h3>Performance Measures</h3>
                    <p>
                        We call an obfuscation software</p>
                    <ul class="uk-list uk-list-bullet">
                        <li><em>safe</em>, if a forensic analysis does not reveal the original author of its obfuscated texts,</li>
                        <li><em>sound</em>, if its obufscated texts are textually entailed with their originals, and</li>
                        <li><em>sensible</em>, if its obfuscated texts are inconspicuous.</li>
                    </ul>
                    <p>These dimensions are orthogonal; an obfuscation software may meet any of them to various
                        degrees of perfection.</p>
                    <p>The performance of an obfuscation software is measured</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>using automatic authorship verifiers to measure safety, and</li>
                        <li>with manual peer-review to assess soundness and sensibleness.</li>
                    </ul>
                    <p>To measure safety we will use the following authorship verification software:</p>
                    <ul class="uk-list uk-list-bullet">
                        <li>Caravel [<a href="https://github.com/pan-webis-de/caravel">code</a>] (best-performing approach at PAN 2015)</li>
                        <li>GLAD [<a href="https://github.com/pan-webis-de/glad">code</a>]</li>
                        <li>Authorid [<a href="https://github.com/pan-webis-de/authorid">code</a>]</li>
                        <li>AuthorIdentification-PFP [<a href="https://github.com/pan-webis-de/AuthorIdentification-PFP">code</a>]</li>
                    </ul>
                    <p>To measure soundness and sensibleness, obfuscations will be sampled and handed out to
                        participants for peer-review.</p>
                    <p>Finally, we invite all participants to submit automatic performance measures (see the
                        corresponding task Obfuscation Evaluation).</p>
                </div>
            </div>
        </div>  <!-- section -->


        <div class="uk-section uk-section-muted">
            <div class="uk-container">

                <h2>Task Chair</h2>
                <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                    {% include people-cards/potthast.html %}
                </div>

                <h2>Task Committee</h2>
                <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                    {% include people-cards/hagen.html %}
                    {% include people-cards/stein.html %}
                </div>
            </div>
        </div>
    </section>


    <section>
        <div class="uk-section">
            <div class="uk-container">
                <div class="uk-column-1-2@l">
                    <h2 id="obfuscation-evaluation">Obfuscation Evaluation</h2>
                    <h3>Task</h3>

                    <p>We call an obfuscation software</p>
                    <ul class="uk-list uk-list-bullet">
                        <li><em>safe</em>, if a forensic analysis does not reveal the original author of its obfuscated
                            texts,
                        </li>
                        <li><em>sound</em>, if its obufscated texts are textually entailed with their originals, and
                        </li>
                        <li><em>sensible</em>, if its obfuscated texts are inconspicuous.</li>
                    </ul>
                    <p>These dimensions are orthogonal; an obfuscation software may meet any of them to various
                        degrees of perfection.</p>
                    <p>The task is to devise and implement performance measures that quantify any or parts of these
                        aspects of an obfuscation software.</p>

                    <h3>Input</h3>
                    <p>We will provide you with the data generated by submitted obfuscation software as soon as it
                        becomes available.</p>
                    <p>The input format will be the same as the output of the author masking task.</p>

                    <h3>Output</h3>
                    <p>The output of an evaluation software should be formatted as follows:</p>
                    <pre>measure {
  key  : "myMeasure"
  value: "0.567"
}
measure {
  key  : "myOtherMeasure"
  value: "1.5789"
}
measure {
  key  : "myThirdMeasure"
  value: "0.98421"
}
...</pre>
                    <p>The output is formatted as ProtoBuf text, not JSON.</p>
                    <ul class="uk-list">
                        <li><code>key</code> can be any string that clearly and concisely names the performance measure.</li>
                        <li><code>value</code> shall be a numeric quantification of the measure for a given obfuscated text.</li>
                    </ul>

                    <h3>Submission</h3>
                    <p>We ask you to prepare your software so that it can be executed via a command line call.</p>
                    <pre>&gt; mySoftware <strong>-i</strong> path/to/run/directory <strong>-o</strong> path/to/output/directory</pre>
                    <p>You can choose freely among the available programming languages and among the operating
                        systems Microsoft Windows and Ubuntu. We will ask you to deploy your software onto a virtual
                        machine that will be made accessible to you after registration. You will be able to reach
                        the virtual machine via ssh and via remote desktop. More information about how to access the
                        virtual machines can be found in the user guide below:</p>
                    <p><a class="uk-button uk-button-primary" href="../../clef15/pan15-web/pan15-virtual-machine-user-guide.pdf">PAN
                        Virtual Machine User Guide</a></p>
                    <p>Once deployed in your virtual machine, we ask you to access TIRA at
                        <a href="https://www.tira.io">www.tira.io</a>, where you can self-evaluate your software on
                        the test data.</p>
                    <p><strong>Note:</strong> By submitting your software you retain full copyrights. You agree to
                        grant us usage rights only for the purpose of the PAN competition. We agree not to share
                        your software with a third party or use it for other purposes than the PAN competition.</p>

                    <h3>Performance Measures</h3>
                    <p>Performance will be measured by assessing the validity of your corpus in two ways.</p>
                    <p><em>Detection:</em> Your corpus will be fed into the text alignment prototypes that have been
                        submitted in previous years to the text alignment task. The performances of each text
                        alignment prototype in detecting the plagiarism in your corpus will be measured using
                        macro-averaged precision and recall, granularity, and the plagdet score.</p>
                    <p><em>Peer-review:</em> Your corpus will be made available to the other participants of this
                        task and be subject to peer-review. Every participant will be given a chance to assess and
                        analyze the corpora of all other participants in order to determine corpus quality.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">

            <h2>Task Chair</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
            </div>

            <h2>Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/hagen.html %}
                {% include people-cards/stein.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/pan18-organizations-section.html %}
        </div>
    </footer>  <!-- section -->
</main>
