---
layout: default
nav_active: shared-tasks
title: Clickbait Challenge at SemEval 2023 - Clickbait Spoiling
description: Clickbait posts link to web pages and advertise their content by arousing curiosity instead of providing informative summaries. Clickbait spoiling aims at generating short texts that satisfy the curiosity induced by a clickbait post.
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Clickbait Challenge at SemEval 2023 - Clickbait Spoiling</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container"">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Clickbait Challenge at SemEval 2023 - Clickbait Spoiling</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#baselines">Baselines</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            
            <p>Clickbait posts link to web pages and advertise their content by arousing curiosity instead of providing informative summaries. Clickbait spoiling aims at generating short texts that satisfy the curiosity induced by a clickbait post. We invite you to participate in the Clickbait Challenge 2023 featuring two subtasks. </p>
            
            <ul>
                <li>Communication: [<a href="https://www.tira.io/c/semeval23-task-5-clickbait-spoiling/11"> Mailing list</a>, <a href="#task-committee">Organizers</a>] [<a href="https://twitter.com/webis_de">Twitter</a>]</li>
            </ul>
            <a class="uk-button uk-button-primary" disabled>Registration Closed</a>

            <h2 id="task">Task</h2>
            
            <p>The following figure illustrates some example inputs and the expected output for clickbait spoiling:</p>
            <img src="../pan23-figures/twitter-clickbait-examples.png" alt="Clickbait Spoiling Task Example">
            
            <ul>
                <li>Task 1 on Spoiler Type Classification: <a href="#data">The input</a> is the clickbait post and the linked document. The task is to classify the spoiler type that the clickbait post warrants (either "phrase", "passage", "multi"). For each input, an output like <code>{"uuid": "&#60;UUID&#62;", "spoilerType": "&#60;SPOILER-TYPE&#62;"}</code> has to be generated where <code>&#60;SPOILER-TYPE&#62;</code> is either <code>phrase</code>, <code>passage</code>, or <code>multi</code>.</li>
                <li>Task 2 on Spoiler Generation: <a href="#data">The input</a> is the clickbait post and the linked document (and, optional, the spoiler type if your approach uses this field). The task is to generate the spoiler for the clickbait post. For each input, an output like <code>{"uuid": "&#60;UUID&#62;", "spoiler": "&#60;SPOILER&#62;"}</code> has to be generated where <code>&#60;SPOILER&#62;</code> is the spoiler for the clickbait post.</li>
            </ul>

            <h2 id="index-important-dates">Important Dates</h2>
            <ul>
                <li>October 1, 2022: Submission System Opens</li>
                <li>December 1, 2022: Early bird software submission phase (optional)</li>
                <li>January 24, 2023: Submission deadline (extended, was initially January 10).</li>
                <li>February 28, 2023: Participant paper submission</li>
                <li>March 2023: Peer review notification</li>
                <li>April 2023: Camera-ready participant papers submission</li>
                <li>Summer 2023: SemEval workshop (co-located with a major NLP conference)</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>


            <h2 id="data">Data [<a href="https://zenodo.org/record/6362726#.YsbdSTVBzrk">download</a>]</h2>
            <p>
            The dataset contains the clickbait posts and manually cleaned versions of the linked documents, and extracted spoilers for each clickbait post (the dataset was constructed and published in the <a href="https://webis.de/publications.html?q=clickbait#hagen_2022a">corresponding paper</a>). Additionally, the spoilers are categorized into three types: short phrase spoilers, longer passage spoilers, and multiple non-consecutive pieces of text.
            </p>
            
            <p>The training and validation data is <a href="https://zenodo.org/record/6362726#.YsbdSTVBzrk">available for download on zenodo</a>. This dataset contains contains 3,200 posts for training (the file training.jsonl) and 800 posts for validation (the file validation.jsonl). After training and validation, systems are <a href="#evaluation">evaluated on 1,000 test posts</a>.</p>


            <h3 id="input_format">Input Format</h3>
            
            <p>The data comes in JSON Lines format (.jsonl) where each line contains a clickbait post and the manually cleaned version of the linked document. For each line, the goal is to classify the spoiler type needed (task 1), and/or to generate the spoiler (task 2).</p>
            
            <p>For each entry in the training and validation dataset, the following fields are available:</p>
            <ul>
            <li><code>uuid</code>: The uuid of the dataset entry.</li>
            <li><code>postText</code>: The text of the clickbait post which is to be spoiled.</li>
            <li><code>targetParagraphs</code>: The main content of the linked web page to classify the spoiler type (task 1) and to generate the spoiler (task 2). Consists of the paragraphs of manually extracted main content.</li>
            <li><code>targetTitle</code>:  The title of the linked web page to classify the spoiler type (task 1) and to generate the spoiler (task 2).</li>
            <li><code>targetUrl</code>: The URL of the linked web page.</li>
            <li><code>humanSpoiler</code>: The human generated spoiler (abstractive) for the clickbait post from the linked web page. This field is only available in the training and validation dataset (not during test).</li>
            <li><code>spoiler</code>: The human extracted spoiler for the clickbait post from the linked web page. This field is only available in the training and validation dataset (not during test).</li>
            <li><code>spoilerPositions</code>: The position of the human extracted spoiler for the clickbait post from the linked web page. This field is only available in the training and validation dataset (not during test).</li>    
            <li><code>tags</code>: The spoiler type (might be "phrase", "passage", or "multi") that is to be classified in task 1 (spoiler type classification). For task 1, this field is only available in the training and validation dataset (not during test). For task 2, this field is always available and can be used.</li>
            <li>Some fields contain additional metainformation about the entry but are unused: <code>postId</code>, <code>postPlatform</code>, <code>targetDescription</code>, <code>targetKeywords</code>, <code>targetMedia</code>.</li>
            
            </ul>
            
            <p>The following is a simplified entry in the dataset (line breaks added for readability):</p>
            <code>
            {<br>
&nbsp;&nbsp;"uuid": "0af11f6b-c889-4520-9372-66ba25cb7657",<br>
&nbsp;&nbsp;"postText": ["Wes Welker Wanted Dinner With Tom Brady, But Patriots QB Had Better Idea"],<br>
&nbsp;&nbsp;"targetParagraphs": [<br>
&nbsp;&nbsp;&nbsp;&nbsp;"It’ll be just like old times this weekend for Tom Brady and Wes Welker.",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"Welker revealed Friday morning on a Miami radio station that he contacted Brady because he’ll be in town for Sunday’s game between the New England Patriots and Miami Dolphins at Gillette Stadium. It seemed like a perfect opportunity for the two to catch up.",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"But Brady’s definition of \"catching up\" involves far more than just a meal. In fact, it involves some literal \"catching\" as the Patriots quarterback looks to stay sharp during his four-game Deflategate suspension.",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"\"I hit him up to do dinner Saturday night. He’s like, ‘I’m going to be flying in from Ann Arbor later (after the Michigan-Colorado football game), but how about that morning we go throw?’ \" Welker said on WQAM, per The Boston Globe. \"And I’m just sitting there, I’m like, ‘I was just thinking about dinner, but yeah, sure. I’ll get over there early and we can throw a little bit.’ \"",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"Welker was one of Brady’s favorite targets for six seasons from 2007 to 2012. It’s understandable him and Brady want to meet with both being in the same area. But Brady typically is all business during football season. Welker probably should have known what he was getting into when reaching out to his buddy.",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"\"That’s the only thing we really have planned,\" Welker said of his upcoming workout with Brady. \"It’s just funny. I’m sitting there trying to have dinner. ‘Hey, get your ass up here and let’s go throw.’ I’m like, ‘Aw jeez, man.’ He’s going to have me running like 2-minute drills in his backyard or something.\"",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"Maybe Brady will put a good word in for Welker down in Foxboro if the former Patriots wide receiver impresses him enough."<br>
&nbsp;&nbsp;],<br>
&nbsp;&nbsp;"targetTitle": "Wes Welker Wanted Dinner With Tom Brady, But Patriots QB Had A Better Idea",<br>
&nbsp;&nbsp;"targetUrl": "http://nesn.com/2016/09/wes-welker-wanted-dinner-with-tom-brady-but-patriots-qb-had-better-idea/",<br>
&nbsp;&nbsp;"spoiler": ["how about that morning we go throw?"],<br>
&nbsp;&nbsp;"spoilerPositions": [[[3, 151], [3, 186]]],<br>
&nbsp;&nbsp;"tags": ["passage"]<br>
}
            </code>
            
            <h3 id="output_format">Output Format [<a
href="https://github.com/pan-webis-de/pan-code/tree/master/semeval23" target="_blank">validator</a>]</h3>
            <p>The output format for task 1 and task 2 is identical but other fields are mandatory.
               Please submit your results in <a href="https://jsonlines.org/">JSON Lines format</a> producing one output line for each input instance.
            </p>
            <p>
            Each line should have the following format:

<code>
{"uuid": "&#60;UUID&#62;", "spoilerType": "&#60;SPOILER-TYPE&#62;", "spoiler": "&#60;SPOILER&#62;"}
</code>
           </p>
           <p>where:

           <ul>
               <li><code>&#60;UUID&#62;</code>is the uuid of the input instance.</li>
               <li><code>&#60;SPOILER-TYPE&#62;</code> is the spoiler type (might be "phrase", "passage", or "multi") to be predicted in task 1. This field is mandatory for task 1 but optional for task 2 (to indicate that your system used some type of spoiler type classification during the spoiler generation).</li>
               <li><code>&#60;SPOILER&#62;</code> is the generated spoiler to be produced in task 2. This field is mandatory for task 2.</li>
            </ul>
            We provide code and example outputs that you can validate your submissions in <a href="https://github.com/pan-webis-de/pan-code/tree/master/semeval23">this github repository</a>.
            </p>
            
            <h2 id="baselines">Baselines [<a href="https://github.com/pan-webis-de/pan-code/tree/master/semeval23/baselines">Github</a>, <a href="https://hub.docker.com/r/webis/pan-clickbait-spoiling-baselines">Dockerhub</a>]</h2>
            <p>We provide some naive and some fine-tuned baselines that are available at <a href="https://github.com/pan-webis-de/pan-code/tree/master/semeval23/baselines">the corresponding git repository</a>. All baselines are <a href="https://hub.docker.com/r/webis/pan-clickbait-spoiling-baselines">available on Dockerhub</a> to simplify participation.</p>

            <h2 id="evaluation">Evaluation [<a
href="https://github.com/pan-webis-de/pan-code/tree/master/semeval23/clickbait-challenge" target="_blank">code</a>]</h2>
            <p>The description of the evaluation will be announced soon.</p>


            <h2 id="submission">Submission</h2>
            <p>We will accept run file submissions and software submissions via <a href="https://tira.io">TIRA</a>. Run file submissions will be uploaded to TIRA in the format specified above. For software submissions, you upload docker images to TIRA that will be executed on the test data within the TIRA platform (using a single file as input to produce a single file as output in the format specified above). We recommend software submissions to improve the reproducibility and reusability. Please run your software on the datasets "task-1-type-classification" (for task 1) respectively "task-2-spoiler-generation" (for task 2) in TIRA to produce submissions (you can use the datasets "task-1-type-classification-validation" respectively "task-2-spoiler-generation-validation" to validate your approaches).
            
            </p>


            <h2 id="tira-quickstart">TIRA Quickstart</h2>
            <p>
            Participants may upload docker images that are executed within TIRA so that the runs can be reproduced or the software may be applied to different data (of same format) in the future. You can find the access credentials for your dedicated container registry to upload your images under "Docker Submission":
            </p>
            
            <img src="../pan23-figures/tira-upload-docker-image.png" alt="TIRA">
            
            <p>
            Please follow the instructions there to upload your image.
            For instance, you can upload <a href="#baselines">the naive baseline</a> for task 1 by first tagging the image accordingly, i.e., <code>docker tag webis/pan-clickbait-spoiling-baselines:task1-naive-0.0.1 registry.webis.de/code-research/tira/YOUR-USER-NAME/YOUR-SOFTWARE-NAME:0.0.1</code>, then logging in to your dedicated registry, i.e., <code>docker login -u YOUR-USER-NAME -pTOKEN-PROVIDED-BY-TIRA registry.webis.de</code> and finally uploading the image by running <code>docker push registry.webis.de/code-research/tira/YOUR-USER-NAME/YOUR-SOFTWARE-NAME:0.0.1</code>. 
            </p>
            
            <p>
            Your software is expected to accept two arguments: 
            <ul>
            <li>An input directory (named <code>$inputDataset</code> in TIRA). This input directory contains a input.jsonl file that contains the input data.</li>
            <li>An output directory (named <code>$outputDir</code> in TIRA). Your software should create its output in <code>$outputDir/run.jsonl</code>.</li>
            </ul>
            </p>
            
            <p>
            After you have uploaded your image, you can add new softwares that use this image.
            Each combination of a command and a docker image is a software in TIRA (that can not be changed in retrospect to ensure reproducibility). Add a software by selecting your image and specifying the command that should be executed inside the image (should use the two arguments, for instance, the command for the naive baseline uploaded above is <code>/naive-baseline-task-1.py --input $inputDataset/input.jsonl --output $outputDir/run.jsonl</code>):
            
            <img src="../pan23-figures/tira-add-docker-software.png" alt="TIRA">

            </p>
            
            <p>            
            After adding the docker software, a new tab for this software appears.
            You can run your software by specifying the compute resources (that your software has available during its execution) and the dataset (the input to the software). Please run your software on the datasets "task-1-type-classification" (for task 1) respectively "task-2-spoiler-generation" (for task 2) in TIRA to produce submissions (you can use the datasets "task-1-type-classification-validation" respectively "task-2-spoiler-generation-validation" to validate your approaches). You can run your software multiple times in parallel so executing your software on different resource specifications enables evaluations on the scalability of the software:
            
            <img src="../pan23-figures/tira-run-docker-software.png" alt="TIRA">
            <p>
            
            Once the run of your software completes, you can see the run and its evaluation:
            
            <img src="../pan23-figures/tira-run-results.png" alt="TIRA">
            </p>

            <h2 id="related-work">Related Work / Resources / Invited Talks</h2>

            <ul>
              <li>Additional Resources and related work is available in <a href="https://www.tira.io/t/clickbait-spoiling-additional-resources/883/4">the forum</a></li>
              <li>We have a call for participation that also contains an overview of such resources. The <a href="../pan23-figures/semeval23-clickbait-spoiling-call-for-participation-for-teaching-frame.pdf">slides are available online</a>. We held this presentation at the TU Dresden (18.10.2022, <a href="https://www.youtube.com/watch?v=vetw5MJ4U-M">recording is available</a>), TH Köln (21.10.2022), Uni Regensburg (26.10.2022), and Uni Leipzig (07.11.2022).</li>
            </ul>
            
            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/froebe.html gender="male" %}
                {% include people-cards/gollub.html gender="male" %}
                {% include people-cards/hagen.html gender="male" %}
                {% include people-cards/potthast.html gender="male" %}
            </div>
        </div>
    </div>
</main>
