---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2025 - Multilingual Text Detoxification
description: PAN at CLEF 2025 - Multilingual Text Detoxification
---

<head>
<style>
     table {
         border-collapse: collapse; /* Ensures that borders are shared between cells */
         width: 100%; /* Optional: Makes the table take up the full width of its container */
     }
     th, td {
         border: 1px solid black; /* Adds borders to table headers and cells */
         padding: 10px; /* Increases padding for more space within cells */
         text-align: left; /* Aligns text to the left */
     }
</style>
</head>

<nav class="uk-container">
   <ul class="uk-breadcrumb">
      <li><a href="../../index.html">PAN</a></li>
      <li><a href="../../shared-tasks.html">Shared Tasks</a></li>
      <li class="uk-disabled"><a href="#">Multilingual Text Detoxification 2025</a></li>
   </ul>
</nav>
<main class="uk-section uk-section-default">
   <div class="uk-container">
      <div class="uk-container uk-margin-small">
         <div>
            <h1 class="uk-margin-remove-top">Multilingual Text Detoxification (TextDetox) 2025</h1>
            <ul class="uk-list">
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#phases">Phases</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#methodology">Methodology</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#dates">Important Dates</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#dates">Results</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
               <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
         </div>
         <div style="position:absolute;right:50px; top: 300px;">
            <p>Stop the war!</p>
            <b>Sponsored by</b><br/>
            <a href="https://toloka.ai/" target="_blank">
            <img src="../pan25-figures/toloka-logo.png" style="width: 200px" alt="Toloka">
            </a>
         </div>
      </div>
      <div class="uk-container uk-margin-medium">
         <h2 id="synopsis">Synopsis</h2>
         <ul>
             <li>Task: Given a toxic piece of text, re-write it in a non-toxic way while saving the main content as much as possible.</li>
            <li>Input: toxic sentences in <b>15 languages</b> from all over the globe: English, Spanish, German, Chinese, Arabic, Hindi, Ukrainian, Russian, Amharic, Italian, French, Hebrew, Hinglish, Japanese, and Tatar. [<a href="https://huggingface.co/datasets/textdetox/multilingual_paradetox">data</a>]
            </li>
            <li>Output: detoxified version of the text in the corresponding language.
            </li>
            <li>Evaluation: automatic and manual evaluation based on three parameters: style transfer accuracy; content preservation; fluency.[<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef25/text-detoxification">Github repo</a>]
            </li>
            <li>Submission: [<a href="https://codalab.lisn.upsaclay.fr/competitions/22396">CodaLab</a>] is now open! <b>Final submissions deadline: May 23</b>
            </li>
            <li>
               Registration: [<a href="https://clef2025.clef-initiative.eu/index.php?page=Pages/registration.html">CLEF2025 Registration</a>]
            </li>
            <li>
               Contact: [<a href="https://huggingface.co/textdetox">HuggingFace space</a>][<a href="https://groups.google.com/g/textdetox-clef2025">google group</a>]
            </li>
            <li>
               Paper submission link: [<a href="https://www.easychair.org/my/conference?conf=clef2025">Easychair CLEF2025</a>][<a href="https://drive.google.com/file/d/1C-n8-F6GmKIlP1Ng1I-xAlJjbkJ__0lV/view?usp=drive_link"><b>Instructions</b></a>]
            </li>
            <li>
               Paper template: [<a href="https://drive.google.com/drive/folders/1xuOj-tTH6e-_WKAThigr_Bh8jrJFjr8K?usp=sharing">Template</a>]
            </li>
         </ul>
         <h2 id="task">Task</h2>
         <p>
            Identification of toxicity in user texts is an active area of research. Today, social networks such as <a href="https://edition.cnn.com/2021/06/16/tech/facebook-ai-conflict-moderation-groups/index.html">Facebook</a>, <a href="https://about.instagram.com/blog/announcements/introducing-new-tools-to-protect-our-community-from-abuse">Instagram</a> are trying to address the problem of toxicity.
            However, they usually simply block such kinds of texts. 
            We suggest a proactive reaction to toxicity from the user. Namely, we aim at presenting a neutral version of a user message which preserves meaningful content. We denote this task as <i>text detoxification</i>.
         </p>
         <p>
            <img src="../pan25-figures/textdetox_abstract.jpg" style="width: 1100px; display: block; margin: 0 auto;" alt="Multilingual TextDetox Task">
         </p>
         <p>
            More text detoxification examples in English:
         <table>
            <tr>
               <th>Toxic</th>
               <th>Detoxified</th>
            </tr>
            <tr>
               <td>he had steel b*lls too!</td>
               <td>he was brave too!</td>
            </tr>
            <tr>
               <td>delete the page and sh*t up</td>
               <td>delete the page</td>
            </tr>
            <tr>
               <td>what a chicken cr*p excuse for a reason.</td>
               <td>what a bad excuse for a reason.</td>
            </tr>
         </table>
         </p>

         <p>
              <b>Languages</b>
         </p>
         <p>
            In this competition, we suggest you create detoxification systems for various languages from several linguitic families. We have languages from the <a href='https://pan.webis.de/clef24/pan24-web/text-detoxification.html'>2024 edition</a> — English, Spanish, German, Chinese, Arabic, Hindi, Ukrainian, Russian, and Amharic — 
            together with <b>new languages</b>: European languages — Italian, French, Turkic language Tatar, Semitic language Hebrew, Asian language Japanese, and even one very popular code-switch language Hinglish!
         </p>

         <p>
            <b>Definition of toxiciy</b> 
         </p>
         <p>
            One of the crucial points in this task is to have a common ground on how to estimate if the text is toxic or not. 
            In our task, we will work only with <b>explicit</b> types of toxicity—obvious present of obscene and rude lexicon where still there is meaningful neutral content present—and <b>do not</b> work with <b>implicit</b> types—like sarcasm, passive aggressiveness, or direct hate to some group where no neutral content can be found.
            Such implicit toxicity types are challenging to be detoxified so the intent will indeed become non-toxic.
            For this reason, we tried to pick for our datasets the sentences with explicit toxicity where we can detoxify it.
            However, toxicity can be quite a subjective intent. We hope, that we will agree on the majority of the cases what should be toxic or not. In the end, the main goal is to make the texts and the world at least somehow less toxic ;)
         </p>

         <h2 id="phases">Phases</h2>
         The shared task will be divided into two phases — development and test. In both phases, we are make the emphasis on <b>cross-lingual</b> and <b>multilingual</b> text detoxification.
         <p>
            <b>Development Phase</b> The <a href='https://huggingface.co/datasets/textdetox/multilingual_paradetox'>parallel traning data</a> is available for these languages: English, Spanish,  German, Chinese, Arabic, Hindi, Ukrainian, Russian, and Amharic. 
            In our <a href='https://huggingface.co/datasets/textdetox/multilingual_paradetox_test'>test set</a>, we have 600 toxic sentence per these languages together with 100 toxic sentence for new languages—Italian, French, Hebrew, Hinglish, Japanese, and Tatar! 
            Your task will be to come up with text detoxification models for new languages with no parallel training data as well as aiming to have the best overall multilingual model.
         </p>
         <p>
            <b>Test Phase</b> We will add even more test toxic sentences for new languages!
         </p>

         <h2 id="methodology">Methodology</h2>
          <p>
            <b>Supervised Baselines</b>
         </p>
         <p>
            If a parallel corpus of toxic-neutral pairs is already available, then you can fine-tune <i>any</i> text generation model.
            You can refer to the ruT5 model for detoxification <a href="https://github.com/s-nlp/russe_detox_2022/tree/main/baselines/t5">example</a> from the <a href="https://russe.nlpub.org/2022/tox/">shared task</a> at the <a href="https://www.dialog-21.ru/en/evaluation/">Dialogue Evaluation</a> forum.
         </p>
        <p>
             We provide one of the top solution from TextDetox2024 <a href='https://huggingface.co/s-nlp/mt0-xl-detox-orpo'>mT0-XL-detox</a> and <a href='https://huggingface.co/textdetox/mbart-detox-baseline'>mBART</a> baselines fine-tuned on 9 languages.
        </p>
        <p>
             The code example how to <b>fine-tune</b> your own <i>seq2seq</i> model is availale as a <a href="https://colab.research.google.com/drive/1Wd_32qGpED5M3cfmDapKqOGplgLQ39xP?usp=sharing"> Google Colab notebook</a>.
        </p>
         <p>
            <b>Unsupervised Baselines</b>
         </p>
         <p>
            <img src="../pan25-figures/detox_baselines.png" style="width: 700px; display: block; margin: 0 auto;" alt="Unsupervised Baselines">
         </p>
         To begin with, you can start with unsupervised methods that does not require fine-tuning. We provide several unsupervised baselines:
         <ol>
            <li>
               <b>Duplicate</b>: a simple duplication of the toxic input.
            </li>
            <li>
               <b>Delete</b>: elimination of a toxic keywords based on a predifined <a href="https://huggingface.co/datasets/textdetox/multilingual_toxic_lexicon">dictionary</a> for each language.
            </li>
            <li>
               <b>Backtranslation</b>: a more sophisticated cross-lingual transfer method. Translate the input to the language for which powerful detoxification model in available, perform detoxification, and translate back to the target language.
               The translation is done with NLLB-600M <a href="https://huggingface.co/facebook/nllb-200-distilled-600M">model</a>, detoxification with English bart-base-detox <a href="https://huggingface.co/s-nlp/bart-base-detox">model</a>.
            </li>
            <li>
                 <b>LLMs prompting</b>: for sure, you can utilize any LLMs in zero-shot or few-shot format. As a baseline, we provide zero-shot results of <a href='https://huggingface.co/mlabonne/Llama-3.1-70B-Instruct-lorablated'>LLaMa-70B</a> as well as GPT-4-0613, GPT-4o-2024-08-06, and o3-mini-2025-01-31 prompting.
            </li>
         </ol>
         <b>The code for all baselines</b> together with links to all models and used prompts is available [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef25/text-detoxification">here</a>].
           
         <h2 id="data">Data</h2>
        <p>
             <b>Training Data</b>
        </p>
         <ol>
            <li><b>Parallel Text Detoxification Dataset</b> The <a href="https://huggingface.co/datasets/textdetox/multilingual_paradetox">link</a> to the parallel multilingual text detoxification data. This dataset contains 400 pairs for each of 9 languages.</li>
            <li><b>Toxicity Classification Dataset</b>. To support broader experiments with toxicity, we provide a compilation of <a href='https://huggingface.co/datasets/textdetox/multilingual_toxicity_dataset'>toxicity classification data</a> for all 15 languages.</li>
            <li><b>Toxic Keywords List</b>. <a href='https://huggingface.co/datasets/textdetox/multilingual_toxic_lexicon'>Toxic keywords</a> for all 15 languages and <a href='https://huggingface.co/datasets/textdetox/multilingual_toxic_spans'>toxic spans</a> for 9 languages.</li>
         </ol>
         <p>
              <b>Test Data</b>
         </p>
         <p>
              The test data for all languages is available [<a href='https://huggingface.co/datasets/textdetox/multilingual_paradetox_test'>here</a>].
         </p>
         <p>
              <b>!!!May 8: Test data is updated for the test phase!!!</b>
         </p>

         <h2 id="evaluation">Evaluation</h2>
         <p>
            For the whole competition, the automatic evaluation metrics set will be available. We provide the multilingual automatic evaluation pipeline based on main three parameters:
         <ul>
            <li>
               <b>Style Transfer Accuracy</b>: Given the generated paraphrase, classify its level of <b>non-toxicity</b>. For this, specifically fine-tuned xlm-roberta-large for toxicity binary <a href="https://huggingface.co/textdetox/xlmr-large-toxicity-classifier-v2">classification</a> is used.            </li>
            <li>
               <b>Content preservation</b>: Given two texts, evaluate the similarity of their content. We calculate it as cosine similarity between <a href="https://huggingface.co/sentence-transformers/LaBSE">LaBSe</a> embeddings.
            </li>
            <li>
               <b>Fluency</b>: To estimate the adequacy of the text and its similarity to the human-written detoxified references, we use <a href="https://huggingface.co/myyycroft/XCOMET-lite">xCOMET</a> model. Based on our experiments, COMET machine translation models showed perfect correlation with the annotation of fluency in detoxified texts.
            </li>
         </ul>
         </p>
         <p>
            Each metric component lies in the range [0;1]. To have the one common metric for leaderboard estimation, we will calculate <b>Joint</b> metric as the mean of combination of <b>STA</b>*<b>SIM</b>*<b>FL</b> per sample.
         </p>
         <p>
            <img src="../pan25-figures/detox_evaluation_formula.jpeg" style="width: 750px; display: block; margin: 0 auto;" alt="The concept of text detoxification evaluation">
         </p>
         <p>
              <b>[2025-edition metrics update]</b> As you can compare from 2024 shared task edition, the calculation of J score advanced significantly (see the formula). Thus, in each metrics parameter--STA, SIM, and FL--we take take into account human references.
              For <b>STA</b>, we check not only the probability of a new output to be a non-toxic sentence, but also if its non-toxicity score is less than human references. This is motivated by the fact that even human detoxifications might be not ideally non-toxic. For <b>SIM</b>, we calculate the weighted sum of output's similarity to the original sentence as well as the human detoxification. Finally, machine-translation inspired <b>FL</b> metric xCOMET evaluates the similarity of the output to the human-written detoxified version.
         </p>
         <p>
               <b>Automatic Evaluation Code</b> is fully publicly available [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef25/text-detoxification">here</a>].
         </p>

         <h2 id="submission">Submission</h2>
         <p>
            All submissions are handled through <a href="https://codalab.lisn.upsaclay.fr/competitions/22396" target="_blank">Codalab</a>.
         </p>
         <p>
              To get the <b>submission file</b> for the phase, you need to go to the Participate -> Files page and download Public data. You will receive a .tsv file to fill in. 
              You must <b>fill in all the rows</b> in the file -- either dublicate the toxic input or provide your model output -- and then <b>.zip</b> your .tsv submission.
         </p>
         <p>
              On the leaderboard, you will see the final J score per all languages. We divide columns of the leaderboard into two categories:
              <ol>
                   <li><b>AvgP</b>: Languages with parallel data (previous 9 languages).</li>
                   <li><b>AvgNP</b>: Languages without available parallel data (new 6 languages).</li>
              </ol>
              Thus, you can see how your model perform on each <b>language separately</b>, on <b>languages with training data</b>, and <b>new languages without training data</b>. 
         </p>
         <p>
              Also, if you would like to see detialed scores per language and per each metrics parameter, you can download <i>View scoring error log</i>. 
         </p>
         <p>
              <b>Please, follow carefully submissions requirements!</b>
              <ol>
                   <li>Your submission must be in .zip format with a .tsv file inside: Make sure that you provide a .tsv file to follow this rule.</li>
                   <li>Your submission must contain three columns: toxic_text, neutral_text, and lang.</li>
                   <li>You must not edit the neutral_text and lang columns: Texts in these columns should correspond to the original inputs.</li>
                   <li>Do not provide NaN in your .tsv file: Please NaNreplace them by, for example, given inputs, as they will break your submission attempt.</li>
                   <li>Do not remove lines: Size of your submission should correpospond to the size of an original file.</li>
              </ol>
              Please, wait 1-2 minutes till the 'Finished' status. For the final step, if you want your receied results be <b>visible on the overall leaderboard</b>, you must click 'Submit to Leaderboard' button.
         </p>

         <h2 id="dates">Important Dates</h2>
         <ol>
              <li>Registration to CLEF2025: is now open! Register <a href='https://clef2025.clef-initiative.eu/index.php?page=Pages/registration.html'>here</a> and join our <a href='https://groups.google.com/g/textdetox-clef2025'>Google Group</a>.</li>
              <li>April 25, 2025: Registration closes.</li>
              <li><b>May 8</b>, 2025: Test phase starts.</li>
              <li><b>May 23</b>, 2025: Test phase ends, final submissions.</li>
              <li>May 30, 2025: Participants paper submission.</li>
              <li>June 27, 2025: Notification of acceptance.</li>
              <li>July 7, 2025: Camera-ready due.</li>
              <li>September 9-12, 2025: CLEF Conference in Madrid, Spain!</li>
         </ol>

         <div class="leaderboard-result-table">
             <table class="resultsTable dataTable">
                <tbody>
                   <tr class="table-title">
                      <!-- <th colspan="15">Results</th> -->
                   </tr>
                   <tr class="leaderboard-result-table-header">
                      <th rowspan="2">#</th>
                      <th rowspan="2">User</th>
                      <th rowspan="2" class="column-selectable column-selected" name="chrf_avg" style="background-color: yellow;">average
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_en">en
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_es">es
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_de">de
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_zh">zh
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_ar">ar
                         <span class="glyphicon glyphicon-play ascending-sortingstyle="background-color: yellow;"" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_hi">hi
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_uk">uk
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_ru">ru
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                      <th rowspan="2" class="column-selectable" name="chrf_am">am
                         <span class="glyphicon glyphicon-play ascending-sorting" aria-hidden="true"></span>
                      </th>
                   </tr>
                   <tr></tr>
                      <tr>
                         <td class="row-position">
                            1
                         </td>
                         <td>
                            <b>golden annotation</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.820</b></td>
                         <td name="chrf_en"><b>0.846</b></td>
                         <td name="chrf_es"><b>0.783</b></td>
                         <td name="chrf_de"><b>0.930</b></td>
                         <td name="chrf_zh"><b>0.716</b></td>
                         <td name="chrf_ar"><b>0.838</b></td>
                         <td name="chrf_hi"><b>0.888</b></td>
                         <td name="chrf_uk"><b>0.807</b></td>
                         <td name="chrf_ru"><b>0.828</b></td>
                         <td name="chrf_am"><b>0.742</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            2
                         </td>
                         <td>
                            <b>Team MetaDetox</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.812</b></td>
                         <td name="chrf_en"><b>0.893</b></td>
                         <td name="chrf_es"><b>0.823</b></td>
                         <td name="chrf_de"><b>0.919</b></td>
                         <td name="chrf_zh"><b>0.813</b></td>
                         <td name="chrf_ar"><b>0.826</b></td>
                         <td name="chrf_hi"><b>0.785</b></td>
                         <td name="chrf_uk"><b>0.791</b></td>
                         <td name="chrf_ru"><b>0.829</b></td>
                         <td name="chrf_am"><b>0.626</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            3
                         </td>
                         <td>
                            <b>ducanhhbtt</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.798</b></td>
                         <td name="chrf_en"><b>0.871</b></td>
                         <td name="chrf_es"><b>0.797</b></td>
                         <td name="chrf_de"><b>0.919</b></td>
                         <td name="chrf_zh"><b>0.796</b></td>
                         <td name="chrf_ar"><b>0.814</b></td>
                         <td name="chrf_hi"><b>0.762</b></td>
                         <td name="chrf_uk"><b>0.785</b></td>
                         <td name="chrf_ru"><b>0.827</b></td>
                         <td name="chrf_am"><b>0.614</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            4
                         </td>
                         <td>
                            <b>Team ReText.Ai Team</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.775</b></td>
                         <td name="chrf_en"><b>0.794</b></td>
                         <td name="chrf_es"><b>0.765</b></td>
                         <td name="chrf_de"><b>0.888</b></td>
                         <td name="chrf_zh"><b>0.783</b></td>
                         <td name="chrf_ar"><b>0.790</b></td>
                         <td name="chrf_hi"><b>0.773</b></td>
                         <td name="chrf_uk"><b>0.791</b></td>
                         <td name="chrf_ru"><b>0.792</b></td>
                         <td name="chrf_am"><b>0.597</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            5
                         </td>
                         <td>
                            <b>Jiaozipi</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.768</b></td>
                         <td name="chrf_en"><b>0.882</b></td>
                         <td name="chrf_es"><b>0.812</b></td>
                         <td name="chrf_de"><b>0.840</b></td>
                         <td name="chrf_zh"><b>0.744</b></td>
                         <td name="chrf_ar"><b>0.779</b></td>
                         <td name="chrf_hi"><b>0.701</b></td>
                         <td name="chrf_uk"><b>0.757</b></td>
                         <td name="chrf_ru"><b>0.817</b></td>
                         <td name="chrf_am"><b>0.579</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            6
                         </td>
                         <td>
                            <b>Team The Toxinators 2000</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.768</b></td>
                         <td name="chrf_en"><b>0.842</b></td>
                         <td name="chrf_es"><b>0.758</b></td>
                         <td name="chrf_de"><b>0.828</b></td>
                         <td name="chrf_zh"><b>0.715</b></td>
                         <td name="chrf_ar"><b>0.788</b></td>
                         <td name="chrf_hi"><b>0.759</b></td>
                         <td name="chrf_uk"><b>0.766</b></td>
                         <td name="chrf_ru"><b>0.818</b></td>
                         <td name="chrf_am"><b>0.638</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            7
                         </td>
                         <td>
                            <b>Team Pratham</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.768</b></td>
                         <td name="chrf_en"><b>0.843</b></td>
                         <td name="chrf_es"><b>0.763</b></td>
                         <td name="chrf_de"><b>0.822</b></td>
                         <td name="chrf_zh"><b>0.717</b></td>
                         <td name="chrf_ar"><b>0.793</b></td>
                         <td name="chrf_hi"><b>0.758</b></td>
                         <td name="chrf_uk"><b>0.782</b></td>
                         <td name="chrf_ru"><b>0.811</b></td>
                         <td name="chrf_am"><b>0.621</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            8
                         </td>
                         <td>
                            <b>baseline_mt0</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.768</b></td>
                         <td name="chrf_en"><b>0.843</b></td>
                         <td name="chrf_es"><b>0.764</b></td>
                         <td name="chrf_de"><b>0.825</b></td>
                         <td name="chrf_zh"><b>0.717</b></td>
                         <td name="chrf_ar"><b>0.791</b></td>
                         <td name="chrf_hi"><b>0.751</b></td>
                         <td name="chrf_uk"><b>0.770</b></td>
                         <td name="chrf_ru"><b>0.809</b></td>
                         <td name="chrf_am"><b>0.639</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            9
                         </td>
                         <td>
                            <b>sky.Duan</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.765</b></td>
                         <td name="chrf_en"><b>0.847</b></td>
                         <td name="chrf_es"><b>0.757</b></td>
                         <td name="chrf_de"><b>0.830</b></td>
                         <td name="chrf_zh"><b>0.696</b></td>
                         <td name="chrf_ar"><b>0.787</b></td>
                         <td name="chrf_hi"><b>0.747</b></td>
                         <td name="chrf_uk"><b>0.771</b></td>
                         <td name="chrf_ru"><b>0.811</b></td>
                         <td name="chrf_am"><b>0.638</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            10
                         </td>
                         <td>
                            <b>Dalfa</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.764</b></td>
                         <td name="chrf_en"><b>0.840</b></td>
                         <td name="chrf_es"><b>0.758</b></td>
                         <td name="chrf_de"><b>0.849</b></td>
                         <td name="chrf_zh"><b>0.721</b></td>
                         <td name="chrf_ar"><b>0.789</b></td>
                         <td name="chrf_hi"><b>0.738</b></td>
                         <td name="chrf_uk"><b>0.756</b></td>
                         <td name="chrf_ru"><b>0.790</b></td>
                         <td name="chrf_am"><b>0.640</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            11
                         </td>
                         <td>
                            <b>Team cake</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.742</b></td>
                         <td name="chrf_en"><b>0.805</b></td>
                         <td name="chrf_es"><b>0.807</b></td>
                         <td name="chrf_de"><b>0.866</b></td>
                         <td name="chrf_zh"><b>0.652</b></td>
                         <td name="chrf_ar"><b>0.720</b></td>
                         <td name="chrf_hi"><b>0.689</b></td>
                         <td name="chrf_uk"><b>0.757</b></td>
                         <td name="chrf_ru"><b>0.792</b></td>
                         <td name="chrf_am"><b>0.591</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            12
                         </td>
                         <td>
                            <b>jrluo</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.742</b></td>
                         <td name="chrf_en"><b>0.825</b></td>
                         <td name="chrf_es"><b>0.723</b></td>
                         <td name="chrf_de"><b>0.814</b></td>
                         <td name="chrf_zh"><b>0.696</b></td>
                         <td name="chrf_ar"><b>0.746</b></td>
                         <td name="chrf_hi"><b>0.711</b></td>
                         <td name="chrf_uk"><b>0.752</b></td>
                         <td name="chrf_ru"><b>0.778</b></td>
                         <td name="chrf_am"><b>0.631</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            13
                         </td>
                         <td>
                            <b>Team Transformers</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.737</b></td>
                         <td name="chrf_en"><b>0.871</b></td>
                         <td name="chrf_es"><b>0.778</b></td>
                         <td name="chrf_de"><b>0.853</b></td>
                         <td name="chrf_zh"><b>0.673</b></td>
                         <td name="chrf_ar"><b>0.713</b></td>
                         <td name="chrf_hi"><b>0.706</b></td>
                         <td name="chrf_uk"><b>0.758</b></td>
                         <td name="chrf_ru"><b>0.788</b></td>
                         <td name="chrf_am"><b>0.492</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            14
                         </td>
                         <td>
                            <b>nikita.sushko</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.735</b></td>
                         <td name="chrf_en"><b>0.858</b></td>
                         <td name="chrf_es"><b>0.740</b></td>
                         <td name="chrf_de"><b>0.828</b></td>
                         <td name="chrf_zh"><b>0.702</b></td>
                         <td name="chrf_ar"><b>0.652</b></td>
                         <td name="chrf_hi"><b>0.732</b></td>
                         <td name="chrf_uk"><b>0.772</b></td>
                         <td name="chrf_ru"><b>0.835</b></td>
                         <td name="chrf_am"><b>0.491</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            15
                         </td>
                         <td>
                            <b>SVATS</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.723</b></td>
                         <td name="chrf_en"><b>0.830</b></td>
                         <td name="chrf_es"><b>0.749</b></td>
                         <td name="chrf_de"><b>0.854</b></td>
                         <td name="chrf_zh"><b>0.776</b></td>
                         <td name="chrf_ar"><b>0.705</b></td>
                         <td name="chrf_hi"><b>0.672</b></td>
                         <td name="chrf_uk"><b>0.743</b></td>
                         <td name="chrf_ru"><b>0.798</b></td>
                         <td name="chrf_am"><b>0.380</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            16
                         </td>
                         <td>
                            <b>Team Detox</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.722</b></td>
                         <td name="chrf_en"><b>0.691</b></td>
                         <td name="chrf_es"><b>0.757</b></td>
                         <td name="chrf_de"><b>0.819</b></td>
                         <td name="chrf_zh"><b>0.699</b></td>
                         <td name="chrf_ar"><b>0.718</b></td>
                         <td name="chrf_hi"><b>0.701</b></td>
                         <td name="chrf_uk"><b>0.742</b></td>
                         <td name="chrf_ru"><b>0.792</b></td>
                         <td name="chrf_am"><b>0.580</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            17
                         </td>
                         <td>
                            <b>baseline_gpt4</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.715</b></td>
                         <td name="chrf_en"><b>0.858</b></td>
                         <td name="chrf_es"><b>0.800</b></td>
                         <td name="chrf_de"><b>0.807</b></td>
                         <td name="chrf_zh"><b>0.654</b></td>
                         <td name="chrf_ar"><b>0.686</b></td>
                         <td name="chrf_hi"><b>0.647</b></td>
                         <td name="chrf_uk"><b>0.723</b></td>
                         <td name="chrf_ru"><b>0.778</b></td>
                         <td name="chrf_am"><b>0.482</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            18
                         </td>
                         <td>
                            <b>Team Nililusu</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.714</b></td>
                         <td name="chrf_en"><b>0.796</b></td>
                         <td name="chrf_es"><b>0.624</b></td>
                         <td name="chrf_de"><b>0.772</b></td>
                         <td name="chrf_zh"><b>0.725</b></td>
                         <td name="chrf_ar"><b>0.718</b></td>
                         <td name="chrf_hi"><b>0.716</b></td>
                         <td name="chrf_uk"><b>0.727</b></td>
                         <td name="chrf_ru"><b>0.760</b></td>
                         <td name="chrf_am"><b>0.594</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            19
                         </td>
                         <td>
                            <b>Penitto</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.694</b></td>
                         <td name="chrf_en"><b>0.837</b></td>
                         <td name="chrf_es"><b>0.756</b></td>
                         <td name="chrf_de"><b>0.831</b></td>
                         <td name="chrf_zh"><b>0.685</b></td>
                         <td name="chrf_ar"><b>0.643</b></td>
                         <td name="chrf_hi"><b>0.638</b></td>
                         <td name="chrf_uk"><b>0.643</b></td>
                         <td name="chrf_ru"><b>0.762</b></td>
                         <td name="chrf_am"><b>0.452</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            20
                         </td>
                         <td>
                            <b>Davv</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.692</b></td>
                         <td name="chrf_en"><b>0.857</b></td>
                         <td name="chrf_es"><b>0.751</b></td>
                         <td name="chrf_de"><b>0.791</b></td>
                         <td name="chrf_zh"><b>0.703</b></td>
                         <td name="chrf_ar"><b>0.604</b></td>
                         <td name="chrf_hi"><b>0.656</b></td>
                         <td name="chrf_uk"><b>0.611</b></td>
                         <td name="chrf_ru"><b>0.722</b></td>
                         <td name="chrf_am"><b>0.531</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            21
                         </td>
                         <td>
                            <b>shashist</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.687</b></td>
                         <td name="chrf_en"><b>0.793</b></td>
                         <td name="chrf_es"><b>0.727</b></td>
                         <td name="chrf_de"><b>0.742</b></td>
                         <td name="chrf_zh"><b>0.641</b></td>
                         <td name="chrf_ar"><b>0.643</b></td>
                         <td name="chrf_hi"><b>0.695</b></td>
                         <td name="chrf_uk"><b>0.735</b></td>
                         <td name="chrf_ru"><b>0.770</b></td>
                         <td name="chrf_am"><b>0.437</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            22
                         </td>
                         <td>
                            <b>danielleee</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.684</b></td>
                         <td name="chrf_en"><b>0.860</b></td>
                         <td name="chrf_es"><b>0.775</b></td>
                         <td name="chrf_de"><b>0.811</b></td>
                         <td name="chrf_zh"><b>0.768</b></td>
                         <td name="chrf_ar"><b>0.628</b></td>
                         <td name="chrf_hi"><b>0.576</b></td>
                         <td name="chrf_uk"><b>0.632</b></td>
                         <td name="chrf_ru"><b>0.706</b></td>
                         <td name="chrf_am"><b>0.402</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            23
                         </td>
                         <td>
                            <b>sameertantry</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.680</b></td>
                         <td name="chrf_en"><b>0.783</b></td>
                         <td name="chrf_es"><b>0.650</b></td>
                         <td name="chrf_de"><b>0.736</b></td>
                         <td name="chrf_zh"><b>0.649</b></td>
                         <td name="chrf_ar"><b>0.708</b></td>
                         <td name="chrf_hi"><b>0.677</b></td>
                         <td name="chrf_uk"><b>0.720</b></td>
                         <td name="chrf_ru"><b>0.707</b></td>
                         <td name="chrf_am"><b>0.486</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            24
                         </td>
                         <td>
                            <b>baseline_o3mini</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.676</b></td>
                         <td name="chrf_en"><b>0.893</b></td>
                         <td name="chrf_es"><b>0.796</b></td>
                         <td name="chrf_de"><b>0.747</b></td>
                         <td name="chrf_zh"><b>0.652</b></td>
                         <td name="chrf_ar"><b>0.595</b></td>
                         <td name="chrf_hi"><b>0.609</b></td>
                         <td name="chrf_uk"><b>0.663</b></td>
                         <td name="chrf_ru"><b>0.711</b></td>
                         <td name="chrf_am"><b>0.421</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            25
                         </td>
                         <td>
                            <b>SomethingAwful</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.663</b></td>
                         <td name="chrf_en"><b>0.856</b></td>
                         <td name="chrf_es"><b>0.763</b></td>
                         <td name="chrf_de"><b>0.749</b></td>
                         <td name="chrf_zh"><b>0.629</b></td>
                         <td name="chrf_ar"><b>0.592</b></td>
                         <td name="chrf_hi"><b>0.631</b></td>
                         <td name="chrf_uk"><b>0.694</b></td>
                         <td name="chrf_ru"><b>0.685</b></td>
                         <td name="chrf_am"><b>0.367</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            26
                         </td>
                         <td>
                            <b>Cchenz</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.607</b></td>
                         <td name="chrf_en"><b>0.828</b></td>
                         <td name="chrf_es"><b>0.710</b></td>
                         <td name="chrf_de"><b>0.724</b></td>
                         <td name="chrf_zh"><b>0.579</b></td>
                         <td name="chrf_ar"><b>0.530</b></td>
                         <td name="chrf_hi"><b>0.504</b></td>
                         <td name="chrf_uk"><b>0.559</b></td>
                         <td name="chrf_ru"><b>0.631</b></td>
                         <td name="chrf_am"><b>0.401</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            27
                         </td>
                         <td>
                            <b>baseline_gpt4o</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.580</b></td>
                         <td name="chrf_en"><b>0.770</b></td>
                         <td name="chrf_es"><b>0.694</b></td>
                         <td name="chrf_de"><b>0.533</b></td>
                         <td name="chrf_zh"><b>0.482</b></td>
                         <td name="chrf_ar"><b>0.539</b></td>
                         <td name="chrf_hi"><b>0.490</b></td>
                         <td name="chrf_uk"><b>0.608</b></td>
                         <td name="chrf_ru"><b>0.615</b></td>
                         <td name="chrf_am"><b>0.486</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            28
                         </td>
                         <td>
                            <b>keke</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.573</b></td>
                         <td name="chrf_en"><b>0.816</b></td>
                         <td name="chrf_es"><b>0.693</b></td>
                         <td name="chrf_de"><b>0.670</b></td>
                         <td name="chrf_zh"><b>0.544</b></td>
                         <td name="chrf_ar"><b>0.443</b></td>
                         <td name="chrf_hi"><b>0.464</b></td>
                         <td name="chrf_uk"><b>0.512</b></td>
                         <td name="chrf_ru"><b>0.612</b></td>
                         <td name="chrf_am"><b>0.405</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            29
                         </td>
                         <td>
                            <b>baseline_delete</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.558</b></td>
                         <td name="chrf_en"><b>0.453</b></td>
                         <td name="chrf_es"><b>0.543</b></td>
                         <td name="chrf_de"><b>0.564</b></td>
                         <td name="chrf_zh"><b>0.630</b></td>
                         <td name="chrf_ar"><b>0.610</b></td>
                         <td name="chrf_hi"><b>0.566</b></td>
                         <td name="chrf_uk"><b>0.577</b></td>
                         <td name="chrf_ru"><b>0.583</b></td>
                         <td name="chrf_am"><b>0.499</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            30
                         </td>
                         <td>
                            <b>baseline_backtranslation</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.458</b></td>
                         <td name="chrf_en"><b>0.743</b></td>
                         <td name="chrf_es"><b>0.466</b></td>
                         <td name="chrf_de"><b>0.479</b></td>
                         <td name="chrf_zh"><b>0.231</b></td>
                         <td name="chrf_ar"><b>0.442</b></td>
                         <td name="chrf_hi"><b>0.395</b></td>
                         <td name="chrf_uk"><b>0.256</b></td>
                         <td name="chrf_ru"><b>0.689</b></td>
                         <td name="chrf_am"><b>0.425</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            31
                         </td>
                         <td>
                            <b>baseline_duplicate</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.432</b></td>
                         <td name="chrf_en"><b>0.370</b></td>
                         <td name="chrf_es"><b>0.451</b></td>
                         <td name="chrf_de"><b>0.479</b></td>
                         <td name="chrf_zh"><b>0.429</b></td>
                         <td name="chrf_ar"><b>0.446</b></td>
                         <td name="chrf_hi"><b>0.432</b></td>
                         <td name="chrf_uk"><b>0.455</b></td>
                         <td name="chrf_ru"><b>0.450</b></td>
                         <td name="chrf_am"><b>0.380</b></td>
                      </tr>

                      <tr>
                         <td class="row-position">
                            32
                         </td>
                         <td>
                            <b>Dorevain</b>
                         </td>
                         <td class="column-selected" name="chrf_avg"><b>0.346</b></td>
                         <td name="chrf_en"><b>0.838</b></td>
                         <td name="chrf_es"><b>0.407</b></td>
                         <td name="chrf_de"><b>0.417</b></td>
                         <td name="chrf_zh"><b>0.170</b></td>
                         <td name="chrf_ar"><b>0.337</b></td>
                         <td name="chrf_hi"><b>0.288</b></td>
                         <td name="chrf_uk"><b>0.152</b></td>
                         <td name="chrf_ru"><b>0.201</b></td>
                         <td name="chrf_am"><b>0.305</b></td>
                      </tr>
                </tbody>
             </table>
          </div>

         
         <h2 id="related-work">Related Work</h2>
         <ol>
            <li>
               Dementieva D. et al. <b>Methods for Detoxification of Texts for the Russian Language</b>. Multimodal Technologies and Interaction 5, 2021. [<a href="https://www.mdpi.com/2514-4088/5/9/54/pdf">pdf</a>]
            </li>
            <li>
               Dale D. et. al. <b>Text Detoxification using Large Pre-trained Neural Models</b>. EMNLP, 2021. [<a href="https://aclanthology.org/2021.emnlp-main.629.pdf">pdf</a>]
            </li>
            <li>
               Logacheva V. et al. <b>ParaDetox: Detoxification with Parallel Data</b>. ACL, 2022. [<a href="https://aclanthology.org/2022.acl-long.469.pdf">pdf</a>]
            </li>
            <li>
               Dementieva D. et al. <b>RUSSE-2022: Findings of the First Russian Detoxification Shared Task Based on Parallel Corpora</b>. Dialogue, 2022. [<a href="https://www.dialog-21.ru/media/5755/dementievadplusetal105.pdf">pdf</a>]
            </li>
            <li>
               Logacheva, V. et al. <b>A Study on Manual and Automatic Evaluation for Text Style Transfer: The Case of Detoxification</b>. HumEval, 2022. [<a href="https://aclanthology.org/2022.humeval-1.8.pdf">pdf</a>]
            </li>
            <li>
               Dementieva, D. et al. <b>Exploring Methods for Cross-lingual Text Style Transfer: The Case of Text Detoxification</b>. AACL, 2023. [<a href="http://www.afnlp.org/conferences/ijcnlp2023/proceedings/main-long/cdrom/pdf/2023.ijcnlp-long.70.pdf">pdf</a>]
            </li>
            <li>
               Dementieva, D. et al. <b>Overview of the multilingual text detoxification task at pan 2024</b>. CLEF, 2024. [<a href="https://ceur-ws.org/Vol-3740/paper-223.pdf">pdf</a>]
            </li>
            <li>
               Dementieva, D. et al. <b>Multilingual and Explainable Text Detoxification with Parallel Corpora</b>. COLING, 2025. [<a href="https://arxiv.org/abs/2412.11691">pdf</a>]
            </li>
         </ol>
         
         <h2>Contributors</h2>
         We have a very big international team working on this Shared Task preparation. The following researchers are contributing to the parallel data preparation:
         <ul>
            <li>Daryna Dementieva: Ukrainian, English, Russian</li>
            <li>Nikolay Babakov: Ukrainian, Spanish</li>
            <li>Seid Yimam: Amharic</li>
            <li>Abinew Ali Ayele: Amharic</li>
            <li>Ashaf Elnagar: Arabic</li>
            <li>Xintong Wang: Chinese</li>
            <li>Naquee Rizwan: Hindi, Hinglish</li>
            <li>Caroline Brune: French</li>
            <li>Debora Nozza: Italian</li>
            <li>Sotaro Takeshita: Japanese</li>
            <li>Ilseyar Alimova: Tatar</li>
            <li>Chaya Liebeskind: Hebrew</li>
            <li>Natalia Vanetik: Hebrew</li>
            <li>Marina Litvak: Hebrew</li>
            <li>Shehryaar Shah Khan: Hinglish</li>
         </ul>
         <p>
              Vitaly Protasov contributed with new automatic evaluation metrics and leaderboard preparations.
         </p>
         <h2 id="task-committee">Task Committee</h2>
         <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include people-cards/dementieva.html %}
            {% include people-cards/babakov.html %}
            {% include people-cards/wang.html %}
            {% include people-cards/yimam.html %}
            {% include people-cards/rizwan.html %}
            {% include people-cards/elnagar.html %}
            {% include people-cards/brun.html %}
            {% include people-cards/chirkova.html %}
            {% include people-cards/muti.html %}
            {% include people-cards/nozza.html %}
            {% include people-cards/takeshita.html %}
            {% include people-cards/panchenko.html %}
         </div>
         <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2025 %}
         </div>
      </div>
   </div>
</main>
