---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2013 - Author Profiling
description: PAN at CLEF 2013 - Author Profiling
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Author Profiling 2013</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Author Profiling 2013</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#introduction">Introduction</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#input">Input</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#output">Output</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#sponsor">Sponsor</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>
        <div class="uk-container uk-margin-medium">
            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a document, your task is to determine its author's age and gender.</li>
                <li>Input: [<a href="{{ '../../data.html#pan13-author-profiling' | relative_url }}">data</a>]</li>
                <li>Submission: [<a href="https://www.tira.io/task/author-profiling/">submit</a>]</li>
            </ul>

            <h2 id="introduction">Introduction</h2>
            <p>Authorship analysis deals with the classification of texts into classes based on the stylistic choices of
            their authors. Beyond the author identification and author verification tasks where the style of
            individual authors is examined, author profiling distinguishes between classes of authors studying their
            sociolect aspect, that is, how language is shared by people. This helps in identifying profiling aspects
            such as gender, age, native language, or personality type. Author profiling is a problem of growing
            importance in applications in forensics, security, and marketing. E.g., from a forensic linguistics
            perspective one would like being able to know the linguistic profile of the author of a harassing text
            message (language used by a certain type of people) and identify certain characteristics (language as
            evidence). Similarly, from a marketing viewpoint, companies may be interested in knowing, on the basis
            of the analysis of blogs and online product reviews, the demographics of people that like or dislike
            their products. The focus is on author profiling in social media since we are mainly interested in
            everyday language and how it reflects basic social and personality processes.</p>


            <h2 id="task">Task</h2>
            <p><b>Note.</b> Besides, at <a href="http://nlp.uned.es/replab2013/" target="_blank">RepLab 2013</a> author
            profiling will be approached from the online reputation monitoring perspective. Given a large number of
            Twitter profiles with 600 associated tweets each, participants will be asked to classify the author of a
            set of tweets as journalist, politician, activist, professional, client, company, authority or citizen,
            since the fact of belonging to a certain category could determine the importance of the user's opinions.
            The dataset will contain English and Spanish tweets related to the banking and automotive domains.</p>

            <h2 id="award">Award</h2>
            <p>We are happy to announce the following overall winner of the 1st International Competition on Author
                Profiling who will be awarded 300,- Euro sponsored by the Forensic Lab of the Universitat Pompeu Fabra
                Barcelona.</p>
            <ul><li>
                Manuel Montes-y-G&oacute;mez, Luis Villase&ntilde;or-Pineda, Hugo Jair Escalante, and Adri&aacute;n
                Pastor L&oacute;pez-Monrroy from INAOE, Mexico.
            </li></ul>
            <p>Congratulations!</p>


            <h2 id="input">Input</h2>
            <p>To develop your software, we provide you with a training data set that consists of documents written in
            both English and Spanish. With regard to age, we will consider posts of three classes: 10s (13-17), 20s
            (23-27), and 30s (33-47). Moreover, documents from authors who pretend to be minors will be included
            (e.g., documents composed of chat lines of sexual predators will be also considered).
            <a href="https://www.uni-weimar.de/medien/webis/events/pan-13/pan13-papers-final/pan13-author-profiling/rangel13-overview.pdf#page=3">
                Learn more »</a>
            </p>


            <h2 id="output">Output</h2>
            <p>Your software must take as input the absolute path to an unpacked dataset, and has to output for each
            document of the dataset a corresponding XML file that looks like this:</p>
            <pre class="prettyprint lang-xml" style="overflow-x:auto">
&lt;author
   id="{author-id}"
   lang="en|es"
   age_group="10s|20s|30s"
   gender="male|female"
/&gt;
</pre>
            <p>The naming of the output files is up to you, we recommend to use the author-id as filename and "xml" as
            extension. The output files have to be written either directly to the working directory (to "..) or to a
            subfolder. The author-id has to be extracted from each document's filename which follows the pattern
            <code>&lt;authorid&gt;_&lt;lang&gt;_&lt;age&gt;_&lt;gender&gt;.xml</code>. Note that in the test corpus
            the age and gender information are replaced by "xxx".</p>


            <h2 id="evaluation">Evaluation</h2>
            <p>The performance of your author profiling solution will be ranked by accuracy.</p>


            <h2 id="results">Results</h2>
            <p>The following table lists the performances achieved by the participating teams:</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th colspan="2" style="text-align:center">English author profiling performance</th>
                </tr>
                <tr>
                    <th>Accuracy</th>
                    <th>Team</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0.3894</td>
                    <td>Michał Meina, Karolina Brodz&iacute;nska, Bartosz Celmer, Maja Czoków, Martyna Patera, Jakub
                        Pezacki, and Mateusz Wilk<br/>Nicolaus Copernicus University, Poland
                    </td>
                </tr>
                <tr>
                    <td>0.3813</td>
                    <td>A. Pastor López-Monroy°, Manuel Montes-y-Gómez°, Hugo Jair Escalante°, Luis Villaseñor-Pineda°,
                        and Esaú Villatoro-Tello*<br/>°Instituto Nacional de Astrofísica, Óptica y Electrónica and
                        *Universidad Autónoma Metropolitana-Cuajimalpa, Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.3677</td>
                    <td>Seifeddine Mechti, Maher Jaoua, and Lamia Hadrich Belguith<br/>University of Sfax, Tunisia</td>
                </tr>
                <tr>
                    <td>0.3508</td>
                    <td>K Santosh, Romil Bansal, Mihir Shekhar, and Vasudeva Varma<br/>International Institute of
                        Information Technology, India
                    </td>
                </tr>
                <tr>
                    <td>0.3488</td>
                    <td>Wee-Yong Lim, Jonathan Goh, and Vrizlynn L. L. Thing<br/>Institute for Infocomm Research,
                        Singapore
                    </td>
                </tr>
                <tr>
                    <td>0.3420</td>
                    <td>Susana Ladra°, Francisco Claude*, and Roberto Konow^<br/>°University of A Coruña, Spain,
                        *University of Waterloo, Canada, and ^University of Chile, Chile
                    </td>
                </tr>
                <tr>
                    <td>0.3292</td>
                    <td>Yuridiana Aleman, Nahun Loya, Darnes Vilariño, and David Pinto<br/>Benem´erita Universidad
                        Aut´onoma de Puebla, Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.3268</td>
                    <td>Lee Gillam<br/>University of Surrey, UK</td>
                </tr>
                <tr>
                    <td>0.3115</td>
                    <td>Roman Kern<br/>Know-Center GmbH, Autria</td>
                </tr>
                <tr>
                    <td>0.3113</td>
                    <td>Fermín L. Cruz°, Rafa Haro R.*, and F. Javier Ortega°<br/>University of Seville and Zaizi, Spain
                    </td>
                </tr>
                <tr>
                    <td>0.2843</td>
                    <td>Aditya Pavan, Aditya Mogadala, and Vasudeva Varma<br/>International Institute of Information
                        Technology, India
                    </td>
                </tr>
                <tr>
                    <td>0.2840</td>
                    <td>Andrés Alfonso Caurcel Díaz° and José María Gómez Hidalgo*<br/>Universidad Politécnica de Madrid
                        and Optenet, Spain
                    </td>
                </tr>
                <tr>
                    <td>0.2816</td>
                    <td>Delia-Irazú Hernández°, Rafael Guzmán-Cabrera*, Antonio Reyes^, and Martha-Alicia Rocha°'<br/>°Universidad
                        Politécnica de Valencia, Spain, and *Universidad de Guanajuato, ^Instituto Superior de
                        Intérpretes y Traductores, and 'Instituto Tecnológico de León, Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.2813</td>
                    <td>Magdalena Jankowska, Vlado Kešelj, and Evangelos Milios<br/>Dalhousie University, Canada</td>
                </tr>
                <tr>
                    <td>0.2785</td>
                    <td>Lucie Flekovayz and Iryna Gurevych<br/>Technische Universität Darmstadt and German Institute for
                        Educational Research and Educational Information, Germany
                    </td>
                </tr>
                <tr>
                    <td>0.2564</td>
                    <td>Edson R. D. Weren, Viviane P. Moreira, and José P. M. de Oliveira<br/>UFRGS, Brazil</td>
                </tr>
                <tr>
                    <td>0.2471</td>
                    <td>Upendra Sapkota°, Thamar Solorio°, Manuel Montes-y-Gómez*, and Gabriela Ramírez-de-la-Rosa°<br/>°University
                        of Alabama at Birmingham, USA, and *Instituto Nacional de Astrofísica, Óptica y Electrónica,
                        Mexico
                    </td>
                </tr>
                <tr>
                    <td>0.2450</td>
                    <td>Maria De-Arteaga, Sergio Jimenez, George Dueñas, Sergio Mancera and Julia Baquero<br/>Universidad
                        Nacional de Colombia, Colombia
                    </td>
                </tr>
                <tr>
                    <td>0.2395</td>
                    <td>Erwan Moreau and Carl Vogel<br/>Trinity College Dublin, Ireland</td>
                </tr>
                <tr>
                    <td>0.1650</td>
                    <td>Baseline</td>
                </tr>
                <tr>
                    <td>0.1574</td>
                    <td>Braja Gopal Patra°, Somnath Banerjee°, Dipankar Das*, Tanik Saikh°, Sivaji Bandyopadhyay°<br/>°Jadavpur
                        University and NIT Meghalaya, India
                    </td>
                </tr>
                <tr>
                    <td>0.0741</td>
                    <td>Leticia Cagnina, Darío Funez, and Marcelo Errecalde<br/>Universidad Nacional de San Luis,
                        Argentina
                    </td>
                </tr>
                </tbody>

            </table>
            <p>A more detailed analysis of the detection performances can be found in the overview paper accompanying
                this task.</p>


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>
                    <a href="http://u.cs.biu.ac.il/~koppel/BlogCorpus.htm">The Blog Authorship Corpus</a>
                </li>
                <li>
                    S. Argamon, M. Koppel, J. Pennebaker and J. Schler (2009), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/AuthorshipProfiling-cacm-final.pdf">Automatically
                    profiling the
                    author of an anonymous text</a>, Communications of the ACM 52 (2): 119–123.
                </li>
                <li>
                    J. Schler, Moshe Koppel, S. Argamon and J. Pennebaker (2006), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/springsymp-blogs-07.10.05-final.pdf">Effects of Age
                    and Gender
                    on Blogging</a>, in Proc. of AAAI Spring Symposium on Computational Approaches for Analyzing
                    Weblogs, March 2006.
                </li>
                <li>
                    M.Koppel, S. Argamon and A. Shimoni (2003), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/male-female-llc-final.pdf">Automatically categorizing
                    written texts by
                    author gender</a>, Literary and Linguistic Computing 17(4), November 2002, pp. 401-412.
                </li>
                <li>
                    J. Pennebaker (2011). The secret life of pronouns: What our words say about us. New York:
                    Bloomsbury Publishing, 2011.
                </li>
            </ul>


            <h2 id="sponsor">Sponsor</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <a href="https://www.upf.edu/web/uval/forensiclab" target="_blank">
                            <img src="../pan13-figures/logo-upf-forensiclab.png" alt="logo-upf-forensiclab">
                        </a>
                    </div>
                </div>
            </div>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rosso.html %}
                {% include people-cards/rangel.html %}
                {% include people-cards/inches.html %}
                {% include people-cards/koppel.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2013 %}
            </div>
        </div>
    </div>
</main>
