---
layout: default
nav_active: tasks
title: PAN at CLEF 2013
description: PAN at CLEF 2013
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at CLEF 2013</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynotes</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ 'shared-tasks.html#author-profiling' | relative_url }}">Author Profiling</a></li>
                <li><a href="{{ 'shared-tasks.html#authorship-verification' | relative_url }}">Authorship Verification</a></li>
                <li><a href="{{ 'shared-tasks.html#source-retrieval' | relative_url }}">Source Retrieval</a></li>
                <li><a href="{{ 'shared-tasks.html#text-alignment' | relative_url }}">Text Alignment</a></li>
            </ul>


            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 1, 2013: Early bird software submission</li>
                <li> April 15, 2013: Final software submission for <em>text alignment</em> and <em>author identification</em></li>
                <li> April 30, 2013: Final software submission for <em>source retrieval</em> and <em>author profiling</em></li>
                <li> June 1, 2013: Paper submission:
                    [<a href="../../pan-paper-template.zip">template</a>]
                    [<a href="http://clef2013.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2013WorkingNotes.html">guidelines</a>]
                    [<a href="https://easychair.org/conferences/?conf=clef2013">submission</a>]
                </li>
                <li> June 30, 2013: Early bird conference registration</li>
                <li> September 23-26, 2013: Conference</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>


            <h2 id="index-keynotes">Keynotes</h2>
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Identifying Personality and Psychological States in Words
                            </div>
                            <div class="keynote-speaker"><a
                                    href="https://www.linkedin.com/in/cindy-k-chung" target="_blank">Cindy
                                K. Chung</a></div>
                            <div class="keynote-affiliation">The University of Texas at Austin</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>How do the words we use reflect our personalities, psychological states, and social
                            relationships? Psychologists have applied simple word counting and word patterning methods
                            such as Linguistic Inquiry and Word Count (LIWC) and the Meaning Extraction Method (MEM)
                            across a variety of contexts to understand individual differences in communication. Word use
                            and interaction patterns in everyday conversations and social media exchanges can reveal
                            personality, engagement, and deception. Quantitative text analysis from a psychological
                            perspective can help to uncover how people connect, communicate, and interact in digital
                            spaces.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Cindy K. Chung is a Postdoctoral Fellow in the lab of Professor James W. Pennebaker
                                    in the Department of Psychology at The University of Texas at Austin. She examines
                                    how word use reflects personality and social dynamics. Her research involves the
                                    development and application of computerized text analysis tools and methods for the
                                    social sciences.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef13/pan13-figures/solan.jpg' | relative_url }}" alt="Lawrence Solan">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Linguistic Evidence in Court: Current Issues, Current Trends
                            </div>
                            <div class="keynote-speaker"><a
                                    href="https://www.brooklaw.edu/faculty/directory/facultymember/biography.aspx?id=larry.solan"
                                    target="_blank">Lawrence Solan</a></div>
                            <div class="keynote-affiliation">Brooklyn Law School</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Many forensic sciences have been under attack for their failure to be grounded in adequate
                            research. Even fingerprint evidence is questioned, not for its being generally unreliable,
                            but because there is inadequate research into the extent that accuracy decreases as the
                            quantity and quality of information are each systematically degraded. At the same time,
                            psychological research has revealed biases to which experts are subject, especially
                            confirmation bias ? the propensity to value evidence that confirms one?s hypothesis more
                            than evidence that disconfirms it. Somewhat at odds with these observations are interesting
                            debates about the relative accuracy of expert judgment by individuals based on their
                            experience on the one hand, and algorithmic expertise on the other. This presentation will
                            discuss how legal systems react to offers of linguistic expert evidence in light of these
                            developments.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>Lawrence M. Solan is the Don Forchelli Professor of Law and Director of the Center
                                    for the Study of Law, Language and Cognition at Brooklyn Law School. In October
                                    2012, the Center convened a workshop on authorship attribution, funded by the
                                    National Science Foundation, which brought together legal scholars, computer
                                    scientists, linguists and statisticians to assess the state of the field in relation
                                    to legal standards for scientific evidence. Solan?s writings address such issues as
                                    statutory and contractual interpretation, the attribution of responsibility and
                                    blame, and the role of the expert in the courts. Solan has been a visiting professor
                                    at the Yale Law School, and in the Psychology Department and Linguistics Program at
                                    Princeton University.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>


            <h2 id="index-program">Program</h2>
            <p>PAN's program is part of the
                <a href="http://clef2013.clef-initiative.eu/index.php?page=Pages/conference_session.html">CLEF conference program</a>.
            </p>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <tbody>
                <tr class="mid">
                    <td colspan="2"><b>September 23</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>14:00-17:30</nobr>
                    </td>
                    <td><b>Lab overviews (incl. Coffee break)</b></td>
                </tr>
                <tr class="mid">
                    <td>15 min. talk</td>
                    <td>Recent Trends in Digital Text Forensics and its Evaluation<br/><i>Tim Gollub, Martin Potthast,
                        Anna Beyer, Matthias Busse, Francisco Rangel, Paolo Rosso, Efstathios Stamatatos, and Benno
                        Stein</i></td>
                </tr>
                <tr class="mid">
                    <td>17:30-18:00</td>
                    <td><b>Poster Booster Session</b></td>
                </tr>
                <tr>
                    <td>18:00-19:30</td>
                    <td><b>Poster Session + Welcome Reception</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Approaches for Source Retrieval and Text Alignment of Plagiarism Detection<br/><i>Leilei Kong,
                        Haoliang Qi, Cuixia Du, Mingxing Wang and Zhongyuan Han</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Text Alignment Module in CoReMo 2.1 Plagiarism Detector<br/><i>Diego Antonio Rodr&iacute;guez-Torrej&oacute;n
                        and Jos&eacute; Manuel Mart&iacute;n Ramos</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Guess again and see if they line up: Surrey's runs at plagiarism detection<br/><i>Lee Gillam</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Unsupervised Ranking for Plagiarism Source Retrieval<br/><i>Kyle Williams, Hung-Hsuan Chen,
                        Sagnik Ray Choudhury and C. Lee Giles</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Plagiarism Candidate Retrieval Using Selective Query Formulation and Discriminative Query
                        Scoring<br/><i>Osama Haggag and Samhaa El-Beltagy</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Diverse Queries and Feature Type Selection for Plagiarism Discovery<br/><i>&Scaron;imon
                        Suchomel, Jan Kasprzak and Michal Brandejs</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using a Variety of n-Grams for the Detection of Different Kinds of Plagiarism<br/><i>Prasha
                        Shrestha and Thamar Solorio</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>CopyCaptor: Plagiarized Source Retrieval System using Global word frequency and Local
                        feedback<br/><i>Taemin Lee, Jeongmin Chae, Kinam Park and Soonyoung Jung</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Source Retrieval via Na&iuml;ve Approach and Passage Selection Heuristics<br/><i>Ond&rcaron;ej
                        Vesel&yacute;, Tomas Foltynek and Ji&rcaron;&iacute; Rybi&ccaron;ka</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using Hybrid Similarity Methods for Plagiarism Detection Notebook for PAN at CLEF 2013<br/><i>Yurii
                        Palkovskii and Alexei Belov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Grammar Checker Features for Author Identification and Author Profiling<br/><i>Roman Kern</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Distance Learning for Author Verification<br/><i>Paola Ledesma, Gibran Fuentes, Gabriela Jasso,
                        Angel Toledo, and Ivan Meza</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Style-based Distance Features for Author Verification<br/><i>Erwan Moreau and Carl Vogel</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Authorship Identification Using Correlations of Frequent Features<br/><i>Timo Petmanson</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Textual Modus Operandi: Surrey's Simple System for Author Identification<br/><i>Anna
                        Vartapetiance and Lee Gillam</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Lexical-Syntactic and Graph-Based Features for Authorship Verification<br/><i>Darnes Vilari&ntilde;o,
                        David Pinto, Helena G&oacute;mez, Sa&uacute;l Le&oacute;n, and Esteban Castillo</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Intrinsic Author Identification Using Modified Weighted KNN<br/><i>M.R. Ghaeini</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Vector Space Model and Overlap Metric for Author Identification<br/><i>Arun Jayapal and Binayak
                        Goswami</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>INAOE's participation at PAN'13: Author Profiling task<br/><i>A. Pastor L&oacute;pez-Monroy,
                        Manuel Montes-Y-G&oacute;mez, Hugo Jair Escalante, Luis Villase&ntilde;or-Pineda and Esa&uacute;
                        Villatoro-Tello</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Ensemble-based classification for author profiling using various features<br/><i>Michal Meina,
                        Karolina Brodzi&nacute;ska, Bartosz Celmer, Maja Czok&oacute;w, Martyna Patera, Jakub Pezacki
                        and Mateusz Wilk</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling Using Corpus Statistics, Lexicons and Stylistic Features<br/><i>Maria
                        De-Arteaga, Sergio Jimenez, George Due&ntilde;as, Sergio Mancera and Julia Baquero</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Can We Hide in the Web? Large Scale Simultaneous Age and Gender Author Profiling in Social Media<br/><i>Lucie
                        Flekova and Iryna Gurevych</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Readability for author profiling?<br/><i>Lee Gillam</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Automatic Author Profiling Based on Linguistic and Stylistic Features<br/><i>Braja Gopal Patra,
                        Somnath Banerjee, Dipankar Das, Tanik Saikh and Sivaji Bandyopadhyay</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Semantic-based Features for Author Profiling Identification: First insights<br/><i>Delia Irazu
                        Hernandez Farias, Rafael Guzm&aacute;n-Cabrera, Antonio Reyes and Martha Alicia Rocha</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>CNG text classification for authorship profiling task<br/><i>Magdalena Jankowska, Vlado Keselj
                        and Evangelos Milios</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Style-based distance features for author profiling<br/><i>Erwan Moreau and Carl Vogel</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling for English and Spanish Text<br/><i>Upendra Sapkota, Thamar Solorio, Manuel
                        Montes-Y-G&oacute;mez and Gabriela Ram&iacute;rez-De-La-Rosa</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using Simple Content Features for the Author Profiling Task<br/><i>Edson Weren, Viviane P.
                        Moreira and Jose Oliveira</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Two Methodologies Applied to the Author Profiling Task<br/><i>Yuridiana Aleman, Nahun Loya,
                        Darnes Vilari&ntilde;o, and David Pinto</i></td>
                </tr>
                <tr class="mid">
                    <td></td>
                    <td>Content-centric age and gender profiling<br/><i>Wee Yong Lim, Jonathan Goh and Vrizlynn L. L.
                        Thing</i></td>
                </tr>
                <tr class="mid">
                    <td colspan="2"><b>September 24</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynote & Author Profiling</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>11:00-12:00</td>
                    <td>Identifying Personality and Psychological States in Words<br/><i>Cindy K. Chung</i></td>
                </tr>
                <tr>
                    <td>12:00-12:30</td>
                    <td>Overview of the Author Profiling Task at PAN 2013<br/><i>Francisco Rangel, Paolo Rosso, Moshe
                        Koppel, Efstathios Stamatatos and Giacomo Inches</i></td>
                </tr>
                <tr>
                    <td>12:30-13:00</td>
                    <td>INAOE's participation at PAN'13: Author Profiling task<br/><i>A. Pastor L&oacute;pez Monroy,
                        Manuel Montes y G&oacute;mez, Hugo Jair Escalante, Luis Villase&ntilde;or Pineda and Esa&uacute;
                        Villatoro Tello</i></td>
                </tr>
                <tr class="mid">
                    <td>12:50-13:00</td>
                    <td>Award for the best performing author profiling approach at PAN'13.<br>The award is sponsored by
                        the ForensicLab of the Universitat Pompeu Fabra, Barcelona, in memoriam of M. Teresa Turell.
                    </td>
                </tr>
                <tr class="mid">
                    <td>13:00-14:30</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Profiling & Author Identification</b>, Chair: Patrick Juola</td>
                </tr>
                <tr>
                    <td>14:30-14:50</td>
                    <td>Ensemble-based classification for author profiling using various features<br/><i>Michal Meina,
                        Karolina Brodzi&nacute;ska, Bartosz Celmer, Maja Czok&oacute;w, Martyna Patera, Jakub Pezacki
                        and Mateusz Wilk</i></td>
                </tr>
                <tr>
                    <td>14:50-15:10</td>
                    <td>Readability for author profiling?<br/><i>Lee Gillam</i></td>
                </tr>
                <tr>
                    <td>15:10-15:40</td>
                    <td>Overview of the Author Identification Task at PAN 2013<br/><i>Patrick Juola and Efstathios
                        Stamatatos</i></td>
                </tr>
                <tr>
                    <td>15:40-16:10</td>
                    <td>Authorship Verification via k-Nearest Neighbor Estimation<br/><i>Oren Halvani, Martin Steinebach
                        and Ralf Zimmermann</i></td>
                </tr>
                <tr class="mid">
                    <td>16:10-16:30</td>
                    <td>Discussion</td>
                </tr>
                <tr class="mid">
                    <td colspan="2"><b>September 25</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynote & Author Identification</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>11:30-12:30</td>
                    <td>Linguistic Evidence in Court: Current Issues, Current Trends<br/><i>Lawrence Solan</i></td>
                </tr>
                <tr>
                    <td>12:30-12:50</td>
                    <td>Authorship Verification with Compression Features<br/><i>Cor J. Veenman and Zhenshi Li</i></td>
                </tr>
                <tr>
                    <td>12:50-13:10</td>
                    <td>Proximity based One-class Classification with Common N-Gram Dissimilarity for Authorship
                        Verification Task<br/><i>Magdalena Jankowska, Vlado Keselj and Evangelos Milios</i></td>
                </tr>
                <tr class="mid">
                    <td>13:10-13:30</td>
                    <td>Discussion</td>
                </tr>
                <tr class="mid">
                    <td>13:30-14:30</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Plagiarism Detection</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>14:30-15:00</td>
                    <td>Overview of the 5th International Competition on Plagiarism Detection<br/><i>Martin Potthast,
                        Matthias Hagen, Tim Gollub, Martin Tippmann, Johannes Kiesel, Paolo Rosso, Efstathios
                        Stamatatos, and Benno Stein</i></td>
                </tr>
                <tr>
                    <td>15:00-15:20</td>
                    <td>Text Alignment Module in CoReMo 2.1 Plagiarism Detector<br/><i>Diego Antonio Rodr&iacute;guez-Torrej&oacute;n
                        and Jos&eacute; Manuel Mart&iacute;n Ramos</i></td>
                </tr>
                <tr>
                    <td>15:20-15:50</td>
                    <td>Approaches for Source Retrieval and Text Alignment of Plagiarism Detection<br/><i>Leilei Kong,
                        Haoliang Qi, Cuixia Du, Mingxing Wang and Zhongyuan Han</i></td>
                </tr>
                <tr>
                    <td>16:50-16:10</td>
                    <td>Plagiarism Candidate Retrieval Using Selective Query Formulation and Discriminative Query
                        Scoring<br/><i>Osama Haggag and Samhaa El-Beltagy</i></td>
                </tr>
                <tr>
                    <td>16:10-16:20</td>
                    <td>Unsupervised Ranking for Plagiarism Source Retrieval<br/><i>Kyle Williams, Hung-Hsuan Chen,
                        Sagnik Ray Choudhury and C. Lee Giles</i></td>
                </tr>
                <tr class="mid">
                    <td>16:20-16:30</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td>20:30</td>
                    <td>Social Dinner: Hotel Balneario Las Arenas</td>
                </tr>
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/stein.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2013 %}
            </div>
        </div>
    </div>
</main>