---
layout: default
nav_active: tasks
title: PAN @ CLEF 2013
description: PAN @ CLEF 2013
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef12/pan12-web/keynotes.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2013
                <a class="uk-button uk-padding-remove-right"
                   href="{{ 'clef14/pan14-web/keynotes.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef13/pan13-web/index.html' | relative_url }}">Overview</a></li>
                <li class="uk-active"><a href="{{ '/clef13/pan13-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li><a href="{{ '/clef13/pan13-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef13/pan13-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef13/pan13-web/author-profiling.html' | relative_url }}">Author
                                Profiling</a></li>
                            <li><a href="{{ '/clef13/pan13-web/plagiarism-detection.html' | relative_url }}">Plagiarism
                                Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef13/pan13-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ 'publications.html#?q=year:2013' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2013 %}

            <h1 class="uk-margin-small">Workshop Keynotes</h1>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 23 to 26,
                2013.</p>
        </div>

    </header>

    <!-- Tasks -->
    <div class="uk-section">
        <!-- Keynotes -->
        <div class="uk-container uk-margin-large uk-text-justify">
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Identifying Personality and Psychological States in Words
                            </div>
                            <div class="keynote-speaker"><a
                                    href="http://homepage.psy.utexas.edu/HomePage/Students/Chung/" target="_blank">Cindy
                                K. Chung</a></div>
                            <div class="keynote-affiliation">The University of Texas at Austin</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>How do the words we use reflect our personalities, psychological states, and social
                            relationships? Psychologists have applied simple word counting and word patterning methods
                            such as Linguistic Inquiry and Word Count (LIWC) and the Meaning Extraction Method (MEM)
                            across a variety of contexts to understand individual differences in communication. Word use
                            and interaction patterns in everyday conversations and social media exchanges can reveal
                            personality, engagement, and deception. Quantitative text analysis from a psychological
                            perspective can help to uncover how people connect, communicate, and interact in digital
                            spaces.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Cindy K. Chung is a Postdoctoral Fellow in the lab of Professor James W. Pennebaker
                                    in the Department of Psychology at The University of Texas at Austin. She examines
                                    how word use reflects personality and social dynamics. Her research involves the
                                    development and application of computerized text analysis tools and methods for the
                                    social sciences.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef13/pan13-figures/solan.jpg' | relative_url }}" alt="Lawrence Solan">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Linguistic Evidence in Court: Current Issues, Current Trends
                            </div>
                            <div class="keynote-speaker"><a
                                    href="https://www.brooklaw.edu/faculty/directory/facultymember/biography.aspx?id=larry.solan"
                                    target="_blank">Lawrence Solan</a></div>
                            <div class="keynote-affiliation">Brooklyn Law School</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Many forensic sciences have been under attack for their failure to be grounded in adequate
                            research. Even fingerprint evidence is questioned, not for its being generally unreliable,
                            but because there is inadequate research into the extent that accuracy decreases as the
                            quantity and quality of information are each systematically degraded. At the same time,
                            psychological research has revealed biases to which experts are subject, especially
                            confirmation bias ? the propensity to value evidence that confirms one?s hypothesis more
                            than evidence that disconfirms it. Somewhat at odds with these observations are interesting
                            debates about the relative accuracy of expert judgment by individuals based on their
                            experience on the one hand, and algorithmic expertise on the other. This presentation will
                            discuss how legal systems react to offers of linguistic expert evidence in light of these
                            developments.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-2">
                                <p>Lawrence M. Solan is the Don Forchelli Professor of Law and Director of the Center
                                    for the Study of Law, Language and Cognition at Brooklyn Law School. In October
                                    2012, the Center convened a workshop on authorship attribution, funded by the
                                    National Science Foundation, which brought together legal scholars, computer
                                    scientists, linguists and statisticians to assess the state of the field in relation
                                    to legal standards for scientific evidence. Solan?s writings address such issues as
                                    statutory and contractual interpretation, the attribution of responsibility and
                                    blame, and the role of the expert in the courts. Solan has been a visiting professor
                                    at the Yale Law School, and in the Psychology Department and Linguistics Program at
                                    Princeton University.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-2; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>  <!-- section -->

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2013 %}
        </div>
    </footer>
</main>
