---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2011 - Author Identification
description: PAN at CLEF 2011 - Author Identification
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Authorship Attribution 2011</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Authorship Attribution 2011</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#input">Input</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#output">Output</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a document, determine who wrote it.</li>
                <li>Input: [<a href="{{ 'data.html#pan11-attribution' | relative_url }}">data</a>]</li>
                <li>Submission: [<a href="https://www.tira.io/task/author-identification/authorship-attribution.html">submit</a>]</li>
            </ul>


            <h2 id="task">Task</h2>
            <ul>
                <li>Given texts of uncertain authorship and texts from a set of candidate authors, the task is
                    to map the uncertain texts onto their true authors among the candidates.</li>
                <li>Given a text of uncertain authorship and text from a specific author, the task is to
                    determine whether the given text has been written by that author.</li>
            </ul>


            <h2 id="input">Input</h2>
            <p>To develop your software, we provide you with a training corpus that comprises several different
            common attribution and verification scenarios. There are five training collections consisting of
            real-world texts (for authorship attribution), and three each with a single author (for
            authorship verification).
            <a href="https://www.uni-weimar.de/medien/webis/events/pan-11/pan11-papers-final/pan11-author-identification/argamon11-overview.pdf#page=2">
                Learn more »</a></p>


            <h2 id="output">Output</h2>
            <p>Classification results are to be formatted in an XML document similar to those found in the
            evaluation corpora, just without the <code>&lt;body&gt;</code> element.</p>


            <h2 id="evaluation">Evaluation</h2>
            <p>The performance of your authorship attribution will be judged by average precision, recall, and F1
            over all authors in the given training set.</p>


            <h2 id="results">Results</h2>
            <p>The results of the evaluation have been compiled into
            <a href="pan11-author-identification-evaluation-results.xlsx">this Excel sheet</a>. The table
            shows micro-averaged and macro-averaged precision, recall, and F values for all runs submitted,
            dependent on the authorship sub-task. Moreover, the respective rankings obtained from these
            values are shown. The last column shows an overall ranking based on the sum of all ranks.</p>
            <p>The authorship attribution approach of Ludovic Tanguy (University of Toulouse & CNRS, France) was
            highly ranked across all the attribution tasks. It was beaten only once significantly by the
            approach of Ioannis Kourtis (University of the Aegean, Greece) on the Large task. The approach
            of Mario Zechner, (Know-Center, Austria) achieved very high precision on the small attribution
            tasks, but paid for it in recall.</p>
            <p>Regarding the authorship verification tasks, Tim Snider (Porfiau, Canada) achieved the best
            precision performance overall, though not the highest recall. It must be mentioned that
            authorship verification is more difficult to be accomplished than authorship attribution.
            Moreover, the distinction between macro- and micro-averaged performance measuring is meaningless
            in this case, since there is only one author of interest which is why just one set of results is
            reported.</p>
            <p>A more detailed analysis of the detection performances can be found in the overview paper
            accompanying this task.</p>


            <h2 id="related-work">Related Work</h2>
            <ul>
                <li>
                    Patrick Juola.
                    <a href="http://portal.acm.org/citation.cfm?id=1373451" target="_blank">Authorship Attribution</a>.
                    In Foundations and Trends in Information Retrieval, Volume 1, Issue 3, December 2006.
                </li>
                <li>
                    Moshe Koppel, Jonathan Schler, and Shlomo Argamon.
                    <a href="http://onlinelibrary.wiley.com/doi/10.1002/asi.20961/full" target="_blank">
                        Computational Methods in Authorship Attribution</a>.
                    Journal of the American Society for Information Science and Technology, Volume 60, Issue 1, pages 9-26, January 2009.
                </li>
                <li>
                    Efstathios Stamatatos.
                    <a href="http://onlinelibrary.wiley.com/doi/10.1002/asi.21001/full" target="_blank">
                        A Survey of Modern Authorship Attribution Methods</a>.
                    Journal of the American Society for Information Science and Technology, Volume 60, Issue 3, pages 538-556, March 2009.
                </li>
            </ul>


            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/juola.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/argamon.html %}
                {% include people-cards/koppel.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=201 %}
            </div>

        </div>  <!-- section -->
    </div>  <!-- section -->
</main>
