---
layout: default
nav_active: tasks
title: PAN @ CLEF 2011
description: PAN @ CLEF 2011
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="#"
                   data-uk-icon="chevron-left" disabled></a>
                CLEF 2011
                <a class="uk-button uk-padding-remove-right"
                   href="{{ 'clef12/pan12-web/keynotes.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef11/pan11-web/index.html' | relative_url }}">Overview</a></li>
                <li class="uk-active"><a href="{{ '/clef11/pan11-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li><a href="{{ '/clef11/pan11-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef11/pan11-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef11/pan11-web/wikipedia-vandalism-detection.html' | relative_url }}">
                                Wikipedia Vandalism Detection</a></li>
                            <li><a href="{{ '/clef11/pan11-web/plagiarism-detection.html' | relative_url }}">Plagiarism
                                Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef11/pan11-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef11/pan11-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2011 %}

            <h1 class="uk-margin-small">Workshop Keynotes</h1>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 19 to 22,
                2011.</p>
        </div>

    </header>

    <!-- Tasks -->
    <div class="uk-section">
        <!-- Keynotes -->
        <div class="uk-container uk-margin-large uk-text-justify">
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef11/pan11-figures/maria.jpg' | relative_url }}" alt="M. Teresa Turell i Julià">
                        </div>
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef11/pan11-figures/malcolm.jpg' | relative_url }}" alt="Malcolm Coulthard">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Forensic Plagiarism Detection and Authorship Attribution: On the Linguists' Achievements and the Challenges for Computerized Analysis
                            </div>
                            <div class="keynote-speaker"><a
                                    href="http://www.upf.edu/pdi/iula/teresa.turell/index_eng.htm" target="_blank">M. Teresa Turell i Julià</a>
                            </div>
                            <div class="keynote-affiliation">Universitat Pompeu Fabra</div>
                            <br>
                            <div class="keynote-speaker"><a
                                    href="http://www1.aston.ac.uk/lss/staff-directory/coulthardm/" target="_blank">Malcolm Coulthard</a>
                            </div>
                            <div class="keynote-affiliation">Aston University</div>
                        </div>
                    </header>

                </article>
            </div>
        </div>
    </div>  <!-- section -->

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2011 %}
        </div>
    </footer>
</main>
