---
layout: default
nav_active: shared-tasks
title: PAN at CLEF 2016 - Author Profiling
description: PAN at CLEF 2016 - Author Profiling
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">PAN</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Author Profiling 2016</a></li>
</ul>
</nav>

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Author Profiling 2016</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#introduction">Introduction</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#award">Award</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#sponsor">Sponsor</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>
        <div class="uk-container uk-margin-medium">
            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a document, what're its author's traits?</li>
                <li>Input: [<a href="{{ '../../data.html#pan16-author-profiling' | relative_url }}">data</a>]</li>
                <li>Twitter Downloader: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/clef15/author-profiling" target="_blank">code</a>]</li>
                <li>Submission: [<a href="https://www.tira.io/task/author-profiling/">submit</a>]</li>
            </ul>

            <h2 id="introduction">Introduction</h2>
            <p>Authorship analysis deals with the classification of texts into classes based on the stylistic choices of
                their authors. Beyond the author identification and author verification tasks where the style of
                individual authors is examined, author profiling distinguishes between classes of authors studying their
                sociolect aspect, that is, how language is shared by people. This helps in identifying profiling aspects
                such as gender, age, native language, or personality type. Author profiling is a problem of growing
                importance in applications in forensics, security, and marketing. E.g., from a forensic linguistics
                perspective one would like being able to know the linguistic profile of the author of a harassing text
                message (language used by a certain type of people) and identify certain characteristics (language as
                evidence). Similarly, from a marketing viewpoint, companies may be interested in knowing, on the basis
                of the analysis of blogs and online product reviews, the demographics of people that like or dislike
                their products. The focus is on author profiling in social media since we are mainly interested in
                everyday language and how it reflects basic social and personality processes.</p>


            <h2 id="task">Task</h2>
            <p>The focus of 2016 shared task is on cross-genre age and gender
                identification. That is, the training documents will be on one genre (e.g.
                Twitter, blogs, social media...) and the evaluation will be on another
                genre (e.g. Twitter, blogs, social media...).</p>

            <p>Three languages will be addressed: English, Spanish and Dutch.</p>


            <h2 id="award">Award</h2>
            <p>We are happy to announce that the best performing team at the 4th International Competition on Author
                Profiling will be awarded 300,- Euro sponsored by <a href="http://www.meaningcloud.com/"
                                                                     target="_blank">MeaningCloud</a>.</p>
            <ul>
                <li>
                    Mart Busger op Vollenbroek, Talvany Carlotto, Tim Kreutz, Maria Medvedeva, Chris Pool, Johannes
                    Bjerva, Hessel Haagsma, Malvina Nissim. University of Groningen, Netherlands.
                </li>
            </ul>
            <a href="https://s3.amazonaws.com/autoritas.pan/PAN16-Award-Malvina-Nissim-Paolo-Rosso-Francisco-Rangel.jpg"
               target="_blank">
                <img src="https://s3.amazonaws.com/autoritas.pan/PAN16-Award-Malvina-Nissim-Paolo-Rosso-Francisco-Rangel.jpg"
                     width="350px"/>
            </a>
            <p>Congratulations!</p>


            <h2 id="data">Data</h2>
           <p>
                To develop your software, we provide you with a training data set that consists of Twitter tweets in
                English, Spanish and Dutch.</p>

            <p> The English and Spanish datasets are labeled with age and gender, whereas the Dutch one only with
                gender.
                With regard to age, we will consider the following classes: 18-24, 25-34, 35-49, 50-64, 65-xx.</p>

            <p><b>Remark.</b> Due to Twitter's privacy policy we cannot provide tweets directly, but only URLs referring
                to them. You will have to download them yourself. For your convenience, we provide a download software
                for this. We expect participants to extract gender and age information only from the textual part of a
                tweet and to discard any other meta information that may be provided by Twitter's API. When we evaluate
                your software at our site, we do not expect it downloads tweets. We will do this beforehand.</p>

            <h2>Output</h2>
            <p>Your software must take as input the absolute path to an unpacked dataset, and has to output for each
                document of the dataset a corresponding XML file that looks like this:</p>
            <pre class="prettyprint lang-xml" style="overflow-x: auto;">
  &lt;author id="{author-id}"
	  type="not relevant"
	  lang="en|es|nl"
	  age_group="18-24|25-34|35-49|50-64|65-xx"
	  gender="male|female"
  /&gt;
  </pre>
            <p>The naming of the output files is up to you, we recommend to use the author-id as filename and "xml" as
                extension.</p>


            <h2 id="evaluation">Evaluation</h2>
            <p>The performance of your author profiling solution will be ranked by
                accuracy.</p>

            <p>Concretely, we will calculate individual accuracies for each language, gender, and age class.
                Then, we will average the accuracy values to obtain a joint identification of age and gender in each
                language.</p>

            <h2 id="results">Results</h2>

            <p>The following table lists the performances achieved by the participating teams:</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
                <thead>
                <tr>
                    <th colspan="2" style="text-align:center">Author profiling performance</th>
                </tr>
                <tr>
                    <th style="white-space:nowrap">Avg. Accuracy</th>
                    <th>Team</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>0.5258</td>
                    <td>Mart Busger op Vollenbroek, Talvany Carlotto, Tim Kreutz, Maria Medvedeva, Chris Pool, Johannes
                        Bjerva, Hessel Haagsma, Malvina Nissim. University of Groningen, Netherlands.
                    </td>
                </tr>
                <tr>
                    <td>0.5247</td>
                    <td>Pashutan Modaresi, Matthias Liebeck, Stefan Conrad. Heinrich Heine University Düsseldorf,
                        Germany.
                    </td>
                </tr>
                <tr>
                    <td>0.4834</td>
                    <td>Ivan Bilan, Desislava Zhekova. University of Munich, Germany.</td>
                </tr>
                <tr>
                    <td>0.4602</td>
                    <td>Philipp Gross, Siavash Sefidrodi, Germany.</td>
                </tr>
                <tr>
                    <td>0.4593</td>
                    <td>Ilia Markov, Helena Gómez Adorno, Grigori Sidorov, Alexander Gellbukh. Instituto Politécnico
                        Nacional, Mexico.
                    </td>
                </tr>
                <tr>
                    <td>0.4519</td>
                    <td>Konstantinos Bougiatiotis, Anastasia Krithara. NCSR Demokritos, Greece.</td>
                </tr>
                <tr>
                    <td>0.4425</td>
                    <td>Daniel Dichiu, Irina Rancea. Bitdefender, Romania.</td>
                </tr>
                <tr>
                    <td>0.4369</td>
                    <td>Hannes de Valkeneer, Shoira Mukhsinova. Belgium</td>
                </tr>
                <tr>
                    <td>0.4293</td>
                    <td>Waser, Switzerland (this team withdrew their submission a posteriori)</td>
                </tr>
                <tr>
                    <td>0.4255</td>
                    <td>Roy Bayot, Teresa Gonçalves. Universidade de Évora, Portugal.</td>
                </tr>
                <tr>
                    <td>0.4015</td>
                    <td>Pepa Gencheva, Martin Boyanov, Elena Deneva, Preslav Nakov, Yasen Kiprov, Ivan Koychev, Georgi
                        Georgiev. Sofia University, Bulgaria.
                    </td>
                </tr>
                <tr>
                    <td>0.4014</td>
                    <td>Elena Deneva, Nikolay Hubanov. Sofia University, Bulgaria.</td>
                </tr>
                <tr>
                    <td>0.3971</td>
                    <td>Madhulika Agrawal, Teresa Gonçalves. Universidade de Évora, Portugal.</td>
                </tr>
                <tr>
                    <td>0.3800</td>
                    <td>Mirco Kocher, Jacques Savoy. University of Neuchâtel, Switzerland.</td>
                </tr>
                <tr>
                    <td>0.3664</td>
                    <td>Constantino Román Gómez. Universidad Politécnica de Madrid, Spain.</td>
                </tr>
                <tr>
                    <td>0.3660</td>
                    <td>María José Garciaren Ucelay, María Paula Villegas, Dario G. Funez, Leticia C. Cagnina, Marcelo
                        L. Errecalde, Gabriela Ramírez de la Rosa, Esaú Villatoro Tello. Universidad Nacional de San
                        Luis, Argentina.
                    </td>
                </tr>
                <tr>
                    <td>0.3154</td>
                    <td>Anam Zahid, Aadarsh Sampath, Anindya Dey, Golnoosh Farnady. University of Washington Tacoma,
                        United States.
                    </td>
                </tr>
                <tr>
                    <td>0.2949</td>
                    <td>José María Aceituno. Spain.</td>
                </tr>
                <tr>
                    <td>0.1688</td>
                    <td>Shaina Ashraf, Hafiz Rizwan Iqbal, Rao Muhammad Adeel Nawab. Institute of Information
                        Technology, Pakistan.
                    </td>
                </tr>
                <tr>
                    <td>0.1560</td>
                    <td>Rodwan Bakkar Deyab, José Duarte, Teresa Gonçalves. Universidade de Évora, Portugal.</td>
                </tr>
                <tr>
                    <td>0.1410</td>
                    <td>Oliver Pimas, Andi Rexha, Mark Kröll, Roman Kern. Know-Center GmbH, Austria.</td>
                </tr>
                <tr>
                    <td>0.0571</td>
                    <td>Anand Kumar M., Sanjay S. Poongunran. Amrita Vishwa Vidyapeetham, India.</td>
                </tr>
                </tbody>
            </table>


             <h2 id="related-work">Related Work</h2>
            <ul>
                <li>Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstatios Stamatatos, Giacomo Inches. <a
                        href="http://ceur-ws.org/Vol-1179/CLEF2013wn-PAN-RangelEt2013.pdf" target="_blank">Overview of
                    the Author Profiling Task at PAN 2013.</a> In: Forner P., Navigli R., Tufis D. (Eds.)Notebook Papers
                    of CLEF 2013 LABs and Workshops. CEUR-WS.org, vol. 1179
                </li>
                <li>Francisco Rangel, Paolo Rosso, Irina Chugur, Martin Potthast, Martin Trenkmann, Benno Stein, Ben
                    Verhoeven, Walter Daelemans. <a href="http://ceur-ws.org/Vol-1180/CLEF2014wn-Pan-RangelEt2014.pdf"
                                                    target="_blank">Overview of the 2nd Author Profiling Task at PAN
                        2014.</a> In: Cappellato L., Ferro N., Halvey M., Kraaij W. (Eds.) CLEF 2014 Labs and Workshops,
                    Notebook Papers. CEUR-WS.org, vol. 1180, pp. 898-827.
                </li>
                <li>Francisco Rangel, Fabio Celli, Paolo Rosso, Martin Pottast, Benno Stein, Walter Daelemans. <a
                        href="https://github.com/autoritas/RD-Lab/blob/master/doc/papers/2015%20-%20PAN/pan15-ap-overview.pdf"
                        target="_blank">Overview of the 3rd Author Profiling Task at PAN 2015.</a>In: Linda Cappelato
                    and Nicola Ferro and Gareth Jones and Eric San Juan (Eds.): CLEF 2015 Labs and Workshops, Notebook
                    Papers, 8-11 September, Toulouse, France. CEUR Workshop Proceedings. ISSN 1613-0073,
                    http://ceur-ws.org/Vol-1391/,2015.
                </li>
                <li>S. Argamon, M. Koppel, J. Pennebaker and J. Schler (2009), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/AuthorshipProfiling-cacm-final.pdf" target="_blank">Automatically
                    profiling the author of an anonymous text</a>, Communications of the ACM 52 (2): 119–123.
                </li>
                <li>J. Schler, Moshe Koppel, S. Argamon and J. Pennebaker (2006), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/springsymp-blogs-07.10.05-final.pdf" target="_blank">Effects
                    of Age and Gender on Blogging</a>, in Proc. of AAAI Spring Symposium on Computational Approaches for
                    Analyzing Weblogs, March 2006.
                </li>
                <li>M.Koppel, S. Argamon and A. Shimoni (2003), <a
                        href="http://u.cs.biu.ac.il/~koppel/papers/male-female-llc-final.pdf" target="_blank">Automatically
                    categorizing written texts by author gender</a>, Literary and Linguistic Computing 17(4), November
                    2002, pp. 401-412.
                </li>

                <li>J. Pennebaker (2011). The secret life of pronouns: What our words say about us. New York: Bloomsbury
                    Publishing, 2011.
                </li>

                <li>
                    <a href="https://www.uni-weimar.de/medien/webis/corpora/corpus-pan-labs-09-today/pan-13/pan13-data/pan13-author-profiling-training-corpus-2013-01-09.zip"
                       target="_blank">PAN-AP-13 corpus - Author Profiling Shared Task</a></li>
                <li>
                    <a href="https://www.uni-weimar.de/medien/webis/corpora/corpus-pan-labs-09-today/pan-14/pan14-data/pan14-author-profiling-training-corpus-2014-04-16.zip"
                       target="_blank">PAN-AP-14 corpus - Author Profiling Shared Task</a></li>
                <li>
                    <a href="https://www.uni-weimar.de/medien/webis/corpora/corpus-pan-labs-09-today/pan-15/pan15-data/pan15-author-profiling-training-dataset-2015-04-23-password-protected.zip"
                       target="_blank">PAN-AP-15 corpus - Author Profiling Shared Task</a></li>
                <li><a href="http://u.cs.biu.ac.il/~koppel/BlogCorpus.htm" target="_blank">The Blog Authorship
                    Corpus</a></li>
            </ul>

            <h2 id="sponsor">Sponsor</h2>
            <a href="http://www.meaningcloud.com/" target="_blank">
                <img src="../pan16-figures/logo-meaningcloud.png" alt="MeaningCloud">
            </a>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rosso.html %}
                {% include people-cards/rangel.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/daelemans.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2016 %}
            </div>
        </div>
    </div>
</main>
