---
layout: default
nav_active: tasks
title: PAN @ CLEF 2016
description: PAN @ CLEF 2016
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef15/pan15-web/keynotes.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2016
                <a class="uk-button uk-padding-remove-right"
                   href="{{ 'clef17/pan17-web/keynotes.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef16/pan16-web/index.html' | relative_url }}">Overview</a></li>
                <li class="uk-active"><a href="{{ '/clef16/pan16-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li><a href="{{ '/clef16/pan16-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left"
                                            data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef16/pan16-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef16/pan16-web/author-profiling.html' | relative_url }}">Author
                                Profiling</a></li>
                            <li><a href="{{ '/clef16/pan16-web/author-obfuscation.html' | relative_url }}">Author
                                Obfuscation</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef16/pan16-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ 'publications.html#?q=year:2016' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2016 %}

            <h1 class="uk-margin-small">Workshop Keynotes</h1>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 09 to 12,
                2016.</p>
        </div>

    </header>

    <div class="uk-section">
        <div class="uk-container uk-margin-large uk-text-justify">
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>

                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef16/pan16-figures/rui.jpg' | relative_url }}" alt="Rui Sousa-Silva">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">
                                Detecting translingual plagiarism: A forensic linguistic contribution
                                to computational processing
                            </div>
                            <div class="keynote-speaker"><a href="http://www.linguisticaforense.pt/" target="_blank">Rui
                                Sousa-Silva</a></div>
                            <div class="keynote-affiliation">Universidade do Porto</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>Plagiarism detection has evolved significantly in recent years, partly in response to the
                            media
                            attention attracted by high-profile plagiarism cases involving journalists and politicians.
                            A
                            culture of control has been establishing itself to guarantee integrity and honesty in all
                            areas
                            related to copyright and authorship, including implementation of policies, codes of conduct,
                            tariffs of penalties, and matching detection software. The latter has dramatically improved
                            alongside the technological developments over the years. Currently instances of linguistic
                            plagiarism can easily be matched to the original, while pointing out differences between the
                            plagiarised and the plagiarising texts. These methods work particularly well with same
                            language
                            texts; however, systematically detecting translingual plagiarism - i.e. where a derivative
                            text
                            copies from a source in another language without attribution - remains a problem area. This
                            is
                            especially so because the possibilities of combining language pairs are immense, thus
                            requiring
                            an enormous data processing power. This session presents illustrative cases of translingual
                            plagiarism and discusses some of the approaches adopted by forensic linguists to investigate
                            and
                            prove that a certain translated text is an instance of plagiarism. The keynote concludes by
                            encouraging a discussion of computational approaches that can be adopted to assist forensic
                            linguists in their own investigation.
                        </p>

                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Rui Sousa-Silva is assistant professor of the Faculty of Arts and
                                    post-doctoral researcher at the Linguistics Centre (CLUP) of the University of
                                    Porto, where he
                                    is currently conducting his research into Forensic Linguistics and Cybercrime. He
                                    has a PhD in
                                    Applied Linguistics from Aston University (Birmingham, UK), where he submitted his
                                    thesis on
                                    Forensic Linguistics: ‘Detecting Plagiarism in the Forensic Linguistics Turn’. He
                                    studied
                                    cross-cultural attitudes to plagiarism, and proposed an original approach to
                                    translingual
                                    plagiarism detection. He also authored and co-authored several papers on
                                    (computational)
                                    authorship analysis, and is co-editor with Professor Malcolm Coulthard of the
                                    recently founded
                                    international bilingual biennial journal Language and Law / Linguagem e Direito.</p>

                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read
                                    less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
        </div>
    </div>  <!-- section -->

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2016 %}
        </div>
    </footer>
</main>
