---
layout: default
nav_active: tasks
title: PAN at CLEF 2016 - Workshop Program
description: PAN at CLEF 2016 - Workshop Program
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef15/pan15-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2016
                <a class="uk-button uk-padding-remove-right" href="{{ 'clef17/pan17-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef16/pan16-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef16/pan16-web/submission.html' | relative_url }}">Submission</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left"
                                            data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef16/pan16-web/author-identification.html' | relative_url }}">Author
                                Identification</a></li>
                            <li><a href="{{ '/clef16/pan16-web/author-profiling.html' | relative_url }}">Author
                                Profiling</a></li>
                            <li><a href="{{ '/clef16/pan16-web/author-obfuscation.html' | relative_url }}">Author
                                Obfuscation</a></li>
                        </ul>
                    </div>
                </li>
                <li class="uk-active"><a href="{{ '/clef16/pan16-web/program.html' | relative_url }}">Program</a></li>
                <li><a href="{{ '/clef16/pan16-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2016 %}

            <h1 class="uk-margin-small">Workshop Program</h1>
            <div class="page-header-meta">PAN at CLEF 2016</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 05 to 08,
                2016.</p>
        </div>
    </header>

    <!-- Schedule -->
    <div class="uk-section">
        <div class="uk-container">
            <h2>Schedule
                <span class="uk-text-lead">
                <a href="http://clef2016.clef-initiative.eu/index.php?page=Pages/programme.html">View full conference program</a>
            </span>
            </h2>
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <tbody>
                <tr>
                    <td colspan="2"><b>September 5</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>13:30-16:10</nobr>
                    </td>
                    <td><b>Lab Overviews 1</b></td>
                </tr>
                <tr>
                    <td>30 min. talk</td>
                    <td>Overview of PAN'16 New Challenges for Authorship Analysis: Cross-genre Profiling, Clustering,
                        Diarization, and Obfuscation<br/><i>Paolo Rosso, Francisco Rangel, Martin Potthast, Efstathios
                            Stamatatos, Michael Tschuggnall and Benno Stein</i></td>
                </tr>
                <tr>
                    <td>18:30-19:30</td>
                    <td>Welcome Reception</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 6</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Keynote + Author Obfuscation</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>13:30-14:30</td>
                    <td>Detecting Translingual Plagiarism: A Forensic Linguistic Contribution to Computational
                        Processing<br/><i>Rui Sousa-Silva</i></td>
                </tr>
                <tr>
                    <td>14:30-15:00</td>
                    <td>Author Obfuscation: Attacking the State of the Art in Authorship Verification<br/><i>Martin
                        Potthast, Matthias Hagen, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>15:00-15:20</td>
                    <td>SU@PAN'2016: Author Obfuscation<br/><i>Tsvetomila Mihaylova, Georgi Karadjov, Yasen Kiprov,
                        Georgi Georgiev, Ivan Koychev, and Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td>15:20-15:30</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td>15:30-16:15</td>
                    <td>PAN Poster Session</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Authorship clustering using multi-headed recurrent neural networks<br/><i>Douglas Bagnall</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>UniNE at CLEF 2016: Author Clustering<br/><i>Mirco Kocher</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Methods for intrinsic plagiarism detection and author diarization<br/><i>Mikhail Kuznetsov,
                        Anastasia Motrenko, Rita Kuznetsova, and Vadim Strijov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Multi feature space combination for authorship clustering<br/><i>Muharram Mansoorizadeh,
                        Mohammad Aminiyan, Taher Rahgooy, Mahdy Eskandari</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>ExploringWord Embeddings and Character N-Grams for Author Clustering<br/><i>Yunita Sari, Mark
                        Stevenson</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Diarization Using Cluster-Distance Approach<br/><i>Abdul Sittar, Hafiz Rizwan Iqbal, and
                        Rao Muhammad Adeel Nawab</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Big Increase in Known Unknowns: from Author Verification to Author Clustering<br/><i>Anna
                        Vartapetiance and Lee Gillam</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Experiments in Authorship-Link Ranking and Complete Author Clustering<br/><i>Valentin
                        Zmiycharov, Dimitar Alexandrov, Hristo Georgiev, Yasen Kiprov, Georgi Georgiev, Ivan Koychev,
                        and Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Masking through Translation<br/><i>Yashwant Keswani, Harsh Trivedi, Parth Mehta, and
                        Prasenjit Majumder</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Evaluating Safety, Soundness and Sensibleness of Obfuscation Systems<br/><i>Matthias Liebeck,
                        Pashutan Modaresi, and Stefan Conrad</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author obfuscation using WordNet and language models<br/><i>Muharram Mansoorizadeh, Taher
                        Rahgooy, Mohammad Aminiyan, Mahdy Eskandari</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>SU@PAN'2016: Author Obfuscation<br/><i>Tsvetomila Mihaylova, Georgi Karadjov, Yasen Kiprov,
                        Georgi Georgiev, Ivan Koychev, and Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Age and Gender Identification using Stacking for Classification<br/><i>Madhulika Agrawal and
                        Teresa Gonçalves</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cross-Genre Author Profile Prediction Using Stylometry-Based Approach<br/><i>Shaina Ashraf,
                        Hafiz Rizwan Iqbal, Rao Muhammad Adeel Nawab</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling Using Support Vector Machines<br/><i>Rodwan Bakkar Deyab, José Duarte, and
                        Teresa Gonçalves</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling using SVMs andWord Embedding Averages<br/><i>Roy Bayot and Teresa Gonçalves</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>CAPS: A Cross-genre Author Profiling System<br/><i>Ivan Bilan and Desislava Zhekova</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling using Complementary Second Order Attributes and Stylometric Features<br/><i>Konstantinos
                        Bougiatiotis and Anastasia Krithara</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>GronUP: Groningen User Profiling<br/><i>Mart Busger op Vollenbroek, Talvany Carlotto, Tim
                        Kreutz, Maria Medvedeva, Chris Pool, Johannes Bjerva, Hessel Haagsma, and Malvina Nissim</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Using Machine Learning Algorithms for Author Profiling in Social Media<br/><i>Daniel Dichiu,
                        Irina Rancea</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Statistical Semantics in Context Space: Amrita CEN@Author Profiling<br/><i>Barathi Ganesh HB,
                        Anand Kumar M, and Soman KP</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Profile-based Approach for Age and Gender Identification<br/><i>Ma. José Garciarena Ucelay, Ma.
                        Paula Villegas, Dario G. Funez, Leticia C. Cagnina, Marcelo L. Errecalde, Gabriela
                        Ramírez-de-la-Rosa, and Esaú Villatoro-Tello</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>PANcakes Team: A Composite System of Genre-Agnostic Features For Author Profiling<br/><i>Pepa
                        Gencheva, Martin Boyanov, Elena Deneva, Preslav Nakov, Yasen Kiprov1, Ivan Koychev1, and Georgi
                        Georgiev</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>UniNE at CLEF 2016: Author Profiling<br/><i>Mirco Kocher, Jaques Savoy</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Adapting Cross-Genre Author Profiling to Language and Corpus<br/><i>Ilia Markov, Helena
                        Gómez-Adorno, Grigori Sidorov, and Alexander Gelbukh</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Exploring the Effects of Cross-Genre Machine Learning for Author Profiling in PAN 2016<br/><i>Pashutan
                        Modaresi, Matthias Liebeck, and Stefan Conrad</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Profiling microblog authors using concreteness and sentiment<br/><i>Oliver Pimas, Andi Rexha,
                        Mark Kröll, and Roman Kern</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Cross-genre Age and Gender Identification in Social Media<br/><i>Anam Zahid, Aadarsh Sampath,
                        Anindya Dey, Golnoosh Farnadi</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Derivative Approach for Plagiarism Source Retrieval<br/><i>Rhulani Maluleka</i></td>
                </tr>
                <tr>
                    <td>19:45</td>
                    <td>Conference Dinner</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 7</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Profiling</b>, Chair: Francisco Rangel</td>
                </tr>
                <tr>
                    <td>13:30-14:00</td>
                    <td>Overview of the 4th Author Profiling Task at PAN 2016: Cross-Genre Evaluations<br/><i>Francisco
                        Rangel, Paolo Rosso, Ben Verhoeven, Walter Daelemans, Martin Potthast, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>14:00-14:20</td>
                    <td>GronUP: Groningen User Profiling<br/><i>Mart Busger op Vollenbroek, Talvany Carlotto, Tim
                        Kreutz, Maria Medvedeva, Chris Pool, Johannes Bjerva, Hessel Haagsma, and Malvina Nissim</i>
                    </td>
                </tr>
                <tr>
                    <td>14:20-14:40</td>
                    <td>Exploring the Effects of Cross-Genre Machine Learning for Author Profiling in PAN 2016<br/><i>Pashutan
                        Modaresi, Matthias Liebeck, Stefan Conrad</i></td>
                </tr>
                <tr>
                    <td>14:40-15:00</td>
                    <td>CAPS: A Cross-Genre Author Profiling System<br/><i>Ivan Bilan, Desislava Zhekova</i></td>
                </tr>
                <tr>
                    <td>15:00-15:20</td>
                    <td>Author Profiling using Complementary Second Order Attributes and Stylometric Features<br/><i>Konstantinos
                        Bougiatiotis and Anastasia Krithara</i></td>
                </tr>
                <tr>
                    <td>15:20-15:30</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td>15:30-16:15</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Author Identification</b>, Chair: Michael Tschuggnall</td>
                </tr>
                <tr>
                    <td>16:15-17:00</td>
                    <td>Clustering by Authorship Within and Across Documents<br/><i>Efstathios Stamatatos, Michael
                        Tschuggnall, Ben Verhoeven, Walter Daelemans, Günther Specht, Benno Stein, and Martin
                        Potthast</i></td>
                </tr>
                <tr>
                    <td>17:00-17:20</td>
                    <td>Authorship Clustering using Multi-headed Recurrent Neural Networks<br/><i>Douglas Bagnall</i>
                    </td>
                </tr>
                <tr>
                    <td>17:20-17:40</td>
                    <td>UniNE at CLEF 2016: Author Clustering<br/><i>Mirco Kocher</i></td>
                </tr>
                <tr>
                    <td>17:40-18:00</td>
                    <td>Methods for Intrinsic Plagiarism Detection and Author Diarization<br/><i>Mikhail Kuznetsov,
                        Anastasia Motrenko, Rita Kuznetsova, Vadim Strijov</i></td>
                </tr>
                <tr>
                    <td>18:00-18:15</td>
                    <td>Discussion</td>
                </tr>
                <tr>
                    <td>19:45</td>
                    <td>"Petiscos" and "Cante Alentejano"</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2016 %}
        </div>
    </footer>
</main>
