---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Bots and Gender Profiling
description: PAN @ CLEF 2019 - Bots and Gender Profiling
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/author-profiling.html' | relative_url }}" data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li class="uk-active">
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li class="uk-active"><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Bots and Gender Profiling</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        
            <div class="uk-align-right uk-margin-remove-bottom">
		<a href="https://thelogicvalue.com/en/home/" target="_blank">
		    <img src="../pan19-figures/logo-thelogicvalue.png" style="height: 140px" alt="The Logic Value">
		</a>
		<div class="uk-text-small uk-text-muted uk-text-right">Sponsor</div>
	    </div>
	    
        
            <p class="uk-text-lead">Given a Twitter feed, determine whether its <b>author</b> is a bot or a human. 
                In case of human, identify her/his gender.</p>
        </div>
    </header>

    <div class="uk-section">
        
        <div class="uk-container uk-text-justify">
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <div>
                    <h2>Task</h2>
                    <p>Social media bots pose as humans to influence users with commercial, political or
                       ideological purposes. For example, bots could artificially inflate the popularity of
                        a product by promoting it and/or writing positive ratings, as well as undermine
                        the reputation of competitive products through negative valuations. The threat is
                        even greater when the purpose is political or ideological (see Brexit referendum or
                        US Presidential elections). Fearing the effect of this influence, the German
                        political parties have rejected the use of bots in their electoral campaign for the
                        general elections. Furthermore, bots are commonly related to fake news spreading.
                        Therefore, to approach the identification of bots from an author profiling perspective
                        is of high importance from the point of view of marketing, forensics and security.</p>

                    <p>After having addressed several aspects of <b>author profiling</b> in social media from 2013 to 2018
                        (age and gender, also together with personality, gender and language variety, and gender from
                        a multimodality perspective), this year we aim at investigating whether the author of a Twitter feed
                        is a <b>bot</b> or a <b>human</b>. Furthermore, in case of human, to profile the <b>gender</b> of the author.</p>

                </div>  <!-- grid column -->
                <div>
                    <h2>&nbsp;</h2>
                    
                    <p>As in previous years, we propose the task from a <b>multilingual</b> perspective:</p>

                    <ul>
                        <li>English</li>
                        <li>Spanish</li>
                    </ul>
			
			<b>NOTE:</b> Although we recommend to participate in both, bots and gender profiling, it is possible to address just one problem, and for just one language: English or Spanish.
			<p>
		Unlike previous years and with the aim at maintaining a realistic scenario, we have not performed any 
		cleaning action on the tweets: they remain as users tweeted them. This means that RTs have not been removed 
				and tweets potentially in more than one language can appear.</p>
			
                </div> <!-- grid column -->
            </div>  <!-- grid -->
            <div class="uk-container uk-margin-medium">
                <hr class="uk-divider-icon">
            </div>
            
            
            <div class="uk-container uk-text-justify">
            <div class="uk-child-width-1-2@m" data-uk-grid="masonry: true">

                <!-- Left -->
                <div>


                    <h2>Data
                        <span class="uk-text-lead">
                        [<a href="https://s3.amazonaws.com/autoritas.pan/pan19-author-profiling-training-2019-02-18.zip">Download Training Data</a>]
                    </span>
                    </h2>
                    <!--To obtain the password to uncompress the dataset, you must contact: <a href="mailto:pan@webis.de">pan@webis.de</a>-->
                    
                    <h3 class="uk-margin-small-top">Input</h3>
                    The uncompressed dataset consists in a folder per language (en, es). Each folder contains:
                    <ul>
                        <li>A XML file per author (Twitter user) with 100 tweets. The name of the XML file correspond to the 
                        unique author id.</li>
                        <li>A truth.txt file with the list of authors and the ground truth.</li>
                    </ul>
                    The format of the XML files is:<br/>
                    <pre class="prettyprint lang-xml" style="overflow-x: auto;">
	&lt;author lang="en"&gt;
	    &lt;documents&gt;
		    &lt;document&gt;Tweet 1 textual contents&lt;/document&gt;
		    &lt;document&gt;Tweet 2 textual contents&lt;/document&gt;
		    ...
		&lt;/documents&gt;
	&lt;/author&gt;
                              </pre>
                    
                    The format of the truth.txt file is as follows. The first column corresponds to the author id. The second 
                    and third columns contain the truth for the human/bot and bot/male/female tasks.<br>
                    <pre class="prettyprint lang-xml" style="overflow-x: auto;">
	b2d5748083d6fdffec6c2d68d4d4442d:::bot:::bot
	2bed15d46872169dc7deaf8d2b43a56:::bot:::bot
	8234ac5cca1aed3f9029277b2cb851b:::human:::female
	5ccd228e21485568016b4ee82deb0d28:::human:::female
	60d068f9cafb656431e62a6542de2dc0:::human:::male
	c6e5e9c92fb338dc0e029d9ea22a4358:::human:::male
	...
                              </pre>
                    
                    <h3 class="uk-margin-small-top">Output</h3>
                        <p>Your software must take as input the absolute path to an unpacked dataset, and has to output 
                            for each document of the dataset a corresponding XML file that looks like this:</p>
                        <pre class="prettyprint lang-xml" style="overflow-x: auto;">
	&lt;author id="author-id"
		lang="en|es"
		type="bot|human"
		gender="bot|male|female"
	/&gt;
                              </pre>
                        <p>The naming of the output files is up to you. However, we recommend to use the author-id as 
                            filename and "xml" as extension.</p>
                        <p><b>IMPORTANT!</b> Languages should not be mixed. A folder should be created for each language 
                            and place inside only the files with the prediction for this language. </p>
			<p><b>IMPORTANT!</b> In order to avoid overfitting when experimenting with the training set, 
				we recommend you to use the provided split train/dev (files truth-train.txt and truth-dev.txt).</p>

		     <h2>Evaluation</h2>
                        The performance of your author profiling solution will be ranked by accuracy. 
                        For each language, we will calculate individual accuracies. Firstly, we will calculate the accuracy
                        of identifying bots vs. human. Then, in case of humans, we will calculate the accuracy of identifying
                        males vs. females. Finally, we will average the accuracy values per language to obtain the final 
                        ranking.
                    
                    <h2>Submission
                        <span class="uk-text-lead">
                        [<a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submit software to PAN</a>]
                    </span>
                    </h2>
                    
                    <p>This task follows PAN's software submission strategy described <a
                            href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">here</a>.</p>
                       
</div>
                <!-- Right -->
                <div>


                   
                    
                    <h2>Related Work</h2>
                    <ul>
                        <li>Andre Guess, Jonathan Nagler, and Joshua Tucker. 
				<a href="http://advances.sciencemag.org/content/5/1/eaau4586.abstract" target="_blank">
					Less than you think: Prevalence and predictors of fake news dissemination on Facebook.</a> 
				 Science Advances vol. 5 (2019)                         
                        </li>
			    <li>
				    Kai Shu, Suhang Wang, and Huan Liu. 
				    <a href="http://www.public.asu.edu/~skai2/papers/fake_news_user.pdf" target="_blank">
					    Understanding user profiles on social media for fake news detection.
				    </a>
				    IEEE Conference on Multimedia Information Processing and Retrieval (MIPR), pp. 430--435 (2018)
			    </li>
			    <li>
				    Massimo Stella, Emilio Ferrara, and Manlio De Domenico. 
				    <a href="https://arxiv.org/abs/1802.07292" target="_blank">
					    Bots sustain and inflate striking opposition in online social systems.
				    </a>
				    arXiv preprint arXiv:1802.07292 (2018)
			    </li>
			    <li>
				    Massimo Stella, Emilio Ferrara, and Manlio De Domenico. 
				    <a href="https://www.pnas.org/content/115/49/12435" target="_blank">
					    Bots increase exposure to negative and inflammatory content in online social systems.
				    </a>
				    Proceedings of the National Academy of Sciences, vol. 115 (49), pp. 12435-12440 (2018)
			    </li>
			    <li>Gouzhu Dong and Huan Liu.
			    	<a href="https://www.taylorfrancis.com/books/9781351721271" target="_blank">
					Feature Engineering for Machine Learning and Data Analytics.
				    </a>
				    CRC Press (2018). Chapter 12. Feature Engineering for Social Bot Detection. 
				    Onur Varol, Clayton A. Davis, Filippo Menczer, Alessandro Flammini.
				    
			    </li>
			    <li>Emilio Ferrara, Onur Varol, Filippo Menczer, Alessandro Flammini.
			    	<a href="http://www.aaai.org/ocs/index.php/ICWSM/ICWSM16/paper/download/13034/12789" target="_blank">
					Detection of Promoted Social Media Campaigns.
				    </a>
				 The 10th International AAAI Conference on Web and Social Media - ICWSM, pp. 563-566 (2016)   
			    </li>
			    <li>Zakaria el Hjouji, D. Scott Hunter, Nicolas Guenon des Mesnards, Tauhid Zaman.
			    	<a href="https://arxiv.org/abs/1810.12398" target="_blank">
					The Impact of Bots on Opinions in Social Networks.
				    </a>
				   arXiv preprint arXiv:1810.12398 (2018)  
			    </li>
			    <li>John P. Dickerson, Vadim Kagan, V.S. Subrahmanian.
				    <a href="https://dl.acm.org/citation.cfm?id=3191957" target="_blank">
					    Using Sentiment to Detect Bots on Twitter: Are Humans more Opionated than Bots?
				    </a>
				Proceedings of the 2014 IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining, pp. 620-627. IEEE Press. (2014)
			    </li>
			    <li>Kai-Cheng Yang, Onur Varol, Clayton A. Davis, Emilio Ferrara, Alessandro Flammini, Filippo Menczer.
				    <a href="https://arxiv.org/abs/1901.00912" target="_blank">
					    Arming the Public with AI to Counter Social Bots.
				    </a>
			    	arXiv preprint arXiv:1901.00912. 2019 Jan 3.
			    </li>
			    <li>Chiyu Cai, Linking Li, Daniel Zeng.
				    <a href="https://ieeexplore.ieee.org/abstract/document/8004887/" target="_blank">
					    Behaviour Enhanced Deep Bot Detection in Social Media.
				    </a>
				    Intelligence and Security Informatics (ISI). 2017 IEEE International Conference, pp. 128-130 (2017)
			    </li>
			    <li>Andrew Hall, Loren Terveen, Aaron Halfaker.
				    <a href="https://dl.acm.org/citation.cfm?id=3274333" target="_blank">
					    Bot Detection in Wikidata Using Behavioral and Other Informal Cues.
				    </a>  
				    Proceedings of the ACM on Human-Computer Interaction. 2018 Nov 1;2(CSCW):64.
			    </li>
			    <li>
				    Mariona Taulé, M. Antonia Martí, Francisco Rangel, Paolo Rosso, Cistina Bosco, and Viviana Patti.
				    <a href="https://iris.unito.it/bitstream/2318/1652739/1/Overview5.pdf" target="_blank">
					    Overview of the task on stance and gender detection in tweets on Catalan independence at IberEval 2017.
				    </a>
				    In: 2nd Workshop on Evaluation of Human Language Technologies for Iberian Languages, IberEval 2017.
				    CEUR Workshop Proceedings. CEUR-WS.org, vol. 1881.
			    </li>
			    <li>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-2125/invited_paper_15.pdf" target="_blank">Overview of the 6th author profiling task at pan 2018: multimodal gender identification in Twitter.</a>
                    In: CLEF 2018 Labs and Workshops, Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 2125.
                </li>
			    <li>Francisco Rangel, Paolo Rosso, Martin Potthast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-1866/invited_paper_11.pdf" target="_blank">Overview of the 5th
                        Author Profiling Task at PAN 2017: Gender and Language Variety Identification in Twitter.</a>
                    In: Cappellato L., Ferro N., Goeuriot L, Mandl T. (Eds.) CLEF 2017 Labs and Workshops, Notebook
                    Papers. CEUR Workshop Proceedings. CEUR-WS.org, vol. 1866.
                </li>
                <li>Francisco Rangel, Paolo Rosso, Ben Verhoeven, Walter Daelemans, Martin Pottast, Benno Stein.
                    <a href="http://ceur-ws.org/Vol-1609/16090750.pdf" target="_blank">Overview of the 4th Author
                        Profiling Task at PAN 2016: Cross-Genre Evaluations.</a> In: Balog K., Capellato L., Ferro N.,
                    Macdonald C. (Eds.) CLEF 2016 Labs and Workshops, Notebook Papers. CEUR Workshop Proceedings.
                    CEUR-WS.org, vol. 1609, pp. 750-784
                </li>
                <li>Francisco Rangel, Fabio Celli, Paolo Rosso, Martin Pottast, Benno Stein, Walter Daelemans.
                    <a href="https://github.com/autoritas/RD-Lab/blob/master/doc/papers/2015%20-%20PAN/pan15-ap-overview.pdf"
                       target="_blank">Overview of the 3rd Author Profiling Task at PAN 2015.</a>In: Linda
                    Cappelato and Nicola Ferro and Gareth Jones and Eric San Juan (Eds.): CLEF 2015 Labs and
                    Workshops, Notebook Papers, 8-11 September, Toulouse, France. CEUR Workshop Proceedings. ISSN
                    1613-0073, http://ceur-ws.org/Vol-1391/,2015.
                </li>
                <li>Francisco Rangel, Paolo Rosso, Irina Chugur, Martin Potthast, Martin Trenkmann, Benno Stein, Ben
                    Verhoeven, Walter Daelemans.
                    <a href="http://ceur-ws.org/Vol-1180/CLEF2014wn-Pan-RangelEt2014.pdf" target="_blank">Overview
                        of the 2nd Author Profiling Task at PAN 2014.</a> In: Cappellato L., Ferro N., Halvey M.,
                    Kraaij W. (Eds.) CLEF 2014 Labs and Workshops, Notebook Papers. CEUR-WS.org, vol. 1180, pp.
                    898-827.
                </li>
                <li>Francisco Rangel, Paolo Rosso, Moshe Koppel, Efstatios Stamatatos, Giacomo Inches.
                    <a href="http://ceur-ws.org/Vol-1179/CLEF2013wn-PAN-RangelEt2013.pdf" target="_blank">Overview
                        of the Author Profiling Task at PAN 2013.</a> In: Forner P., Navigli R., Tufis D. (Eds.)Notebook
                    Papers of CLEF 2013 LABs and Workshops. CEUR-WS.org, vol. 1179
                </li>
                    </ul>
                </div>
            </div>
            
            
            
        </div>  <!-- container -->
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/rangel.html %}
                {% include people-cards/rosso.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2019 %}
        </div>
    </footer>
</main>
