---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Celebrity Profiling
description: PAN @ CLEF 2019 - Celebrity Profiling
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/index.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li class="uk-active">
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li class="uk-active"><a
                                    href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            <a class="uk-button uk-button-primary uk-align-right@m"
               href="https://docs.google.com/forms/d/e/1FAIpQLSfR_xoBuGU3q7o3EYPoItN28UPuZENjs3wlWYEX_EdRGUyRfA/viewform"
               target="_blank">
                Register now!
            </a>

            <h1 class="uk-margin-small">Celebrity Profiling</h1>
            <div class="page-header-meta">CLEF @ PAN 2019</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">Given the english Social Media feed of a celebrity, determine the degree of fame,
                occupation, age and gender.</p>
        </div>
    </header>

    <div class="uk-section uk-section-default">
        <div class="uk-container uk-text-justify">
            <div class="uk-column-1-2@l">
                <h2>Task</h2>
                <p>Celebrities are among the most prolific users of social media, promoting their personas and rallying
                    followers. This activity is closely tied to genuine writing samples, rendering them worthy research
                    subjects in many respects, not least author profiling.</p>

                <p>The Celebrity Profiling task this year is to predict four traits of a celebrity from it's social
                    media communication. The traits are the degree of fame, occupation, age and gender. The social media
                    communication is given as the teaser messages from past Tweets. The goal is to develop a piece of
                    software which predicts celebrity traits from the teaser
                    history.</p>

                <h2>Corpus
                    <span class="uk-text-lead">
                        [<a href="#">Download Training Data</a>]
                    </span>
                </h2>
                <p>The training dataset contains of two files: a <code>feeds.ndjson</code><sup><a
                        href="#">example</a></sup> and a <code>labels.ndjson</code><sup><a href="#">example</a></sup>.
                    Each file lists all celebrities as json objects, one per line and identified by the <code>cid</code>
                    key.</p>

                <pre class="prettyprint uk-margin-remove-bottom"><code class="lang-json">{"cid": 1234, "text": ["a teaser", "another teaser", ...]}
{"cid": 5678, "text": ["a teaser", "another teaser", ...]}
...</code></pre><div class="uk-text-small uk-text-muted uk-text-right">feeds.ndjson</div>


                <pre class="prettyprint uk-margin-remove-bottom"><code class="lang-json">{"cid": 1234, "fame": "wellknown", "occupation": "sports", "gender": "female", "age": 28}
{"cid": 5678, "fame": "regional", "occupation": "entertainment", "gender": "male", "age": 54}
...</code></pre><div class="uk-text-small uk-text-muted uk-text-right">labels.ndjson</div>

                <pre class="prettyprint uk-margin-remove-bottom"><code class="lang-pascal">fame        := {regional, wellknown, superstar}
occupation  := {TODO}
age         := {1, ... ,114}
gender      := {male, female, nonbinary}</code></pre>
                <div class="uk-text-small uk-text-muted uk-align-right">possible value instances for each label</div>

                <br>
                <h2>Evaluation
                    <span class="uk-text-lead">
                        [<a href="#">Download Evaluation Script</a>]
                    </span>
                </h2>
                <p>For evaluation, your software will read a <code>feeds.ndjson</code> file from a given directory and write a valid
                    <code>labels.ndjson</code> with your predictions to a given output directory:
                </p>
                <pre class="prettyprint"><code class="lang-bash">mySoftware -i path/to/feeds/directory -o path/to/output/directory</code></pre>

                <p>Submissions are judged by a combined metric <code>cRank</code>, which is the harmonic mean of each
                    label's metric.
                    Fame, occupation, and gender are judged by their respective F<sub>1</sub>. Age is judged by
                    Mean Squared Error.</p>

                $$ \text{cRank} = {4 \over {\frac{1}{\text{F}_{1, \text{fame}}} + \frac{1}{\text{F}_{1,
                \text{occupation}}} + \frac{1}{\text{F}_{1, \text{gender}}} + \frac{1}{\text{MSE}_{\text{age}}}}} $$

                <h2>Submission
                    <span class="uk-text-lead">
                        [<a href="https://www.tira.io/static/tira-vm-user-guide.pdf">See the TIRA User Guide</a>]
                    </span>
                </h2>
                <p>When you registered, you will get remote access to a virtual machine (Windows or Linux) to deploy the
                    task software in. Your software must be executable from the command line and not require Internet
                    access during the evaluation period. Note that you retain full copyrights of your software, but
                    agree to grant us usage rights only for the purpose of the competition.</p>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/wiegmann.html %}
                {% include people-cards/stein.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/pan19-organizations-section.html %}
        </div>
    </footer>
</main>

<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
<script src="{{ 'js/thirdparty/fontawesome/fontawesome.min.js' | relative_url }}"></script>
<script src="{{ 'js/thirdparty/fontawesome/solid.min.js' | relative_url }}"></script>
<!--<script type="text/x-mathjax-config">-->
<!--MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});-->
<!--</script>-->