---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Celebrity Profiling
description: PAN @ CLEF 2019 - Celebrity Profiling
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/index.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li class="uk-active">
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li class="uk-active"><a
                                    href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Celebrity Profiling</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">Given the English Social Media feed of a celebrity, determine their degree of fame,
                occupation, age, and gender.</p>
        </div>
    </header>

    <div class="uk-section uk-section-default">
        <div class="uk-container uk-text-justify">
            <h2>Task</h2>
            <div class="uk-column-1-2@l">
                <p>Celebrities are among the most prolific users of social media, promoting their personas and rallying
                    followers. This activity is closely tied to genuine writing samples, rendering them worthy research
                    subjects in many respects, not least author profiling.</p>

                <p>The Celebrity Profiling task this year is to predict four traits of a celebrity from their social
                    media communication. The traits are the degree of fame, occupation, age, and gender. The social media
                    communication is given as the teaser messages from past tweets. The goal is to develop a piece of
                    software which predicts celebrity traits from the teaser history.</p>
            </div>
        </div>
        <div class="uk-container uk-margin-medium">
            <hr class="uk-divider-icon">
        </div>
        <div class="uk-container uk-text-justify">
            <div class="uk-child-width-1-2@m" data-uk-grid="masonry: true">

                <!-- Left -->
                <div>


                    <h2>Data
                        <span class="uk-text-lead">
                        [<a href="#">Download Training Data</a>]
                    </span>
                    </h2>
                    <p>The training dataset contains of two files: a <code>feeds.ndjson</code> as input and a <code>labels.ndjson</code>
                        as output.
                        Each file lists all celebrities as JSON objects, one per line and identified by the
                        <code>id</code> key.</p>

                    <h3 class="uk-margin-small-top">Input Format</h3>
                    The input file contains the cid and a list of all teaser messages for each celebrity.
                    <pre id="feeds-ndjson-example" class="prettyprint linenums uk-margin-remove-bottom"><code class="lang-json">{"id": 1234, "text": ["a tweet", "another tweet", ...]}
{"id": 5678, "text": ["a tweet", "another tweet", ...]}
...</code></pre>
                    <div class="uk-text-small uk-text-muted uk-text-right">feeds.ndjson</div>

                    <h3 class="uk-margin-small-top">Output Format</h3>

                    The output file contains the cid and and a value for each trait for each celebrity from the input
                    file.
                    <pre id="labels-ndjson-example" class="prettyprint linenums uk-margin-remove-bottom"><code class="lang-json">{"id": 1234, "fame": "wellknown", "occupation": "sports", "gender": "female", "birthyear": 2002}
{"id": 5678, "fame": "regional", "occupation": "professional", "gender": "male", "birthyear": 1990}
...</code></pre>
                    <div class="uk-text-small uk-text-muted uk-text-right">labels.ndjson</div>

                    The following values are possible for each of the traits:
                    <pre class="prettyprint uk-margin-remove-bottom"><code class="lang-pascal">fame        := {risingstar, star, superstar}
occupation  := {sports, performers, creators, politics, management,
                academia, professionals, religion}
birthyear   := {1940, ..., 2012}
gender      := {male, female, nonbinary}</code></pre>
                    <div class="uk-text-small uk-text-muted uk-text-right">possible value instances for each label</div>

                </div>


                <!-- Right -->
                <div>


                    <h2>Evaluation <span class="uk-text-lead">[<a href="#">Download Evaluation Script</a>]</span>
                    </h2>

                    <p>Submissions are judged by a combined metric <code>cRank</code>, which is the harmonic mean of
                        each label's metric.
                        Fame, occupation, and gender are judged by their respective F<sub>1</sub>. Age is judged by Mean
                        Squared Error.</p>

                    $$ \text{cRank} = {4 \over {\frac{1}{\text{F}_{1, \text{fame}}} + \frac{1}{\text{F}_{1,
                    \text{occupation}}} + \frac{1}{\text{F}_{1, \text{gender}}} + \frac{1}{\text{MSE}_{\text{age}}}}} $$

                    <h2>Submission
                        <span class="uk-text-lead">
                        [<a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submit software to PAN</a>]
                    </span>
                    </h2>
                    <p>For evaluation, your software will read a <code>feeds.ndjson</code> file from a given directory
                        and write a valid <code>labels.ndjson</code> with your predictions to a given output directory.
                    </p>
                    <p>This task follows PAN's software submission strategy described <a
                            href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">here</a>.</p>

                    <h2>Related Work</h2>
                    <ul>
                        <li>
                            Matti Wiegmann, Benno Stein, Martin Potthast. <a
                                href="#">The Celebrity Profiling Corpus</a>. To appear.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/wiegmann.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/potthast.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2019 %}
        </div>
    </footer>
</main>

<script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
</script>
