---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019
description: PAN @ CLEF 2019
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/index.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li class="uk-active"><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">PAN @ CLEF 2019</h1>
            <div class="page-header-meta registrations">
                <span id="registration-counter">0</span> already signed up
            </div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">This is the 19th evaluation lab on digital text forensics. PAN will be held as part
                of the
                <a href="http://clef2019.clef-initiative.eu" target="_blank">CLEF conference</a> in Lugano,
                Switzerland, on September 09-12, 2019. Evaluations will commence
                <a href="about.html#important-dates">from January till June</a>. We invite you to take part in
                any of the tasks shown below.
            </p>
        </div>

    </header>

    <!-- Tasks -->
    <div class="uk-section">
        <div class="uk-container uk-margin-large">
            <div class="uk-grid uk-grid-large uk-grid-divider uk-child-width-1-2@m" data-uk-grid>
                <div>
                    <h2>Bots and Gender Profiling
                        <span class="uk-text-muted uk-text-lead">
                            <a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Learn more</a>
                        </span>
                    </h2>
                    <p class="uk-margin-small-top">Given a Twitter feed, determine whether its <b>author</b> is bot or human. 
                        In case of human, identify her/his gender.</p>
                </div>
                <div>
                    <h2>Celebrity Profiling
                        <span class="uk-text-muted uk-text-lead">
                            <a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Learn more</a>
                        </span>
                    </h2>
                    <p class="uk-margin-small-top">Given the Twitter feed of a celebrity, determine their fame,
                occupation, age, and gender.</p>
                </div>
                <div>
                    <h2>Cross-Domain Authorship Attribution
                        <span class="uk-text-muted uk-text-lead">
                            <a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Learn more</a>
                        </span>
                    </h2>
                    <p class="uk-margin-small-top">Given a document, who wrote it?</p>
                </div>
                <div>
                    <h2>Style Change Detection
                        <span class="uk-text-muted uk-text-lead">
                            <a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Learn more</a>
                        </span>
                    </h2>
                    <p class="uk-margin-small-top">Additional information will follow soon.</p>
                </div>
            </div>
        </div>

        <div class="uk-container uk-margin-medium">
            <hr class="uk-divider-icon">
        </div>

        <!-- Important Dates -->
        <div class="uk-container uk-margin-large">
            <div class="uk-grid-medium" data-uk-grid>
                <div class="uk-width-1-2@m">
                    <h2 class="page-header">Important Dates
                        <span class="uk-text-muted uk-text-lead">Hawaii time zone</span>
                    </h2>
                    <table class="uk-table uk-table-divider uk-table-small uk-table-hover uk-table-justify uk-table-condensed">
                        <tr>
                            <td>March 15, 2019</td>
                            <td>Early bird software submission</td>
                        </tr>
                        <tr>
                            <td>April 15, 2019</td>
                            <td>TIRA evaluation phase opens</td>
                        </tr>
                        <tr>
                            <td>May 11, 2019</td>
                            <td>TIRA evaluation phase deadline</td>
                        </tr>
                        <tr>
                            <td>May 24, 2019</td>
                            <td>Participant paper submission</td>
                        </tr>
                        <tr>
                            <td>June 07, 2019</td>
                            <td>Peer review notification</td>
                        </tr>
                        <tr>
                            <td>June 28, 2019</td>
                            <td>Camery-ready participant papers submission</td>
                        </tr>
                        <tr>
                            <td>tba</td>
                            <td>Early bird conference registration</td>
                        </tr>
                        <tr>
                            <td>September 09-12, 2019</td>
                            <td>Conference</td>
                        </tr>
                    </table>
                </div>
                <div class="uk-width-1-4@m">
                    <h2>Quicklinks</h2>
                    <ul class="uk-list uk-list-divider uk-text-lead">
                        <li>
                            <a target="_blank"
                               href="https://docs.google.com/forms/d/e/1FAIpQLSfR_xoBuGU3q7o3EYPoItN28UPuZENjs3wlWYEX_EdRGUyRfA/viewform">Register
                                now for CLEF 2019</a>
                        </li>
                        <li>
                            <a href="pan19-notebook-templates.zip">Download Notebook Templates</a>
                        </li>
                        <li>
                            <a href="https://easychair.org/conferences/?conf=clef2019">Submit Notebook Paper</a>
                        </li>
                        <li>
                            <a href="http://clef2019.clef-initiative.eu/index.php?page=Pages/InstructionsforCLEF2019WorkingNotes.html">Notebook
                                Submission guidelines</a>
                        </li>
                    </ul>
                </div>
                <div class="uk-width-1-4@m">
                    <h2>Donate</h2>
                    <p>Support PAN by making a donation.</p>

                    <p>Organizing PAN entails a significant investment of time and money on our part. If you
                        wish to support us, please consider making a donation.</p>

                    {% include donation-form.html %}
                </div>
            </div>
        </div>

        <!-- Keynotes -->
        <div class="uk-container uk-margin-large uk-text-justify">
            <div>
                <h2>Keynotes</h2>
                <p>The keynotes will be announced at a later date.</p>
            </div>
        </div>
    </div>
    </div>

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/pan19-organizations-section.html %}
        </div>
    </footer>
</main>

<script>
    // update the registration statistics.
    let counterElement = $("#registration-counter");

    $.ajax({
        url: "https://spreadsheets.google.com/feeds/cells/0AlwcskAJGamSdEN2ZUQ4Uk44cW13XzQ4UDRNTDR0V3c/od5/public/basic?min-row=5&min-col=1&max-row=1&max-col=1&alt=json",
        cache: false,
        dataType: "json"
    }).done((json) => {
        $(json["feed"]["entry"]).each(function () {
            let title = this["title"]["$t"];
            let content = this["content"]["$t"];
            if (title === "A1") {
                counterElement.prop('registrationCount', 0).animate({
                    registrationCount: content
                }, {
                    duration: 1200,
                    step: (value) => {
                        counterElement.text(Math.ceil(value));
                    }
                });
            }
        });
    });
</script>
