---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Proceedings
description: PAN @ CLEF 2019 - Proceedings
---
<style>
    h2.year {
        display: none;
    }
</style>
<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/proceedings.html' | relative_url }}" data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li class="uk-active"><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>
        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Proceedings</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        </div>
    </header>

    <div class="uk-section">
        <div class="uk-container uk-margin-medium publications-list">
            <h2>Overview</h2>
            <div id="publications-list-overview"></div>
            <h2>Keynotes</h2>
            <div id="publications-list-keynotes"></div>
            <h2>Bots and Gender Profiling</h2>
            <div id="publications-list-ap"></div>
            <h2>Celebrity Profiling</h2>
            <div id="publications-list-cp"></div>
            <h2>Cross-domain Authorship Attribution</h2>
            <div id="publications-list-cdaa"></div>
            <h2>Style Change Detection</h2>
            <div id="publications-list-scd"></div>
        </div>
    </div>

    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
        </div>
        <div class="uk-container uk-padding-large uk-padding-remove-bottom">
            {% include organizations/clef-organizations-section.html year=2019 %}
        </div>
    </footer>

</main>

<script src="{{ '/js/bibentry.js' | relative_url }}?{{site.time | date: '%s'}}"></script>
<!--<script src="{{ '/js/bibentry-pan.js' | relative_url }}?{{site.time | date: '%s'}}"></script>-->
<script>
    includeBibentries(document.getElementById("publications-list-overview"), "year:2019,tags:pan-clef,overview");
    includeBibentries(document.getElementById("publications-list-keynotes"), "year:2019,tags:pan-clef,keynote");
    includeBibentries(document.getElementById("publications-list-cdaa"), "year:2019,tags:pan-clef,authorship-attribution");
    includeBibentries(document.getElementById("publications-list-scd"), "year:2019,tags:pan-clef,style-change-detection");
    includeBibentries(document.getElementById("publications-list-ap"), "year:2019,tags:pan-clef,author-profiling");
    includeBibentries(document.getElementById("publications-list-cp"), "year:2019,tags:pan-clef,celebrity-profiling");
    $("#year").addClass("uk-hidden")
</script>
