---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Workshop Program
description: PAN @ CLEF 2019 - Workshop Program
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li class="uk-active"><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Workshop Program</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 09 to 12,
                2019.</p>
        </div>
    </header>

    <!-- Schedule -->
    <div class="uk-section">
        <div class="uk-container">
            <h2>Schedule
                <span class="uk-text-lead">
                <a href="http://clef2019.clef-initiative.eu/index.php?page=Pages/conference_session.html">View full conference program</a>
            </span>
            </h2>
            <p>The workshop program will be announced at a later date.</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 9</b></td>
                </tr>
                <tr>
                    <td>10:30-12:00</td>
                    <td>Lab Presentations</td>
                </tr>
                <tr>
                    <td>12:00-13:30</td>
                    <td>Lunch</td>
                </tr>
                <tr>
                    <td>13:30-15:00</td>
                    <td>Best of Labs</td>
                </tr>
                <tr>
                    <td>15:00-15:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td>Lab Presentations</td>
                </tr>
                <tr>
                    <td>16:30-17:30</td>
                    <td>Poster Session</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 10</b></td>
                </tr>
                <tr>
                    <td>
                        13:30-15:00
                    </td>
                    <td><b>Session 1</b>, Chair: Martin Potthast</td>
                </tr>
                <tr>
                    <td>13:30-13:40</td>
                    <td>PAN 2019 Welcome<br/><i>Martin Potthast</i></td>
                </tr>
                <tr>
                    <td>13:40-14:40</td>
                    <td>Keynote: Exposing Paid Opinion Manipulation Trolls<br/><i>Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td>14:40-15:00</td>
                    <td>Overview of the Shared Task on Bots and Gender Profiling in Twitter<br/><i>Francisco Rangel and
                        Paolo Rosso</i>
                    </td>
                </tr>

                <tr>
                    <td>15:00-15:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td>
                        15:30-16:30
                    </td>
                    <td><b>Session 2</b>, Chair: Francisco Rangel</td>
                </tr>

                <tr>
                    <td>15:30-15:35</td>
                    <td>Award in Bots and Gender Profiling by <b>The Logic Value</b>
                    </td>
                </tr>
                <tr>
                    <td>15:35-15:50</td>
                    <td>Using N-grams to detect Bots on Twitter
                        <br/><i>Juan Pizarro</i></td>
                </tr>
                <tr>
                    <td>15:50-16:10</td>
                    <td>Supervised Classification of Twitter Accounts Based on Textual Content of Tweets<br/><i>Fredrik
                        Johansson</i></td>
                </tr>
                <tr>
                    <td>16:10-16:30</td>
                    <td>Twitter User Profiling: Bot and Gender Identification
                        <br/><i>Dijana Kosmajac and Vlado Keselj</i></td>
                </tr>
                <tr>
                    <td>
                        16:30-17:30
                    </td>
                    <td><b>Session 3</b>, Chair: Paolo Rosso</td>
                </tr>

                <tr>
                    <td>16:30-17:30</td>
                    <td>Keynote: Hoax vs fact checking: understanding and predicting the diffusion of low quality
                        information on communication networks
                        <br><i>Giancarlo Ruffo</i></td>
                </tr>

                <tr>
                    <td>18:30-22:00</td>
                    <td>Conference Dinner</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 11</b></td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td><b>Session 4</b></td>
                </tr>
                <tr>
                    <td>15:30-15:45</td>
                    <td>Overview of the Style Change Detection Task<br><i>Eva Zangerle</i></td>
                </tr>
                <tr>
                    <td>15:45-16:00</td>
                    <td>Style Change Detection by Threshold Based and Window Merge Clustering Methods<br><i>Sukanya
                        Nath</i></td>
                </tr>
                <tr>
                    <td>16:00-16:15</td>
                    <td>Overview of the Celebrity Profiling Task<br><i>Matti Wiegmann</i></td>
                </tr>
                <tr>
                    <td>16:15-16:30</td>
                    <td>Participant Talk<br><i>To be announced</i></td>
                </tr>
                <tr>
                    <td>16:30-17:30</td>
                    <td><b>Session 5</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>16:30-16:50</td>
                    <td>Overview of the Cross-domain Authorship Attribution Task<br><i>Mike Kestemont</i></td>
                </tr>
                <tr>
                    <td>16:50-17:10</td>
                    <td>Cross-Domain Authorship Attribution Combining Instance Based and Profile-Based Features<br><i>Andrea
                        Bacciu, Massimo La Morgia, Alessandro Mei, Eugenio Nerio Nemmi, Valerio Neri, Julinda Stefa</i>
                    </td>
                </tr>
                <tr>
                    <td>17:10-17:30</td>
                    <td>Community discussion</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>18:30-20:30</td>
                    <td>Civic Reception</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 12</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Shared Tasks for Industry: Experiment Platforms and Author Profiling
                        <i>Martin Potthast and Francisco Rangel</i></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2019 %}
            </div>
        </div>
    </footer>
</main>
