---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Workshop Program
description: PAN @ CLEF 2019 - Workshop Program
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li class="uk-active"><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Workshop Program</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 09 to 12,
                2019.</p>
        </div>
    </header>

    <!-- Schedule -->
    <div class="uk-section">
        <div class="uk-container">
            <h2>Schedule
                <span class="uk-text-lead">
                <a href="http://clef2019.clef-initiative.eu/index.php?page=Pages/conference_session.html">View full conference program</a>
            </span>
            </h2>
            <p>The workshop program will be announced at a later date.</p>

            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 9</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Best of Labs at Auditorium</td>
                </tr>
                <tr>
                    <td>13:45-15:00 <i>approx.</i></td>
                    <td>An Ensemble Approach to Cross-Domain Authorship Attribution<br>
                        <i>José Custódio and Ivandre Paraboni </i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Labs Presentations at Auditorium</td>
                </tr>
                <tr>
                    <td>15:45-16:00</td>
                    <td>Overview of PAN 2019: Bots and Gender Profiling, Celebrity Profiling, Cross-domain Authorship
                        Attribution and Style Change Detection
                        <br>
                        <i>Walter Daelemans, Mike Kestemont, Enrique Manjavacas, Martin Potthast, Francisco Manuel
                            Rangel Pardo, Paolo Rosso, Günther Specht, Efstathios Stamatatos, Benno Stein, Michael
                            Tschuggnall, Matti Wieg-mann and Eva Zangerle</i></td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 10</b></td>
                </tr>
                <tr>
                    <td>12:00 - 13:30</td>
                    <td>Poster Session during Lunch</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Multi-channel Open-set Cross-domain Authorship Attribution
                        <br/><i>José Custódio and Ivandre Paraboni</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bot and Gender detection of Twitter accounts using Distortion and LSA
                        <br/><i>Andrea Bacciu, Massimo La Morgia, Alessandro Mei, Eugenio Nerio Nemmi, Valerio Neri, and
                            Julinda Stefa</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>FOI Cross-Domain Authorship Attribution for Criminal Investigations
                        <br/><i>Fredrik Johansson and Tim Isbister</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>UniNE at PAN-CLEF 2019: Bots and Gender Task
                        <br/><i>Catherine Ikae, Sukanya Nath, Jacques Savoy</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Combined CNN+RNN Bot and Gender Profiling
                        <br/><i>Rafael Felipe Sandroni Dias and Ivandré Paraboni</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Detecting bot accounts on Twitter by measuring message predictability
                        <br/><i>Piotr Przybyła</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bot and Gender Detection using Textual and Stylistic Information
                        <br/><i>Anastasia Giachanou and Bilal Ghanem</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bots and gender profiling using masking techniques
                        <br/><i>Victor Jimenez-Villar, Javier Sánchez-Junquera, Manuel Montes-y-Gómez, Luis
                            Villaseñor-Pineda, and Simone Paolo Ponzetto</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>An evolutionary approach to build user representations for profiling of bots and humans in
                        Twitter
                        <br/><i>Roberto López-Santillán, Luis Carlos González-Gurrola, Manuel Montes-y-Gómez, Graciela
                            Ramírez-Alonso, and Olanda Prieto-Ordaz</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Naive-Bayesian Classification for Bot Detection in Twitter
                        <br/><i>Pablo Gamallo and Sattam Almatarneh</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Unsupervised pretraining for text classification using siamese transfer learning
                        <br/><i>Maximilian Bryan and J. Nathanael Philipp</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author profiling using semantic and syntactic features
                        <br/><i>György Kovács, Vanda Balogh, Kumar Shridhar, Purvanshi Mehta, and Pedro Alonso</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Profiling Twitter users using autogenerated features invariant to data distribution
                        <br/><i>Tiziano Fagni and Maurizio Tesconi</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bots and Gender Profiling using a Multi-layer Architecture
                        <br/><i>Régis Goubin, Dorian Lefeuvre, Alaa Alhamzeh, Jelena Mitrovic, Elod Egyed-Zsigmond, and
                            Leopold Ghemmogne Fossi</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bots and Gender Profiling on Twitter using Sociolinguistic Features
                        <br/><i>Edwin Puertas, Luis Gabriel Moreno-Sandoval, Flor Miriam Plaza-del-Arco, Jorge Andres
                            Alvarado-Valencia, Alexandra Pomares-Quimbaya, and L.Alfonso Ureña-López</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bots and gender profiling with convolutional hierarchical recurrent neural network
                        <br/><i>Juraj Petrik, Daniela Chuda</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Celebrity Profiling on Twitter using Sociolinguistic Features
                        <br/><i>Luis Gabriel Moreno-Sandoval, Edwin Puertas, Flor Miriam Plaza-del-Arco, Alexandra
                            Pomares-Quimbaya, Jorge Andres Alvarado-Valencia, and L. Alfonso Ureña-López</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>A Hierarchical Neural Network Approach for Bots and Gender Profiling
                        <br/><i>Andrea Cimino and Felice dell’Orletta</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bots and Gender Profiling using Character Bigrams
                        <br/><i>Daniel Yacob Espinosa, Helena Gómez-Adorno, and Grigori Sidorov</i></td>
                </tr>
                <tr>
                    <td>
                        13:30-15:00
                    </td>
                    <td><b>Session 1 at A31</b>, Chair: Martin Potthast</td>
                </tr>
                <tr>
                    <td>13:30-13:40</td>
                    <td>PAN 2019 Welcome<br/><i>Martin Potthast</i></td>
                </tr>
                <tr>
                    <td>13:40-14:40</td>
                    <td>Keynote: Exposing Paid Opinion Manipulation Trolls<br/><i>Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td>14:40-15:00</td>
                    <td>Overview of the Shared Task on Bots and Gender Profiling in Twitter<br/><i>Francisco Rangel and
                        Paolo Rosso</i>
                    </td>
                </tr>

                <tr>
                    <td>15:00-15:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td>
                        15:30-16:30
                    </td>
                    <td><b>Session 2 at A31</b>, Chair: Francisco Rangel</td>
                </tr>

                <tr>
                    <td>15:30-15:35</td>
                    <td>Award in Bots and Gender Profiling by <b>The Logic Value</b>
                    </td>
                </tr>
                <tr>
                    <td>15:35-15:50</td>
                    <td>Using N-grams to detect Bots on Twitter
                        <br/><i>Juan Pizarro</i></td>
                </tr>
                <tr>
                    <td>15:50-16:10</td>
                    <td>Supervised Classification of Twitter Accounts Based on Textual Content of Tweets<br/><i>Fredrik
                        Johansson</i></td>
                </tr>
                <tr>
                    <td>16:10-16:30</td>
                    <td>Twitter User Profiling: Bot and Gender Identification
                        <br/><i>Dijana Kosmajac and Vlado Keselj</i></td>
                </tr>
                <tr>
                    <td>
                        16:30-17:30
                    </td>
                    <td><b>Session 3 at A31</b>, Chair: Paolo Rosso</td>
                </tr>

                <tr>
                    <td>16:30-17:30</td>
                    <td>Keynote: Hoax vs fact checking: understanding and predicting the diffusion of low quality
                        information on communication networks
                        <br><i>Giancarlo Ruffo</i></td>
                </tr>

                <tr>
                    <td>18:30-22:00</td>
                    <td>Conference Dinner</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 11</b></td>
                </tr>
                <tr>
                    <td>15:30-16:30</td>
                    <td><b>Session 4 at A31</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>15:30-15:45</td>
                    <td>Overview of the Style Change Detection Task<br><i>Eva Zangerle</i></td>
                </tr>
                <tr>
                    <td>15:45-16:00</td>
                    <td>Style Change Detection by Threshold Based and Window Merge Clustering Methods<br><i>Sukanya
                        Nath</i></td>
                </tr>
                <tr>
                    <td>16:00-16:15</td>
                    <td>Overview of the Celebrity Profiling Task<br><i>Matti Wiegmann</i></td>
                </tr>
                <tr>
                    <td>16:15-16:30</td>
                    <td>Twitter feeds profiling with TF-IDF<br><i>Juraj Petrik and Daniela Chuda</i></td>
                </tr>
                <tr>
                    <td>16:30-16:50</td>
                    <td>Overview of the Cross-domain Authorship Attribution Task<br><i>Mike Kestemont</i></td>
                </tr>
                <tr>
                    <td>16:50-17:10</td>
                    <td>Cross-Domain Authorship Attribution Combining Instance Based and Profile-Based Features<br><i>Andrea
                        Bacciu, Massimo La Morgia, Alessandro Mei, Eugenio Nerio Nemmi, Valerio Neri, Julinda Stefa</i>
                    </td>
                </tr>
                <tr>
                    <td>17:10-17:30</td>
                    <td>Community discussion</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>18:30-20:30</td>
                    <td>Civic Reception</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 12</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Best of CLEF for Industry at Auditorium</td>
                </tr>
                <tr>
                    <td>14:00-14:30</td>
                    <td>Shared Tasks for Industry: Experiment Platforms and Author Profiling
                        <i>Martin Potthast and Francisco Rangel</i></td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2019 %}
            </div>
        </div>
    </footer>
</main>
