---
layout: default
nav_active: tasks
title: PAN @ CLEF 2019 - Workshop Program
description: PAN @ CLEF 2019 - Workshop Program
---

<main>
    <header class="uk-section uk-section-muted">
        <nav class="uk-container">
            <div class="uk-align-right uk-visible@m uk-text-muted">
                <a class="uk-button" href="{{ 'clef18/pan18-web/program.html' | relative_url }}"
                   data-uk-icon="chevron-left"></a>
                CLEF 2019
                <a class="uk-button uk-disabled uk-padding-remove-right" href="#"
                   data-uk-icon="chevron-right"></a>
            </div>

            <ul class="uk-text-muted uk-tab uk-margin-remove-top">
                <li><a href="{{ '/clef19/pan19-web/index.html' | relative_url }}">Overview</a></li>
                <li><a href="{{ '/clef19/pan19-web/keynotes.html' | relative_url }}">Keynotes</a></li>
                <li class="uk-active"><a href="{{ '/clef19/pan19-web/program.html' | relative_url }}">Program</a></li>
                <li>
                    <a href="#">Tasks <span class="uk-margin-small-left" data-uk-icon="icon: chevron-down"></span></a>
                    <div class="uk-dropdown" data-uk-dropdown="mode: click">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a href="{{ '/clef19/pan19-web/author-profiling.html' | relative_url }}">Bots and Gender
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/celebrity-profiling.html' | relative_url }}">Celebrity
                                Profiling</a></li>
                            <li><a href="{{ '/clef19/pan19-web/author-identification.html' | relative_url }}">Cross-domain
                                Authorship Attribution</a></li>
                            <li><a href="{{ '/clef19/pan19-web/style-change-detection.html' | relative_url }}">Style
                                Change Detection</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ '/clef19/pan19-web/submission.html' | relative_url }}">Submission</a></li>
                <li><a href="{{ '/clef19/pan19-web/proceedings.html' | relative_url }}">Proceedings</a></li>
            </ul>
        </nav>

        <div class="uk-container uk-margin-small">
            {% include current-register-quicklink.html year=2019 %}

            <h1 class="uk-margin-small">Workshop Program</h1>
            <div class="page-header-meta">PAN @ CLEF 2019</div>
        </div>

        <div class="uk-container uk-margin-medium">
            <p class="uk-text-lead">PAN is co-located with the CLEF conference and will be held from September 09 to 12,
                2019.</p>
        </div>
    </header>

    <!-- Schedule -->
    <div class="uk-section">
        <div class="uk-container">
            <h2>Schedule
                <span class="uk-text-lead">
                <a href="http://clef2019.clef-initiative.eu/index.php?page=Pages/programme.html">View full conference program</a>
            </span>
            </h2>
            <p>The workshop program will be announced at a later date.</p>
            <!--
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr>
                    <td colspan="2"><span style="display:none">.</span></td>
                </tr>
                </tfoot>
                <tbody>
                <tr>
                    <td colspan="2"><b>September 10</b></td>
                </tr>

                <tr>
                    <td>
                        <nobr>09:00-10:30</nobr>
                    </td>
                    <td><b>Labs Overviews</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Overview of PAN 2018: Author Identification, Author Profiling, and Author
                        Obfuscation<br/><i>Efstathios
                            Stamatatos, Francisco Rangel, Michael Tschuggnall, Benno Stein, Mike Kestemont, Paolo
                            Rosso,
                            Martin Potthast</i></td>
                </tr>

                <tr>
                    <td>
                        <nobr>11:00-12:30</nobr>
                    </td>
                    <td><b>Best of Labs 2017</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Hierarchical Clustering Analysis: The best-performing approach at PAN 2017 author clustering
                        task<br/><i>Helena Gómez-Adorno, Carolina Martín-Del-Campo-Rodríguez, Grigori Sidorov,
                            Yuridiana
                            Alemán, Darnes Vilariño Ayala and David Pinto</i></td>
                </tr>

                <tr>
                    <td></td>
                    <td><b>Session 1</b>, Chair: Paolo Rosso</td>
                </tr>
                <tr>
                    <td>14:30-15:20</td>
                    <td>Keynote: Profiling Depression and Anorexia in Social Media<br/><i>David Losada</i></td>
                </tr>
                <tr>
                    <td>15:20-15:40</td>
                    <td>Overview of the 6th Author Profiling Task at PAN 2018: Multimodal Gender Identification in
                        Twitter<br/><i>Francisco Rangel, Paolo Rosso, Manuel Montes-y-Gómez, Martin Potthast, Benno
                            Stein</i></td>
                </tr>
                <tr>
                    <td>15:40-16:00</td>
                    <td>Text and Image Synergy with Feature Cross Technique for Gender Identification<br/><i>Takumi
                        Takahashi, Takuji Tahara, Koki Nagatani, Yasuhide Miura, Tomoki Taniguchi, Tomoko Ohkuma</i>
                    </td>
                </tr>

                <tr>
                    <td>16:00-16:30</td>
                    <td>Break</td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Session 2</b>, Chair: Francisco Rangel</td>
                </tr>

                <tr>
                    <td>16:30-16:50</td>
                    <td>Gender Identification in Twitter using N-grams and LSA<br/><i>Saman Daneshvar, Diana
                        Inkpen</i>
                    </td>
                </tr>
                <tr>
                    <td>16:50-17:10</td>
                    <td>Character-based Convolutional Neural Network and ResNet18 for Twitter Author
                        Profiling<br/><i>Nils
                            Schaetti</i></td>
                </tr>
                <tr>
                    <td>17:10-17:50</td>
                    <td>Keynote: Demystifying Psychometric Marketing: Multi-View Learning as a New Social Media User
                        Profiling Standard<br/><i>Aleksandr Farseev</i></td>
                </tr>
                <tr>
                    <td>17:50-18:00</td>
                    <td>Discussion</td>
                </tr>

                <tr>
                    <td>19:00-23:00</td>
                    <td>City Tour</td>
                </tr>
                <tr>
                    <td colspan="2"><b>September 11</b></td>
                </tr>

                <tr>
                    <td>13:30-14:30</td>
                    <td>Poster Session</td>
                </tr>
                <tr>
                    <td></td>
                    <td>Author Profiling using Word Embeddings with Subword Information<br/><i>Rafael Felipe
                        Sandroni
                        Dias, Ivandré Paraboni</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Character-based Convolutional Neural Network for Style Change Detection<br/><i>Nils
                        Schaetti</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Bidirectional Echo State Network-based Reservoir Computing for Cross-domain Authorship
                        Attribution<br/><i>Nils Schaetti</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Gender Prediction From Tweets With Convolutional Neural Networks<br/><i>Erhan Sezerer, Ozan
                        Polatbilek, Özge Sevgili, Selma Tekir</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>CIC-GIL Approach to Cross-domain Authorship Attribution<br/><i>Carolina
                        Martín-Del-Campo-Rodríguez, Helena Gómez-Adorno, Grigori Sidorov, Ildar Batyrshin</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Complexity Measures and POS n-grams for Author Identification in Several Languages<br/><i>Rocío
                        López-Anguita, Arturo Montejo-Ráez, Manuel C. Díaz-Galiano</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Authorship Profiling Without Using Topical Information<br/><i>Jussi Karlgren, Lewis
                        Esposito,
                        Chantal Gratton, Pentti Kanerva</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Authorship Attribution with Neural Networks and Multiple Features<br/><i>Łukasz Gągała</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Stacked Gender Prediction from Tweet Texts and Images<br/><i>Giovanni Ciccone, Arthur
                        Sultan,
                        Léa Laporte, Elöd Egyed-Zsigmond, Alaa Alhamzeh, Michael Granitzer</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Gender Identification through Multi-modal Tweet Analysis using MicroTC and Bag of Visual
                        Words<br/><i>Eric S. Tellez, Sabino Miranda-Jiménez, Daniela Moctezuma, Mario Graff,
                            Vladimir
                            Salgado, José Ortiz-Bejar</i></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Multi-Language Neural Network Model with Advance Preprocessor for Gender Classification over
                        Social Media<br/><i>Kashyap Raiyani, Teresa Gonçalves, Paulo Quaresma, Vítor Beires
                            Nogueira</i>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>Multilingual Author Profiling using LSTMs<br/><i>Roy Khristopher Bayot, Teresa Gonçalves</i>
                    </td>
                </tr>


                <tr>
                    <td></td>
                    <td><b>Session 3</b>, Chair: Efstathios Stamatatos</td>
                </tr>
                <tr>
                    <td>14:30-14:50</td>
                    <td>Overview of the Author Obfuscation Task at PAN 2018: A New Approach to Measuring Safety<br/><i>Martin
                        Potthast, Felix Schremmer, Matthias Hagen, Benno Stein</i></td>
                </tr>
                <tr>
                    <td>14:50-15:00</td>
                    <td>UniNE at CLEF 2018: Author Masking<br/><i>Mirco Kocher, Jacques Savoy</i></td>
                </tr>
                <tr>
                    <td>15:00-15:15</td>
                    <td>Overview of the Author Identification Task at PAN-2018: Cross-domain Authorship
                        Attribution<br/><i>Mike
                            Kestemont, Efstathios Stamatatos, Walter Daelemans, Benno Stein, Martin Potthast</i>
                    </td>
                </tr>
                <tr>
                    <td>15:15-15:30</td>
                    <td>EACH-USP Ensemble Cross-domain Authorship Attribution<br/><i>José Eleandro Custódio, Ivandré
                        Paraboni</i></td>
                </tr>
                <tr>
                    <td>15:30-15:45</td>
                    <td>Dynamic Parameter Search for Cross-Domain Authorship Attribution<br/><i>Benjamin Murauer,
                        Michael Tschuggnall, Günther Specht</i></td>
                </tr>
                <tr>
                    <td>15:45-16:00</td>
                    <td>Cross-Domain Authorship Attribution Based on Compression<br/><i>Oren Halvani, Lukas
                        Graner</i>
                    </td>
                </tr>

                <tr>
                    <td>16:00-16:30</td>
                    <td>Break</td>
                </tr>

                <tr>
                    <td></td>
                    <td><b>Session 4</b>, Chair: Mike Kestemont</td>
                </tr>
                <tr>
                    <td>16:30-17:15</td>
                    <td>Keynote: Competent Men and Warm Women: On the Detection and Origin of Gender Stereotyped
                        Image
                        Search Results<br/><i>Jahna Otterbacher</i></td>
                </tr>
                <tr>
                    <td>17:15-17:30</td>
                    <td>Overview of the Author Identification Task at PAN-2018: Style Change Detection<br/><i>Michael
                        Tschuggnall, Günther Specht, Benno Stein, Martin Potthast</i></td>
                </tr>
                <tr>
                    <td>17:30-17:45</td>
                    <td>An Ensemble-Rich Multi-Aspect Approach Towards Robust Style Change Detection<br/><i>Dimitrina
                        Zlatkova, Daniel Kopev, Kristiyan Mitov, Atanas Atanasov, Momchil Hardalov, Ivan Koychev,
                        Preslav Nakov</i></td>
                </tr>
                <tr>
                    <td>17:45-18:00</td>
                    <td>Detecting a Change of Style using Text Statistics<br/><i>Kamil Safin, Aleksandr Ogaltsov</i>
                    </td>
                </tr>

                <tr>
                    <td>19:00-24:00</td>
                    <td>Social Event: Théâtre des Halles</td>
                </tr>

                <tr>
                    <td colspan="2"><b>September 12</b></td>
                </tr>
                <tr>
                    <td>
                        <nobr>08:00-10:30</nobr>
                    </td>
                    <td><b>Best of Labs 2017</b></td>
                </tr>
                <tr>
                    <td></td>
                    <td>Simply the Best: Minimalist System Trumps Complex Models in Author Profiling<br/><i>Angelo
                        Basile, Gareth Dwyer, Maria Medvedeva, Josine Rawee, Hessel Haagsma and Malvina Nissim</i>
                    </td>
                </tr>
                <tr>
                    <td>17:00-18:00</td>
                    <td>2019 Labs Kickoff and Closing Discussion Forum</td>
                </tr>

                <tr>
                    <td>19:00-24:00</td>
                    <td>Social Event: Théâtre des Halles & Music Festival</td>
                </tr>

                </tbody>
            </table>
            -->

        </div>
    </div>

    <!-- Footer -->
    <footer class="uk-section uk-section-muted">
        <div class="uk-container">
            <h2>Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2019 %}
            </div>
        </div>
    </footer>
</main>
