---
layout: default
nav_active: tasks
title: PAN @ SemEval 2019 - Hyperpartisan News Detection
description: PAN @ SemEval 2019 - Hyperpartisan News Detection
---

<main>
    <section class="uk-section">
        <div class="uk-container">
            <div>
                <a class="uk-button uk-button-primary uk-align-right" href="https://goo.gl/forms/cWtOVsjmRYfNkBnC3" target="_blank">
                    Register now!
                </a>

                <h1 class="uk-margin-small">Hyperpartisan News Detection</h1>
                <div class="page-header-meta">
                    SemEval 2019 Task 4
                    <span class="registrations vertical-divider-left"><span id="registration-counter">0</span> registrations</span>
                </div>
            </div>
        </div>
    </section>

    <section class="uk-section uk-section-secondary uk-padding-remove">
        <div class="uk-container">
            <div class="uk-text-center">
                <div class="video-container">
                    <div id="video"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="uk-section uk-section-default">
        <div class="uk-container uk-column-1-2@l">
            <h2>Task</h2>
            <p>Given a news article text, decide whether it follows a
                <a href="https://www.merriam-webster.com/dictionary/partisan" target="_blank">hyperpartisan</a>
                argumentation, i.e., whether it exhibits blind,
                prejudiced, or unreasoning allegiance to one party, faction, cause, or person.</p>

            <h2>Data</h2>
            <p>We will provide 1 million articles labeled by the overall tendency of the publisher for
                training your algorithm. Upon
                <a href="https://goo.gl/forms/cWtOVsjmRYfNkBnC3" target="_blank">registration</a> we provide you with a
                trial dataset (may take up to 24 hours). We continuously clean the dataset (also based on
                your feedback) and will send you new versions as they come out.</p>

            <h2>Registration</h2>
            <p>Register yourself or your team
                <a href="https://goo.gl/forms/cWtOVsjmRYfNkBnC3" target="_blank">here</a>. This task will use the
                <a href="https://groups.google.com/forum/#!forum/pan-workshop-series" target="_blank">PAN
                mailing list</a> for communication, so please sign up there to ask questions to us or other
                participants. If you have specific requests, please write to the
                <a href="mailto:semeval-pan-2019-organizers@googlegroups.com" target="_blank">organizer's mailing list</a>.</p>

            <h2>Submission (December 2018)</h2>
            <p>When you registered, you will get remote access to a virtual machine (Windows or Linux) to
                deploy the task software in. Your software must be executable from the command line and not
                require Internet access during the evaluation period.</p>
            <p>Note that you retain full copyrights of your software, but agree to grant us usage rights
                only for the purpose of the competition.</p>
            <p>We provide a <a target="_blank" href="../semeval19-code/semeval-pan-2019-random-baseline.py">random
                baseline</a> to illustrate the output of a submission and a
                <a target="_blank" href="../semeval19-code/semeval-pan-2019-tf-extractor.py">term
                frequency extractor</a> to illustrate how to read the dataset. For features, see the
                <a target="_blank" href="https://github.com/webis-de/ACL-18">code</a> from our
                <a target="_blank" href="https://www.uni-weimar.de/medien/webis/publications/papers/stein_2018i.pdf">ACL'18
                    publication</a> for inspiration.</p>

            <h2>Evaluation (January 2019)</h2>
            <p>You will be able to self-evaluate your software using the
                <a href="http://tira.io" target="_blank">TIRA</a>
                service. You can find the user guide
                <a target="_blank" href="https://www.tira.io/static/tira-vm-user-guide.pdf">here</a>.
                Main performance measure will be accuracy on a balanced set of articles. In addition, we
                will measure precision, recall, and F1-score for the hyperpartisan class.</p>
            <p>For your convenience, we also provide the
                <a target="_blank" href="../semeval19-code/semeval-pan-2019-evaluator.py">evaluation
                script</a> that is used inside TIRA.</p>
            <p>After the evaluation, participants are required to submit and review task description papers
                following the <a href="http://alt.qcri.org/semeval2019/" target="_blank">SemEval timeline</a>.</p>

            <h2>Grand Prize (Summer 2019)</h2>
            <p>To want to encourage developers to share their software so that everyone can profit from
                their work. We are thus excited to announce a <b>grand prize of $1,000</b> to the
                best-performing submission that has its code published open source before the SemEval
                conference.</p>
        </div> <!-- /container -->
    </section>

    <section class="uk-section uk-section-muted">
        <div class="uk-container">

            <h2>Task Committee</h2>

            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/kiesel.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/mestre.html %}
                {% include people-cards/shukla.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/corney.html %}
                {% include people-cards/vincent.html %}
                {% include people-cards/adineh.html %}
            </div>

            <div class="uk-container uk-padding-large">
                <h2>Organizations</h2>

                <div class="task-chair-organizations">
                    <div>
                        <a href="https://webis.de" target="_blank" class="uk-link-reset">
                            <svg viewBox="0 0 65 20">
                                <image x="0" y="0" href="../semeval19-figures/webis-logo_w52.png" height="20" width="20"/>
                                <text x="25" y="15" style="fill: #404754;">Webis</text>
                            </svg>
                        </a>
                    </div>
                    <div>
                        <a href="https://factmata.com" target="_blank" class="uk-link-reset">
                            <img src="../semeval19-figures/factmata-logo.png">
                        </a>
                    </div>
                </div>

            </div> <!-- /container -->
        </div>

    </section>
</main>

<script>
    const tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    const firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    let player;

    onYouTubeIframeAPIReady = () => {
        player = new YT.Player('video', {
            videoId: 'e-9MvqHMh6I',
            playerVars: {
                'enablejsapi': 1,
                'rel': 0,
                'origin': 'https://pan.webis.de'
            },
            events: {
                'onReady': onPlayerReady,
            }
        });
    };

    onPlayerReady = (event) => {
        event.target.mute();
        event.target.playVideo();
    };

    $.ajax({
        url: "https://sheets.googleapis.com/v4/spreadsheets/1UC-V-PyNAzMA_hW6jtATe5HLIDP1mFkaseUrhnQdG-U/values/public%21A1?key=AIzaSyCR55jq22qAYeaQssNvQKLvEBpcw22ivcY",
        cache: false,
        dataType: "json"
    }).done(function (json) {
        document.getElementById("registration-counter").innerText = json.values[0][0];
    });
</script>
