---
layout: default
nav_active: shared-tasks
title: PAN @ SemEval 2019 - Hyperpartisan News Detection
description: PAN @ SemEval 2019 - Hyperpartisan News Detection
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top">Hyperpartisan News Detection</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#video-title">Video</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#ongoing-submissions">Ongoing Submissions</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#grand-prize">Grand Prize</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Synopsis</h2>
            <ul>
                <li>Task: Given a news article text, decide whether it follows a <a href="https://www.merriam-webster.com/dictionary/partisan" target="_blank">hyperpartisan</a> argumentation, i.e., whether it exhibits blind, prejudiced, or unreasoning allegiance to one party, faction, cause, or person.</li>
                <li>Input: [<a href="{{ '../../data.html#pan-semeval-hyperpartisan-news-detection-19' | relative_url }}">data</a>]</li>
                <li>Evaluation: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/semeval19" target="_blank">code</a>]</li>
                <li>Submission: [<a href="https://www.tira.io/task/hyperpartisan-news-detection">submit</a>]</li>
                <li>Baseline: [<a href="https://github.com/pan-webis-de/pan-code/tree/master/semeval19" target="_blank">code</a>]</li>
            </ul>

            <h2 id="video-title">Video</h2>
            <div id="video"></div>

            <h2 id="data">Data</h2>
            <p>The competition is over, but the data is still available <a href="{{ '../../data.html#pan-semeval-hyperpartisan-news-detection-19' | relative_url }}">here</a>.</p>

            <h2 id="evaluation">Evaluation</h2>
            <p>Main performance measure is accuracy on a balanced set of articles. In addition, we measure precision, recall, and F1-score for the hyperpartisan class. Please find the SemEval leaderboard <a href="#results">here</a>.</p>

            <h2 id="ongoing-submissions">Ongoing Submissions</h2>
            <p>When you work on this task and publish your code on Github, send us a mail and we will add it to our <a href="https://github.com/hyperpartisan-news-challenge" target="_blank">list</a>. Since the dataset is public as of December 2021, you are no longer required to use TIRA for accessing the dataset.</p>
            <p>To kickstart new approaches, we provide a <a target="_blank" href="https://github.com/pan-webis-de/pan-code/tree/master/semeval19">random baseline</a> to illustrate the output of a submission and a <a target="_blank" href="https://github.com/pan-webis-de/pan-code/tree/master/semeval19">term frequency extractor</a> to illustrate how to read the dataset. For features, see the <a target="_blank" href="https://github.com/webis-de/ACL-18">code</a> from our <a target="_blank" href="https://webis.de/publications.html#filter:A+Stylometric+Inquiry+into+Hyperpartisan+and+Fake+News">ACL'18 publication</a> for inspiration.</p>

            <h2 id="grand-prize">Grand Prize</h2>
            <p>In order to encourage developers to share their software so that everyone can profit from their work, we announced a <b>grand prize of $1,000</b> to the best-performing submission that had its code published open source before the SemEval conference (which has been held at <a href="https://naacl2019.org/" target="_blank">NAACL-HLT</a> on June 6-7 in Minneapolis, USA).</p>
            <p>The grand prize has been won by team <em>bertha-von-suttner</em> (Ye Jiang, Johann Petrak, Xingyi Song, Kalina Bontcheva, Diana Maynard from the University of Sheffield, United Kingdom). Well done!</p>
            <figure>
            <img src="../semeval19-figures/winner.jpg" />
            <figcaption>Xingyi Song, Ye Jiang, and Diana Maynard (from left to right, all University of Sheffield, United Kingdom) of the winning team <em>bertha-von-suttner</em> with the certificate of the grand prize.</figcaption>
            </figure>

            <h2 id="results">Results</h2>

            <h3>Main Leaderboard</h3>
            <table class="uk-table uk-table-small uk-table-justify uk-table-striped">
            <caption>Main leaderboard for the SemEval 2019 Task 4 on Hyperpartisan News Detection, based on the unpublished test set for <a href="https://zenodo.org/record/1489920" target="_blank">labels-by-article</a>.</caption>
            <thead>
            <tr><th>#</th><th>Team</th><th>Members</th><th class="uk-text-truncate">Accuracy</th><th class="uk-text-truncate">Precision</th><th class="uk-text-truncate">Recall</th><th class="uk-text-truncate">F1</th><th>Code</th></tr>
            </thead>
            <tbody>
            <tr><td>1</td><td>bertha-von-suttner</td><td>Ye Jiang, Johann Petrak, Xingyi Song, Kalina Bontcheva, Diana Maynard (University of Sheffield, United Kingdom)</td><td>0.822</td><td>0.871</td><td>0.755</td><td>0.809</td><td><a href="https://github.com/GateNLP/semeval2019-hyperpartisan-bertha-von-suttner/tree/4b1d74b73247a06ed79e8e7af30923ce6828574a" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>2</td><td>vernon-fenwick</td><td>Vertika Srivastava, Yeon Hyang Kim, Divya Prakash, Ankita Gupta, Rohit R.R, Sudeep Kumar Sahoo (Samsung R&amp;D Institute India-Bangalore)</td><td>0.820</td><td>0.815</td><td>0.828</td><td>0.821</td><td></td></tr>
            <tr><td>3</td><td>sally-smedley</td><td>Shota Sasaki<sup>1</sup>, Kazuaki Hanawa<sup>1</sup>, Tsubasa Tagami<sup>1</sup>, Hiroki Ouchi<sup>1,2</sup>, Jun Suzuki<sup>1,2</sup>, Kentaro Inui<sup>1,2</sup> (<sup>1</sup>Tohoku University / <sup>2</sup>RIKEN AIP, Japan)</td><td>0.809</td><td>0.823</td><td>0.787</td><td>0.805</td><td></td></tr>
            <tr><td>4</td><td>tom-jumbo-grumbo</td><td>Chia-Lun Yeh, Nava Tintarev (TU Delft, Netherlands), Babak Loni, Anne Schuth (De Persgroep)</td><td>0.806</td><td>0.858</td><td>0.732</td><td>0.790</td><td><a href="https://github.com/chialun-yeh/SemEval2019/tree/4cf5b57960100a41943cbba60d7413b0bab100fd" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>5</td><td>dick-preston</td><td>Tim Isbister (FOI, Sweden)</td><td>0.803</td><td>0.793</td><td>0.818</td><td>0.806</td><td></td></tr>
            <tr><td>6</td><td>borat-sagdiyev</td><td>Niko Palić, Juraj Vladika, Dominik Čubelić, Ivan Lovrenčić, Jan Šnajder, Maja Buljan (TakeLab, University of Zagreb, Croatia)</td><td>0.791</td><td>0.883</td><td>0.672</td><td>0.763</td><td></td></tr>
            <tr><td>7</td><td>morbo</td><td>Maja Karasalo, Andreas Horndahl. Magnus Rosell, Fredrik Johansson (FOI, Sweden)</td><td>0.790</td><td>0.772</td><td>0.822</td><td>0.796</td><td></td></tr>
            <tr><td>8</td><td>howard-beale</td><td>Ozan Arkan Can, Osman Mutlu (Koç University, Turkey), Erenay Dayanık (University of Stuttgart, Germany)</td><td>0.783</td><td>0.837</td><td>0.704</td><td>0.765</td><td></td></tr>
            <tr><td>9</td><td>ned-leeds</td><td>Bozhidar Stevanoski, Sonja Gievska (Ss. Cyril and Methodius Skopje, Macedonia)</td><td>0.775</td><td>0.865</td><td>0.653</td><td>0.744</td><td></td></tr>
            <tr><td>10</td><td>clint-buchanan</td><td>Pedro Sandoval Segura, Mehdi Drissi, Vivaswat Ojha, Julie Medero (Harvey Mudd College, United States)</td><td>0.771</td><td>0.832</td><td>0.678</td><td>0.747</td><td><a href="https://github.com/hmc-cs159-fall2018/final-project-team-mvp-10000/tree/c9da670b8a39068aa2d3154023ea44e0b1266b7d" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>11</td><td>yeon-zi</td><td>Nayeon Lee, Zihan Liu, Pascale Fung (HKUST, Hong Kong)</td><td>0.758</td><td>0.744</td><td>0.787</td><td>0.765</td><td></td></tr>
            <tr><td>12</td><td>tony-vincenzo</td><td>Todor Staykovski (Bulgaria)</td><td>0.750</td><td>0.764</td><td>0.723</td><td>0.743</td><td></td></tr>
            <tr><td>13</td><td>paparazzo</td><td>Duc-Vu Nguyen, Dang Van Thin, Ngan Luu-Thuy Nguyen (University of Information Technology - Vietnam National University Ho Chi Minh City, Vietnam)</td><td>0.747</td><td>0.754</td><td>0.732</td><td>0.743</td><td><a href="https://github.com/ngannlt/semeval2019-hyperpartisan-paparazzo/tree/eb93877623a0c2ecc8706c1d99d4a812a976df3f" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>14</td><td>steve-martin</td><td>Youngjun Joo (Yonsei University, South Korea)</td><td>0.745</td><td>0.853</td><td>0.592</td><td>0.699</td><td></td></tr>
            <tr><td>15</td><td>eddie-brock</td><td>Antonio Šajatović, David Lozić, Doria Šarić, Filip Boltužić, Jan Šnajder (TakeLab, University of Zagreb, Croatia)</td><td>0.744</td><td>0.782</td><td>0.675</td><td>0.725</td><td></td></tr>
            <tr><td>16</td><td>ankh-morpork-times</td><td>Carla Perez-Almendros, Luis Espinosa-Anke, Steven Schockaert (Cardiff University, United Kingdom)</td><td>0.742</td><td>0.811</td><td>0.631</td><td>0.710</td><td></td></tr>
            <tr><td>17</td><td>spider-jerusalem</td><td>Amal Alabdulkarim, Tariq Alhindi (Columbia Univerity, United States)</td><td>0.742</td><td>0.814</td><td>0.627</td><td>0.709</td><td><a href="https://github.com/amal994/hyperpartisan-detection-task/tree/f94d6573800b377042824f4b98bde42ed425be94" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>18</td><td>carl-kolchak</td><td>Celine Park, Celena Chen, Jason Dwyer, Julie Medero (Harvey Mudd College, United States)</td><td>0.739</td><td>0.729</td><td>0.761</td><td>0.745</td><td></td></tr>
            <tr><td>19</td><td>doris-martin</td><td>Rodrigo Agerri (IXA NLP Group, University of the Basque Country UPV/EHU)</td><td>0.737</td><td>0.754</td><td>0.704</td><td>0.728</td><td><a href="https://github.com/ixa-ehu/ixa-pipe-doc/tree/540c2ded8e1770844365a641ab6e02c0ffc86779" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>20</td><td>pistachon</td><td>Abdul Saleh<sup>1</sup>, Alberto Barrón-Cedeño<sup>2</sup>, Ramy Baly<sup>1</sup>, Giovanni Da San Martino<sup>2</sup>, Mitra Mohtarami<sup>1</sup>, Preslav Nakov<sup>2</sup> (<sup>1</sup>MIT, USA / <sup>2</sup>QCRI, Qatar)</td><td>0.729</td><td>0.724</td><td>0.742</td><td>0.733</td><td></td></tr>
            <tr><td>21</td><td>joseph-rouletabille</td><td>Jose G Moreno, Gilles Hubert, Karen Pinel-Sauvagnat, Yoann Pitarch (IRIT - Université de Toulouse, France)</td><td>0.725</td><td>0.788</td><td>0.615</td><td>0.691</td><td></td></tr>
            <tr><td>22</td><td>fernando-pessa</td><td>André Cruz, Gil Rocha, Rui Sousa Silva, Henrique Lopes Cardoso (LIACC and DEI/FEUP, Portugal)</td><td>0.717</td><td>0.806</td><td>0.570</td><td>0.668</td><td><a href="https://github.com/AndreFCruz/semeval2019-hyperpartisan-news/tree/f0290ee8b13501bcbd848356bf6e69f389a529e4" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>23</td><td>pioquinto-manterola</td><td>Ted Pedersen, Saptarshi Sengupta (University of Minnesota, United States)</td><td>0.704</td><td>0.741</td><td>0.627</td><td>0.679</td><td><a href="https://github.com/saptarshi059/SemEval2k19-Task4-UMD/tree/30cf17f93a1074e9d00e7171120c3032b6fc88a3" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>24</td><td>miles-clarkson</td><td>Chiyu Zhang, Arun Rajendran, Muhammad Abdul-Mageed (The University of British Columbia, Canada)</td><td>0.683</td><td>0.745</td><td>0.557</td><td>0.638</td><td></td></tr>
            <tr><td>25</td><td>xenophilius-lovegood</td><td>Albin Zehe, Andreas Hotho, Lena Hettinger, Christian Hauptmann, Stefan Ernst (University of Würzburg, Germany)</td><td>0.675</td><td>0.619</td><td>0.914</td><td>0.738</td><td></td></tr>
            <tr><td>26</td><td>orwellian-times</td><td>Jürgen Knauth (University of Göttingen, Germany)</td><td>0.672</td><td>0.654</td><td>0.729</td><td>0.690</td><td></td></tr>
            <tr><td>27</td><td>tintin</td><td>Yves Bestgen (CECL - UCLouvain, Belgium)</td><td>0.656</td><td>0.642</td><td>0.707</td><td>0.673</td><td></td></tr>
            <tr><td>28</td><td>d-x-beaumont</td><td>Jake Palanker, Evan Amason, Mary Clare Shen, Julie Medero (Harvey Mudd College, United States)</td><td>0.653</td><td>0.597</td><td>0.939</td><td>0.730</td><td></td></tr>
            <tr><td>29</td><td>jack-ryder</td><td>Daniel Shaprin (Sofia University, Bulgaria)</td><td>0.646</td><td>0.646</td><td>0.646</td><td>0.646</td><td></td></tr>
            <tr><td>30</td><td>kermit-the-frog</td><td>Talita Rani Anthonio (University of Groningen, Netherlands), Lennart Albertus Mathijs Kloppenburg (Netherlands)</td><td>0.621</td><td>0.582</td><td>0.860</td><td>0.694</td><td></td></tr>
            <tr><td>31</td><td>billy-batson</td><td>Tim Kreutz, Stiene Praet, Jeroen Peeters, Walter Daelemans (University of Antwerp, Belgium)</td><td>0.615</td><td>0.568</td><td>0.962</td><td>0.714</td><td></td></tr>
            <tr><td>32</td><td>peter-brinkmann</td><td>Michael Färber (University of Freiburg, Germany), Agon Qurdina (University of Prishtina, Kosovo), Lule Ahmedi (University of Prishtina, Kosovo)</td><td>0.602</td><td>0.560</td><td>0.955</td><td>0.706</td><td><a href="https://github.com/michaelfaerber/SemEval2019-Task4/tree/bb81ca89717aeb63e8467a7d4c832d2bf638e70b" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>33</td><td>anson-bryson</td><td>Cordelia Stiff, Julie Medero (Harvey Mudd College, United States)</td><td>0.592</td><td>0.720</td><td>0.303</td><td>0.426</td><td></td></tr>
            <tr><td>34</td><td>sarah-jane-smith</td><td>Vijayasaradhi Indurthi (IIIT Hyderabad, India)</td><td>0.591</td><td>0.554</td><td>0.933</td><td>0.695</td><td></td></tr>
            <tr><td>35</td><td>kit-kittredge</td><td>Rebekah Cramerus, Tatjana Scheffler (University of Potsdam, Germany)</td><td>0.578</td><td>0.547</td><td>0.908</td><td>0.683</td><td></td></tr>
            <tr><td>36</td><td>brenda-starr</td><td>Olga Papadopoulou, Markos Zampoglou, Symeon Papadopoulos, Ioannis Kompatsiaris (ITI-CERTH, Information Technologies Institute, Centre for Research and Technology Hellas, Greece)</td><td>0.575</td><td>0.542</td><td>0.971</td><td>0.696</td><td></td></tr>
            <tr><td>37</td><td>harry-friberg</td><td>Peter Sumbler, Nazanin Afsarmanesh, Nina Viereckel, Jussi Karlgren (Gavagai AB, Sweden)</td><td>0.565</td><td>0.537</td><td>0.949</td><td>0.686</td><td></td></tr>
            <tr><td>38</td><td>robin-scherbatsky</td><td>Maarten Marx, Alexandra Akut (University of Amsterdam, Netherlands)</td><td>0.551</td><td>0.542</td><td>0.662</td><td>0.596</td><td></td></tr>
            <tr><td>39</td><td>clark-kent</td><td>Ramneek Kaur, Baani Leen Kaur Jolly, Viresh Gupta, Tanmoy Chakraborty (IIIT-Delhi, India)</td><td>0.548</td><td>0.683</td><td>0.178</td><td>0.283</td><td><a href="https://github.com/virresh/hyperpartisan-semeval19-task4/tree/cc9f3fbc1cf3ce230b6c541ae413770f7e1de5b5" target="_blank"><span uk-icon="link"></span></a></td></tr>
            <tr><td>40</td><td>murphy-brown</td><td>Anamika Sen, Jiepu Jiang (Virginia Tech, United States)</td><td>0.529</td><td>0.518</td><td>0.822</td><td>0.635</td><td></td></tr>
            <tr><td>41</td><td>peter-parker</td><td>Yuanzhen Lin, Zhiyuan Ning, Ruichao Zhong, Weifeng Su, Jeffson Fong (Beijing Normal University - Hong Kong Baptist University United International College, China)</td><td>0.503</td><td>0.502</td><td>0.771</td><td>0.608</td><td></td></tr>
            <tr><td>42</td><td>john-king</td><td>Srijan Bansal, Arsalan Saad, Shayan Shafquat, Nitin Choudhary, Jasabanta Patro (India)</td><td>0.462</td><td>0.460</td><td>0.443</td><td>0.451</td><td></td></tr>
            </tbody>
            </table>

            <h3>Labels-by-publisher Leaderboard</h3>
            <table class="uk-table uk-table-small uk-table-justify uk-table-striped">
<caption>Secondary leaderboard for the SemEval 2019 Task 4 on Hyperpartisan News Detection, based on the unpublished test set for <a href="https://zenodo.org/record/1489920" target="_blank">labels-by-publisher</a>.</caption>
<thead>
<tr><th>#</th><th>Team</th><th>Members</th><th class="uk-text-truncate">Accuracy</th><th class="uk-text-truncate">Precision</th><th class="uk-text-truncate">Recall</th><th class="uk-text-truncate">F1</th><th>Code</th></tr>
</thead>
<tbody>
<tr><td>1</td><td>tintin</td><td>Yves Bestgen (CECL - UCLouvain, Belgium)</td><td>0.706</td><td>0.742</td><td>0.632</td><td>0.683</td><td></td></tr>
<tr><td>2</td><td>joseph-rouletabille</td><td>Jose G Moreno, Gilles Hubert, Karen Pinel-Sauvagnat, Yoann Pitarch (IRIT - Université de Toulouse, France)</td><td>0.680</td><td>0.640</td><td>0.827</td><td>0.721</td><td></td></tr>
<tr><td>3</td><td>brenda-starr</td><td>Olga Papadopoulou, Markos Zampoglou, Symeon Papadopoulos, Ioannis Kompatsiaris (ITI-CERTH, Information Technologies Institute, Centre for Research and Technology Hellas, Greece)</td><td>0.664</td><td>0.627</td><td>0.807</td><td>0.706</td><td></td></tr>
<tr><td>4</td><td>xenophilius-lovegood</td><td>Albin Zehe, Andreas Hotho, Lena Hettinger, Christian Hauptmann, Stefan Ernst (University of Würzburg, Germany)</td><td>0.663</td><td>0.632</td><td>0.781</td><td>0.699</td><td></td></tr>
<tr><td>5</td><td>yeon-zi</td><td>Nayeon Lee, Zihan Liu, Pascale Fung (HKUST, Hong Kong)</td><td>0.663</td><td>0.635</td><td>0.766</td><td>0.694</td><td></td></tr>
<tr><td>6</td><td>miles-clarkson</td><td>Chiyu Zhang, Arun Rajendran, Muhammad Abdul-Mageed (The University of British Columbia, Canada)</td><td>0.652</td><td>0.612</td><td>0.832</td><td>0.705</td><td></td></tr>
<tr><td>7</td><td>jack-ryder</td><td>Daniel Shaprin (Sofia University, Bulgaria)</td><td>0.645</td><td>0.600</td><td>0.869</td><td>0.710</td><td></td></tr>
<tr><td>8</td><td>bertha-von-suttner</td><td>Ye Jiang, Johann Petrak, Xingyi Song, Kalina Bontcheva, Diana Maynard (University of Sheffield, United Kingdom)</td><td>0.643</td><td>0.616</td><td>0.762</td><td>0.681</td><td><a href="https://github.com/GateNLP/semeval2019-hyperpartisan-bertha-von-suttner/tree/4b1d74b73247a06ed79e8e7af30923ce6828574a" target="_blank"><span uk-icon="link"></span></a></td></tr>
<tr><td>9</td><td>howard-beale</td><td>Ozan Arkan Can, Osman Mutlu (Koç University, Turkey), Erenay Dayanık (University of Stuttgart, Germany)</td><td>0.641</td><td>0.606</td><td>0.806</td><td>0.692</td><td></td></tr>
<tr><td>10</td><td>eddie-brock</td><td>Antonio Šajatović, David Lozić, Doria Šarić, Filip Boltužić, Jan Šnajder (TakeLab, University of Zagreb, Croatia)</td><td>0.631</td><td>0.681</td><td>0.491</td><td>0.571</td><td></td></tr>
<tr><td>11</td><td>sally-smedley</td><td>Shota Sasaki<sup>1</sup>, Kazuaki Hanawa<sup>1</sup>, Tsubasa Tagami<sup>1</sup>, Hiroki Ouchi<sup>1,2</sup>, Jun Suzuki<sup>1,2</sup>, Kentaro Inui<sup>1,2</sup> (<sup>1</sup>Tohoku University / <sup>2</sup>RIKEN AIP, Japan)</td><td>0.625</td><td>0.640</td><td>0.571</td><td>0.603</td><td></td></tr>
<tr><td>12</td><td>murphy-brown</td><td>Anamika Sen, Jiepu Jiang (Virginia Tech, United States)</td><td>0.623</td><td>0.615</td><td>0.659</td><td>0.636</td><td></td></tr>
<tr><td>13</td><td>tom-jumbo-grumbo</td><td>Chia-Lun Yeh, Nava Tintarev (TU Delft, Netherlands), Babak Loni, Anne Schuth (De Persgroep)</td><td>0.619</td><td>0.592</td><td>0.762</td><td>0.667</td><td><a href="https://github.com/chialun-yeh/SemEval2019/tree/4cf5b57960100a41943cbba60d7413b0bab100fd" target="_blank"><span uk-icon="link"></span></a></td></tr>
<tr><td>14</td><td>sarah-jane-smith</td><td>Vijayasaradhi Indurthi (IIIT Hyderabad, India)</td><td>0.612</td><td>0.586</td><td>0.765</td><td>0.664</td><td></td></tr>
<tr><td>15</td><td>pistachon</td><td>Abdul Saleh<sup>1</sup>, Alberto Barrón-Cedeño<sup>2</sup>, Ramy Baly<sup>1</sup>, Giovanni Da San Martino<sup>2</sup>, Mitra Mohtarami<sup>1</sup>, Preslav Nakov<sup>2</sup> (<sup>1</sup>MIT, USA / <sup>2</sup>QCRI, Qatar)</td><td>0.608</td><td>0.638</td><td>0.499</td><td>0.560</td><td></td></tr>
<tr><td>16</td><td>morbo</td><td>Maja Karasalo, Andreas Horndahl. Magnus Rosell, Fredrik Johansson (FOI, Sweden)</td><td>0.601</td><td>0.587</td><td>0.679</td><td>0.630</td><td></td></tr>
<tr><td>17</td><td>fernando-pessa</td><td>André Cruz, Gil Rocha, Rui Sousa Silva, Henrique Lopes Cardoso (LIACC and DEI/FEUP, Portugal)</td><td>0.600</td><td>0.585</td><td>0.681</td><td>0.630</td><td><a href="https://github.com/AndreFCruz/semeval2019-hyperpartisan-news/tree/f0290ee8b13501bcbd848356bf6e69f389a529e4" target="_blank"><span uk-icon="link"></span></a></td></tr>
<tr><td>18</td><td>steve-martin</td><td>Youngjun Joo (Yonsei University, South Korea)</td><td>0.597</td><td>0.625</td><td>0.483</td><td>0.545</td><td></td></tr>
<tr><td>19</td><td>borat-sagdiyev</td><td>Niko Palić, Juraj Vladika, Dominik Čubelić, Ivan Lovrenčić, Jan Šnajder, Maja Buljan (TakeLab, University of Zagreb, Croatia)</td><td>0.592</td><td>0.644</td><td>0.412</td><td>0.502</td><td></td></tr>
<tr><td>20</td><td>kermit-the-frog</td><td>Talita Rani Anthonio (University of Groningen, Netherlands), Lennart Albertus Mathijs Kloppenburg (Netherlands)</td><td>0.589</td><td>0.575</td><td>0.681</td><td>0.623</td><td></td></tr>
<tr><td>21</td><td>ankh-morpork-times</td><td>Carla Perez-Almendros, Luis Espinosa-Anke, Steven Schockaert (Cardiff University, United Kingdom)</td><td>0.588</td><td>0.646</td><td>0.389</td><td>0.486</td><td></td></tr>
<tr><td>22</td><td>ned-leeds</td><td>Bozhidar Stevanoski, Sonja Gievska (Ss. Cyril and Methodius Skopje, Macedonia)</td><td>0.573</td><td>0.546</td><td>0.857</td><td>0.667</td><td></td></tr>
<tr><td>23</td><td>orwellian-times</td><td>Jürgen Knauth (University of Göttingen, Germany)</td><td>0.537</td><td>0.530</td><td>0.658</td><td>0.587</td><td></td></tr>
<tr><td>24</td><td>paparazzo</td><td>Duc-Vu Nguyen, Dang Van Thin, Ngan Luu-Thuy Nguyen (University of Information Technology - Vietnam National University Ho Chi Minh City, Vietnam)</td><td>0.530</td><td>0.530</td><td>0.541</td><td>0.535</td><td><a href="https://github.com/ngannlt/semeval2019-hyperpartisan-paparazzo/tree/eb93877623a0c2ecc8706c1d99d4a812a976df3f" target="_blank"><span uk-icon="link"></span></a></td></tr>
<tr><td>25</td><td>robin-scherbatsky</td><td>Maarten Marx, Alexandra Akut (University of Amsterdam, Netherlands)</td><td>0.524</td><td>0.822</td><td>0.062</td><td>0.116</td><td></td></tr>
<tr><td>26</td><td>clark-kent</td><td>Ramneek Kaur, Baani Leen Kaur Jolly, Viresh Gupta, Tanmoy Chakraborty (IIIT-Delhi, India)</td><td>0.519</td><td>0.565</td><td>0.170</td><td>0.261</td><td><a href="https://github.com/virresh/hyperpartisan-semeval19-task4/tree/cc9f3fbc1cf3ce230b6c541ae413770f7e1de5b5" target="_blank"><span uk-icon="link"></span></a></td></tr>
<tr><td>27</td><td>dick-preston</td><td>Tim Isbister (FOI, Sweden)</td><td>0.514</td><td>0.520</td><td>0.352</td><td>0.420</td><td></td></tr>
<tr><td>28</td><td>peter-brinkmann</td><td>Michael Färber (University of Freiburg, Germany), Agon Qurdina (University of Prishtina, Kosovo), Lule Ahmedi (University of Prishtina, Kosovo)</td><td>0.497</td><td>0.496</td><td>0.344</td><td>0.406</td><td><a href="https://github.com/michaelfaerber/SemEval2019-Task4/tree/bb81ca89717aeb63e8467a7d4c832d2bf638e70b" target="_blank"><span uk-icon="link"></span></a></td></tr>
</tbody>
</table>

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
            {% include people-cards/kiesel.html %}
            {% include people-cards/potthast.html %}
            {% include people-cards/mestre.html %}
            {% include people-cards/shukla.html %}
            {% include people-cards/stein.html %}
            {% include people-cards/corney.html %}
            {% include people-cards/vincent.html %}
            {% include people-cards/adineh.html %}
            </div>
            <div class="task-chair-organizations">
            <div>
                <a href="https://webis.de" target="_blank">
                    <img src="{{ 'img/organizations/webis-logo_w52.png' | relative_url }}" alt="Webis group logo">
                </a>
            </div>
            <div>
                <a href="https://factmata.com" target="_blank">
                    <img src="{{ 'img/organizations/factmata-logo.png' | relative_url }}" alt="Factmata logo">
                </a>
            </div>
            </div>
        </div>
    </div>
</main>

<script>
const tag = document.createElement('script');
tag.src = "https://www.youtube.com/iframe_api";
const firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

let player;

onYouTubeIframeAPIReady = () => {
player = new YT.Player('video', {
videoId: 'e-9MvqHMh6I',
playerVars: {
'enablejsapi': 1,
'rel': 0,
'origin': 'https://pan.webis.de'
},
events: {
'onReady': onPlayerReady,
}
});
};

onPlayerReady = (event) => {
event.target.mute();
event.target.playVideo();
};
</script>
