---
layout: default
nav_active: tasks
title: PAN @ SemEval 2019 - Hyperpartisan News Detection
description: PAN @ SemEval 2019 - Hyperpartisan News Detection
---

<style>
th:nth-child(1), th:nth-child(4), th:nth-child(5), th:nth-child(6), th:nth-child(7), td:nth-child(1), td:nth-child(4), td:nth-child(5), td:nth-child(6), td:nth-child(7) {
  text-align: right;
}
th:nth-child(3) {
  min-width: 300px;
  width: 400px;
}
</style>

<main>
<header class="uk-section uk-section-muted">
<nav class="uk-container uk-margin-medium-bottom">
<ul class="uk-text-muted uk-tab uk-margin-remove-top">
<li>
<a href="index.html">Task Overview</a>
</li>
<li class="uk-active">
<a href="leaderboard.html">Leaderboard</a>
</li>
<li>
<a href="tira.html">Tira Guide</a>
</li>
</ul>
</nav>

<div class="uk-container">
<h1 class="uk-margin-small">Leaderboard</h1>
<div class="page-header-meta">
PAN @ SemEval 2019
</div>
</div>
</header>

<div class="uk-section uk-section-default">
<div class="uk-container uk-text-justify">
<h2>Main Leaderboard</h2>

<div class="uk-overflow-auto">
<table class="uk-table uk-table-small uk-table-justify uk-table-striped">
<caption>Main leaderboard for the SemEval 2019 Task 4 on Hyperpartisan News Detection, based on the unpublished test set for <a href="https://zenodo.org/record/1489920" target="_blank">labels-by-article</a>.</caption>
<thead>
<tr><th>#</th><th>Team</th><th>Members</th><th class="uk-text-truncate">Accuracy</th><th class="uk-text-truncate">Precision</th><th class="uk-text-truncate">Recall</th><th class="uk-text-truncate">F1</th><th>Code</th></tr>
</thead>
<tbody>
<tr><td>1</td><td>bertha-von-suttner</td><td>Ye Jiang, Johann Petrak, Xingyi Song, Kalina Bontcheva, Diana Maynard (University of Sheffield, United Kingdom)</td><td>0.822</td><td>0.871</td><td>0.755</td><td>0.809</td><td></td></tr>
<tr><td>2</td><td>vernon-fenwick</td><td>Vertika Srivastava, Yeon Hyang Kim, Divya Prakash, Ankita Gupta, Rohit R.R, Sudeep Kumar Sahoo (Samsung R&amp;D Institute India-Bangalore)</td><td>0.820</td><td>0.815</td><td>0.828</td><td>0.821</td><td></td></tr>
<tr><td>3</td><td>sally-smedley</td><td>Shota Sasaki, Kazuaki Hanawa, Tsubasa Tagami, Hiroki Ouchi, Jun Suzuki, Kentaro Inui (RIKEN AIP/Tohoku University, Japan)</td><td>0.809</td><td>0.823</td><td>0.787</td><td>0.805</td><td></td></tr>
<tr><td>4</td><td>tom-jumbo-grumbo</td><td>Chia-Lun Yeh (TU Delft, Netherlands)</td><td>0.806</td><td>0.858</td><td>0.732</td><td>0.790</td><td></td></tr>
<tr><td>5</td><td>dick-preston</td><td>Tim Isbister (FOI, Sweden)</td><td>0.803</td><td>0.793</td><td>0.818</td><td>0.806</td><td></td></tr>
<tr><td>6</td><td>borat-sagdiyev</td><td>Niko Palić, Juraj Vladika, Dominik Čubelić, Ivan Lovrenčić, Jan Šnajder, Maja Buljan (TakeLab, University of Zagreb, Croatia)</td><td>0.791</td><td>0.883</td><td>0.672</td><td>0.763</td><td></td></tr>
<tr><td>7</td><td>morbo</td><td>Maja Karasalo, Andreas Horndahl. Magnus Rosell, Frederik Johansson (FOI, Sweden)</td><td>0.790</td><td>0.772</td><td>0.822</td><td>0.796</td><td></td></tr>
<tr><td>8</td><td>howard-beale</td><td>Ozan Arkan Can, Osman Mutlu (Koç University, Turkey), Erenay Dayanık (University of Stuttgart, Germany)</td><td>0.783</td><td>0.837</td><td>0.704</td><td>0.765</td><td></td></tr>
<tr><td>9</td><td>ned-leeds</td><td>Bozhidar Stevanoski (Ss. Cyril and Methodius Skopje, Macedonia)</td><td>0.775</td><td>0.865</td><td>0.653</td><td>0.744</td><td></td></tr>
<tr><td>10</td><td>clint-buchanan</td><td>Pedro Sandoval Segura, Mehdi Drissi, Vivaswat Ojha, Julie Medero (Harvey Mudd College, United States)</td><td>0.771</td><td>0.832</td><td>0.678</td><td>0.747</td><td></td></tr>
<tr><td>11</td><td>yeon-zi</td><td>Nayeon Lee, Zihan Liu (HKUST, Hong Kong)</td><td>0.758</td><td>0.744</td><td>0.787</td><td>0.765</td><td></td></tr>
<tr><td>12</td><td>tony-vincenzo</td><td>Todor Staykovski (Bulgaria)</td><td>0.750</td><td>0.764</td><td>0.723</td><td>0.743</td><td></td></tr>
<tr><td>13</td><td>paparazzo</td><td>Duc-Vu Nguyen, Dang Van Thin, Ngan Luu-Thuy Nguyen (University of Information Technology - Vietnam National University Ho Chi Minh City, Vietnam)</td><td>0.747</td><td>0.754</td><td>0.732</td><td>0.743</td><td></td></tr>
<tr><td>14</td><td>steve-martin</td><td>Youngjun Joo (Yonsei University, South Korea)</td><td>0.745</td><td>0.853</td><td>0.592</td><td>0.699</td><td></td></tr>
<tr><td>15</td><td>eddie-brock</td><td>Antonio Šajatović, David Lozić, Doria Šarić, Filip Boltužić, Jan Šnajder (TakeLab, University of Zagreb, Croatia)</td><td>0.744</td><td>0.782</td><td>0.675</td><td>0.725</td><td></td></tr>
<tr><td>16</td><td>ankh-morpork-times</td><td>Carla Perez Almendros (Cardiff University, United Kingdom)</td><td>0.742</td><td>0.811</td><td>0.631</td><td>0.710</td><td></td></tr>
<tr><td>17</td><td>spider-jerusalem</td><td>Amal Alabdulkarim, Tariq Alhindi (Columbia Univerity, United States)</td><td>0.742</td><td>0.814</td><td>0.627</td><td>0.709</td><td></td></tr>
<tr><td>18</td><td>carl-kolchak</td><td>Celine Park, Celena Chen, Jason Dwyer, Julie Medero (Harvey Mudd College, United States)</td><td>0.739</td><td>0.729</td><td>0.761</td><td>0.745</td><td></td></tr>
<tr><td>19</td><td>doris-martin</td><td>Rodrigo Agerri (IXA NLP Group, UPV/EHU, Spain)</td><td>0.737</td><td>0.754</td><td>0.704</td><td>0.728</td><td></td></tr>
<tr><td>20</td><td>pistachon</td><td>Alberto Barrón-Cedeño, Giovanni Da San Martino, Preslav Nakov (QCRI, Qatar), Ramy Baly (MIT, USA)</td><td>0.729</td><td>0.724</td><td>0.742</td><td>0.733</td><td></td></tr>
<tr><td>21</td><td>joseph-rouletabille</td><td>Jose G Moreno, Gilles Hubert, Karen Pinel-Sauvagnat, Yoann Pitarch (IRIT - Université de Toulouse, France)</td><td>0.725</td><td>0.788</td><td>0.615</td><td>0.691</td><td></td></tr>
<tr><td>22</td><td>fernando-pessa</td><td>André Cruz, Gil Rocha, Rui Sousa Silva, Henrique Lopes Cardoso (LIACC and DEI/FEUP, Portugal)</td><td>0.717</td><td>0.806</td><td>0.570</td><td>0.668</td><td></td></tr>
<tr><td>23</td><td>pioquinto-manterola</td><td>Ted Pedersen, Saptarshi Sengupta (University of Minnesota, United States)</td><td>0.704</td><td>0.741</td><td>0.627</td><td>0.679</td><td><a href="https://github.com/saptarshi059/SemEval2k19-Task4-UMD" target="_blank">Link</a></td></tr>
<tr><td>24</td><td>miles-clarkson</td><td>Chiyu Zhang (University of British Columbia, Canada)</td><td>0.683</td><td>0.745</td><td>0.557</td><td>0.638</td><td></td></tr>
<tr><td>25</td><td>xenophilius-lovegood</td><td>Albin Zehe, Andreas Hotho, Lena Hettinger, Christian Hauptmann, Stefan Ernst (University of Würzburg, Germany)</td><td>0.675</td><td>0.619</td><td>0.914</td><td>0.738</td><td></td></tr>
<tr><td>26</td><td>orwellian-times</td><td>Jürgen Knauth (University of Göttingen, Germany)</td><td>0.672</td><td>0.654</td><td>0.729</td><td>0.690</td><td></td></tr>
<tr><td>27</td><td>tintin</td><td>Yves Bestgen (CECL - UCLouvain, Belgium)</td><td>0.656</td><td>0.642</td><td>0.707</td><td>0.673</td><td></td></tr>
<tr><td>28</td><td>d-x-beaumont</td><td>Jake Palanker, Evan Amason, Mary Clare Shen, Julie Medero (Harvey Mudd College, United States)</td><td>0.653</td><td>0.597</td><td>0.939</td><td>0.730</td><td></td></tr>
<tr><td>29</td><td>jack-ryder</td><td>Daniel Shaprin (Sofia University, Bulgaria)</td><td>0.646</td><td>0.646</td><td>0.646</td><td>0.646</td><td></td></tr>
<tr><td>30</td><td>kermit-the-frog</td><td>Talita Rani Anthonio (University of Groningen, Netherlands), Lennart Albertus Mathijs Kloppenburg (Netherlands)</td><td>0.621</td><td>0.582</td><td>0.860</td><td>0.694</td><td></td></tr>
<tr><td>31</td><td>billy-batson</td><td>Tim Kreutz, Walter Daelemans (University of Antwerp, Belgium)</td><td>0.615</td><td>0.568</td><td>0.962</td><td>0.714</td><td></td></tr>
<tr><td>32</td><td>peter-brinkmann</td><td>Michael Färber (University of Freiburg, Germany), Sora Lim (Kyoto University, Japan)</td><td>0.602</td><td>0.560</td><td>0.955</td><td>0.706</td><td></td></tr>
<tr><td>33</td><td>anson-bryson</td><td>Cordelia Stiff, Julie Medero (Harvey Mudd College, United States)</td><td>0.592</td><td>0.720</td><td>0.303</td><td>0.426</td><td></td></tr>
<tr><td>34</td><td>sarah-jane-smith</td><td>Vijayasaradhi Indurthi (IIIT Hyderabad, India)</td><td>0.591</td><td>0.554</td><td>0.933</td><td>0.695</td><td></td></tr>
<tr><td>35</td><td>kit-kittredge</td><td>Rebekah Cramerus, Tatjana Scheffler (University of Potsdam, Germany)</td><td>0.578</td><td>0.547</td><td>0.908</td><td>0.683</td><td></td></tr>
<tr><td>36</td><td>brenda-starr</td><td>Olga Papadopoulou, Markos Zampoglou, Symeon Papadopoulos (ITI-CERTH, Greece)</td><td>0.575</td><td>0.542</td><td>0.971</td><td>0.696</td><td></td></tr>
<tr><td>37</td><td>harry-friberg</td><td>Peter Sumbler, Nazanin Afsarmanesh, Nina Viereckel, Jussi Karlgren, Gavagai AB, Sweden</td><td>0.565</td><td>0.537</td><td>0.949</td><td>0.686</td><td></td></tr>
<tr><td>38</td><td>robin-scherbatsky</td><td>Maarten Marx, Alexandra Akut (University of Amsterdam, Netherlands)</td><td>0.551</td><td>0.542</td><td>0.662</td><td>0.596</td><td></td></tr>
<tr><td>39</td><td>clark-kent</td><td>Ramneek Kaur, Baani Leen Kaur Jolly, Viresh Gupta, Tanmoy Chakraborty (IIIT-Delhi, India)</td><td>0.548</td><td>0.683</td><td>0.178</td><td>0.283</td><td></td></tr>
<tr><td>40</td><td>murphy-brown</td><td>Anamika Sen, Jiepu Jiang (Virginia Tech, United States)</td><td>0.529</td><td>0.518</td><td>0.822</td><td>0.635</td><td></td></tr>
<tr><td>41</td><td>peter-parker</td><td>Yuanzhen Lin, Zhiyuan Ning, Ruichao Zhong, Weifeng Su, Jeffson Fong (Beijing Normal University, China)</td><td>0.503</td><td>0.502</td><td>0.771</td><td>0.608</td><td></td></tr>
<tr><td>42</td><td>john-king</td><td>Srijan Bansal, Arsalan Saad, Shayan Shafquat, Nitin Choudhary, Jasabanta Patro (India)</td><td>0.462</td><td>0.460</td><td>0.443</td><td>0.451</td><td></td></tr>
</tbody>
</table>
</div>
</div> <!-- /container -->
</div>

<div class="uk-section uk-section-muted">
<div class="uk-container">

<h2>Task Committee</h2>

<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html %}
{% include people-cards/potthast.html %}
{% include people-cards/mestre.html %}
{% include people-cards/shukla.html %}
{% include people-cards/stein.html %}
{% include people-cards/corney.html %}
{% include people-cards/vincent.html %}
{% include people-cards/adineh.html %}
</div>

<div class="uk-container uk-padding-large">
<h2>Organizations</h2>

<div class="task-chair-organizations">
<div>
<a href="https://webis.de" target="_blank" class="uk-link-reset">
<svg viewBox="0 0 65 20">
<image x="0" y="0" href="../semeval19-figures/webis-logo_w52.png" height="20" width="20"/>
<text x="25" y="15" style="fill: #404754;">Webis</text>
</svg>
</a>
</div>
<div>
<a href="https://factmata.com" target="_blank" class="uk-link-reset">
<img src="../semeval19-figures/factmata-logo.png">
</a>
</div>
</div>

</div> <!-- /container -->
</div>

</div>
</main>
