.navbar .navbar-nav {
  font-weight: bold;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.header-title {
  flex: 20 1 300px;
  margin-bottom: 10px;
}
.header-registration {
  flex: 3 1 300px; 
  text-align: center;
}
@media (min-width:613px) {
  .header-registration p {
    text-align: left;
  }
}
.register button {
  border-radius: 0px;
  background-color: #f6f6f6;
  border: 1px solid black;
  padding: 5px 20px;
  font-weight: bold;
}
.register button:hover {
  background-color: #e0e0e0;
}

/* Responsive video container taken from https://coolestguidesontheplanet.com/videodrome/youtube */
.video-container {
	position:relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
  margin-bottom:30px;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.info-row {
}
.info-item {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.info-icon {
  flex: 3 1 128px;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.info-icon span {
  display: inline-block;
  width: 64px;
  height: 64px;
  font-size: 30px;
  background-color: #124562;
  color: white;
  border-radius: 50%;
}
.info-icon span i {
  line-height: 64px;
  vertical-align: middle;
}
.info-description {
  flex: 5 1 300px;
  text-align: left;
}

#organizational {
  background-color: #f8f9fa;
}

#persons {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
}
.person {
  flex: 0 1 105px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding: 0px;
  border: 1px solid #dee2e6;
  border-radius: 6px;
}
.person:hover {
  box-shadow: 0 0 6px 5px #ddd;
}
.person-image img {
  width: 100%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.person-info {
  width: 100%;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 110px;
}
.person-name {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.person-name:hover {
  text-decoration: none;
}
.affiliation {
  margin-top: 5px;
  font-size: 10px;
  color: #656565;
}

#organizations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.organization {
  flex: 0 1 300px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.organization img {
  width: 100%;
  height: auto;
}
.organization span {
  margin-left: 12px;
  font-size: 34px;
  color: black;
  vertical-align: bottom;
}
.organization a {
  text-decoration: none !important;
}

footer {
  text-align: right;
  padding-right: 5px;
}

