---
layout: default
nav_active: tasks
title: PAN at SEPLN 2009
description: PAN at SEPLN 2009
---

<main>
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">PAN at SEPLN 2009</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ 'shared-tasks.html#external-plagiarism-detection' | relative_url }}">External Plagiarism Detection</a></li>
                <li><a href="{{ 'shared-tasks.html#intrinsic-plagiarism-detection' | relative_url }}">Intrinsic Plagiarism Detection</a></li>
            </ul>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li> March 28, 2009: Training data release</li>
                <li> May 21, 2009: Test data release</li>
                <li> June 11, 2009: Result submission deadline</li>
                <li> July 01, 2009: Paper submission:
                    [<a href="../../pan-paper-template.zip">template</a>]
                </li>
                <li> August 15, 2009: Camera-ready paper</li>
                <li> September 10, 2009: Workshop</li>
            </ul>
            <p>The timezone of all deadlines is <a href="https://en.wikipedia.org/wiki/Anywhere_on_Earth">Anywhere on Earth</a>.</p>


            <h2 id="index-program">Program</h2>
            <p>Download the workshop program <a href="pan09-program.pdf">here</a>.</p>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/potthast.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/barron-cedeno.html %}
                {% include people-cards/rosso.html %}
                {% include people-cards/stamatatos.html %}
                {% include people-cards/koppel.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2009 %}
            </div>
        </div>
    </div>
</main>